<div class="settings__content id-verification">
  <h3 class="title settings__content-title">{{'Identity Verification' | translate}}</h3>
  <div class="subtitle settings__content-subtitle">
    {{'You should pass identity verification to achive something usefull and important.' | translate}}
    {{'We dont know what exactly, but we will!' | translate}} {{'For sure.' | translate}}</div>
  <div class="row settings__buttons-row">
    <div class="settings-button-wr">
      <!-- REMOVE "DISABLED" WHEN YOU NEED UNBLOCK KYC -->
      <button
        [disabled]="true"
        class="btn settings__btn"
        (click)="onOpenKYCPopup(1)"
        [ngClass]="{'active': verificationStatus === NOT_VERIFIED}">
        <span class="btn__icon btn__icon--blue btn__icon--hover-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
            <rect y="10.6953" width="2" height="7.94554" rx="1" transform="rotate(-45 0 10.6953)" fill="white" />
            <rect x="5.73438" y="16.3984" width="2" height="14.3423" rx="1" transform="rotate(-135 5.73438 16.3984)"
              fill="white" />
          </svg>
        </span>
        <span class="button__text">{{'Verification ID Document' | translate}}</span>
      </button>
    </div>
    <!-- HIDE THIS  WHEN YOU NEED UNBLOCK KYC -->
    <div class="subtitle settings__content-subtitle mt-20">
      {{'Functional is deactivated!' | translate}}
    </div>

  </div>
  <div class="public-id">
    <div class="title-block">
      <h4>Your Public ID</h4>
    </div>
    <div class="id-wr">
      <div class="id-text">
        <p>{{userInfo.publicId}}</p>
      </div>
      <div class="copy-button">
        <button (click)="copyPublicId(userInfo.publicId)" *ngIf="!isPublicIdCopied">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 488.3 488.3" style="enable-background:new 0 0 488.3 488.3;"
            xml:space="preserve">
            <g>
              <g>
                <path d="M314.25,85.4h-227c-21.3,0-38.6,17.3-38.6,38.6v325.7c0,21.3,17.3,38.6,38.6,38.6h227c21.3,0,38.6-17.3,38.6-38.6V124
              C352.75,102.7,335.45,85.4,314.25,85.4z M325.75,449.6c0,6.4-5.2,11.6-11.6,11.6h-227c-6.4,0-11.6-5.2-11.6-11.6V124
              c0-6.4,5.2-11.6,11.6-11.6h227c6.4,0,11.6,5.2,11.6,11.6V449.6z" />
                <path d="M401.05,0h-227c-21.3,0-38.6,17.3-38.6,38.6c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5c0-6.4,5.2-11.6,11.6-11.6h227
              c6.4,0,11.6,5.2,11.6,11.6v325.7c0,6.4-5.2,11.6-11.6,11.6c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5c21.3,0,38.6-17.3,38.6-38.6
              V38.6C439.65,17.3,422.35,0,401.05,0z" />
              </g>
            </g>
          </svg>
          <span>Copy ID</span>
        </button>

      </div>
      <div class="copy-button" *ngIf="isPublicIdCopied">
        <button (click)="copyPublicId(userInfo.publicId)">
          <svg class="success" width="15" height="11" viewBox="0 0 15 11" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1.42383 7.38525L4.16746 9.89641L13.4752 1" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <span class="success-txt">Copied</span>
        </button>
      </div>
      <!-- copied -->
    </div>
  </div>
</div>


