<div class="title modal__title">{{'Identity Verification' | translate}}</div>
<div class="subtitle modal__subtitle">
  <p>{{'Please fill this form below' | translate}}</p>
</div>
<form class="passport-form" [formGroup]="form">
  <div class="passport-form__content-row">
    <div class="wrap-input passport-form__input">
      <input
        class="wrap-input__input"
        type="text"
        formControlName="firstName">
      <label class="wrap-input__label">{{'First name' | translate}}</label>
      <div class="wrap-input__line"></div>
    </div>
    <div class="wrap-input passport-form__input">
      <input
        class="wrap-input__input"
        type="text"
        formControlName="lastName"
      >
      <label class="wrap-input__label">{{'Last name' | translate}}</label>
      <div class="wrap-input__line"></div>
    </div>
    <div class="wrap-input passport-form__input">
      <!--<input-->
      <!--class="input input&#45;&#45;with-icon"-->
      <!--type="text"-->
      <!--formControlName="born">-->

      <my-date-picker
        name="born"
        [options]="myDatePickerOptions"

        formControlName="born">

      </my-date-picker>
      <style>

      </style>
      <!--<span class="wrap-input__icon">-->
      <!--<img src="../../../../assets/img/calendar.svg">-->
      <!--</span>-->
      <!--<label class="wrap-input__label wrap-input__label&#45;&#45;with-icon">Date of birth</label>-->
      <div class="wrap-input__line" style="position: absolute; bottom: 1px; width: 100%;"></div>
    </div>
    <div class="wrap-input passport-form__input passport-form__input--mob-only">
      <input
        class="wrap-input__input"
        type="text"
        formControlName="address"
      >
      <label class="wrap-input__label">{{'Residental address' | translate}}</label>
      <div class="wrap-input__line"></div>
    </div>
  </div>
  <div class="passport-form__content-row">
    <div class="wrap-input passport-form__input passport-form__input--big">
      <input
        class="wrap-input__input"
        type="text"
        formControlName="address"
      >
      <label class="wrap-input__label">{{'Residental address' | translate}}</label>
      <div class="wrap-input__line"></div>
    </div>
    <div class="wrap-input passport-form__input">
      <input
        class="wrap-input__input"
        type="text"
        formControlName="postalCode">
      <label class="wrap-input__label">{{'Postal code' | translate}}</label>
      <div class="wrap-input__line"></div>
    </div>
  </div>
  <div class="passport-form__content-row passport-form__content-row--no-wrap">
    <div class="wrap-input passport-form__input passport-form__input--half">
      <input
        class="wrap-input__input"
        type="text"
        formControlName="country"
      >
      <label class="wrap-input__label">{{'Country' | translate}}</label>
      <div class="wrap-input__line"></div>
    </div>
    <div class="wrap-input passport-form__input passport-form__input--half">
      <input
        class="wrap-input__input"
        type="text"
        formControlName="city"
      >
      <label class="wrap-input__label">{{'City' | translate}}</label>
      <div class="wrap-input__line"></div>
    </div>
  </div>
  <button class="btn btn--center" (click)="onSubmit()">{{'Submit' | translate}}</button>
</form>
