<div class="title title-id modal__title">{{'Identity Verification' | translate}}</div>
<div class="subtitle subtitle-id modal__subtitle">
  <p>The information you fill in must be co consistent with the information in ID documents.</p>
</div>
<form class="country-form" [formGroup]="form">
  <div class="input-wr">
    <!-- вместо этого - можна мне в этот контейнер вставить селект из депозита - я его после этого застилизую -->
    <div class="select refill__select refill__select--cripto">
      <div class="select__value">
        <img _ngcontent-c51="" class="select__list-item-icon" src="assets/img/flag-ind.svg">
        Indonesia 
        <div class="select__triangle">

        </div>
      </div>
      <div class="select__label">Country</div>
    </div>
    <!-- выпадающий список -->

    <!-- <div class="select__list-searching select__list-searching ng-star-inserted">
      <div class="select__searching-item ng-star-inserted">
        <img class="select__list-item-icon" src="assets/img/flag-ind.svg">
        <span>Indonesia</span>
      </div>
    </div> -->
  </div>
  <div class="input-wr">
    <div class="wrap-input popup__wrap-input">
      <input class="wrap-input__input ng-dirty ng-valid ng-touched" type="text">
      <label class="wrap-input__label" for="">Language</label>
    </div>
  </div>
  <div class="button-wr">
    <button class="btn btn--center verification-btn">
      <span class="btn-text">
        Verification
      </span>
    </button>
  </div> 
  
</form>


