

@media (min-width: 1200px){
	.popup__btn {
		margin-top: 31px;
	}
	.popup__title{
		margin-bottom: 14px;
	}

	.popup__subtitle {
		display: block;
		margin-bottom: 22px;
	}	
	.popup .wrap-input__input{
		margin-bottom: 0;
	}
	.popup__wrap-input{
		margin-bottom: 0;
	}
}