<div class="bottom-form-home animate-item">
  <div class="bottom-form-wr">
    <div class="left-part">
      <div class="txt-wr">
        <h2 class="animate-elem animate-item-1">{{'Start trading cryptocurrency today' | translate}}.</h2>
        <p class="animate-elem animate-item-2">{{'Create your account and start in a minute' | translate}}.</p>
      </div>

    </div>
    <div class="right-part">
      <form action="#">
        <div class="wrap-input popup__wrap-input animate-elem animate-item-3">
          <input
            required
            class="wrap-input__input"
            placeholder="Enter email"
            name="email"
            [(ngModel)]="email"
          >
        </div>
        <button
          class="btn balance__title-btn animate-elem animate-item-4"
          (click)="openRegistration()"
        >
          {{'Start Registration' | translate}}
        </button>
      </form>
    </div>
  </div>
</div>
