<div class="bottom-form-home">
  <div class="bottom-form-wr">
    <div class="left-part">
      <div class="txt-wr">
        <h2>Начните торговать биткойнами сегодня.</h2>
        <p>Создайте свой аккаунт и начните через несколько минут.</p>
      </div>

    </div>
    <div class="right-part">
      <form action="#">
        <div class="wrap-input popup__wrap-input">
          <input required class="wrap-input__input"
            placeholder="Enter email">
        </div>
        <button
          class="btn balance__title-btn">
          {{'Start Registration' | translate}}
        </button>
      </form>
    </div>
  </div>
</div>