<div class="overlay ieo-notification policy">
  <div class="popup">
    <div
      class="popup__close"
      (click)="closeMe()"
    ></div>
    <ng-container [ngSwitch]="IEOName">
      <app-etao-policy *ngSwitchCase="'ETAO'"></app-etao-policy>
      <app-etao-policy *ngSwitchCase="'ETAO1'"></app-etao-policy>
      <app-etao-policy *ngSwitchCase="'ETAO2'"></app-etao-policy>
      <app-etao-policy *ngSwitchCase="'ETAO3'"></app-etao-policy>
      <app-dom-policy *ngSwitchCase="'DOM'"></app-dom-policy>
      <app-dom-policy *ngSwitchCase="'DOM1'"></app-dom-policy>
      <app-dom-policy *ngSwitchCase="'DOM2'"></app-dom-policy>
      <app-dom-policy *ngSwitchCase="'DOM3'"></app-dom-policy>

      <p
        *ngSwitchDefault
        class="default-policy"
      >Agreement not ready yet for this IEO. Please contact with our support team</p>
    </ng-container>
    <div class="policy-button-wr">
      <button
        class="btn btn--active btn--center cancel"
        (click)="closeMe()"
      >Close</button>
      <button
        class="btn btn--active btn--center"
        (click)="agree.emit()"
      >Accept</button>
    </div>

  </div>
</div>
