@import "../../assets/scss/variables";

.header {
  &.main-header {
    background-color: #1f1e30;
    .login-menu__icon{
      svg{
        path{
          fill: #fff;
        }
      }
    }
    .menu__link {
      &:not(.login-menu__link){
      .menu__link-text {
        color: #fff;
      }
    }
    }
    .menu__link--auth--reg {
      background-color: #237bef;
      &:hover {
        background-color: #4590f3;
      }
    }
    .translate__trigger path {
      fill: #fff;
    }
  }
  display: none;
  /*--- modificators start ---*/
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 1464px;
    height: 100%;
    margin: 0 auto;
    padding: 0 34px;
    align-items: center;
  }
  .community-wr {
    display: flex;
    height: 100%;
    .submenu {
      min-width: 110px;
    }
  }
  .logo {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 16px;
    //width: 180px;

    &:after {
      display: inline-block;
      width: 1px;
      height: 27px;
      margin-left: 24px;
      background-color: rgba(255, 255, 255, 0.3);
      content: "";
    }

    &__link {
      display: inline-block;
      height: 100%;
    }
  }
  .menu {
    display: flex;
    height: 100%;
    &.language {
      align-items: center;
    }
    &--header-menu {
      margin-left: 28px;
      margin-right: auto;

      .menu__link {
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__item {
      position: relative;
      z-index: 1;
      height: 100%;
      display: flex;
      align-items: center;

      &--disabled {
        &:hover {
          .submenu {
            display: block;
          }
          .menu__link {
            &:hover {
              cursor: default;
            }
          }
        }
      }
    }

    &__link {
      height: 100%;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      padding: 0 10px;
      color: #a0a0a0;
      text-decoration: none;
      @media (min-width: 1200px) {
        height: auto;
        padding: 0 16px;
        margin-bottom: -4px;
        position: relative;
        z-index: 5;
      }

      &:hover {
        color: rgba(255, 255, 255, 1);
        cursor: pointer;

        .menu__link-text {
          &:after {
            opacity: 1;
          }
        }
      }

      &--active {
        color: rgba(255, 255, 255, 1);

        .menu__link-text {
          &:after {
            opacity: 1;
          }
        }

        .submenu {
          .menu__link--active {
            .menu__link-text {
              &:after {
                opacity: 1;
              }
            }
          }

          &__link {
            .menu__link-text {
              &:after {
                opacity: 0;
              }
            }

            &:hover {
              .menu__link-text {
                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      &--drop {
        &:after {
          display: inline-block;
          margin-left: 4px;
          margin-bottom: 4px;
          border-top: 4px solid #a0a0a0;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          vertical-align: middle;
          content: "";
        }

        &:hover {
          .menu__submenu {
            height: auto;
          }

          &:after {
            border-top-color: rgba(255, 255, 255, 1);
          }
        }
      }

      &--auth {
        padding: 0;
        margin-right: 24px;
        color: rgba(255, 255, 255, 1);

        &:hover {
          cursor: default;
        }

        .menu__link-text {
          &:after {
            display: none;
          }
        }
      }

      &--auth--reg {
        padding: 6px 16px;
        border: 1px solid $darker-blue;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-right: 0;
        margin-bottom: 0;
        transition: 0.3s;
        .menu__link-text {
          padding-bottom: 0;
        }
        &:hover {
          background-color: $darker-blue;
          color: #fff;
          .menu__link-text {
            &:after {
              display: none;
            }
          }
        }
      }

      &--auth--log {
        padding: 0;
        margin-right: 16px;
      }
    }

    &__link-text {
      position: relative;
      padding-bottom: 4px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        height: 2px;
        width: 100%;
        opacity: 0;
        background-color: $darker-blue;
        transition: opacity 0.3s ease;
      }
    }
  }

  .holdings {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    max-width: 160px;
    background-color: rgba(0, 0, 0, 0.2);
    align-self: stretch;
    flex-basis: 124px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    &__title {
      margin-bottom: 4px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
      line-height: 16px;
    }

    &__info {
      position: relative;
      width: 100%;
      max-width: 124px;
      color: #fff;
      font-size: 14px;
      line-height: 16px;

      &:hover {
        cursor: pointer;
      }

      &:after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        margin-left: 4px;
        border-top: 4px solid rgba(255, 255, 255, 1);
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
      }
    }

    &__info-item {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
    }

    &__info-item-icon {
      margin-right: 4px;
      width: auto;
      height: 12px;
      vertical-align: middle;
    }
  }

  &__auth {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 24px 0 0;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    &--log {
      &:before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 27px;
        margin-right: 24px;
        background-color: rgba(255, 255, 255, 0.3);
      }

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    &--reg {
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  .login-menu {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    cursor: pointer;
    &:after,
    &:before {
      content: "";
      position: absolute;
      right: 0;
      display: block;
      width: 1px;
      height: 28px;
      background-color: rgba(255, 255, 255, 0.3);
    }
    &:before {
      right: auto;
      left: 0;
    }
    &:hover {
      svg {
        path {
          fill: #fff;
        }
      }
      .login-menu__submenu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: 0.3s;
      }
    }
    &__icon {
      cursor: pointer;
      svg {
        opacity: 1;
        vertical-align: middle;
      }
      &:hover {
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
    &__submenu {
      position: absolute;
      cursor: default;
      top: 100%;
      padding: 0 12px;
      right: 0;
      background-color: #fff;
      border-radius: 4px;
      color: #191a39;
      font-weight: 400;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-20px);
      transition: 0.2s;
    }
    &__submenu-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding: 8px 0;
      color: #237bef;
      .item-title {
        color: #191a39;
        margin-bottom: 4px;
        white-space: nowrap;
      }
    }
    .login-menu__link {
      padding: 0 0 16px 0;
      color: #191a39;
      transition: 0.3s;
      &:hover {
        color: #237bef;
      }
    }
    .menu__link-text {
      &:after {
        display: none;
      }
    }
  }
  .toggle-theme {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    svg {
      opacity: 0.3;
    }
    &:hover {
      cursor: pointer;
      svg {
        opacity: 1;
      }
    }
  }
  .language {
    position: relative;
    padding: 0 16px;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      display: block;
      width: 1px;
      height: 28px;
      background-color: rgba(255, 255, 255, 0.3);
    }
    &--mob {
      .menu__link-text {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        padding: 0;
        flex-direction: column;
        align-self: auto;
      }
    }
    .menu__link {
      padding: 0;
    }
    .menu__link-text {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-self: stretch;
      align-items: center;
      &:after {
        display: none;
      }
    }

    &__abbr {
      color: #fff;
      text-transform: uppercase;

      &--mob {
        margin-left: 0;
      }
    }

    &__flag {
      padding: 0 8px 0 16px;
      width: 26px;
      height: 26px;
      box-sizing: content-box;
    }

    &__text {
      font-size: 14px;
      align-self: center;
    }
  }
  .translate {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .translate__container {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: 0.3s;
      }
    }
    &__trigger {
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
      padding-left: 23px;
      path {
        fill: #a0a0a0;
        transition: 0.3s;
      }
      &:hover {
        path {
          fill: #fff;
        }
      }
    }
    &__container {
      position: absolute;
      top: 48px;
      opacity: 0;
    }
  }

  .translate__container {
    position: absolute;
    cursor: default;
    top: 100%;
    padding: 0 12px;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    color: #191a39;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: 0.2s;
  }
  /*--- elements end ---*/
}

//header-mob start
.header-mob {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  background-color: $dark-indigo;
  /*--- modificators start ---*/
  &--open {
    height: 100%;
  }

  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__top {
    height: calc(100% - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    @media (max-width: 1200px) {
      height: calc(100% - 55px);
    }
  }

  &__inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: 100%;
    height: 55px;
    background-color: #23243f;
    justify-content: space-between;
    @media (min-width: 1200px) {
      height: 60px;
    }
  }

  &__link {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    justify-content: center;

    &--active {
      background-color: $darker-blue;

      &:after {
        display: inline-block;
        position: absolute;
        top: -4px;
        border-right: 6px solid transparent;
        border-bottom: 4px solid $darker-blue;
        border-left: 6px solid transparent;
        vertical-align: middle;
        content: "";
      }
    }

    &-inner {
      width: 20px;
      position: relative;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
    }
  }

  &__link-burger {
    min-width: 46px;
    max-width: 46px;
    background-color: $darker-blue;
  }

  &__submenu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-grow: 5;
    // overflow-x: auto;
    justify-content: space-between;
    padding: 0 15px;

    &-link {
      display: flex;
      flex-direction: column;
      // min-width: 46px;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &--active {
        path {
          fill: #94c2ff;
        }
        span {
          color: #94c2ff;
        }
      }
    }

    &-link-img {
      height: 13px;
    }

    &-link-text {
      font-size: 10px;
      line-height: 12px;
      color: #fff;
      margin-top: 4px;
    }
  }

  &__burger-content {
    display: none;

    &--open {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      min-height: 100%;
      padding-top: 11px;
      // background-image: url('../../assets/img/header-mob-bg.svg');
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }

  &__controls-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  &__controls-btn {
    margin-right: 16px;
    width: 17px;
    height: 17px;
  }

  .mobile-title {
    h3 {
      font-size: 24px;
      color: #ffffff;
      line-height: 1.27;
      text-align: center;
    }
  }

  .account-info {
    display: flex;
    margin-bottom: 24px;
    padding-left: 16px;
    padding: 6px 16px;
    height: 48px;
    align-items: center;
    background: #252543;
    justify-content: center;
    &--auth {
      margin-bottom: 0;
      justify-content: flex-start;
    }

    .slash {
      margin-right: 5px;
      margin-left: 5px;
    }
    &__img {
      min-width: 36px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #94c2ff;
      margin-right: 8px;
      position: relative;
      &--auth {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191a39;
        border: none;
        svg {
          display: block;
        }
      }

      .info__img-empty {
        font-size: 20px;
        display: block;
        width: 100%;
        line-height: 36px;
        text-align: center;
        color: #94c2ff;
        top: 15px;
      }
    }

    &__title {
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      // margin-bottom: 4px;
      word-break: break-all;
      &--auth {
        color: #237bef;
      }
    }

    &__email {
      text-decoration: none;
      // color: $light-blue;
      font-size: 14px;
      color: #237bef;
      &.no-auth {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .e-h-descritption {
    padding: 0 17px 12px;
    p {
      font-weight: 400;
      line-height: 1.27;
      font-size: 10px;
      color: #38446a;
    }
  }
  .menu-mob {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;

    &__wrap-links {
      border-bottom: 1px solid #525f73;
      margin-bottom: 5px;
      .menu-mob__link {
        padding-left: 32px;
        &:not(:last-child) {
          margin-bottom: 1px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__link {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      position: relative;
      height: 49px;
      padding: 0 16px;
      color: #fff;
      font-size: 14px;
      text-decoration: none;
      align-items: center;
      position: relative;
      background: #252543;
      margin-bottom: 4px;

      &:focus {
        outline: none;
      }

      &:before {
        content: "";
        display: none;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to right, rgba(33, 65, 125, 0.5), rgba(25, 26, 57, 0.5));
      }

      &--active {
        // background: linear-gradient(to right, rgba(33, 65, 125, .5), rgba(25, 26, 57, .5));
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        border-bottom: 1px solid #525f73;
        margin-bottom: 0;

        &:before {
          display: none;
        }

        &:after {
          transform: rotate(180deg);
        }
      }

      &--drop {
        &:after {
          display: block;
          position: absolute;
          right: 16px;
          width: 12px;
          height: 12px;
          background-image: url("../../assets/img/arr-toggler-down-light-blue.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          content: "";
        }
        .menu__link-text {
          &::after {
            display: none;
          }
        }
      }

      &--next-page {
        background-color: transparent;
        height: 30px;
        margin-top: 10px;
      }
    }

    &__link-icon {
      margin-right: 16px;
      // margin-left: 10px;
      width: 16px;
      display: none;
    }

    &__link-line {
    }

    &__link-holdings-inf {
      color: #237bef;
      margin-left: auto;
      white-space: nowrap;
    }
  }

  .holdings-mob {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    background-color: #393a51;

    &__info {
      position: relative;
      height: 40px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      padding: 0 14px;

      &:after {
        display: block;
        position: absolute;
        right: 14px;
        width: 9px;
        height: 9px;
        background-image: url("../../assets/img/arr-toggler-down-blue.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        content: "";
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__title {
      display: block;
      color: #94c2ff;
      font-size: 10px;
      line-height: 12px;
    }

    &__info-item {
      display: inline-block;
      margin-right: 4px;
      font-size: 14px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__pairs {
      padding: 0 14px;
      color: #fff;
      display: none;

      &--active {
        display: block;
      }
    }

    &__pairs-row {
      margin-top: 16px;
      margin-bottom: 16px;

      &:first-child {
        margin-bottom: 0;
      }
    }

    &__pairs-row-title {
      display: block;
      font-size: 14px;
      opacity: 0.5;
      margin-bottom: 12px;
    }

    &__radio-row {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 12px;
      grid-row-gap: 8px;
    }

    &__radio-item {
      display: flex;
      flex-direction: row;
      position: relative;
      padding-left: 24px;
      font-size: 14px;
      cursor: pointer;
      align-items: center;
    }

    &__radio-img {
      width: auto;
      height: 14px;
      margin-right: 8px;
    }

    &__radio-input {
      position: absolute;
      opacity: 0;

      &:checked {
        ~ .holdings-mob__radio-icon {
          &:after {
            display: block;
          }
        }
      }
    }

    &__radio-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      border: 1px solid;
      border-color: #fff;
      border-radius: 14px;
      background-color: transparent;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        display: none;
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: #237bef;
        content: "";
      }
    }
  }

  /*--- elements end ---*/
}

/*--- media start ---*/
@media (min-width: 600px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
  .header {
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: $dark-indigo;
    z-index: 1000;
  }
  .header-mob {
    display: none;
  }
}

/*--- media end ---*/

/*--- DARK THEME START---*/
.dark-theme {
}

@media (min-width: 1200px) {
  .dark-theme {
    .header {
      box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

/*--- DARK THEME END---*/

.cursor-pointer {
  cursor: pointer;
}

.menu__link--drop {
  .menu__link-text {
    &::after {
      display: none;
    }
  }
}

.submenu {
  .submenu__item {
    transition: 0.3s;
    &:hover {
      background-color: rgba(53, 124, 225, 0.1);
      .menu__link-text {
        color: #237bef;
      }
    }
    .menu__link-text {
      padding: 0;
      &::after {
        display: none;
      }
    }
  }
}
.menu-item-ico {
  height: 16px;
  display: flex;
  align-items: center;
  svg {
    display: block;
    width: 100%;
    max-width: 21px;
  }
}
@media (max-width: 1199px) {
  .header-mob__submenu-link-text {
    color: #666679;
  }
}

// TEMP STYLES
.d-none {
  display: none !important;
}

.menu__link--drop {
  span {
    border-bottom: 2px solid transparent;
  }
}

.head-menu__link--active {
  .menu__link--drop {
    span {
      border-bottom: 2px solid #237bef;
    }
  }
}

.menu__link--active {
  .submenu__link {
    .menu__link-text {
      border-bottom: 2px solid #237bef;
    }
  }
}
