<!-- HEADER START-->
<header class="header">
  <div class="header__inner">
    <div class="logo"><a class="logo__link" href="#"><img class="logo__img" src="../../assets/img/logo.svg" alt="logo"></a></div>
    <ul class="menu menu--header-menu">
      <li class="menu__item"><a class="menu__link" href="https://exrates.me/dashboard"><span class="menu__link-text">Trade</span></a></li>
      <!--<li class="menu__item menu__item&#45;&#45;with-submenu" *ngIf="isAuthenticated()"><a class="menu__link menu__link&#45;&#45;drop"><span class="menu__link-text">Funds</span></a>-->
      <li class="menu__item menu__item--with-submenu" routerLink="/funds" ><a class="menu__link menu__link--drop"><span class="menu__link-text">Funds</span></a>
        <div class="submenu">
          <ul class="menu submenu__list">
            <li class="submenu__item"><a class="submenu__link" routerLink="balance"><span class="menu__link-text">Balance</span></a></li>
            <li class="submenu__item"><a class="submenu__link" routerLink="transaction-history"><span class="menu__link-text">Transaction history</span></a></li>
          </ul>
        </div>
      </li>
      <!--<li class="menu__item menu__item&#45;&#45;with-submenu" *ngIf="isAuthenticated()"><a class="menu__link menu__link&#45;&#45;drop" ><span class="menu__link-text">Orders</span></a>-->
      <li class="menu__item menu__item--with-submenu" routerLink="open-orders"><a class="menu__link menu__link--drop" ><span class="menu__link-text">Orders</span></a>
        <div class="submenu">
          <ul class="menu submenu__list">
            <li class="submenu__item"><a class="submenu__link"  routerLink="open-orders"><span class="menu__link-text">Open orders</span></a></li>
            <li class="submenu__item"><a class="submenu__link"  routerLink="orders-history"><span class="menu__link-text">Orders history</span></a></li>
          </ul>
        </div>
      </li>
      <!--<li class="menu__item"><a class="menu__link" routerLink="/settings" *ngIf="isAuthenticated()"><span class="menu__link-text">Settings</span></a></li>-->
      <li class="menu__item"><a class="menu__link" routerLink="/settings"><span class="menu__link-text">Settings</span></a></li>
      <li class="menu__item menu__item--with-submenu" *ngIf="isAuthenticated()"><a class="menu__link menu__link--drop"><span class="menu__link-text">Referral</span></a>
        <div class="submenu">
          <ul class="menu submenu__list">
            <li class="submenu__item"><a class="submenu__link" routerLink="referral-structure"><span class="menu__link-text">Referral structure</span></a></li>
            <li class="submenu__item"><a class="submenu__link" routerLink="referral-charges"><span class="menu__link-text">Referral charges</span></a></li>
          </ul>
        </div>
      </li>
      <li class="menu__item"><a class="menu__link" href="https://exrates.me/dashboard"><span class="menu__link-text">News</span></a></li>
    </ul>
    <div *ngIf="isAuthenticated(); else reg">
      <a class="header__auth" >{{ getUsername() }}</a>
    </div>
    <ng-template #reg>
      <a class="header__auth" (click)="openRegistration()">Registration</a>
    </ng-template>
    <div *ngIf="isAuthenticated(); else alien">
      <a class="header__auth header__auth--log" (click)="onLogout()">Log out</a>
    </div>
    <ng-template #alien>
      <a class="header__auth header__auth--log" (click)="onLogin()">Log in</a>
      <!--<a class="header__logout" href="https://exrates.me/dashboards" target="_blank">Log in</a>-->
    </ng-template>

    <ul class="menu">
      <li class="menu__item menu__item--with-submenu">
        <a class="menu__link language" href="#">
          <img class="language__flag" src="../../assets/img/flag-en.svg" alt="ru">
          <span class="language__abbr">en</span>
        </a>
        <div class="submenu submenu--language">
          <ul class="menu__list submenu__list submenu__list--language">
            <li class="submenu__item"><a class="submenu__link" href="#"><img class="language__flag" src="../../assets/img/flag-ru.svg" alt=""><span class="language__text">Russian</span></a></li>
            <li class="submenu__item"><a class="submenu__link" href="#"><img class="language__flag" src="../../assets/img/flag-cn.svg" alt=""><span class="language__text">Chinese</span></a></li>
            <li class="submenu__item"><a class="submenu__link" href="#"><img class="language__flag" src="../../assets/img/flag-pl.svg" alt=""><span class="language__text">Polish</span></a></li>
            <li class="submenu__item"><a class="submenu__link" href="#"><img class="language__flag" src="../../assets/img/flag-en.svg" alt=""><span class="language__text">Hindi</span></a></li>
            <li class="submenu__item"><a class="submenu__link" href="#"><img class="language__flag" src="../../assets/img/flag-cn.svg" alt=""><span class="language__text">Ukrainian</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>
<!-- HEADER END-->


<!-- HEADER MOBILE START-->
<header class="header-mob" [ngClass]="{'header-mob--open': isMobileMenuOpen }">
  <div class="header-mob__top" >
    <div [ngClass]="{'header-mob__burger-content': !isMobileMenuOpen, 'header-mob__burger-content--open': isMobileMenuOpen }">
      <div class="header-mob__controls-row">
        <a class="header-mob__controls-btn" (click)="toggleTheme()">
          <img class="header-mob__controls-icon" src="../../assets/img/header-mob-lamp.svg">
        </a>
        <a class="header-mob__controls-btn" href="#">
          <img class="header-mob__controls-icon" src="../../assets/img/header-mob-notification.svg">
        </a>
        <a class="header-mob__controls-btn" (click)="navigateToSettings()">
          <img class="header-mob__controls-icon" src="../../assets/img/header-mob-settings.svg">
        </a>
      </div>


      <div class="account-info" *ngIf="!userInfo">
        <div class="account-info__img"><span class="info__img-empty">?</span></div>
        <div class="account-info__text">
          <div class="account-info__title">New user</div><a class="account-info__email" (click)="onMobileLogin()">login</a></div>
        <!--<div class="account-info__title">John Doe</div><a class="account-info__email" href="#">john.doe@exrates.com</a></div>-->
      </div>

      <div class="account-info" *ngIf="userInfo">
        <img class="account-info__img" src="../../assets/img/user-photo.png">
        <div class="account-info__text">
          <div class="account-info__title">{{userInfo.username}}</div><a class="account-info__email" (click)="onLogout()">logout</a></div>
        <!--<div class="account-info__title">John Doe</div><a class="account-info__email" href="#">john.doe@exrates.com</a></div>-->
      </div>


      <nav class="menu-mob"><a class="menu-mob__link menu-mob__link--next-page" href="#"><img class="menu-mob__link-icon" src="../../assets/img/money-bag.svg"><span class="menu-mob__link-text">Estimated holdings</span><span class="menu-mob__link-holdings-inf">~ $43 522 764</span></a>
        <a
          class="menu-mob__link" href="#"><img class="menu-mob__link-icon" src="../../assets/img/trade.svg"><span class="menu-mob__link-text">Trade</span></a>
          <div class="menu-mob__drop-wrap"><a class="menu-mob__link menu-mob__link--drop"><img class="menu-mob__link-icon" src="../../assets/img/piggy-bank.svg"><span class="menu-mob__link-text">Funds</span></a>
            <div class="menu-mob__wrap-hidden-links">
              <a class="menu-mob__link" href="#">Transaction history</a>
              <a class="menu-mob__link" href="#">Income/Outcome</a>
            </div>
          </div>
          <div class="menu-mob__drop-wrap"><a class="menu-mob__link menu-mob__link--drop" href="#"><img class="menu-mob__link-icon" src="../../assets/img/orders.svg"><span class="menu-mob__link-text">Orders</span></a>
            <div class="menu-mob__wrap-hidden-links"><a class="menu-mob__link" href="#">Open orders</a><a class="menu-mob__link" href="#">Orders history</a></div>
          </div>
          <div class="menu-mob__drop-wrap"><a class="menu-mob__link menu-mob__link--drop" href="#"><img class="menu-mob__link-icon" src="../../assets/img/referral.svg"><span class="menu-mob__link-text">Referral</span></a>
            <div class="menu-mob__wrap-hidden-links"><a class="menu-mob__link" href="#">Lorem</a><a class="menu-mob__link" href="#">Lorem</a></div>
          </div><a class="menu-mob__link" href="#"><img class="menu-mob__link-icon" src="../../assets/img/newspaper.svg"><span class="menu-mob__link-text">News</span></a>
      </nav>
    </div>
  </div>
  <div class="header-mob__inner">
    <div class="header-mob__submenu">
      <a class="header-mob__submenu-link"
         [ngClass]="{ 'header-mob__submenu-link--active': mobileView === 'graph' }"
         (click)="setMobileWidget('graph')">
        <img class="header-mob__submenu-link-img" src="../../assets/img/graph.svg">
        <span class="header-mob__submenu-link-text">Graph</span>
      </a>
      <a class="header-mob__submenu-link"
         [ngClass]="{ 'header-mob__submenu-link--active': mobileView === 'trading' }"
         (click)="setMobileWidget('trading')">
        <img class="header-mob__submenu-link-img" src="../../assets/img/trade.svg">
        <span class="header-mob__submenu-link-text">Trade</span>
      </a>
     <!-- <a class="header-mob__submenu-link" >
        <img class="header-mob__submenu-link-img" src="../../assets/img/wallet.svg">
        <span class="header-mob__submenu-link-text">Balances</span>
      </a>
      <a class="header-mob__submenu-link" (click)="setMobileWidget('trade-history')">
        <img class="header-mob__submenu-link-img" src="../../assets/img/history.svg">
        <span class="header-mob__submenu-link-text">History</span>
      </a>
        <a class="header-mob__submenu-link" (click)="setMobileWidget('orders')">
          <img class="header-mob__submenu-link-img" src="../../assets/img/orders.svg">
          <span class="header-mob__submenu-link-text">Open</span>
        </a>-->
      <a class="header-mob__submenu-link"
         [ngClass]="{ 'header-mob__submenu-link--active': mobileView === 'markets' }"
         (click)="setMobileWidget('markets')">
        <img class="header-mob__submenu-link-img" src="../../assets/img/markets.svg">
        <span class="header-mob__submenu-link-text">Markets</span>
      </a>
      <a class="header-mob__submenu-link"
         [ngClass]="{ 'header-mob__submenu-link--active': mobileView === 'order-book' }"
         (click)="setMobileWidget('order-book')">
        <img class="header-mob__submenu-link-img" src="../../assets/img/order-book.svg">
        <span class="header-mob__submenu-link-text">Book</span>
      </a>
      <a class="header-mob__submenu-link"
         [ngClass]="{ 'header-mob__submenu-link--active': mobileView === 'chat' }"
         (click)="setMobileWidget('chat')">
        <img class="header-mob__submenu-link-img" src="../../assets/img/header-sumbenu-link6.svg">
        <span class="header-mob__submenu-link-text">Chat</span>
      </a>
    </div>
    <a class="header-mob__link header-mob__link-burger">
      <div class="header-mob__link-inner" (click)="openMenu()">
        <img class="header-mob__link-img" src="../../assets/img/header-mob-burger.svg">
      </div>
    </a>
  </div>
</header>
<!-- HEADER MOBILE END-->
