.discuss-block {
  .timer {
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #4B4B4B;
      margin: 0 auto 20px;
      text-align: center;

      span {
        color: #000000;
        font-weight: 600;
        margin-left: 30px;
      }
    }

  }

  .btn {
    margin: 0 auto 28px;
    max-width: 227px;
  }
}


.disput-detail {
  max-width: 667px;
  margin: 0 auto;

  h5 {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 12px;
  }

  p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    margin-bottom: 22px;
  }

  form {
    textarea {
      width: 100%;
      min-height: 160px;
      resize: none;
        margin-bottom: 15px;
    }

    .btn {
      max-width: 227px;
      margin-left: auto;
    }
  }
}
