<div class="ref-income-mobile">
  <div class="thead">
    <div class="tr">
      <div class="table__cell-head table__cell-head--tal currency-cell">Currency</div>
      <div class="table__cell-head table__cell-head--tal income-cell">Your income</div>
      <div class="table__cell-head table__cell-head--tac actions-cell">
        <div class="button-cont">
          <span>{{'Actions' | translate}}</span>
        </div>
      </div>
      <div class="table__cell table__cell--arr-mob"></div>
    </div>
  </div>
  <div class="table__body">
    <div class="table__row balance__table-row no-hover">
      <div class="row-wr">
        <div class="table__cell currency-cell">
          <div class="balance__currency">
            <div class="balance__currency-icon">
              <img src="assets/img/currency-icons/btc.svg">
            </div>
            <div class="currency-inf">
              <span style="min-width: 70px;">BTC</span>
              <span class="balance__currency-name">Bitcoin</span>
            </div>

          </div>
        </div>
        <div class="table__cell table__cell--tal income-cell">
          <span>0.0000000000001</span>
        </div>
        <div class="table__cell actions-cell">
          <div class="button-cont">
            <button class="btn btn--center btn--empty-blue btn--small">{{'Receive' | translate}}</button>

          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
      </div>
      <div class="hidden-info opened">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Cup income</span>
            </div>
            <div class="right">
              <span>0.000001</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Left for cup</span>
            </div>
            <div class="right">
              <span>0.00000099999</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table__row balance__table-row no-hover">
      <div class="row-wr">
        <div class="table__cell currency-cell">
          <div class="balance__currency">
            <div class="balance__currency-icon">
              <img src="assets/img/currency-icons/btc.svg">
            </div>
            <div class="currency-inf">
              <span style="min-width: 70px;">BTC</span>
              <span class="balance__currency-name">Bitcoin</span>
            </div>

          </div>
        </div>
        <div class="table__cell table__cell--tal income-cell">
          <span>0.0000000000001</span>
        </div>
        <div class="table__cell actions-cell">
          <div class="button-cont">
            <button class="btn btn--center btn--empty-blue btn--small">{{'Receive' | translate}}</button>

          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
      </div>
      <div class="hidden-info">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Cup income</span>
            </div>
            <div class="right">
              <span>0.000001</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Left for cup</span>
            </div>
            <div class="right">
              <span>0.00000099999</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table__row balance__table-row no-hover">
      <div class="row-wr">
        <div class="table__cell currency-cell">
          <div class="balance__currency">
            <div class="balance__currency-icon">
              <img src="assets/img/currency-icons/btc.svg">
            </div>
            <div class="currency-inf">
              <span style="min-width: 70px;">BTC</span>
              <span class="balance__currency-name">Bitcoin</span>
            </div>

          </div>
        </div>
        <div class="table__cell table__cell--tal income-cell">
          <span>0.0000000000001</span>
        </div>
        <div class="table__cell actions-cell">
          <div class="button-cont">
            <button class="btn btn--center btn--empty-blue btn--small">{{'Receive' | translate}}</button>

          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
      </div>
      <div class="hidden-info">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Cup income</span>
            </div>
            <div class="right">
              <span>0.000001</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Left for cup</span>
            </div>
            <div class="right">
              <span>0.00000099999</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table__row balance__table-row no-hover">
      <div class="row-wr">
        <div class="table__cell currency-cell">
          <div class="balance__currency">
            <div class="balance__currency-icon">
              <img src="assets/img/currency-icons/btc.svg">
            </div>
            <div class="currency-inf">
              <span style="min-width: 70px;">BTC</span>
              <span class="balance__currency-name">Bitcoin</span>
            </div>

          </div>
        </div>
        <div class="table__cell table__cell--tal income-cell">
          <span>0.0000000000001</span>
        </div>
        <div class="table__cell actions-cell">
          <div class="button-cont">
            <button class="btn btn--center btn--empty-blue btn--small">{{'Receive' | translate}}</button>

          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
      </div>
      <div class="hidden-info">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Cup income</span>
            </div>
            <div class="right">
              <span>0.000001</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Left for cup</span>
            </div>
            <div class="right">
              <span>0.00000099999</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table__row balance__table-row no-hover">
      <div class="row-wr">
        <div class="table__cell currency-cell">
          <div class="balance__currency">
            <div class="balance__currency-icon">
              <img src="assets/img/currency-icons/btc.svg">
            </div>
            <div class="currency-inf">
              <span style="min-width: 70px;">BTC</span>
              <span class="balance__currency-name">Bitcoin</span>
            </div>

          </div>
        </div>
        <div class="table__cell table__cell--tal income-cell">
          <span>0.0000000000001</span>
        </div>
        <div class="table__cell actions-cell">
          <div class="button-cont">
            <button class="btn btn--center btn--empty-blue btn--small">{{'Receive' | translate}}</button>

          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
      </div>
      <div class="hidden-info">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Cup income</span>
            </div>
            <div class="right">
              <span>0.000001</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Left for cup</span>
            </div>
            <div class="right">
              <span>0.00000099999</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table__row balance__table-row no-hover">
      <div class="row-wr">
        <div class="table__cell currency-cell">
          <div class="balance__currency">
            <div class="balance__currency-icon">
              <img src="assets/img/currency-icons/btc.svg">
            </div>
            <div class="currency-inf">
              <span style="min-width: 70px;">BTC</span>
              <span class="balance__currency-name">Bitcoin</span>
            </div>

          </div>
        </div>
        <div class="table__cell table__cell--tal income-cell">
          <span>0.0000000000001</span>
        </div>
        <div class="table__cell actions-cell">
          <div class="button-cont">
            <button class="btn btn--center btn--empty-blue btn--small">{{'Receive' | translate}}</button>

          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
      </div>
      <div class="hidden-info">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Cup income</span>
            </div>
            <div class="right">
              <span>0.000001</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Left for cup</span>
            </div>
            <div class="right">
              <span>0.00000099999</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <tr
        class="table__row balance__table-row"
      >
        <td
          class="table__cell"
          colspan="4"
        >
          {{'No any free coins' | translate}}
        </td>
      </tr> -->
  </div>
</div>
