

<tr class="table__row--mob"  (click)="toggleDetails(item)">
  <td class="table__cell table__cell--tal">
    <div>{{item.currencyPairName}}</div>
    <div class="table__date-time">
      <div>{{item.dateCreation | amDateFormat:"DD.MM.YYYY"}}</div>
      <div>{{item.dateCreation | amDateFormat:"HH:mm:ss"}}</div>
    </div>
  </td>
  <td class="table__cell table__cell--tal">
    <span [class]="setClassForOrderTypeField(item.operationType)">{{item.operationType}}</span>
  </td>
  <td class="table__cell table__cell--tar">
    <div>{{item.exExchangeRate}} {{item.currencyPairName | splitCurrency: 2}}</div>
  </td>
  <td class="table__cell table__cell--arr-mob">
    <img class="" src="../../assets/img/arr-toggler-down-blue.svg">
  </td>
</tr>
<tr class="table__details" *ngIf="selectedOrder && selectedOrder.id === item.id">
  <td class="table__details-cell" colspan="4">
    <div class="table__details-item">
      <div class="table__details-item-title">{{'Amount' | translate}}</div>
      <div class="table__details-item-value">{{item.amountConvert}} {{item.currencyPairName | splitCurrency: 1}}</div>
    </div>
    <div class="table__details-item">
      <div class="table__details-item-title">{{'Trading price' | translate}}</div>
      <div class="table__details-item-value">{{item.exExchangeRate}} {{item.currencyPairName | splitCurrency: 2}}</div>
    </div>
    <div class="table__details-item">
      <div class="table__details-item-title">{{'Filled' | translate}}</div>
      <div class="table__details-item-value">{{item.exExchangeRate}} {{item.currencyPairName | splitCurrency: 2}}</div>
    </div>
    <div class="table__details-item">
      <div class="table__details-item-title">{{'Fee' | translate}}</div>
      <div class="table__details-item-value">{{item.commissionFixedAmount}} {{item.currencyPairName | splitCurrency: 2}}</div>
    </div>
    <div class="table__details-item">
      <div class="table__details-item-title">{{'In total' | translate}}</div>
      <div class="table__details-item-value"> {{item.currencyPairName | splitCurrency: 2}}</div>
      <!-- {{item.arrPairName}} -->
    </div>
  </td>
</tr>
