.side-popups h3{
      margin-bottom: 29px;
}

.side-popups h2{
      margin-bottom: 14px;
}

.side-popups form{
      margin-bottom: 34px;
}

.refill__wrap-input{
  @media(max-width: 1199px){
    max-width: 270px;
  }
}