<div class="title modal__title">Two-Factor authentication by google authentificator</div>
<div class="subtitle modal__subtitle">
  <p>Use Google Authenticator to scan the QRCode</p>
</div>
<h3>{{statusMessage}}</h3>
<!--<div class="modal__qr-code">-->
  <!--<qr-code [value]="getTestUrl()" [size]="150"></qr-code>-->
<!--</div>-->
<img class="modal__qr-code" [src]="getGoogleAuthenticatorUrl()">

<!--SECRET HASH-->
<div class="modal__row">
  <div class="modal__code-grey-field">{{ secretCode }}</div>
</div>

<button class="btn btn--active btn--center" (click)="onNextStep()">Ok, I did it</button>
