<div class="title modal__title">{{"Two-Factor authentication by Google Authenticator" | translate}}</div>
<div class="subtitle modal__subtitle">
  <p >{{"Use Google Authenticator to scan the QRCode" | translate}}</p>
</div>
<!--<h3>{{statusMessage}}</h3>-->

<div class="modal__code-wrap">
<img class="modal__qr-code" [src]="getGoogleAuthenticatorUrl()">
<div class="modal__code-2fa">
  <!--SECRET HASH-->
  <h6> {{ secretCode }}</h6>
  <span translate>{{"Please save a backup of your <br> recovery key" | translate}}</span>
</div>
</div>

<button class="btn btn--active btn--center" (click)="onNextStep()">{{"Ok, I did it" | translate}}</button>

<div class="note modal__note">
  <div class="note__title">{{"Please note:" | translate}}</div>
  <ul class="note__list">
    <li class="note__list-item" translate>This code changes each time you enable 2FA. If you disable 2FA this code will no longer be valid.</li>
  </ul>
</div>
