.modal__content{
	@media(max-width: 1200px){
		padding-bottom: 0;
	}
}

.modal__code-2fa {
	span{
		font-weight: 600;
	}	
}

@media (min-width: 600px){
	.modal__content {
		padding: 32px; 
	}
}

.warning-txt{
	color: #EB5757;
}

.note__list-item{
	font-size: 15px;
}