re-captcha{
  margin: 0 auto;
}

.btn--error {
  background-color: #EB5757 !important;
  color: #ffffff;
  border: none;
}

.wrap-input__message {
  color: #EB5757 !important;
  position: absolute;
  top: 45px;
}
