.button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 230px;
  height: 45px;
  padding: 0;
  border: 1px solid $darker-blue;
  border-radius: 100px;
  color: $darker-blue;
  background-color: transparent;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
  align-items: center;
  justify-content: center;
  @media (min-width:900px) {
    // font-size: 18px;
  }
  &:hover {
    border-color: transparent;
    color: #fff;
    background-color: $blue;
    text-decoration: none;
    cursor: pointer;
    .button__icon--hover-white{
      svg{
        fill:#fff;
      }
    }
  }

  &:focus {
    // border-color: #004095;
    outline: none;
    color: #fff;
    background-color: $darker-blue;
    .button__icon--hover-white{
      svg{
        fill:#fff;
      }
    }
  }

  &--active {
    border-color: transparent;
    color: #fff;
    background-color: $darker-blue;
  }

  &--error {
    border-color: transparent;
    color: #fff;
    background-color: $red;

    &:hover {
      background-color: $red;
    }

    &:focus {
      border-color: transparent;
      background-color: $red;
    }
  }
  &--center{
    margin: 0 auto;
  }
  &--fz18{
    @media (min-width:1200px) {
      font-size: 18px;
    }
  }
  &__icon{
    margin-right: 12px;
    &--blue{
      svg{
        fill:$darker-blue;
      }
    }
  }
}
