.chat {
  @media (min-width:1200px) {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: absolute;
    z-index: 950;
    bottom: 20%;
    right: 32px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-left: auto;
    padding: 8px;
    border-radius: 20px;
    background-color: $darker-blue;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
