* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  //color: #000;
  font-family: Roboto,Arial;
  font-size: 14px;
  font-weight: 400;
}

b {
  font-weight: bold;
}

.txt-green {
  color: $green;
}

.txt-red {
  color: $red;
}
.txt-grey{
  color:$grey;
}
.txt-light-grey {
  color: $light-grey;
}

.txt-center {
  text-align: center;
}
.txt-small{
  font-size: 12px;
  line-height: 14px;
}

.page-wrap {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color:#000;
  //-webkit-transition: 0.2s ease all;
  //-moz-transition: 0.2s ease all;
  //transition: 0.2s ease all;
}
.dark-theme{
  background-color: $dark-indigo;
  color:#fff;
  //-webkit-transition: 0.2s ease all;
  //-moz-transition: 0.2s ease all;
  //transition: 0.2s ease all;
  //.header{
  //  box-shadow: 0px 0px 4px 4px  rgba(0, 0, 0, 0.25);
  //}
}

.content {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 60px;
  @media (min-width:600px) {
    padding: 0 0 60px;
  }
  @media (min-width:1200px) {
    padding: 75px 0 0;
  }
}
.container{
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  @media (min-width:600px) {
    padding: 0 12px 0;
  }
  @media (min-width:1200px) {
    padding: 0 20px 0;
  }
  &--dashboard{
    flex-grow: 1;
    max-width: 1480px;
    padding: 0;
    @media (min-width:1200px) {
    }
  }
}
.colon {
  margin-left: 8px;
  margin-right: 8px;
}
app-settings, app-dashboard{
  width: 100%;
}
