* {
  box-sizing: border-box;
  // -webkit-backface-visibility: hidden;
  //   backface-visibility: hidden;
}

html {
  height: 100%;
  font-size: 20px;
}

body {
  position: relative;
  height: 100%;
  //color: #000;
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 300;
  min-width: 320px;
  top: 0!important;
}
input, textarea, select, button{
font-weight: 300;
font-family: Roboto;
}

b {
  font-weight: bold;
}

.noscroll {
  @media (min-width:1200px) {
    overflow: hidden;
  }
}

.no-scroll {
  overflow: hidden;
}

.txt-green {
  color: $green;
}

.txt-red {
  color: $red;
}

.txt-blue {
  color: $darker-blue;
}

.txt-grey {
  color: $grey;
}

.txt-light-grey {
  color: $light-grey;
}

.txt-center {
  text-align: center;
}

.txt-small {
  font-size: 12px;
  line-height: 14px;
}

.page-wrap {
  position: relative;
  min-height: 100%;
  color: #000;
  @media(max-width: 1199px){
    display: flex;
    flex-direction: column;
  }
}

.dark-theme {
  background-color: $dark-indigo;
  color: #fff;
}

.content {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 60px;
  @media (min-width: 600px) {
    padding: 0 0 60px;
  }
  @media (min-width: 1200px) {
    padding: 0;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1320px;
  margin: 0 auto;
  @media (min-width: 600px) {
    //padding: 0 12px 0;
  }
  @media (min-width: 1200px) {
    padding: 0 20px 0;
  }
  &--dashboard {
    flex-grow: 1;
    max-width: none;
    padding: 0;
    height: 100%;
    @media (min-width: 1200px) {
    }
  }
}

.colon {
  margin-left: 8px;
  margin-right: 8px;
}

app-settings, app-dashboard {
  width: 100%;
}

.skiptranslate {
    display: none;
}

.goog-text-highlight {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.skiptranslate{
  display: none!important;
}
.goog-te-gadget{
  display: block!important;
}


.accessibility-content{
  position: absolute;
  height: 0;
  width: 0;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}
#launcher{
      bottom: 4px!important;
}


ngx-gridster-item.gridster-item[data-position="0"]{
  transition-delay: 1s!important;
}



app-preloader{
  &.active{
    .preload-container {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .preload-container {
  width: 100%;
  position: fixed;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #1f1e30;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
transform: translateY(-101%);
// opacity: .85;

transition: .6s ease-out;
    // will-change: transform;
  .content-part {
    .logo{
        width: 220px;
        margin-bottom: 20px;
        svg{
            width: 100%;
            height: auto;
        }
    }
    app-loader{
        font-size: 20px;
    }
    p{
        text-align: center;
        margin-top: 20px;
        font-size: 18px;
    }
  }
}
}

