* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  color: #000;
  font-family: Roboto,Arial;
  font-size: 14px;
  font-weight: 400;
}

b {
  font-weight: bold;
}

.txt-green {
  color: $green;
}

.txt-red {
  color: $red;
}

.txt-light-grey {
  color: $light-grey;
}

.txt-center {
  text-align: center;
}
.txt-small{
  font-size: 12px;
  line-height: 14px;
}

.page-wrap {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.dark-theme{
  background-color: $dark-indigo;
}
// .content {
//   position: relative;
//   box-sizing: border-box;
//   width: 100%;
//   max-width: 1280px;
//   min-height: 100%;
//   margin: 0 auto;
//   padding: 12px 0 60px;
//   @media (min-width:600px) {
//     padding: 32px 12px 60px;
//   }
//   @media (min-width:1200px) {
//     min-height: calc(100% - 75px);
//     padding: 32px 20px 75px;
//   }
//
// }

.content {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 60px;
  @media (min-width:600px) {
    padding: 0 12px 60px;
  }
  @media (min-width:1200px) {
    padding: 75px 20px 0;
  }
}
.colon {
  margin-left: 8px;
  margin-right: 8px;
}
app-settings{
  width: 100%;
}
