.modal-wrap {
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
  overflow-x: auto;

}

.modal {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin-left: auto;
  background-color: #fff;
  transition: all 0.5s ease;
  //
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  //
  @media (min-width:1200px) {
    width: 50%;
    min-width: 800px;
    max-width: 800px;
    // padding-right: 70px;
  }

  &__controls {
    display: none;
    position: absolute;
    padding: 24px 12px;
    @media (min-width:1200px) {
      display: block;
    }

    &--top {
      top: 0;
      right: 100%;
    }

    &--bottom {
      right: 100%;
      bottom: 0;
    }
    &:hover{
      cursor: pointer;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 14px;
    align-items: center;

    &--close {
      text-transform: uppercase;
    }
  }

  &__button-icon {
    padding-left: 12px;
    width: 15px;
    box-sizing: content-box;
    //height: 15px;
  }

  &__header {
    display: flex;
    // border-right: 1px solid $darker-white;
    border-bottom: 1px solid $darker-white;
    align-items: center;
    justify-content: space-between;
  }

  &__header-mob {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-bottom: 1px solid $darker-white;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &--jcfe {
      justify-content: flex-end;
    }
    @media (min-width:1200px) {
      display: none;
    }
  }

  &__header-mob-controls {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }

  &__control-mob {
    margin-right: 16px;
  }

  &__control-icon {
    vertical-align: middle;
  }

  &__content {
    flex-grow: 1;
    position: relative;
    height: 100%;
    padding: 32px 12px;
    // border-right: 1px solid $darker-white;
    @media (min-width:600px) {
      padding: 32px 90px;
    }

    &--jcc {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__chat{
    display: none;
  }
  &__study {
    display: none;
    @media (min-width:1200px) {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      position: absolute;
      top: 32px;
      right: 32px;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      margin-left: auto;
      padding: 8px;
      border-radius: 20px;
      background-color: $darker-blue;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }

  &__study-icon {
    width: 24px;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  &__captcha-img {
    display: block;
    margin: 32px auto 0;
    width: 100%;
    max-width: 260px;
  }

  &__subtitle {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    @media (min-width:1200px) {
      margin-bottom: 32px;
    }
  }

  &__row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    text-align: center;

    &--mob-600-column {
      @media (max-width:599px) {
        flex-direction: column;
        align-items: center;
      }
    }
    &--column{
      flex-direction: column;
      align-items: center;
    }
    &--mb8{
      margin-bottom: 8px;
    }
    &--mb20{
      margin-bottom: 20px;
    }
    &--mb24 {
      margin-bottom: 24px;
    }

    &--mb32 {
      margin-bottom: 32px;
    }
    p{
      line-height: 21px;
    }
  }
  &__documents-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    @media (min-width:1200px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__example-block{
    width: 100%;
    max-width: 244px;
    margin-bottom: 24px;
    @media (min-width:1200px){
      margin-bottom: 0;
    }
  }
  &__example-img{
    display: block;
  }
  &__documents-title{
    margin-bottom: 16px;
  }
  &__user-block{
    width: 100%;
    max-width: 244px;

  }
  // &__store-wrap {
  //   display: -webkit-flex;
  //   display: -ms-flex;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   margin-bottom: 32px;
  //   @media (min-width:600px) {
  //     flex-direction: row;
  //   }
  // }

  &__store-link {
    margin: 0 4px 16px;
    @media (min-width:600px) {
      margin: 0 4px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__identity-make-photo {
    max-width: 500px;
    margin: 0 auto 32px;

    img {
      width: 100%;
    }
  }
  &__qr-code{
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto 32px;
  }
  &__code-grey-field {
    margin-top: 24px;
    margin-bottom: 32px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: $darker-white;
    padding: 12px 0;
    max-width: 230px;
    width: 100%;
    justify-content: center;
  }

  &__identity-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    @media (min-width:900px) {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }
  }

  &__identity-example {
    margin-top: 28px;
    margin-bottom: 40px;
    @media (min-width:600px) {
      margin-top: 48px;
      margin-bottom: 60px;
    }
    @media (min-width:900px) {
      margin-top: 0;
      margin-right: 80px;
      margin-bottom: 0;
    }
  }

  &__identity-error {
    color: $red;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 21px;
    text-align: center;
    margin-bottom: 52px;
    @media (min-width:900px) {
      margin-bottom: 0;
      margin-right: 32px;
    }
  }

  &__identity-success {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
  }

  &__identity-error-icon {
    margin-bottom: 24px;
  }

  &__identity-success-icon {
    margin-bottom: 24px;
  }

  &__identity-action {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
  }

  &__identity-btn {
    max-width: none;
    padding: 0 20px;
    font-size: 14px;
  }

  &__or {
    margin: 16px 0;
    color: $light-grey;
    font-size: 14px;
    @media (min-width:1200px) {
      margin: 24px 0;
    }

    &:before {
      display: inline-block;
      width: 80px;
      height: 1px;
      margin-right: 8px;
      background-color: $light-grey;
      vertical-align: middle;
      content: "";
    }

    &:after {
      display: inline-block;
      width: 80px;
      height: 1px;
      margin-left: 8px;
      background-color: $light-grey;
      vertical-align: middle;
      content: "";
    }
  }



  &__select-in-row {
    margin-bottom: 24px;
    @media (min-width:600px) {
      margin-bottom: 0;
      margin-right: 8px;
    }
  }
  &__message-price{
    margin-left: 8px;
    font-weight: 600;
  }
  &__you-balance{
    margin-left: 8px;
    font-weight: 600;
  }
  &__balance-action{
    max-width: 230px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px auto 32px;
    @media (min-width:1200px) {
      margin: 24px auto 32px;
    }
  }
  &__exchange-course{
    color:$grey;
    margin-top: 12px;
  }
  &__note{
    position: relative;
    width: calc(100% + 24px);
    left: -12px;
    @media (min-width:600px) {
      width: calc(100% + 180px);
      left: -90px;
    }
  }
}

.steps {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__item {
    background-color: transparent;

    &--current {
      @media (min-width:1200px) {
        color: #fff;
        background-color: $darker-blue;
      }

      .steps__number-mob-current {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        @media (min-width:1200px) {
          display: none;
        }
      }

      .steps__number--current {
        display: none;
        @media (min-width:1200px) {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 8px 6px;
    color: inherit;
    text-decoration: none;
    @media (min-width:1200px) {
      padding: 12px 24px;
    }
  }

  &__number {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 34px;
    height: 34px;
    margin: 0 auto;
    border: 1px solid;
    border-color: rgba(25, 26, 57, 0.1);
    border-radius: 18px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    @media (min-width:1200px) {
      margin-bottom: 6px;
      font-size: 18px;
      line-height: 18px;
    }

    &--current {
      border: none;
      @media (min-width:1200px) {
        border: 1px solid;
        border-color: inherit;
      }
    }

    &--valid {
      border-color: $darker-blue;
      color:$darker-blue;
      &:after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 13px;
        height: 10px;
        background-image: url("assets/img/step-valid.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        content: "";
      }
    }
  }

  &__number-mob-current {
    display: none;
    box-sizing: border-box;
    height: 36px;
    padding: 8px 16px;
    border-radius: 40px;
    color: #fff;
    background-color: $darker-blue;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }

  &__title {
    display: none;
    font-size: 12px;
    @media (min-width:1200px) {
      display: block;
    }
  }

  &__counter {
    display: none;
    padding: 12px 24px;
    @media (min-width:1200px) {
      display: block;
    }

    &--mob {
      display: block;
      padding: 0 16px;
    }
  }

  &__counter-val {
    color: $darker-blue;
  }
}

.pasport-form {
  &__input {
    width: 100%;
    margin-bottom: 28px;
    @media (min-width:600px) {
      max-width: 200px;
      margin-bottom: 44px;
    }
    @media (min-width:900px) {
      margin-bottom: 32px;
    }

    &:last-child {
      // margin-right: 0;
    }

    &--mob-only {
      display: block;
      @media (min-width:900px) {
        display: none;
      }
    }

    &--big {
      display: none;
      max-width: 432px;
      @media (min-width:900px) {
        display: block;
      }
      @media (min-width:600px) {}
      @media (min-width:900px) {}
      @media (min-width:1200px) {
        max-width: 410px;
      }
    }

    &--half {
      @media (min-width:600px) {}
      @media (min-width:900px) {
        width: 50%;
        max-width: 316px;
      }
      @media (min-width:1200px) {
        max-width: 305px;
      }
    }
  }

  &__button {
    margin: 0 auto;
  }

  &__content-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    max-width: 300px;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width:600px) {
      max-width: 444px;
    }
    @media (min-width:900px) {
      max-width: 664px;
    }
    @media (min-width:1200px) {}

    &--no-wrap {
      @media (min-width:600px) {
        flex-wrap: nowrap;
      }
    }
  }
}
