.paginator {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  order: 1;
  margin-bottom: 16px;
  @media (min-width:900px) {
    order: 2;
    margin-bottom: 0;
  }
}

.paginator__item {
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  border: 1px solid $darker-blue;
  border-radius: 4px;

  &:last-child {
    margin-right: 0;
  }
  &:hover{
    position: relative;
    bottom: 2px;
  }
}

.paginator__link {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: 100%;
  color: $darker-blue;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  align-items: center;
  justify-content: center;

  &--arr {
    background-color: $darker-blue;
  }
}
