.select {
  position: relative;

  &:hover {
    cursor: pointer;
  }
  &--flex{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    max-width: 230px;
    width: 100%;
  }
  &--mb20{
    margin-bottom: 20px;
  }
}

.select__label {
  position: absolute;
  top: 15px;
  left: 12px;
  color: $grey;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
  pointer-events: none;

  &--with-icon {
    left: 32px;
  }

}

.select__icon {
  display: inline-block;
  position: absolute;
  top: 14px;
  left: 10px;
  width: 18px;
  height: 18px;

  img {
    width: 100%;
  }
}

.select__line {
  height: 1px;
  background-color: $grey;

  &--bd-dark-blue {
    background-color: #23243e;
  }
}

.select__triangle {
  position: absolute;
  right: 16px;
  top: 20px;
  border-top: 5px solid $grey;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.select__value {
  display: block;
  box-sizing: border-box;
  width: calc(100% - 5px);
  height: 45px;
  margin: 0 auto;
  padding: 0 12px;
  border: 1px solid $grey;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 14px;
  line-height: 45px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;

  &--active {
    border-color: $darker-blue;

    ~ .select__label {
      top: -5px;
      padding: 0 2px;
      color: $darker-blue;
      background-color: #fff;
      font-size: 10px;
      line-height: 12px;

      &--with-icon {
        left: 12px;
      }

      &--white {
        color: #fff;
        background-color: transparent;
      }
    }

    ~ .select__line {
      background-color: $darker-blue;
    }

    ~.select__triangle {
      border-top-color: $darker-blue;
    }
  }

  &--with-icon {
    padding-left: 28px;
  }
}
.select__list{
  position: absolute;
  top: 100%;
  width: 100%;
  display: none;
  border: 1px solid $darker-white;
  z-index: 5;
  background-color: #fff;
  &--open{
    display: block;
  }
}
.select__list-item{
  padding: 12px;
  text-align: left;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.select__list-item-icon{
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: middle;
}
