.table-top {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 0 10px;
  @media (min-width:1200px) {
    padding: 0;
  }
}
.table-top__wrap-input{
  max-width: 144px;
  .wrap-input__icon{
    display: none;
    @media (min-width:600px) {
      display: inline-block;
    }
  }
  .input--with-icon{
    padding-left: 12px;
    padding-right: 12px;
    @media (min-width:600px) {
      padding-left: 28px;
      padding-right: 12px;
    }
  }
  .wrap-input__label--with-icon{
    left: 12px;
    @media (min-width:600px) {
      left: 32px;
    }
  }
}
.table-top__zero-balances {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: 12px;
  font-size: 14px;
  align-items: center;
  @media (min-width:600px) {
    margin-left: 32px;
  }
  .toggler-button {
    margin-right: 8px;
  }
}
.table-top__zero-balances-text{
  display: none;
  @media (min-width:1200px) {
    display: inline-block;
  }
  &--mob{
    white-space: nowrap;
    display: inline-block;
    @media (min-width:1200px) {
      display: none;
    }
  }
}

.table-top__show-all-in {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: 12px;
  font-size: 14px;
  align-items: center;
  @media (min-width:600px) {
    margin-left: 32px;
  }
}
.table-top__show-all-in-text{
  display: none;
  @media (min-width:1200px) {
    display: inline-block;
  }
  &--mob{
    white-space: nowrap;
    display: inline-block;
    @media (min-width:1200px) {
      display: none;
    }
  }
}

.table-top__toggler-button {
  margin-right: 8px;
  &--mob{
    display: none;
    @media (min-width:1200px) {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }
  }
}

.table-top__dropdown {
  margin-left: 8px;
}
