@import "variables";
 @import "animations";
@import "layout";
/*--- COMPONENTS ---*/
//@import "components/header";
//@import "components/header-mob";
@import "components/banner";
@import "components/page-title";
@import "components/title";
@import "components/subtitle";
@import "components/btn";
@import "components/arrow";
@import "components/table";
@import "components/input";
@import "components/textarea";
@import "components/input-file";
@import "components/select";
@import "components/datepicker";
@import "components/dropdown";
@import "components/row";
@import "components/link";
@import "components/toggler";
@import "components/radio";
@import "components/dropdown";
@import "components/paginator";
@import "components/notification-popup";
@import "components/steps";
@import "components/tabs";
@import "components/counter";
@import "components/chat-btn";
@import "components/back-to";
@import "components/overlay";
@import "components/sidebar-menu";
@import "components/note";
@import "components/widget";
@import "components/currency-pair-info";
@import "components/pair-popup";
@import "components/market-search";
@import "components/dashboard-tools";
@import "components/trading-notification";
@import "components/order-edit-popup";
@import "components/filters-popup";
@import "components/scroll";
@import "components/revoke-request";
@import "components/_service-style";
@import "components/_hints";
@import "components/_refil";

//@import "components/footer";
@import "components/modal";
/*--- PAGES ---*/
@import "pages/login-registration";
@import "pages/dashboard";
@import "pages/balance";
@import "pages/refill";
@import "pages/transaction";
@import "pages/orders";
@import "pages/referral";
@import "pages/settings/settings";
@import "pages/settings/2fa/settings-2fa";
@import "pages/settings/nickname/settings-nickname";
@import "pages/settings/kyc/settings-kyc";
@import "pages/footer-pages";

//shared components
@import "components/_shared-components";

//dashboard
@import "pages/dashboard/_orders";
@import "pages/dashboard/_trade-history";
@import "pages/dashboard/_graph";
@import "pages/dashboard/_trading";
@import "pages/dashboard/_markets";

// ieo
@import "pages/ieo/ieo-first-screen.scss";
@import "pages/ieo/_ieo-comunity.scss";
@import "pages/ieo/_ieo-requirements.scss";
@import "pages/ieo/_ieo_how_it_work.scss";
@import "pages/ieo/_ieo-info.scss";
@import "pages/ieo/_economic.scss";
@import "pages/ieo/_buy-popup.scss";
@import "pages/ieo/_popup-notification.scss";
@import "pages/ieo/_ieo-header.scss";
@import "pages/ieo/_ieo-notification.scss";
@import "pages/ieo/_ieo-policy.scss";
@import "pages/partner-news/_partner-news.scss";
@import "pages/ieo/_common-ieo.scss";
@import "pages/ieo/_kyc-banner.scss";
@import "pages/ieo/_ieo-test-popup.scss";


//fiat
@import "pages/fiat/_fiat-fs.scss";


//advisor
@import "pages/_advisor.scss";

//popups
@import "components/_side-popups.scss";


//funds
@import "pages/_funds.scss";

//settings
@import "pages/settings/_api-key.scss";
@import "pages/settings/_verification.scss";

//orders
@import "pages/_orders-page.scss";


//freecoins
@import "pages/_freecoins.scss";
//center popups
@import "pages/_center-popups.scss";

 //home page
 @import "pages/_home-page.scss";


 //referal page
 @import "pages/_referal.scss";