.table {
  // margin-top: 16px;
  th {
    padding: 0 8px 12px;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      padding-right: 16px;
    }
  }
  td {
    padding: 8px;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      padding-right: 16px;
    }
  }
}
.table__row{
  &:nth-of-type(odd) {
    background-color: rgba(255,255,255,.05);
  }
  &:hover {
    background-color:rgba(255, 255, 255, 0.15);
  }
}
.paginator {
  position: absolute;
  right: 16px;
  bottom: 12px;
}

a.active {
  background-color: #237BEF !important;
  cursor: pointer;
}

::ng-deep .ngx-pagination {
  margin-bottom: 0 !important;
  display: flex;
}

::ng-deep .ngx-pagination li {
  width: 28px;
  height: 28px;
  margin-right: 8px !important;
  padding: 0;
  &.current {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #237BEF !important;
    padding: 0 !important;
    border-radius: 4px !important;
  }
  &.pagination-previous.disabled {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    &:before {
      display: none;
    }
    span {
      display: none;
    }
  }
  &.pagination-next.disabled {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    &:after {
      display: none;
    }
    span {
      display: none;
    }
  }
  &:hover {
    position: relative;
    bottom: 2px;
  }
}

::ng-deep .ngx-pagination a {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  font-size: 14px;
  line-height: 16px;
  //border: 1px solid #237BEF;
  border-radius: 4px !important;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: transparent;
  &:hover {
    background-color: #237BEF !important;
  }
}

::ng-deep li.pagination-next a {
  &:after {
    content: url('../../../../../assets/img/paginator-next.svg') !important;
    margin-left: 0 !important;
    display: block;
    width: 13px;
    height: 13px;
  }
}

::ng-deep li.pagination-previous a {
  &:before {
    content: url('../../../../../assets/img/paginator-prev.svg') !important;
    margin-right: 0 !important;
    display: block;
    width: 13px;
    height: 13px;
  }
}

input:not([value=""]){
  ~ .wrap-input__label {
    top: -5px;
    left: 12px;
    padding: 0 2px;
    background-color: #264479;
    font-size: 10px;
    line-height: 12px;
  }
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (min-width: 1200px) {
  .revoke-request {
    right: 15px;

  }
}
