<div class="freecoins-succsess">
  <div class="refill__fiat-successful-icon">
    <svg
      width="60"
      height="60"
      viewBox="0 0 60 60"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="30"
        cy="30"
        r="29"
        fill="transparent"
        stroke="#237BEF"
        stroke-width="2"
      />
      <path
        d="M44.5753 19.4247C44.0091 18.8584 43.091 18.8584 42.5247 19.4247L25.1528 36.7968L18.4753 30.1193C17.9091 29.553 16.9911 29.5531 16.4247 30.1193C15.8584 30.6855 15.8584 31.6036 16.4247 32.1699L24.1275 39.8725C24.6936 40.4388 25.6123 40.4384 26.1781 39.8725L44.5753 21.4753C45.1416 20.9091 45.1415 19.991 44.5753 19.4247Z"
        fill="#237BEF"
      />
    </svg>
  </div>
  <div class="title refill__fiat-successful-title">{{'Congratulations!' | translate}}</div>
  <div class="subtitle refill__fiat-successful-subtitle">
    <b>{{'Your give away request was created' | translate}}</b>
  </div>
  <div class="subtitle refill__fiat-successful-subtitle">
    {{'After making a give away, you can see this operation in ' | translate}}
    <a
      class="standart-link"
      routerLink="/funds/transaction-history"
    >{{'transactions history' | translate}}</a>
    {{'page' | translate}}.
  </div>

  <button
    class="btn btn--center"
    (click)="onClose()"
  >
    {{'Ok' | translate}}
  </button>
</div>
