<div class="currency-pair-info" *ngIf="pair">
  <div class="currency-pair-info__inner">
    <div class="currency-pair-info__pair">
      <div class="dropdown currency-pair-info__dropdown">
        <div class="dropdown__btn" (click)="openSearchBar(0)">{{firstCurrency}}</div>
        <!--<div class="dropdown__btn" (click)="openSearchBar(0)">{{firstCurrency}}</div>-->
        <ul class="dropdown__list">
          <li class="dropdown__item">ETH</li>
          <li class="dropdown__item">LTC</li>
          <li class="dropdown__item">DASH</li>
        </ul>
      </div>
      <div class="currency-pair-info__change-pair"></div>
      <div class="dropdown currency-pair-info__dropdown">
        <div class="dropdown__btn" (click)="openSearchBar(1)">{{ secondCurrency}}</div>
        <!--<div class="dropdown__btn" (click)="openSearchBar(1)">{{ secondCurrency}}</div>-->
        <ul class="dropdown__list">
          <li class="dropdown__item">ETH</li>
          <li class="dropdown__item">LTC</li>
          <li class="dropdown__item">DASH</li>
        </ul>
      </div>
    </div>
    <div class="currency-pair-info__info currency-pair-info__info--up">
      <div class="currency-pair-info__change">
        <span>{{currentCurrencyInfo.percentChange >= 0 ? '+' : '-'}}{{currentCurrencyInfo.percentChange}}%</span>
        <img class="currency-pair-info__arr-up" src="../assets/img/arr-up-green.svg" alt="">
        <img class="currency-pair-info__arr-down" src="../assets/img/arr-down-red.svg" alt="">
        <span style="margin-left: 10px;">({{(currentCurrencyInfo.currencyRate - currentCurrencyInfo.lastCurrencyRate) | number:'1.1-8' | replaceNumber}} {{ secondCurrency }})</span>
      </div>
      <div class="currency-pair-info__price">{{currentCurrencyInfo.currencyRate | number:'1.0' | replaceNumber}} {{ secondCurrency }}</div>
    </div>
    <div class="currency-pair-info__item">
      <div class="currency-pair-info__item-title">24h hight</div>
      <span class="currency-pair-info__item-value">{{currentCurrencyInfo.rateHigh | number:'1.0' | replaceNumber}}</span>
    </div>
    <div class="currency-pair-info__item">
      <div class="currency-pair-info__item-title">24h low</div>
      <span class="currency-pair-info__item-value">{{currentCurrencyInfo.rateLow | number:'1.0' | replaceNumber}}</span>
    </div>
    <div class="currency-pair-info__item">
      <div class="currency-pair-info__item-title">24h volume</div>
      <span class="currency-pair-info__item-value">{{currentCurrencyInfo.volume24h | number:'1.0-0' | replaceNumber}} million  {{ firstCurrency }}</span>
    </div>
    <div class="currency-pair-info__item" *ngIf="userBalanceInfo">
      <div class="currency-pair-info__item-title">You have</div>
      <div class="currency-pair-info__you-have">
        <span class="currency-pair-info__item-value">{{ userBalanceInfo.balanceByCurrency1 | number:'1.0-0' | replaceNumber }} {{ firstCurrency }}</span>
        <span class="currency-pair-info__vertical-line"></span>
        <span class="currency-pair-info__item-value">{{ userBalanceInfo.balanceByCurrency2 | number:'1.0-0' | replaceNumber }} {{ secondCurrency }}</span>
      </div>
    </div>
  </div>

  <app-currency-search
    *ngIf="showCurrencySearch"
    [currencies]="currencies"
    (closeCurrencySearch)="toggleCurrencySearch()"
    (selectCurrency)="onSelectCurrency($event)">
  </app-currency-search>

  <div class="overlay" *ngIf="showCurrencySearch" (click)="toggleCurrencySearch()"></div>
</div>
