perfect-scrollbar{
  display: block;
  width: 100%;
  height: calc(100% - 40px);
  margin: auto;
}

:host {
  width: 100%;
}
.widget__header{
  background-color: transparent;
}
.widget__content{
  margin-top: 25px;
  height: calc(100% - 41px);
}
@media (min-width:1200px) {
  //perfect-scrollbar{
  //  height: 380px;
  //}
}

@media(max-width: 1199px) {
  .widget__content{
    margin-top: 0;
  }
  perfect-scrollbar{
  
  height: calc(100% - 5px);
}
.widget__chat-btn{
  bottom: 64px;
}
}