<div class="container">
  <div class="static-pages">
    <div class="page-title">
      <h1 class="page-title__text">
        {{'Privacy Policy' | translate}}
      </h1>
    </div>
    <p class="static-pages__paragraph" translate>'WE RESPECT YOUR PRIVACY AND WE ARE COMMITTED TO PROTECTING YOUR PERSONAL INFORMATION'. IN GENERAL, YOU CAN VISIT EXRATES.ME WITHOUT IDENTIFYING YOURSELF OR PROVIDING PERSONAL INFORMATION. THERE ARE TIMES WHEN WE MAY NEED PERSONAL INFORMATION FROM YOU AND THIS PRIVACY POLICY DESCRIBES THE INFORMATION WE COLLECT FROM YOU AND HOW WE MAY USE IT.</p>
    <h6 class="subtitle">{{'Carefully read and understand these terms before ordering any product through this website' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>This is a legal agreement (the "Agreement") between You, the individual, company or organization ("you", "your", "The Customer" or "Customer") and Exrates.me ("we", "our", "The Company" or "Company"). By ordering, accessing, using or purchasing any product ("Product") through this website or related websites (collectively the "Website"), you are agreeing to be bound by, and are becoming a party to this Agreement. By using this Site, you signify your acceptance of this policy. If you do not agree with this policy, please do not use our Site. Your continued use of this Site, following the posting of changes to this policy, will be deemed as your acceptance of these changes.
      </li>
    </ul>
    <h6 class="subtitle">{{'Security' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>This website protects online information. The transmission of information, including any payment information, is encrypted and protected using Secure Sockets Layer (SSL)
      </li>
    </ul>
    <h6 class="subtitle">{{'Information Collected' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>Personal Information means any information that may be used to identify an individual. This includes, but is not limited to: first and last name, email address, mailing and residential address, telephone number, title, date of birth, gender, occupation, employment company, credit card information and other information needed to provide the service you have requested.
      </li>

      <li translate>When you browse our website and subsidiary sites, you do so anonymously, unless you have previously indicated that you wish Exrates.me to remember your login and password. We do log your IP address (the Internet Protocol address of your computer) to give us an idea of which part of our website you visit and how long you spend there. However, we do not link your IP address to any personal information unless you have registered and logged in to our website.
      </li>

      <li translate>When you visit certain pages on this website, you may need to be registered and to log in with a password. Unless you request your personal information to be deleted, it may be retained by Exrates.me to verify compliance with the agreement, to track software and documents downloaded by you, or track page visits and usage of other applications available on our site.
      </li>

      <li translate>No personal information will be shared with any third parties without the customer's permission.</li>
    </ul>
    <h6 class="subtitle">{{'Use of Your Information' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>When we collect personal information from you, such information will only be used for business purposes, such as: to respond to requests for products, documentation and services, to process an order, to conduct a transaction, to correspond, to enable a subscription or event registration, to handle job applications or to send direct marketing information and perform market research. We will also use your information to personalize the content you view and to better understand how you use the website in order to improve the services this website provides.
      </li>

      <li translate>In general, Exrates.me assumes that you have given permission to collect and use your personal information in accordance with your acceptance of the Terms of Use, of which this Privacy Statement is a part. You have the right to unsubscribe to Exrates.me.
      </li>
    </ul>
    <h6 class="subtitle">{{'Not offer principle' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>The information, products, data, services, tools and documents contained or described on this site (the “Content”) are for information purposes only and constitute neither an advertisement or recommendation nor an offer or solicitation to buy or sell virtual currencies, to affect any transaction or to enter into any legal relations. Prior to making investment decisions users should conduct a thorough investigation and obtain all necessary professional advice for all issues, including your eligibility to make such investment in terms of the applicable law. Nothing on this site constitutes investment, legal, accounting or tax advice, or a representation that any investment or strategy is suitable or appropriate for individual circumstances, or otherwise constitutes a personal recommendation for any specific investor.
      </li>
    </ul>
    <h6 class="subtitle">{{'Cookies' | translate}}</h6>
    <p class="static-pages__paragraph" translate>1) This website uses cookies. A cookie is a small data file that is placed on your hard drive when you visit certain web pages. It is used to identify yourself to a website when you revisit it, to load your preferences and to track the pages you have visited. The only personal information held in such a cookie is information you have provided to Mobileapps.com. You have the choice of whether or not to accept cookies by means of your browser settings, although you may not be able to use certain features and functionalities of the Exrates.me website if you do disable them.</p>

    <p class="static-pages__paragraph" translate>2) As you navigate through a website, certain information can be passively collected (that is, gathered without you actively providing the information) using various technologies and means, such as Internet Protocol addresses, cookies, Internet tags, and navigational data collection.</p>

    <p class="static-pages__paragraph" translate>3) This Website may use Internet Protocol (IP) addresses. An IP Address is a number assigned to your computer by your Internet service provider so you can access the Internet and is generally considered to be non-personally identifiable information, because in most cases an IP address is dynamic (changing each time you connect to the Internet), rather than static (unique to a particular user's computer). We use your IP address to diagnose problems with our server, report aggregate information, determine the fastest route for your computer to use in connecting to our Website, and administer and improve services to our consumers.</p>

    <p class="static-pages__paragraph" translate>4) "Session cookies" are temporary bits of information that are erased once you exit your web browser window or otherwise turn your computer off. Session cookies are used to improve navigation on websites and to collect aggregate statistical information. This Website uses session cookies.</p>

    <p class="static-pages__paragraph" translate>5) "Persistent cookies" are more permanent bits of information that are placed on the hard drive of your computer and stay there unless you delete the cookie. Persistent cookies store information on your computer for a number of purposes, such as retrieving certain information you have previously provided (e.g., username), helping to determine what areas of the website visitors find most valuable, and customizing the website based on your preferences. This Website uses persistent cookies.</p>

    <p class="static-pages__paragraph" translate>6) "Internet tags" (also known as single-pixel GIFs, clear GIFs, invisible GIFs, and 1-by-1 GIFs) are smaller than cookies and tell the website server information such as the IP address and browser type related to the visitor's computer. This Website uses Internet tags.</p>

    <p class="static-pages__paragraph" translate>7) "Navigational data," "log files," "server logs," "clickstream data,” and "Internet Tags" are used for system management, to improve the content of the site, market research purposes, and to communicate information to visitors. This Website uses navigational data.</p>

    <h6 class="subtitle">{{'Business Relationships' | translate}}</h6>
    <p class="static-pages__paragraph" translate>1) During your online experience, you may encounter links to the sites of our business partners who might include standards bodies, customers, channel customers, or suppliers. Though a connection might be made to Exrates.me.</p>

    <p class="static-pages__paragraph" translate>2) Exrates.me are not responsible for business partner sites and the privacy practices of other businesses.</p>

    <p class="static-pages__paragraph" translate>3) Exrates.me strives to comply with all applicable laws around the world that are designed to protect your privacy. Although legal requirements may vary from country to country.</p>

    <p class="static-pages__paragraph" translate>4) Exrates.me intends to adhere to the principles set forth in this Privacy Statement even if, in conjunction with the above, we transfer your information from your country of residence to countries that may not require the same level of protection of your information. Our goal is to protect your information no matter where that information is collected, transported, or retained.</p>
    <h6 class="subtitle">{{'Changes to Privacy Policy' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>The Company retains the right to change the terms and conditions of the privacy policy pertaining to any and all products and prices that are contained here without prior implication or notice. Upon prior written notice to you (with e-mail sufficing), The Company reserves the right to lower their respective pricing or billing practices whenever necessary, in their sole discretion. If you do not agree with these changes, you may cancel your Account.
      </li>
    </ul>
    <h6 class="subtitle">{{'Confidentiality' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>User and Helper both agree to be discreet and keep any problems or any answers provided as Confidential Information. Exrates.me agrees to keep any and all information secure and confidential and not disclose or permit the disclosure of the Confidential Information to any person without the written consent of the Helper or the User (which consent may be withheld without assigning any explanation);
      </li>
    </ul>
    <h6 class="subtitle">{{'Sharing Your Personal Information' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate our business and our Site, or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with the third parties for those limited purposes provided that you have given us your permission. Data can also be shared with the team developing and maintaining Exrates.me.

      </li>
    </ul>
    <h6 class="subtitle">{{'By Law' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>We may also disclose personal information if required to do so by law, court order, or other government or law enforcement authorities, or in belief that disclosure is otherwise necessary or advisable including, without limitation, to protect the rights or properties of Exrates.me or its affiliated companies or when we have a reason to believe that disclosing the information is necessary to identify, contact or bring legal action against someone who may be causing interference with our rights and/or properties, whether intentionally or otherwise, or when anyone else could be harmed by such activities. Finally, we may share your information in connection with a corporate transaction, such as a divestiture, merger, consolidation, or asset sale, or in the unlikely event of bankruptcy.
      </li>
    </ul>
    <h6 class="subtitle">{{'Third Party Websites' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content of the links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, the sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, are subject to that web sites own terms and policies.
      </li>
    </ul>
    <h6 class="subtitle">{{'Contacting Us' | translate}}</h6>
    <ul class="static-pages__list">
      <li translate>We are committed to conducting our business in accordance with the principles in order to ensure that the confidentiality of personal information is protected and maintained. If you have any questions about our privacy practices or policy, please contact us at Customer Service Support or email us.
      </li>
    </ul>
  </div>
</div>
