.cursorDisable {
  cursor: default;
}

.amcharts-stock_chart_div {
  height: calc(100% - 40px);
  overflow: hidden;
  @media (min-width: 1200px) { 
    height: 100%;
  }
 }

 :host {
   width: 100%;
 }

