<ng-container *ngIf="VIEW === viewsList.MAIN">
  <div class="send-fiat-s2 side-popups">
    <h2 class="title send__title">{{'Fiat Withdrawal' | translate}} <span>{{currName}}</span></h2>
    <div class="formWraper">
      <form [formGroup]="form">
        <div class="send__inputs-wrap">
          <div class="currency-select-wrapper">
            <app-currency-select-fiat
              [activeCurrency]="activeFiat"
              [currencies]="fiatNames"
              (selectCurrency)="selectCurrency($event)"
            ></app-currency-select-fiat>
          </div>

          <div
            class="wrap-input send__wrap-input"
            *ngIf="fiatInfoByName && !fiatInfoByName.merchantCurrencyData.length"
          >
            <div class="withdrawal__closed-error">
              {{'Sorry, withdrawal is closed for current moment!' | translate}}
            </div>
          </div>

          <div
            class="wrap-input send__wrap-input"
            [ngClass]="{'wrap-input--error': formAmount.invalid && (formAmount.touched || isSubmited)}"
            *ngIf="fiatInfoByName && fiatInfoByName.merchantCurrencyData.length"
          >
            <div class="daily-avaliable">{{'24h limit:' | translate}}
              <a
                (click)="dailyLimitClick()"
                class="link"
                [ngStyle]="{'pointer-events': loadingBalance ? 'none' : 'auto'}"
              >
                {{dailyLimit | currencyFormat}} {{currName}}
              </a>
            </div>
            <div class="avaliable">{{'Available:' | translate}}
              <a
                (click)="balanceClick()"
                class="link"
              >
                {{activeBalance | currencyFormat}} {{currName}}
              </a>
            </div>
            <app-price-input
              [placeholder]="(currName) + ' Amount'"
              [currencyName]="activeFiat.name"
              (customInput)="amountInput($event)"
              (customBlur)="amountBlur($event)"
              name="amount"
              formControlName="amount"
            >
              <div *ngIf="formAmount.errors && (formAmount.touched || isSubmited)">
                <div class="input-hint-wrapper">
                  <span
                    class="wrap-input__message wrap-input__message--show"
                    *ngIf="formAmount.errors['isMinThenMinWithdraw']"
                  >
                    {{
                      'Minimum sum for withdrawal' | translate
                    }} {{
                      minWithdrawSum | currencyFormat: currName
                    }} {{
                      currName
                    }}
                  </span>
                  <span
                    class="wrap-input__message wrap-input__message--show"
                    *ngIf="formAmount.errors['isMaxThenActiveBalance']"
                  >
                    {{
                    'Your available balance:' | translate
                    }} {{
                      activeBalance | currencyFormat: currName
                    }} {{
                      currName
                    }}
                  </span>
                  <span
                    class="wrap-input__message wrap-input__message--show"
                    *ngIf="formAmount.errors['isMaxThenDailyLimit'] "
                  >
                    {{
                      'Your 24h limit to withdrawal:' | translate
                    }} {{
                      dailyLimit | currencyFormat: currName
                    }} {{
                      currName
                    }}
                  </span>
                </div>
              </div>
            </app-price-input>

            <span class="bottom-tooltip wrap-input__message--show">
              {{
                'Minimum sum for withdrawal' | translate
              }} {{
                minWithdrawSum | currencyFormat: currName
              }} {{
                currName
              }}
            </span>

            <!--Input error section starts-->

            <!--Input error section ends-->
          </div>
        </div>


        <div
          class="send__inputs-wrap"
          *ngIf="fiatInfoByName && fiatInfoByName.merchantCurrencyData.length"
        >
          <div class="select send__select">
            <div
              class="select__value select__value--active"
              (click)="togglePaymentSystemDropdown()"
            >
              <div class="icon-wr">
                <img
                  [src]="selectMerchantName | getIconUrl"
                  onerror="this.src = 'assets/img/currency-icons/no_icon.svg'"
                  class="select__list-item-icon"
                >
              </div>
              {{selectMerchantName}}
            </div>
            <div class="select__label">{{'Payment system' | translate}}</div>
            <div class="select__line"></div>
            <div class="select__triangle"></div>
            <!--add select__list-searching--open for looking open state-->
            <div
              class="select__list-searching"
              [ngClass]="{'select__list-searching--open': openPaymentSystemDropdown}"
              *ngIf="openPaymentSystemDropdown"
            >
              <div class="select__search">
                <input
                  class="select__search-input"
                  type="text"
                  placeholder="Search"
                  (input)="searchMerchant($event)"
                  required
                >
                <div class="select__search-icon">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15 8C15 11.8662 11.8652 15 8 15C4.13477 15 1 11.8662 1
                      8C1 4.13379 4.13477 1 8 1C11.8652 1 15 4.13379 15 8ZM13.293
                      13.999C11.8828 15.2441 10.0293 16 8 16C3.58203 16 0 12.418 0
                      8C0 3.58203 3.58203 0 8 0C12.418 0 16 3.58203 16 8C16
                      10.0293 15.2461 11.8818 14 13.292L17.8535 17.1465C17.9141
                      17.207 17.957 17.2803 17.9805 17.3574C18.0293 17.5273
                      17.9883 17.7188 17.8535 17.8535C17.6582 18.0488 17.3418
                      18.0488 17.1465 17.8535L13.293 13.999Z"
                    />
                  </svg>
                </div>
              </div>
              <ul class="select__list select__list--open">

                <ng-template
                  ngFor
                  let-merchant
                  [ngForOf]="merchants"
                >
                  <li
                    class="select__list-item"
                    *ngFor="let nested of merchant.listMerchantImage | merchantImageFilter: searchTemplate"
                    (click)="selectMerchant(merchant, nested)"
                  >
                    <div class="icon-wr">
                      <img
                        [src]="nested.image_name | getIconUrl"
                        onerror="this.src = 'assets/img/currency-icons/no_icon.svg'"
                        class="select__list-item-icon"
                      >
                    </div>
                    {{nested.image_name}}
                  </li>
                </ng-template>

              </ul>
            </div>
          </div>


          <div
            class="wrap-input send__wrap-input"
            [ngClass]="{'wrap-input--error': (!formAddress.valid && (formAddress.touched || isSubmited)) && formAmount.valid}"
            *ngIf="fiatInfoByName && fiatInfoByName.merchantCurrencyData.length && selectedMerchant.name !== 'FUG'"
          >
            <input
              class="wrap-input__input"
              name="address"
              formControlName="address"
              required
            >
            <label class="wrap-input__label">
              {{'Payment system' | translate}}
              <span>{{currName}}</span>
              {{'address' | translate}}
            </label>
            <div class="wrap-input__line"></div>
            <div
              class="input-hint-wrapper"
              *ngIf="(!formAddress.valid && (formAddress.touched || isSubmited)) && formAmount.valid"
            >
              <span class="wrap-input__message wrap-input__message--show">
                {{'Set merchant address for withdrawal' | translate}}
              </span>
            </div>
          </div>


          <!-- if qubera -->
          <div
            class="notice-for-withdraw"
            *ngIf="selectedMerchant.name == 'FUG'"
          >
            <p>{{'Funds will be transferred to your personal account' | translate}}</p>
          </div>
          <!-- end if qubera -->


        </div>
      </form>

      <ng-container *ngIf="fiatInfoByName && fiatInfoByName.merchantCurrencyData.length">
        <div class="send__line"></div>
        <ng-container *ngIf="fiatInfoByName.leftRequestSum > 0">
          <div class="send__info">
            <div class="send__info-row">
              <div class="send__info-title">{{'You want to withdraw:' | translate}}</div>
              <div class="send__info-value">
                {{calculateData.amount | currencyFormat: currName}} {{currName}}
              </div>
            </div>
            <div class="send__info-row">
              <div class="send__info-title">{{'Exchange comission:' | translate}}</div>
              <div class="send__info-value">{{calculateData.companyCommissionRate}} = {{calculateData.companyCommissionAmount}} {{currName}}
              </div>
            </div>
            <div class="send__info-row">
              <div class="send__info-title">{{'Merchant comission:' | translate}}</div>
              <div class="send__info-value">{{calculateData.merchantCommissionRate}} = {{calculateData.merchantCommissionAmount}} {{currName}}
              </div>
            </div>
            <div class="send__info-row">
              <div class="send__info-title">{{'Total comission:' | translate}}</div>
              <div class="send__info-value">{{calculateData.commission_rates_sum}}% = {{calculateData.totalCommissionAmount}} {{currName}}
              </div>
            </div>
            <div class="send__info-row">
              <div class="send__info-title">{{'Total with comission:' | translate}}</div>
              <div class="send__info-value">{{calculateData.resultAmount}} {{currName}}</div>
            </div>
          </div>
          <button
            class="btn btn--center "
            [disabled]="isDisabledForm"
            (click)="onSubmitWithdrawal()"
          >
            {{'Withdraw' | translate}}
            <span class="value">{{calculateData.resultAmount}}</span>
            <span> {{currName}}</span>
          </button>
        </ng-container>

        <ng-container *ngIf="fiatInfoByName.leftRequestSum == 0">
          <div class="withdraw-limit-error">
            {{'Your daily output limit for this currency has been exceeded. Please try again tomorrow.' | translate}}
          </div>
        </ng-container>
        <div class="send__line"></div>
      </ng-container>


      <div class="note modal__note">
        <div class="note__title">{{'Please note:' | translate}}</div>
        <ul class="note__list">
          <li class="note__list-item">
            {{'Once you have submitted your withdrawal request, we will send a confirmation email' | translate}}.
            {{'Please then click on the confirmation link in your email' | translate}}.
          </li>
          <li class="note__list-item">
            {{'After making a withdrawal, you can track its progress in history on funds page' | translate}}.
          </li>
          <li class="note__list-item">
            {{'Do not withdraw directly to a crowdfund or ICO' | translate}}.
            {{'We will not credit your account with tokens from that sale' | translate}}.
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="VIEW === viewsList.LOADING">
  <div class="loading-container">
    <app-loader></app-loader>
  </div>
</ng-container>


<ng-container *ngIf="VIEW === viewsList.CAPTCHA">
  <div
    *ngIf="!utilsService.isDevCaptcha(userInfo.username); else devCaptchaTemplate"
    class="captcha-wrapper send-fiat-s2 side-popups"
  >
    <h2 class="title send__title">{{'Fiat Withdrawal' | translate}} <span>{{currName}}</span></h2>
    <h6 class="popup__title">{{'Enter the captcha' | translate}}</h6>
    <re-captcha
      (resolved)="afterResolvedCaptcha($event)"
      [siteKey]="recaptchaKey"
    ></re-captcha>
    <div class="popup__links-wrap popup__links-wrap--center">
      <a
        class="popup__link"
        (click)="goToWithdrawal()"
      >{{'Back to withdrawal form' | translate}}</a>
    </div>
  </div>
</ng-container>

<ng-template #devCaptchaTemplate>
  <div class="captcha-wrapper send-fiat-s2 side-popups">
    <h2 class="title send__title">{{'Fiat Withdrawal' | translate}} <span>{{currName}}</span></h2>
    <h6 class="popup__title popup_title--dm">{{'Enter the captcha' | translate}}</h6>
    <h4 class="popup__subtitle popup_title--dm">Captcha emulation for developers and QA</h4>
    <button
      class="btn btn--center"
      (click)="afterResolvedCaptcha($event)"
    >Resolve</button>
  </div>
</ng-template>

<ng-container *ngIf="VIEW === viewsList.DENIED">
  <div class="side-popups send-cripto-s2">
    <h2 class="title send__title">{{'Fiat Withdrawal' | translate}} <span>{{currName}}</span></h2>
    <div>{{'Unfortunately, the operation is not available for you at the moment' | translate}}.</div>
    <div>{{'Please contact with ' | translate}}<a href="https://about.exrates.me/ru/support-center">{{'support' | translate}}</a></div>
  </div>
</ng-container>
