.send{
  &__title{
    text-align: center;
    margin-bottom: 28px;
  }
  &__inputs-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }
  &__select{
    width: 100%;
    max-width: 230px;
    margin-bottom: 24px;
    &--custom{
      margin-bottom: 38px;
    }
  }
  &__wrap-input{
    width: 100%;
    max-width: 230px;
    .avaliable{
      position: absolute;
      right: 0;
      top: -16px;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__line{
    height: 1px;
    background-color: #ECECEC;
  }
  &__info{
    margin-top: 28px;
  }
  &__info-row{
    display: flex;
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 24px;
    }
  }
  &__info-title{
    width: 50%;
    text-align: left;
  }
  &__info-value{
    width: 50%;
    text-align: right;
    font-weight: bold;
  }
  &__merchant-comission{
    display: block;
    font-size: 10px;
    line-height: 12px;
  }
}
.btn{
  margin-bottom: 24px;
  .value{
    display: none;
  }
}
.modal__note{
  width: calc(100% + 24px);
  left: -12px;
  margin-top: 24px;
}
@media (min-width:1200px){
  .send{
    &__title{
      margin-bottom: 32px;
    }
    &__inputs-wrap{
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__select{
      width: 100%;
      max-width: calc(50% - 16px);
      margin-bottom: 0;
    }
    &__wrap-input{
      width: 100%;
      max-width: calc(50% - 16px);
    }
    &__info-title{
      width: calc(50% - 48px);
      text-align: right;
      margin-right: 32px;
    }
    &__info-value{
      text-align: left;
    }
    &__merchant-comission{
      display: inline-block;
      font-size: inherit;
      line-height: inherit;
    }
  }
  .btn{
    margin-bottom: 28px;
    .value{
      display: inline-block;
    }
  }
  .modal__note{
    width: calc(100% + 64px);
    left: -32px;
    margin-top: 32px;
  }
}
// --------------------
.select__list {
  display: block;
  color: #ccc;
}

.captcha-wrapper{
  display: flex;
  flex-direction: column;
  re-captcha{
    margin: 0 auto;
  }
}


::ng-deep div.wrap-input.send__wrap-input {
  .wrap-input__message{
    color: #EB5757 !important;
  }
  app-price-input {
    label {
      background: #191A39 !important;
    }
  }
  &.wrap-input--error {
    app-price-input {
      label {
        color: #EB5757 !important;
      }
      input:focus {
        &+label{
          color: #94C2FF !important;
        }
      }
    }
  }
}

.btn-active {
  background-color: #237BEF;
  color: #fff;
}
