.send{
  &__title{
    text-align: center;
    margin-bottom: 28px;
  }
  &__inputs-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }
  &__select{
    width: 100%;
    max-width: 230px;
    margin-bottom: 24px;
    &--custom{
      margin-bottom: 38px;
    }
  }
  &__wrap-input{
    width: 100%;
    max-width: 230px;

  }
  &__line{
    height: 1px;
    background-color: #24253F;
    @media(max-width: 1199px){
      background-color: #94C2FF;
    }
  }
  &__info{
    margin-top: 28px;
  }
  &__info-row{
    display: flex;
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 24px;
    }
  }
  &__info-title{
    width: 50%;
    text-align: left;
    color:#94C2FF;
  }
  &__info-value{
    width: 50%;
    text-align: right;
    font-weight: bold;
    color: #DEDEFB;
    font-weight: 300;
  }
  &__merchant-comission{
    display: block;
    font-size: 10px;
    line-height: 12px;
  }
}
.btn{
  margin-bottom: 24px;
  .value{
    display: none;
  }
}
.modal__note{
  width: calc(100% + 24px);
  left: -12px;
  margin-top: 24px;
}
@media (min-width:1200px){
  .send{
    &__title{
      margin-bottom: 32px;
    }
    &__inputs-wrap{
      flex-direction: row;
      // align-items: flex-start;
      justify-content: space-between;
    }
    &__select{
      width: 100%;
      max-width: calc(50% - 16px);
      margin-bottom: 0;
    }
    &__wrap-input{
      width: 100%;
      max-width: calc(50% - 16px);
    }
    &__info-row{
      justify-content: space-between;
    }
    &__info-title{
      width: auto;
      margin-left: 19.5%;
      //width: calc(50% - 48px);
      //text-align: right;
      margin-right: 32px;
    }
    &__info-value{
      text-align: left;
      color: #000;
      font-weight: 400;
    }
    &__merchant-comission{
      display: inline-block;
      font-size: inherit;
      line-height: inherit;
    }
  }
  .btn{
    margin-bottom: 28px;
    .value{
      display: inline-block;
    }
  }
  .modal__note{
    width: calc(100% + 64px);
    left: -32px;
    margin-top: 32px;
  }
}
// --------------------
.select__list {
  display: block;
  color: #ccc;
}

.captcha-wrapper{
  display: flex;
  flex-direction: column;
  re-captcha{
    margin: 0 auto;
  }
}
.select__value--active{
  color: #DEDEFB;
}

::ng-deep div.wrap-input.send__wrap-input {
  .wrap-input__message{
    color: #EB5757 !important;
  }
  app-price-input {
    label {
      background: #191A39 !important;
    }
  }
  &.wrap-input--error {
    app-price-input {
      label {
        color: #EB5757 !important;
      }
      input:focus {
        &+label{
          color: #94C2FF !important;
        }
      }
    }
  }
}

.btn-active {
  background-color: #237BEF;
  color: #fff;
}

// TEMP STYLE

.btn--empty-blue{
  &:hover, &:focus{
    background-color: transparent !important;
  }
}


.withdrawal__closed-error {
  color: #EB5757;
}
.btn {
  &.btn--center {
    color: #ffffff !important;
    &.btn--empty-blue {
      color: #237BEF !important;
      &:hover {
        background-color: transparent !important;
        border: 1px solid #237BEF !important;
      }
    }
  }
}

::ng-deep .send__inputs-wrap {
  div.wrap-input {
    &.send__wrap-input {
      app-price-input {
        label {
          @media(max-width: 1199px){

            color: #DEDEFB;
          }
          @media(min-width: 1200px){

            background-color: #fff !important;
          }
        }
      }
    }
  }
}
// TEMP STYLES
.loading-container {
  margin-top: 40%;
}

.avaliable{
  position: absolute;
  right: 0;
  top: -16px;
  font-size: 12px;
  line-height: 14px;
  @media(max-width:1199px){
    color: #DEDEFB;
  }
}
// TEMP STYLES
.withdraw-limit-error{
  color: red;
  height: 245px;
  line-height: 245px;
  text-align: center;

}


.notice-for-withdraw{
  width: 100%;
  max-width: calc(50% - 16px);
  p{
    color: #191A39;
    font-weight: 500;
  }
}