.subtitle-id{
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
  color: #000000;
  font-weight: 500;
}
.title-id{
  font-weight: 500;
}
.country-form{
  max-width: 480px;
  margin: 0 auto;
  .select__value ~ .select__label{
    top: -5px;
    padding: 0 2px;
    background-color: #fff;
    font-size: 10px;
    line-height: 12px;
  }
  .input-wr{
    position: relative;
    margin-bottom: 20px;
  }
  .select__searching-item{
    margin: 0;
    padding: 10px;
  }
  .select__label{
    background-color: #fff;
  }
  .ng-touched{
    &+label{

    }
  }
  .button-wr{
    max-width: 230px;
    margin: 0 auto;
  }
}

perfect-scrollbar{
  height: 150px;
}

.select__value--active{
  padding: 0;
  input.no-line {
    border-bottom: none;
    padding: 0 0 0 10px;
    color: #000 !important;
    &::placeholder {
      color: #A0A0A0;
    }
  }
}


