<app-transfer-instant
  *ngIf="choosedName === BY_EMAIL"
  [balanceData]="data"
  [userEmail]="(userInfo$ | async).username"
>
</app-transfer-instant>

<app-transfer-protected-email-code
  *ngIf="choosedName === BY_CODE"
  [balanceData]="data"
  [userEmail]="(userInfo$ | async).username"
>
</app-transfer-protected-email-code>

<app-transfer-protected-code
  *ngIf="choosedName === BY_PRIVATE_CODE"
  [balanceData]="data"
>
</app-transfer-protected-code>

<app-send-tfa
  *ngIf="choosedName === WITH_CODE"
  [data]="data"
>
</app-send-tfa>
