.pair-popup{
  ::ng-deep .ps__thumb-y {
    background-color: #94C2FF !important;
  }
  ::ng-deep .ps__rail-y {
    margin-right: 0;
  }
}
perfect-scrollbar{
  height: calc(100vh - 167px);
}
@media (min-width:1200px){
  perfect-scrollbar{
    height: 264px;
  }
}
