<!-- <form class="popup__form" [formGroup]="form">



  <div class="select refill__select refill__select--cripto">
    <div class="select__value select__value--active" (click)="currencyDropdownToggle()">
      <img [src]="activeCrypto.name | getIconUrl" class="select__list-item-icon">
      {{activeCrypto.name}}
      <div class="select__triangle"></div>
    </div>
    <div class="select__label">{{'Currency' | translate}}</div>
    <div class="select__line"></div>
    <div class="select__list-searching"
         [ngClass]="{'select__list-searching--open': openCurrencyDropdown}"
         *ngIf="openCurrencyDropdown">
      <div class="select__search">
        <input class="select__search-input" type="text" placeholder="Search" (input)="searchCoin($event)">
        <div class="select__search-icon">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M15 8C15 11.8662 11.8652 15 8 15C4.13477 15 1 11.8662 1 8C1 4.13379 4.13477 1 8 1C11.8652 1 15 4.13379 15 8ZM13.293 13.999C11.8828 15.2441 10.0293 16 8 16C3.58203 16 0 12.418 0 8C0 3.58203 3.58203 0 8 0C12.418 0 16 3.58203 16 8C16 10.0293 15.2461 11.8818 14 13.292L17.8535 17.1465C17.9141 17.207 17.957 17.2803 17.9805 17.3574C18.0293 17.5273 17.9883 17.7188 17.8535 17.8535C17.6582 18.0488 17.3418 18.0488 17.1465 17.8535L13.293 13.999Z"/>
          </svg>
        </div>
      </div>
      <div class="select__list-searching-body">

        <perfect-scrollbar>
          <ng-container *ngFor="let letter of alphabet">
            <h6 class="select__searching-items-title"><span>{{letter.toUpperCase()}}</span></h6>
            <div class="select__searching-items-wrap">
              <div class="select__searching-item" *ngFor="let name of cryptoNames | groupCoin:letter" (click)="selectCurrency(name)">
                <img [src]="name.name | getIconUrl" class="select__list-item-icon">
                <span>{{name.name}}</span>
              </div>
            </div>
          </ng-container>
        </perfect-scrollbar>
      </div>
    </div>
  </div>




  <app-price-input [placeholder]="'Amount'"
                   formControlName="amount"
                   name="amount"
                   class="fiat-amount">
  </app-price-input> -->
<!-- </form> -->

  <!-- modal header start -->
<div class="modal__header-mob">
    <div class="steps__counter steps__counter--mob">{{'step' | translate}}
      <span class="steps__counter-val">{{step}}</span>/4
    </div>
    <div class="modal__header-mob-controls">
      <!--<a class="modal__control-mob" href="#">-->
      <!--<img class="modal__control-icon" src="../../../assets/img/minimize-mob-blue.svg">-->
      <!--</a>-->
      <!--<a class="modal__control-mob" href="#">-->
        <!--<img class="modal__control-icon" src="../../../assets/img/learn-blue.svg"></a>-->
      <a class="modal__control-mob" (click)="onCloseSendMoneyPopup()">
        <img class="modal__control-icon" src="../../../assets/img/close-blue.svg"></a>
    </div>
  </div>
  <div class="modal__header">
    <ul class="steps">
      <li class="steps__item"
          [ngClass]="{'steps__item--current': step === 1}"
      >
        <a class="steps__link" (click)="setStep(1)">
          <span class="steps__number" [ngClass]="{'steps__number--current': step === 1, 'steps__number--valid': step != 1 }">1</span>
          <span class="steps__number-mob-current">1. {{'Submission of the questionnaire' | translate}}</span>
          <span class="steps__title">{{'Submission of the questionnaire' | translate}}</span>
        </a>
      </li>
      <li class="steps__item" *ngIf="step >= 2"
          [ngClass]="{'steps__item--current': step === 2}"
      >
        <a class="steps__link" (click)="setStep(2)">
          <span class="steps__number" [ngClass]="{'steps__number--current': step === 2, 'steps__number--valid': step != 2 }">2</span>
          <span class="steps__number-mob-current">2. {{'Phone verification' | translate}}</span>
          <span class="steps__title">{{'Phone verification' | translate}}</span>
        </a>
      </li>
      <li class="steps__item" *ngIf="step >= 3"
          [ngClass]="{'steps__item--current': step === 3}"
      >
        <a class="steps__link" (click)="setStep(3)">
          <span class="steps__number" [ngClass]="{'steps__number--current': step === 3, 'steps__number--valid': step != 3 }">3</span>
          <span class="steps__number-mob-current">3. {{'KYC Walkthrough' | translate}}</span>
          <span class="steps__title">{{'KYC Walkthrough' | translate}}</span>
        </a>
      </li>
      <li class="steps__item "
          *ngIf="step === 4"
          [ngClass]="{'steps__item--current': step >= 4}"
      >
        <a class="steps__link" (click)="setStep(4)">
          <span class="steps__number" [ngClass]="{'steps__number--current': step === 4, 'steps__number--valid': step != 4 }">4</span>
          <span class="steps__number-mob-current">4. {{'Bank check' | translate}}</span>
          <span class="steps__title">{{'Bank check' | translate}}</span>
        </a>
      </li>
    </ul>
    <div class="steps__counter">{{'step' | translate}} <span class="steps__counter-val">{{step}}</span>/ 4</div>
  </div>
  <!-- modal header end -->
  
  <div class="modal__content">
    <app-step-one-deposit
      *ngIf="step === 1"
    >
    </app-step-one-deposit>
  </div>
