@import './../../../../assets/scss/_variables';
@import './../../../../assets/scss/_layout.scss';

.widget__header {
  background-color: transparent;
}

.widget__content {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.order-book-bg.show {
  display: block;
}

@media (min-width: 1200px){
  .table__cell-head{
    padding: 5px 10px;
  }
  .order-book__controls-wrap{
    position: absolute;
    z-index: 3;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .order-book__controls{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    .plus, .minus{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border: 1px solid $grey;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      color:$grey;
      &:hover{
        cursor: pointer;
        border-color: #fff;
        svg{
          fill:#fff;
        }
      }
      svg{
        fill:$grey;
      }
    }
    span{
      user-select: none;
      text-align: center;
      min-width: 50px;
      display: inline-block;
      color:$grey;
      margin: 0 20px;
    }
  }
  .widget__content{
    height: calc(100% - 33px);
  }
  .order-table{
    padding-bottom: 30px;
    .order {
      margin-left: 16px;
    }
  }
}

.items {
  //min-height: 190px;
  //max-height: 190px;
  //height: 190px;
  height: calc(50% - 32px);
  overflow: auto;
  position: relative;
  z-index: 100;
  overflow: hidden;
  &--sell {
    .item:hover {
      background-color: rgba(160, 160, 160, 0.2);
      cursor: pointer;
      .info, .price, .total {
        //border-bottom: 1px dashed #EB5757;
      }

      .info {
        span {
          display: inline-block;
          color: #EB5757;
        }
      }
    }
  }
  &--buy {
    .item:hover {
      background-color: rgba(160, 160, 160, 0.2);
      cursor: pointer;

      .info, .price, .total {
        //border-bottom: 1px dashed #00B43D;
      }

      .info {
        span {
          display: inline-block;
          color: #00B43D;
        }
      }
    }
  }
}

.currency-pair-info__arr-up,.currency-pair-info__arr-down{
  margin-bottom: 4px;
}

.color-green{
  color: #00B43D;
}
.color-red{
  color: #EB5757;
}

.visualization {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  .visual-item {
    max-width: 100%;
    margin-left: auto;
    height: calc(100% / 8);
    display: flex;
    //opacity: 0.5;
  }

  // border-border buy

  .border-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .border-border {
    position: absolute;
    left: 0;
    height: 1px;
    &.buy {
      background-color: rgba(0,180,61,.7);
      top: 0;
    }
    &.sell {
      bottom: 0;
      background-color: rgba(235,87,87,.7);
    }
  }

  .red {
    //background-color: rgba(235, 87, 87, 0.4);
    background: -moz-linear-gradient(right, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
    background: -webkit-linear-gradient(right, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
    background: -o-linear-gradient(right, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
    background: -ms-linear-gradient(right, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
    background: linear-gradient(to right, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
    border-left: 1px solid rgba(235,87,87,.7);
    background-position: right;
    background-size: 500px;
    &:last-child {
      border-bottom: 1px solid rgba(235,87,87,.7);
    }
    &:first-child {
      margin-top: auto;
      border-top: 1px solid rgba(235,87,87,.7);
    }
  }


  .green {
    //background: rgba(0, 180, 61, 0.4) !important;
    background: -moz-linear-gradient(right, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
    background: -webkit-linear-gradient(right, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
    background: -o-linear-gradient(right, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
    background: -ms-linear-gradient(right, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
    background: linear-gradient(to right, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
    border-left: 1px solid rgba(0,180,61,.7);
    background-position: right;
    background-size: 500px;
    &:first-child {
      border-top: 1px solid rgba(0,180,61,.7);
    }
    &:last-child {
      border-bottom: 1px solid rgba(0,180,61,.7);
    }
  }
}
.item {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 100;
  height: calc(100% / 8);
  margin-top: auto;
}
.item_wp {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  .item {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 100;
    height: 22.50px;
    margin-top: auto;
  }
}

.order-table {
  position: relative;
  z-index: 2;
  max-width: 100%;
  height: 100%;
  .head{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 100;
    .order, .info, .price, .total {
      border-bottom: none;
      white-space: nowrap;
      span {
        line-height: 16px;
      }
    }
  }
  .order, .info, .price, .total {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .order {
    width: 100%;
    margin-left: 12px;
    max-width: 36%;
    padding-left: 4px;
    padding-right: 4px;
    color: #959BA5;
  }

  .info {
    display: none;
    width: 22%;
    max-width: 100%;
    span {
      padding-left: 5px;
      display: none;
    }
  }

  .price {
    width: 100%;
    max-width: 29%;
    padding-left: 4px;
    padding-right: 4px;
  }

  .total {
    width: 100%;
    max-width: 34%;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.panel {
  min-height: 31px;
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  span {
    margin: 2px 5px;
    cursor: pointer;
  }
}

.separator {
  //height: 26px;
  margin: 2px 0;
  position: relative;
  .hr {
    max-width: 75%;
    width: 75%;
    margin-left: 25%;
    margin: 2px 0 2px 25%;
    position: relative;
    //top: -3px;
    border-bottom: 1px solid #779BD1;
  }
  span {
    margin-left: 28%;
    position: relative;
    z-index: 1001;
  }
}

:host {
  width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.jc-end {
    justify-content: flex-end;
    margin-right: 15px;
}

// .jc-center {
//     justify-content: center;
// }

@media(min-width: 1200px){
.order-table{
  opacity: 0;
  transform: translateY(15px);
  transition: .5s ease-out;
  &.active{
    opacity: 1;
  transform: translateY(0);
  }
}
}