<div class="ieo-container">
  <div
    class="ieo-header"
    *ngIf="currentStage !== stage.PENDING"
  >
    <app-ieo-header
      [IEOData]="IEOData"
      [userBalanceBTC]="userBalanceBTC"
      [currentStage]="currentStage"
      [isAuthenticated]="isAuthenticated"
      [ieoLoading]="ieoLoading"
      [requirements]="requirements || {}"
      (login)="onLogin()"
      (buy)="onBuy()"
    ></app-ieo-header>
  </div>

  <app-ieo-info
    [isAuthenticated]="isAuthenticated"
    [currentStage]="currentStage"
    [userBalanceBTC]="userBalanceBTC"
    (login)="onLogin()"
    (refreshIEOStatus)="onRefreshIEOStatus()"
    (buy)="onBuy()"
    [IEOData]="IEOData"
    [ieoLoading]="ieoLoading"
    [requirements]="requirements || {}"
  ></app-ieo-info>

  <app-ieo-community [IEOName]="IEOData.currencyName"></app-ieo-community>

  <app-ieo-requirements
    *ngIf="
      (stage.RUNNING === currentStage ||
      stage.PENDING === currentStage)
    "
    [isAuthenticated]="isAuthenticated"
    [requirements]="requirements"
    [IEOName]="IEOData.currencyName"
    (showPolicy)="togglePolicy(true)"
  ></app-ieo-requirements>

  <app-get-ready-banner
    *ngIf="
      (stage.TERMINATED === currentStage ||
      stage.SUCCEEDED === currentStage ||
      stage.FAILED === currentStage) &&
      (isAuthenticated &&
      requirements &&
      !requirements.kycCheck)
    "
    (click)="bannerClick()"
  ></app-get-ready-banner>

  <app-ieo-how-it-works></app-ieo-how-it-works>

  <app-ieo-description-wrapper
    [IEOId]="IEOData.currencyName"
    [ieoToken]="IEOData.currencyDescription"
  ></app-ieo-description-wrapper>

  <app-popup-failed
    *ngIf="showNoReqs"
    (close)="toggleNoReqs(false)"
    [IEOData]="IEOData"
  ></app-popup-failed>

  <app-popup-buy
    [IEOData]="IEOData"
    [loading]="loadingBuy"
    *ngIf="showBuy"
    (close)="toggleBuy(false)"
    (confirm)="confirmBuy($event)"
  ></app-popup-buy>

  <app-popup-policy
    *ngIf="showPolicy"
    [IEOName]="IEOData.currencyName"
    (close)="togglePolicy(false)"
    (agree)="agreeWithPolicy()"
  ></app-popup-policy>

  <app-popup-success
    [IEOName]="IEOData.currencyDescription"
    *ngIf="showSuccess"
    (close)="toggleSuccess(false)"
  >
  </app-popup-success>

  <app-popup-wait-ieo *ngIf="showWait">
  </app-popup-wait-ieo>

  <app-popup-sorry-ieo
    *ngIf="showSorry"
    (close)="toggleSorry(false)"
  >
  </app-popup-sorry-ieo>
</div>
