<div class="send__info">
  <div class="send__info-row">
    <div
      class="send__info-title"
      *ngIf="type === 'withdraw'"
    >
      {{'You want to withdraw:' | translate}}
    </div>
    <div
      class="send__info-title"
      *ngIf="type === 'refill'"
    >
      {{'You want to refill:' | translate}}
    </div>
    <div class="send__info-value">
      {{baseAmount | currencyFormat}} {{currencyName}}
    </div>
  </div>
  <div class="send__info-row">
    <div class="send__info-title">{{'Commission:' | translate}}</div>
    <div
      class="send__info-value"
      *ngIf="+merchantCommission > 0 && +fixedMerchantCommission > 0"
    >
      ({{merchantCommission}}%, but not less than {{fixedMerchantCommission}} {{currencyName}}) =
      {{merchantCommissionValue | currencyFormat}} {{currencyName}}
    </div>
    <div
      class="send__info-value"
      *ngIf="+merchantCommission > 0 && +fixedMerchantCommission === 0"
    >
      ({{merchantCommission}}%) = {{merchantCommissionValue | currencyFormat}} {{currencyName}}
    </div>
    <div
      class="send__info-value"
      *ngIf="+fixedMerchantCommission > 0 && +merchantCommission === 0"
    >
      {{fixedMerchantCommission | currencyFormat}} {{currencyName}}
    </div>
  </div>
  <div class="send__info-row">
    <div class="send__info-title">{{'Total with comission:' | translate}}</div>
    <div class="send__info-value">{{totalValue | currencyFormat}} {{currencyName}}</div>
  </div>
</div>
