<div class="how-it-work-block">
  <div class="hiw-wr">
    <div class="hiw-title">
      <h3>How it works?</h3>
    </div>
    <div class="hiw-item-wr">
      <div class="hiw-item">
        <div class="hiw-icon">
          <img
            src="/assets/img/hiw1.svg"
            alt="how it work image"
          >
        </div>
        <div class="hiw-txt">
          <p>Invite people
            <br>by referal link</p>
        </div>
        <div class="hiw-stage">
          <span>1</span>
        </div>
      </div>
      <div class="hiw-item">
        <div class="hiw-icon">
          <img
            src="/assets/img/hiw2.svg"
            alt="how it work image"
          >
        </div>
        <div class="hiw-txt">
          <p>They start trade and
            <br>pay comission</p>
        </div>
        <div class="hiw-stage">
          <span>2</span>
        </div>
      </div>
      <div class="hiw-item">
        <div class="hiw-icon">
          <img
            src="/assets/img/hiw3.svg"
            alt="how it work image"
          >
        </div>
        <div class="hiw-txt">
          <p>Recieve the charges
            <br>fromtheir comission</p>
        </div>
        <div class="hiw-stage">
          <span>3</span>
        </div>
      </div>
      <div class="hiw-item">
        <div class="hiw-icon">
          <img
            src="/assets/img/hiw4.svg"
            alt="how it work image"
          >
        </div>
        <div class="hiw-txt">
          <p>Build a structures
            <br>and earn money
          </p>
        </div>
        <div class="hiw-stage">
          <span>4</span>
        </div>
      </div>

    </div>
  </div>
</div>
