<div
  class="fs-slider-container animate-item"
  [ngClass]="{'active' : activeBlock}"
>
  <div class="arrows-container"></div>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (afterChange)="afterChange($event)"
  >
    <a
      ngxSlickItem
      class="slider-item"
      href="https://about.exrates.me/en/analytics/"
    >
      <div class="bg-wr">
        <img
          src="assets/img/Banner_2.jpg"
          alt=""
        >
      </div>
      <div class="slide-txt">
        <div class="txt-inner">
          <h2 class="no-uppercase">Need help with trading?<br> check out our analytics</h2>
          <div class="register-form">
            <form action="#">
              <div class="wrap-input popup__wrap-input">
                <input
                  required
                  class="wrap-input__input"
                  placeholder="Enter email"
                  name="email"
                  [(ngModel)]="email"
                >
              </div>
              <button
                class="btn balance__title-btn"
                (click)="openRegistration()"
              >
                {{'Start Registration' | translate}}
              </button>
            </form>
          </div>
        </div>
      </div>
    </a>
    <a
      ngxSlickItem
      class="slider-item"
      [routerLink]="['/free-coins']"
      href="#"
    >
      <div class="bg-wr">
        <img
          src="assets/img/Banner_crane.jpg"
          alt=""
        >
      </div>
      <div class="slide-txt">
        <div class="txt-inner">
          <h2 class="no-uppercase">Register and take your <br> first coins for free</h2>
          <div class="register-form">
            <form action="#">
              <div class="wrap-input popup__wrap-input">
                <input
                  required
                  class="wrap-input__input"
                  placeholder="Enter email"
                  name="email"
                  [(ngModel)]="email"
                >
              </div>
              <button
                class="btn balance__title-btn"
                (click)="openRegistration()"
              >
                {{'Start Registration' | translate}}
              </button>
            </form>
          </div>
        </div>
      </div>
    </a>
    <div
      ngxSlickItem
      class="slider-item"
    >
      <div class="bg-wr">
        <img
          src="assets/img/Banner_5.jpg"
          alt=""
        >
      </div>
      <div class="slide-txt">
        <div class="txt-inner">
          <h2><span>172,000 </span>traders</h2>
          <p>{{'Register and become part of the Exrates trading community' | translate}}</p>
          <div class="register-form">
            <form action="#">
              <div class="wrap-input popup__wrap-input">
                <input
                  required
                  class="wrap-input__input"
                  placeholder="Enter email"
                  name="email"
                  [(ngModel)]="email"
                >
              </div>
              <button
                class="btn balance__title-btn"
                (click)="openRegistration()"
              >
                {{'Start Registration' | translate}}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </ngx-slick-carousel>


</div>
