<div class="fs-slider-container animate-item">
  <div class="arrows-container"></div>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (afterChange)="afterChange($event)"
  >
    <div
      ngxSlickItem
      class="slider-item"
    >
      <div class="bg-wr">
        <img
          src="assets/img/fs-sl1.jpg"
          alt=""
        >
      </div>
      <div class="slide-txt">
        <div class="txt-inner">
          <h2><span>172,000 </span>traders</h2>
          <p>{{'Register and become part of the Exrates trading community' | translate}}</p>
        </div>
      </div>
    </div>
    <!-- <div
      ngxSlickItem
      class="slider-item"
    >
      <div class="bg-wr">
        <img
          src="assets/img/fs-sl1.jpg"
          alt=""
        >
      </div>
      <div class="slide-txt">
        <div class="txt-inner">
          <h2><span>172,000 </span>traders</h2>
          <p>{{'Register and become part of the Exrates trading community' | translate}}</p>
        </div>
      </div>
    </div>
    <div
      ngxSlickItem
      class="slider-item"
    >
      <div class="bg-wr">
        <img
          src="assets/img/fs-sl1.jpg"
          alt=""
        >
      </div>
      <div class="slide-txt">
        <div class="txt-inner">
          <h2><span>172,000 </span>traders</h2>
          <p>{{'Register and become part of the Exrates trading community' | translate}}</p>
        </div>
      </div>
    </div> -->

  </ngx-slick-carousel>

  <div class="register-form">
    <form action="#">
      <div class="wrap-input popup__wrap-input">
        <input
          required
          class="wrap-input__input"
          placeholder="Enter email"
          name="email"
          [(ngModel)]="email"
        >
      </div>
      <button
        class="btn balance__title-btn"
        (click)="openRegistration()"
      >
        {{'Start Registration' | translate}}
      </button>
    </form>
  </div>
  <!-- <div class="slider-dots">
    <div
      class="dots-item"
      [ngClass]="{'active': currSlide == '0'}"
      (click)="slickModal.slickGoTo(0)"
    >
      <img
        src="assets/img/prev1.jpg"
        alt=""
      >
    </div>
    <div
      class="dots-item"
      [ngClass]="{'active': currSlide == '1'}"
      (click)="slickModal.slickGoTo(1)"
    >
      <img
        src="assets/img/prev2.jpg"
        alt=""
      >
    </div>
    <div
      class="dots-item"
      [ngClass]="{'active': currSlide == '2'}"
      (click)="slickModal.slickGoTo(2)"
    >
      <img
        src="assets/img/prev3.jpg"
        alt=""
      >
    </div>

  </div> -->
</div>
