<div class="fs-slider-container">
  <div class="slider-item">
    <div class="bg-wr">
      <img src="assets/img/fs-sl1.jpg" alt="">
    </div>
    <div class="slide-txt">
      <div class="txt-inner">
        <h2><span>172,000 </span>трейдеров</h2>
        <p>Регистрируйся и стань частью трейдерского сообщества Exrates</p>
      </div>
    </div>
  </div>
  <div class="register-form">
    <form action="#">
      <div class="wrap-input popup__wrap-input">
        <input required class="wrap-input__input"
          placeholder="Enter email">
      </div>
      <button
        class="btn balance__title-btn">
        {{'Start Registration' | translate}}
      </button>
    </form>
  </div>
</div>
<div class="run-line">
  <marquee scrollamount="4">
    <div class="run-line-inner">
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="run-line-item">
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
    </div>
  </marquee>
</div>