@import "../../../assets/scss/variables";
.widget{
  &__table{
    margin-top: 0;
    td,th{
      &:first-of-type{
        padding-left: 12px;
      }
      &:last-of-type{
        padding-right: 12px;
      }
    }
  }
  &__table-row{
    &:nth-of-type(odd) {
      background-color: unset;
    }
  }
  ng-scrollbar{
    height: 444px;
  }

  &__table-row-hover{
    &--green{
      &:hover{
        background-color: transparent;
        &:after {
          position: absolute;
          content: "";
          left: 0;
          width: 100%;
          height: 24px;
          z-index: 0;
          background: rgba(0, 180, 60, .1);
          background: -moz-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 180, 60, .1)), color-stop(88%, rgba(0, 180, 60, .1)), color-stop(100%, rgba(0, 180, 60, 0)));
          background: -webkit-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
          background: -o-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
          background: -ms-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
          background: linear-gradient(to left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
        }
        .txt-indicate{
          color:$green;
        }
      }
    }
    &--red{
      &:hover{
        background-color: transparent;
        &:after {
          position: absolute;
          content: "";
          left: 0;
          width: 100%;
          height: 24px;
          z-index: 0;
          background: rgba(235, 87, 87, .1);
          background: -moz-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235, 87, 87, .1)), color-stop(88%, rgba(235, 87, 87, .1)), color-stop(100%, rgba(235, 87, 87, 0)));
          background: -webkit-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
          background: -o-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
          background: -ms-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
          background: linear-gradient(to left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
        }
        .txt-indicate{
          color:$red;
        }
      }
    }
  }
}

:host {
  width: 100%;
}

@media (min-width: 1200px){
  .widget{
    &__table{
      td,th{
        &:first-of-type{
          padding-left: 4px;
        }
        &:last-of-type{
          padding-right: 4px;
        }
      }
    }
  }
}

.widget__content {
  height: calc(100% - 40px);
}
