<div class="ieo_info">
  <div class="ieo_info-wrapper">
    <div class="text-info-block animate-item">
      <h4>{{'Project Introduction' | translate}}</h4>
      <p>The E-Tao is a worldwide e-commerce platform. In fact, it is an active - globally - mobile marketplace for blockchain-based purchases of a variety of
        goods and services from local suppliers, manufacturers, as well as private sellers. The platform is also designed to make virtual currency payments to
        buy and sell goods and services in the real world using cryptocurrency.</p>
    </div>
    <div class="text-info-block">
      <h4 class="animate-item">{{'Key features' | translate}}</h4>

      <div class="key-features-wr">
        <div class="infogr-wr animate-item">
          <img
            src="assets/img/ieo/us.png"
            alt=""
          >
        </div>
        <ul class="features-list">
          <li class="features-list-item animate-item">
            <p>1. An example of mass use of cryptocurrency</p>
            <span>Exchanging with tokens for any goods and services. It is enough to hold on to your cryptocurrencies and expect endlessly!
              You can buy real goods with the help of cryptocurrency. All goods on the E-Tao market are immediately available for payment with ETAO tokens. Also
              the E-Tao platform will present a limited number of pre-selected items, which users will only be able to pay with E-Tao tokens.</span>
          </li>
          <li class="features-list-item animate-item">
            <p>2. Works all over the world</p>
            <span>It provides access to rare Chinese goods and services from anywhere in the world.

            </span>
          </li>
          <li class="features-list-item animate-item">
            <p>3. All in one place</p>
            <span>The E-Tao platform allows users to easily and securely connect to all online stores and control all purchases from a single account. Thousands
              of private ads for goods and services are collected in a single application</span>
          </li>
          <li class="features-list-item animate-item">
            <p>4. Pay with cryptocurrency and get a discount!</p>
            <span>Buying goods on the platform and paying with ETAO tokens, the buyer will receive a refund and the most advantageous offers.</span>
          </li>
          <li class="features-list-item animate-item">
            <p>5. Secure purchases by reserving funds for a smart contract</p>
            <span>Reservation of ETAO tokens when making a transaction solves the main problem of all such services - safety. The seller does not receive
              payment until the service / product is provided / delivered to them in proper form. It is very important to know that absolutely all transactions
              in cryptocurrency can be tracked using blockchains.
              When you pay with the platform, you get additional protection for your transaction with smart contracts and your own E-Tao guarantee. Obviously,
              off-platform transactions are much less profitable because the platform offers a number of unique and profitable advantages.</span>
          </li>
          <li class="features-list-item animate-item">
            <p>6. A world without boundaries</p>
            <span>The E-Tao platform connects Chinese resellers with customers around the globe. Users from all over the world now have full access to these
              products and services from China.</span>
          </li>
        </ul>

      </div>
      <div class="key-features-wr">
        <div class="infogr-wr animate-item">
          <img
            src="assets/img/ieo/sell.png"
            alt=""
          >
        </div>
        <ul class="features-list">
          <li class="features-list-item animate-item">
            <p>1. Ability to trade with the world</p>
            <span>Provide access to customers who can live anywhere in the world.</span>
          </li>
          <li class="features-list-item animate-item">
            <p>2. It's easy to be the best salesman</p>
            <span>The E-Tao platform provides a wide range of value-added services to online retailers and private sellers. This is, for example, a higher
              priority in search results, rating systems and home page appearances. And all this allows you to attract even more customers. These services, of
              course, can be paid for using ETAO tokens.</span>
          </li>
          <li class="features-list-item animate-item">
            <p>3. Designed specifically for you</p>
            <span>You can create your own personal online store on a platform that is ready to go. There's no need to spend your money developing your own
              platform or creating complex and expensive IT solutions. The E-Tao platform has already taken care of this and has all the resources you need to
              start trading instantly.</span>
          </li>
          <li class="features-list-item animate-item">
            <p>4. Continuous customer support</p>
            <span>A business owner can ask for help from our 24-hour support team. E-Tao's proprietary arbitration system solves any customer problems quickly
              and efficiently.</span>
          </li>
          <li class="features-list-item animate-item">
            <p>5. Saving money</p>
            <span>Savings due to lack of commissions in favor of payment systems when using ETAO tokens.</span>
          </li>
        </ul>

      </div>

    </div>
    <div class="economics standart-pg">
      <div class="economics-inner">
        <div class="text-info-block animate-item">
          <h4 class="">ETAO token sale and economics</h4>
          <p class="">The initial circulating emission of ETAO tokens is 255,000,000 ЕТАО (5.1%).
            The crowdsale financing model consists of two stages: Private Sale and Public IEO Sale.
            During the Private Sale of 100,000,000 ETAO tokens will be sold at a price of $0.0040 per token.
            The E-Tao plans to raise $400,000 at the IEO stage. The IEO fund accounts for 2.4% of the total issue.
            A total of 120,000,000 ETAO tokens will be released at a price of $0.0034 per token.
          </p>
        </div>
        <div class="economics-table animate-item">
          <div class="economics-table-wr">
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Token Sale Start Time</p>
              </div>
              <div class="table-item-value">
                <p>26.08.2019 14:00, UTC+8</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Token Sale End Time</p>
              </div>
              <div class="table-item-value">
                <p>When Hard Cap is reacherd or at 05.09.2019 14:00, UTC+8</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="economics standart-pg">
      <div class="economics-inner">
        <div class="text-info-block animate-item">
          <h4>We plan to release 5,000,000,000 of ETAO tokens.</h4>

        </div>
        <div class="economics-table animate-item">
          <div class="economics-table-wr">
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Token name</p>
              </div>
              <div class="table-item-value">
                <p>Е-Тао</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Token symbol</p>
              </div>
              <div class="table-item-value">
                <p>EТАО</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Token Type</p>
              </div>
              <div class="table-item-value">
                <p>ERC-20</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Token Contract Address</p>
              </div>
              <div class="table-item-value hash">
                <p>0x5FaA6eB66Ed24b9C331634B0B12D28575B8fAbd9</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Decimals Places</p>
              </div>
              <div class="table-item-value">
                <p>18</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Total emission</p>
              </div>
              <div class="table-item-value">
                <p>5,000,000,000</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Initial reverse issue</p>
              </div>
              <div class="table-item-value">
                <p>255,000,000 (5,1%)</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="economics standart-pg">
      <div class="economics-inner">
        <div class="text-info-block animate-item">
          <h4>Distribution of ETAO tokens </h4>
        </div>
        <div class="economics-table animate-item">
          <div class="economics-table-wr">
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>IEO Date</p>
              </div>
              <div class="table-item-value">
                <p>UTC+8 14:00, August 26, 2019</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>IEO Allocation</p>
              </div>
              <div class="table-item-value">
                <p>2.4% of total issue</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>IEO Total Supply</p>
              </div>
              <div class="table-item-value">
                <p>120,000,000 ЕТАО</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>IEO Token Price</p>
              </div>
              <div class="table-item-value">
                <p>1 ЕТАО = $0.0034</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>IEO Goal</p>
              </div>
              <div class="table-item-value">
                <p>$400,000</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Token Allocation</p>
              </div>
              <div class="table-item-value">
                <p>Within 10 days after IEO ends</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="economics standart-pg">
      <div class="economics-inner">
        <div class="text-info-block animate-item">
          <h4>The Private Sale stage</h4>
        </div>
        <div class="economics-table animate-item">
          <div class="economics-table-wr">
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Private Sale Date</p>
              </div>
              <div class="table-item-value">
                <p>December 15, 2018</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Private Sale Allocation</p>
              </div>
              <div class="table-item-value">
                <p>2.0% of total issue</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Private Sale Token Price</p>
              </div>
              <div class="table-item-value">
                <p>1 ETAO = $0.0040</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="economics standart-pg">
      <div class="economics-inner">
        <div class="text-info-block animate-item">
          <h4>Individual restrictions on the purchase</h4>
        </div>
        <div class="economics-table animate-item">
          <div class="economics-table-wr">
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Minimum</p>
              </div>
              <div class="table-item-value">
                <p>$10</p>
              </div>
              <div class="table-item-description">
                <p>BTC/ETH/USDT</p>
              </div>
            </div>
            <div class="economics-table-item">
              <div class="table-item-description">
                <p>Maximum</p>
              </div>
              <div class="table-item-value">
                <p>$1000</p>
              </div>
              <div class="table-item-description">
                <p>BTC/ETH/USDT</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="economics standart-pg ">
      <div class="economics-inner">
        <div class="text-info-block animate-item">
          <h4>Lockdown and release of tokens:</h4>
        </div>
        <div class="eco-gr-wr">
          <div class="economics-table animate-item">
            <div class="economics-table-wr">
              <div class="economics-table-item">
                <div class="table-item-description">
                  <p>Public offering</p>
                </div>
                <div class="table-item-value">
                  <p>2.4%</p>
                </div>
                <div class="table-item-description">
                  <p>Unblocked</p>
                </div>
              </div>
              <div class="economics-table-item">
                <div class="table-item-description">
                  <p>Private Sale</p>
                </div>
                <div class="table-item-value">
                  <p>2%</p>
                </div>
                <div class="table-item-description">
                  <p>10% is unblocked, and the remaining 90% of tokens will be unblocked in batches of 7.5% every two months, after being listed on the stock
                    exchange for two years.</p>
                </div>
              </div>
              <div class="economics-table-item">
                <div class="table-item-description">
                  <p>Foundation</p>
                </div>
                <div class="table-item-value">
                  <p>20%</p>
                </div>
                <div class="table-item-description">
                  <p>100% blocked for one year. Tokens will be unblocked in batches of 20% every two months after 1 year.</p>
                </div>
              </div>
              <div class="economics-table-item">
                <div class="table-item-description">
                  <p>Team</p>
                </div>
                <div class="table-item-value">
                  <p>10%</p>
                </div>
                <div class="table-item-description">
                  <p>100% blocked for one year. Tokens will be unblocked in batches of 20% every two months after 1 year.</p>
                </div>
              </div>
              <div class="economics-table-item">
                <div class="table-item-description">
                  <p>Consultant</p>
                </div>
                <div class="table-item-value">
                  <p>5.6%</p>
                </div>
                <div class="table-item-description">
                  <p>100% blocked for one year. Tokens will be unblocked in batches of 20% every two months after 1 year.</p>
                </div>
              </div>
              <div class="economics-table-item">
                <div class="table-item-description">
                  <p>Ecosystem</p>
                </div>
                <div class="table-item-value">
                  <p>50%</p>
                </div>
                <div class="table-item-description">
                  <p>5% will be used to form an ecosystem at an early stage after listing. 2.5% of the remaining tokens will be unblocked each month after 3
                    months of listing.</p>
                </div>
              </div>

            </div>
          </div>
          <div class="graph-wr animate-item">
            <img
              src="assets/img/ieo/graph-ieo.png"
              alt=""
            >
          </div>
        </div>
      </div>
    </div>
    <div class="text-info-block last-block animate-item">
      <h4>CONCLUSIONS</h4>
      <p>The E-Tao project has ambitious goals:</p>

      <p>- fully implement the concept of cryptocurrency liquidity by exchanging any token for everyday goods;
        <br>- increase the involvement of the audience in the field of cryptocurrency by several times;
        <br>- to accelerate the growth rate of the cryptocurrency market;
        <br>- to revolutionize the world of e-commerce by shifting the mindset of users from the fiat model to the cryptocurrency model of the economy.
      </p>
      <p> The benefits of the E-Tao platform for retailers and customers are clear and significant.
        <br>That’s why we are - with a high degree of confidence - predict that this project will be commercially successful and promising.
        <br>The further development of the project will also stimulate the volatility of the majority of alternative cryptocurrencies, mitigate market
        volatility and - globally - increase interest in the cryptographic industry as a whole.
        <br>The world today is irreversibly and rapidly changing. As the crypto industry also grows rapidly with the world, it will take some time and some - if
        not all - of today's e-commerce giants will realize the need to integrate structural modules into their platforms to guarantee payment in the
        cryptocurrency.
        <br>When that time comes, E-Tao will confidently occupy a significant part of this promising commercial niche.
        <br>You can simply observe the changes taking place and do nothing, but you can change the world with us, working for the common progress and prosperity
        of humanity as a whole. That’s why we need your support of the E-Tao Project!
      </p>
    </div>
  </div>
</div>
