.pag-btn {
  cursor: pointer;
}
.table {
  margin-top: 16px;
  th {
    padding: 0 8px 12px;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      padding-right: 16px;
    }
  }
  td {
    padding: 8px;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      padding-right: 16px;
    }
  }
}

.paginator{
  position: absolute;
  right: 30px;
  bottom: 10px;
}


