.tab-no-active{
  border-bottom: 2px solid transparent;
}
.widget__content{
  min-height: calc(100% - 45px);
}

.ishover {
  &:hover {
    background: none !important;
  }
  svg{
    fill: #50537c !important;
  }
}

.cursorDisable {
  cursor: default;
}
