<div class="container orders-history">
  <!--orders-mob start-->
  <div
    class="orders orders--mob"
    *ngIf="(breakpointService.breakpoint$ | async) === 'mobile'"
  >
    <div class="orders__header-mob">
      <div class=" orders__page-title">
        {{'Orders history' | translate}}
      </div>
      <div class="orders__amount">{{countOfEntries$ | async}}</div>
      <div *ngIf="loading$ | async">
        <app-loader size="small"></app-loader>
      </div>
      <div
        class="orders__filter-btn"
        (click)="openFilterPopup()"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.9317 0.44323C15.8028 0.147863 15.5799 0.000159206 15.2618 0H0.737807C0.420134 0 0.196893 0.147863 0.0682816 0.44323C-0.0602502 0.753723 -0.00735105 1.01904 0.227217 1.23867L5.82145 6.84086V12.3635C5.82145 12.5607 5.89335 12.731 6.03702 12.8751L8.9417 15.784C9.07798 15.9278 9.24813 16 9.45245 16C9.54315 16 9.63766 15.9809 9.73602 15.9431C10.0312 15.8142 10.1788 15.5908 10.1788 15.2726V6.8409L15.7728 1.2387C16.0075 1.01908 16.0602 0.753842 15.9317 0.44323Z"
          />
        </svg>
        {{'Filters' | translate}}
      </div>
    </div>
    <div
      #scrollContainer
      [ngStyle]="tableScrollStyles"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [scrollWindow]="false"
      [horizontal]="false"
      (scrolled)="loadMoreOrders()"
    >
      <table class="table table--mob">
        <thead class="table__head">
          <tr class="table__head-row">
            <th class="table__cell-head table__cell-head--tal">{{'Pair/Date' | translate}}
              <svg
                class="table__cell-head-arr"
                style="margin: 0 0 0 4px;"
                width="6"
                height="8"
                viewBox="0 0 6 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.86338 3.74894C6.06488 3.99981 6.04068 4.38035 5.80935 4.59887L3.37001 7.84701L3.36491 7.85187C3.16243 8.04303 2.86838 8.04686 2.66309 7.87675C2.6518 7.86737 2.64073 7.85746 2.62999 7.84701L0.190654 4.59887C-0.0406818 4.38035 -0.0648789 3.99981 0.136618 3.74894C0.338115 3.49806 0.689025 3.47182 0.92047 3.69031L2.44455 6.07412L2.44455 0.602408C2.44455 0.269701 2.69325 0 3.00011 0C3.30697 0 3.55566 0.269701 3.55566 0.602408L3.55566 6.07391L5.07953 3.69031C5.31097 3.47182 5.66188 3.49806 5.86338 3.74894Z"
                />
              </svg>
            </th>
            <th class="table__cell-head table__cell-head--tal"> {{'Type' | translate}}</th>
            <th class="table__cell-head table__cell-head--tar">{{'Avg' | translate}}.{{'Price' | translate}}</th>
          </tr>
        </thead>
        <tbody class="table__body table__body--none-shadow">
          <!-- t-row start-->
          <ng-container *ngFor="let item of orderItems$ | async; trackBy: trackByOrders">
            <tr
              class="table__row--mob"
              [attr.data-id]="item.id"
              (click)="toggleDetails($event)"
            >
              <td class="table__cell table__cell--tal">
                <div>{{item.currencyPairName}}</div>
                <div class="table__date-time">
                  <div>{{item.dateCreation | amFromUtc | amLocal | amDateFormat:"DD.MM.YYYY"}}</div>
                  <div>{{item.dateCreation | amFromUtc | amLocal | amDateFormat:"HH:mm:ss"}}</div>
                </div>
              </td>
              <td class="table__cell table__cell--tal">
                <span [class]="setClassForOrderTypeField(item.operationType)">{{item.operationType | replaceChar: '_': ' '}}</span>
              </td>
              <td class="table__cell table__cell--tar">
                <div>{{item.exExchangeRate || item.limitRate}} {{item.currencyPairName | splitCurrency: 2}}</div>
              </td>
              <td class="table__cell table__cell--arr-mob">
                <img
                  class=""
                  src="../../assets/img/arr-toggler-down-blue.svg"
                >
              </td>
            </tr>
            <tr
              class="table__details"
              [id]="item.id"
            >
              <td
                class="table__details-cell"
                colspan="4"
              >
                <div class="table__details-item">
                  <div class="table__details-item-title">{{'Amount' | translate}}</div>
                  <div class="table__details-item-value">{{item.amountBase | currencyFormat:'BTC'}} {{item.currencyPairName | splitCurrency: 1}}</div>
                </div>
                <div
                  class="table__details-item"
                  *ngIf="!isMarketOrder(item.operationType)"
                >
                  <div class="table__details-item-title">{{'Limit price' | translate}}</div>
                  <div class="table__details-item-value">{{item.exExchangeRate || item.limitRate | currencyFormat}}</div>
                </div>
                <div
                  class="table__details-item"
                  *ngIf="isStopOrder(item.operationType)"
                >
                  <div class="table__details-item-title">{{'Stop-limit price' | translate}}</div>
                  <div class="table__details-item-value">{{item.stopRate | currencyFormat}}</div>
                </div>
                <div
                  class="table__details-item"
                  *ngIf="isMarketOrder(item.operationType)"
                >
                  <div class="table__details-item-title">{{'Trading price' | translate}}</div>
                  <div class="table__details-item-value">{{item.exExchangeRate | currencyFormat}}</div>
                </div>
                <div class="table__details-item">
                  <div class="table__details-item-title">{{'Status' | translate}}</div>
                  <div class="table__details-item-value">{{item.status | showOrderStatus}}</div>
                </div>
                <div class="table__details-item">
                  <div class="table__details-item-title">{{'Fee' | translate}}</div>
                  <ng-container *ngIf="item.status !== 'CANCELLED'; else commisionCanceledMob">
                    <div
                      class="table__details-item-value"
                      *ngIf="!isVipUser; else vipUserMob"
                    >{{item.commissionFixedAmount | currencyFormat}} {{item.currencyPairName | splitCurrency: 2}}</div>
                  </ng-container>
                </div>
                <div class="table__details-item">
                  <div class="table__details-item-title">{{'In total' | translate}}</div>
                  <div class="table__details-item-value">{{item.amountWithCommission | currencyFormat}} {{item.currencyPairName | splitCurrency: 2}}</div>
                </div>
              </td>
            </tr>
          </ng-container>
          <tr
            class="table__row"
            *ngIf="!(orderItems$ | async).length  && !(loading$ | async)"
          >
            <td
              class="table__cell table__cell--tac"
              colspan="3"
            >
              {{'No matching records found' | translate}}
            </td>
          </tr>

          <!-- t-row end-->
        </tbody>
      </table>
    </div>
    <!--filter-popup start-->
    <div
      class="filters-popup"
      [ngClass]="{'show-filter-popup': showFilterPopup}"
    >
      <div class="filters-popup__header">
        <div class=" filters-popup__title">
          {{'Order filters' | translate}}
        </div>
        <div
          class="filters-popup__close"
          (click)="closeFilterPopup()"
        >
          <svg
            width="15"
            height="17"
            viewBox="0 0 15 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.73781 0.627721C1.36501 0.220243 0.732466 0.192129 0.324987 0.564928C-0.0824919 0.937728 -0.110605 1.57027 0.262194 1.97775L1.73781 0.627721ZM13.2622 16.187C13.635 16.5945 14.2675 16.6226 14.675 16.2498C15.0825 15.877 15.1106 15.2445 14.7378 14.837L13.2622 16.187ZM14.7378 1.97775C15.1106 1.57027 15.0825 0.937728 14.675 0.564928C14.2675 0.192129 13.635 0.220243 13.2622 0.627721L14.7378 1.97775ZM0.262219 14.837C-0.110581 15.2445 -0.0824672 15.877 0.325012 16.2498C0.732491 16.6226 1.36503 16.5945 1.73783 16.187L0.262219 14.837ZM0.262194 1.97775L6.7622 9.08241L8.23781 7.73239L1.73781 0.627721L0.262194 1.97775ZM6.7622 9.08241L13.2622 16.187L14.7378 14.837L8.23781 7.73239L6.7622 9.08241ZM13.2622 0.627721L6.7622 7.73239L8.23781 9.08241L14.7378 1.97775L13.2622 0.627721ZM6.7622 7.73239L0.262219 14.837L1.73783 16.187L8.23781 9.08241L6.7622 7.73239Z"
              fill="#237BEF"
            />
          </svg>
        </div>
      </div>
      <form action="#">
        <div>
          <app-dynamic-input
            [value]="currencyPairValue"
            [options]="(currencyPairs$ | async) | dynamicIData: 'name': 'id'"
            (onChange)="onChangeCurrPair($event)"
          >
          </app-dynamic-input>
        </div>
        <div class="row row--jcsb">
          <div class="wrap-input orders__datepicker filters-popup__datepicker">
            <label
              class="wrap-input__label"
              [ngClass]="{'select-input_label': modelDateFrom?.date || isDateInputFromFocus}"
            >{{'From' | translate}}</label>
            <app-date-mask-input
              [innValue]="modelDateFrom"
              (inputFocus)="focusOrBlurDateFrom($event)"
              (inputEmpty)="clearModelDateFrom()"
              (validDate)="dateFromChanged($event)"
              [disableAutoFocus]="true"
            ></app-date-mask-input>
            <my-date-picker
              name="from"
              [options]="myDatePickerOptions"
              [(ngModel)]="modelDateFrom"
              (dateChanged)="dateFromChanged($event)"
            >
              &lt;!&ndash;&gt;&ndash;&gt;
            </my-date-picker>
            <div
              class="wrap-input__line"
              style="position: absolute; bottom: 1px; width: 100%;"
            ></div>
          </div>
          <div class="wrap-input orders__datepicker input-el filters-popup__datepicker">
            <label
              class="wrap-input__label"
              [ngClass]="{'select-input_label': modelDateTo?.date || isDateInputToFocus}"
            >{{'To' | translate}}</label>
            <app-date-mask-input
              [innValue]="modelDateTo"
              (validDate)="dateToChanged($event)"
              (inputEmpty)="clearModelDateTo()"
              (inputFocus)="focusOrBlurDateTo($event)"
              [disableAutoFocus]="true"
            ></app-date-mask-input>
            <my-date-picker
              name="to"
              [options]="myDatePickerOptions"
              [(ngModel)]="modelDateTo"
              (dateChanged)="dateToChanged($event)"
            >
              &gt;
            </my-date-picker>
            <div
              class="wrap-input__line"
              style="position: absolute; bottom: 1px; width: 100%;"
            ></div>
          </div>
        </div>
        <button
          (click)="filterPopupSubmit()"
          class="btn filters-popup__btn"
        >{{'See' | translate}} <!-- <span>{{countOfEntries$ | async}}</span> -->{{'results' | translate}}</button>
      </form>
    </div>
    <!--filter-popup end-->
  </div>
  <!--orders-mob end-->
  <!--orders-desktop start-->
  <div
    class="orders"
    [ngClass]="{'active' : startAnimation}"
    *ngIf="(breakpointService.breakpoint$ | async) === 'desktop'"
  >
    <div class="page-title fade-anim del3">
      <h1 class="page-title__text">
        {{'Orders history' | translate}}
      </h1>
      <button
        class="btn orders__title-btn"
        (click)="downloadExcel()"
        [disabled]="loadingExcel || !(orderItems$ | async).length"
      >
        <span class="btn__icon btn__icon--blue">
          <svg
            width="13"
            height="14"
            viewBox="0 0 13 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.1952 8.92188V12.12H1.80482V8.92188H0V13.06C0 13.5789 0.403462 13.9997 0.903755 13.9997H12.0962C12.5961 13.9997 13 13.5794 13 13.06V8.92188H11.1952Z"
            />
            <path
              d="M6.33519 8.60511L3.75124 5.35239C3.75124 5.35239 3.35809 4.96571 3.78442 4.96571C4.21074 4.96571 5.24047 4.96571 5.24047 4.96571C5.24047 4.96571 5.24047 4.70558 5.24047 4.30442C5.24047 3.16072 5.24047 1.07926 5.24047 0.230703C5.24047 0.230703 5.18264 0 5.51616 0C5.85238 0 7.32502 0 7.56575 0C7.80604 0 7.80066 0.194276 7.80066 0.194276C7.80066 1.01715 7.80066 3.17053 7.80066 4.27687C7.80066 4.63553 7.80066 4.8681 7.80066 4.8681C7.80066 4.8681 8.62641 4.8681 9.14463 4.8681C9.66196 4.8681 9.2724 5.273 9.2724 5.273C9.2724 5.273 7.07398 8.31323 6.76735 8.6322C6.54679 8.86337 6.33519 8.60511 6.33519 8.60511Z"
            />
          </svg>
        </span>
        {{'Download in excel' | translate}}
      </button>
      <div *ngIf="loading$ | async">
        <app-loader></app-loader>
      </div>
    </div>
    <form action="">
      <div class="row orders__filters">
        <div class="wrap-input wrap-input--with-icon orders__search">
          <app-dynamic-input
            [value]="currencyPairValue"
            [options]="(currencyPairs$ | async) | dynamicIData: 'name': 'id'"
            (onChange)="onChangeCurrPair($event)"
            (onSelect)="onSelectPair($event)"
          >
          </app-dynamic-input>
          <div class="wrap-input__line"></div>
        </div>
        <div class="wrap-input orders__datepicker">
          <label
            class="wrap-input__label"
            [ngClass]="{'select-input_label': modelDateFrom?.date || isDateInputFromFocus}"
          >{{'From' | translate}}</label>
          <app-date-mask-input
            [innValue]="modelDateFrom"
            (validDate)="dateFromChanged($event)"
            (inputEmpty)="clearModelDateFrom()"
            (inputFocus)="focusOrBlurDateFrom($event)"
            [disableAutoFocus]="true"
          ></app-date-mask-input>
          <my-date-picker
            name="history-from"
            [options]="myDatePickerOptions"
            [(ngModel)]="modelDateFrom"
            (dateChanged)="dateFromChanged($event)"
          >
            &lt;!&ndash;&gt;&ndash;&gt;
          </my-date-picker>
          <div
            class="wrap-input__line"
            style="position: absolute; bottom: 1px; width: 100%;"
          ></div>
        </div>
        <div class="wrap-input orders__datepicker ">
          <label
            class="wrap-input__label"
            [ngClass]="{'select-input_label': modelDateTo?.date || isDateInputToFocus}"
          >{{'To' | translate}}</label>
          <app-date-mask-input
            [innValue]="modelDateTo"
            (validDate)="dateToChanged($event)"
            (inputEmpty)="clearModelDateTo()"
            (inputFocus)="focusOrBlurDateTo($event)"
            [disableAutoFocus]="true"
          ></app-date-mask-input>
          <my-date-picker
            name="history-to"
            [options]="myDatePickerOptions"
            [(ngModel)]="modelDateTo"
            (dateChanged)="dateToChanged($event)"
          >
            &gt;
          </my-date-picker>
          <div
            class="wrap-input__line"
            style="position: absolute; bottom: 1px; width: 100%;"
          ></div>
        </div>
        <button
          class="btn btn--auto orders__search-btn transaction__search-btn"
          (click)="onFilterOrders()"
          [disabled]="loading$ | async"
        >
          <span>Search</span>
        </button>
        <div class="orders__hide-toggler">
          <label class="toggler">
            <input
              type="checkbox"
              name="toggler"
              [(ngModel)]="hideAllCanceled"
              (change)="onHideAllCanceled()"
              [disabled]="loading$ | async"
            >
            <span class="toggler__indicate"></span>
          </label>
          <span>{{'Hide all canceled' | translate}}</span>
        </div>
      </div>
    </form>
    <!--table start-->
    <table class="table">
      <thead>
        <tr>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tal">{{'Order id' | translate}}</th>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tal">{{'Date' | translate}}</th>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tal">{{'Pair' | translate}}</th>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tal">{{'Type' | translate}}</th>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tal">{{'Limit price' | translate}}</th>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tal">{{'Stop price' | translate}}</th>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tal">{{'Amount' | translate}}</th>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tal">{{'Commission' | translate}}</th>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tar">{{'In total' | translate}}</th>
          <th class="table__cell-head table__cell-head--sort table__cell-head--tar">{{'Status' | translate}}</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr
          class="table__row"
          *ngFor="let item of orderItems$ | async | paginate: {
              itemsPerPage: countPerPage,
              currentPage: currentPage,
              totalItems: countOfEntries$ | async
            }; trackBy: trackByOrders"
        >

          <td class="table__cell">
            <span>{{item.id}}</span>
          </td>
          <td class="table__cell">
            <div class="table__date-time">
              <div>{{item.dateCreation | amFromUtc | amLocal | amDateFormat:"dd DD.MM.YYYY"}}</div>
              <div>{{item.dateCreation | amFromUtc | amLocal | amDateFormat:"HH:mm:ss"}}</div>
            </div>
          </td>
          <td class="table__cell">
            <div class="orders__pair-wrap">
              <div class="orders__pair">
                <span>{{item.currencyPairName | splitCurrency: 1}}</span>
              </div>
              <span style="margin: 0 8px;">/</span>
              <div class="orders__pair">
                <span>{{item.currencyPairName | splitCurrency: 2}}</span>
              </div>
            </div>
          </td>
          <td class="table__cell">
            <span [class]="setClassForOrderTypeField(item.operationType)">{{item.operationType | replaceChar: '_': ' '}}</span>
          </td>
          <td class="table__cell">
            <span>
              {{(item.exExchangeRate || item.limitRate)  | currencyFormat:'BTC'}}
              {{item.currencyPairName | splitCurrency: 2}}
            </span>
          </td>
          <td class="table__cell">
            <span>
              {{item.orderBaseType !== 'STOP_LIMIT' ? '-' : item.stopRate  | currencyFormat:'BTC'}}
              {{item.orderBaseType !== 'STOP_LIMIT' ? '' : item.currencyPairName | splitCurrency: 2}}
            </span>
          </td>
          <td class="table__cell">
            <span>
              {{item.amountBase | currencyFormat:'BTC'}}
              {{item.currencyPairName | splitCurrency: 1}}
            </span>
          </td>
          <td class="table__cell">
            <ng-container *ngIf="item.status !== 'CANCELLED'; else commisionCanceled">
              <span
                class="orders__comission-usd"
                *ngIf="!isVipUser; else vipUser"
              >
                <span>{{item.commissionFixedAmount | currencyFormat:'BTC'}}
                  {{item.currencyPairName | splitCurrency: 2}}
                </span>
              </span>
            </ng-container>
          </td>
          <td class="table__cell table__cell--tar">
            <span>
              {{item.amountWithCommission | currencyFormat:'BTC'}}
              <span>{{item.currencyPairName | splitCurrency: 2}}</span>
            </span>
          </td>
          <td class="table__cell table__cell--tar">
            <span>{{item.status | showOrderStatus}}</span>
          </td>
        </tr>
        <tr
          class="table__row"
          *ngIf="!(orderItems$ | async).length && !(loading$ | async)"
        >
          <td
            class="table__cell table__cell--tac"
            colspan="10"
          >
            {{'No matching records found' | translate}}
          </td>
        </tr>
      </tbody>
    </table>
    <!--table end-->
    <!--paginator start-->
    <div
      class="row row--aic orders__paginator"
      *ngIf="(countOfEntries$ | async) > countPerPage"
    >
      <app-page-items-dropdown
        [countPerPage]="countPerPage"
        [countOfEntries]="countOfEntries$ | async"
        (onChange)="changeItemsPerPage($event)"
      ></app-page-items-dropdown>
      <ul
        class="paginator"
        style="margin-left: auto;"
      >
        <pagination-controls
          maxSize="7"
          [previousLabel]="''"
          [nextLabel]="''"
          (pageChange)="changePage($event)"
        ></pagination-controls>
      </ul>
    </div>
    <!--paginator end-->
  </div>
  <!--orders-desktop end-->
</div>


<ng-template #commisionCanceled>
  <span>-</span>
</ng-template>

<ng-template #vipUser>
  <span>0.0</span>
</ng-template>

<ng-template #commisionCanceledMob>
  <div class="table__details-item-value">-</div>
</ng-template>

<ng-template #vipUserMob>
  <div class="table__details-item-value">0.0</div>
</ng-template>
