::ng-deep .mydp{
  display: flex !important;
  .selector{
    top: 50px;
    left: 0;
  }
  .selectiongroup{
    margin-left: auto !important;
    .selbtngroup {
      width: auto !important;
    }
  }
}
