<div
  class="balance__content-mob"
  (window:resize)="setScrollStyles()"
  [ngClass]="{ active: startAnimation }"
>
  <div class="balance__header-mob fade-anim del2">
    <div class="top-balance-wr">
      <div class="page-title">
        <h1 class="page-title__text">
          {{ "Balances" | translate }}
        </h1>
      </div>
    </div>
    <div class="tabs balance__tabs-mob">
      <button
        class="tabs__item"
        [ngClass]="{ 'tabs__item--active': currTab === Tab.CRYPTO }"
        (click)="onSelectTab.emit(Tab.CRYPTO)"
      >
        {{ "Crypto" | translate }}
      </button>
      <button
        class="tabs__item"
        [ngClass]="{ 'tabs__item--active': currTab === Tab.FIAT }"
        (click)="onSelectTab.emit(Tab.FIAT)"
      >
        {{ "Exchange Wallet" | translate }}
      </button>

      <!-- FUG BLOCK -->
      <button
        *ngIf="utils.isDeveloper"
        class="tabs__item"
        [ngClass]="{ 'tabs__item--active': currTab === Tab.QUBERA }"
        (click)="onSelectTab.emit(Tab.QUBERA)"
      >
        {{ "Funding Wallet" | translate }}
      </button>

      <button
        class="tabs__item"
        [ngClass]="{ 'tabs__item--active': currTab === Tab.IEO }"
        (click)="onSelectTab.emit(Tab.IEO)"
      >
        {{ "IEO" | translate }}
      </button>
    </div>
    <div class="balance__header-btn-wrap">
      <button
        class="btn btn--active balance__title-btn"
        (click)="openRefillBalancePopup.emit(true)"
      >
        {{ "Refill balance" | translate }}
      </button>
      <button
        class="btn balance__title-btn"
        (click)="openSendMoneyPopup.emit(true)"
      >
        {{ "Send money" | translate }}
      </button>
    </div>
  </div>

  <div
    *ngIf="currTab == Tab.IEO"
    #scrollContainer
    [ngStyle]="tableScrollStyles"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="false"
    [horizontal]="false"
  >
    <!--table-mob start-->
    <table
      class="table table--mob"
      [ngClass]="{
        'balance-ieo': currTab === Tab.IEO,
        'balance-fiat': currTab === Tab.FIAT,
        'hide-bal-block': leaveAnimationFn,
        'show-bal-block': !leaveAnimationFn
      }"
    >
      <thead class="table__head fade-move-anim del2">
        <tr class="table__head-row">
          <th class="table__cell-head table__cell-head--tal">
            {{ "Currency" | translate }}
          </th>
          <th class="table__cell-head table__cell-head--tal">
            {{ "Available balance" | translate }}
          </th>
          <th class="table__cell-head table__cell-head--tar">
            {{ "Price" | translate }}
          </th>
        </tr>
      </thead>
      <tbody class="table__body table__body--none-shadow fade-move-anim del2">
        <ng-container *ngFor="let ieo of IEOData; trackBy: trackByFn">
          <tr class="table__row--mob" (click)="onShowIEOMobDetails(ieo)">
            <td class="table__cell table__cell--tal">
              <div class="balance__currency">
                <div class="balance__currency-icon">
                  <img src="assets/img/currency-icons/citrus.svg" />
                </div>
                <div>
                  <span>{{ ieo.currencyDescription }}</span>
                </div>
              </div>
            </td>
            <td class="table__cell table__cell--tal">
              <span>{{
                ieo.availableAmount || 0
                  | roundCurrency: "BTC"
                  | formatCurrency: "short":"BTC"
              }}</span>
            </td>
            <td class="table__cell table__cell--tar">
              <div>
                {{
                  ieo.rate || 0
                    | roundCurrency: "BTC"
                    | formatCurrency: "short":"BTC"
                }}
                BTC
              </div>
            </td>
            <td class="table__cell table__cell--arr-mob">
              <svg
                width="12"
                height="11"
                viewBox="0 0 17 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <div class="table__row-mob-line"></div>
            </td>
          </tr>
        </ng-container>
        <tr class="table__row--mob" *ngIf="!IEOData.length">
          <td class="table__cell table__cell--tac" colspan="4">
            {{ "No matching records found" | translate }}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- table-mob end -->
  </div>
  <div class="pending-wr fade-move-anim del2">
    <div class="bg-btn"></div>
    <button
      class="tabs__item"
      [ngClass]="{ 'tabs__item--active': currTab === Tab.PR }"
      (click)="onGoToPendingReq()"
    >
      <span class="indicate">{{ countOfPendingRequests }}</span>
      {{ "Pending requests" | translate }}
      <span class="arrow">
        <svg
          width="11"
          height="11"
          viewBox="0 0 11 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.24264 1.12064L9.48528 5.36328L5.24264 9.60592"
            stroke="white"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </button>
  </div>
</div>
