<div class="container referal-page">
  <div class="referal">
    <div class="page-title">
      <h1 class="page-title__text">
        Referral program
      </h1>
      <button class="btn transaction__title-btn">
        <span class="btn__icon btn__icon--blue">
          <svg
            width="13"
            height="14"
            viewBox="0 0 13 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.1952 8.92188V12.12H1.80482V8.92188H0V13.06C0 13.5789 0.403462 13.9997 0.903755 13.9997H12.0962C12.5961 13.9997 13 13.5794 13 13.06V8.92188H11.1952Z"
            />
            <path
              d="M6.33519 8.60511L3.75124 5.35239C3.75124 5.35239 3.35809 4.96571 3.78442 4.96571C4.21074 4.96571 5.24047 4.96571 5.24047 4.96571C5.24047 4.96571 5.24047 4.70558 5.24047 4.30442C5.24047 3.16072 5.24047 1.07926 5.24047 0.230703C5.24047 0.230703 5.18264 0 5.51616 0C5.85238 0 7.32502 0 7.56575 0C7.80604 0 7.80066 0.194276 7.80066 0.194276C7.80066 1.01715 7.80066 3.17053 7.80066 4.27687C7.80066 4.63553 7.80066 4.8681 7.80066 4.8681C7.80066 4.8681 8.62641 4.8681 9.14463 4.8681C9.66196 4.8681 9.2724 5.273 9.2724 5.273C9.2724 5.273 7.07398 8.31323 6.76735 8.6322C6.54679 8.86337 6.33519 8.60511 6.33519 8.60511Z"
            />
          </svg>
        </span>
        Download in excell
      </button>
    </div>
    <form action="">
      <div class="row transaction__filters">
        <div class="left-part">
          <div class="tab-wr">
            <button class="tab-referal active"><span>Referral structure</span></button>
            <button class="tab-referal"><span>Referral income</span></button>
          </div>
        </div>
        <div class="right-part">
          <div class="input-wr">
            <input
              type="text"
              placeholder="Structure name"
            >
          </div>
          <button class="btn btn--auto transaction__search-btn">
            <span>Create structure</span>
          </button>
        </div>

      </div>

    </form>
    <!--table start-->
    <table class="table">
      <thead>
        <tr>
          <th class="table__cell-head table__cell-head--tal">Referrals</th>
          <th class="table__cell-head table__cell-head--tal">Name</th>
          <th class="table__cell-head table__cell-head--tal">Link</th>
          <th class="table__cell-head table__cell-head--tal">Earned BTC</th>
          <th class="table__cell-head table__cell-head--tal">Earned USD</th>
          <th class="table__cell-head table__cell-head--tal">Earned USDT</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr class="table__row no-hover">
          <td class="table__cell people">
            <div class="people-wr">
              <img
                src="/assets/img/people.svg"
                alt="people icon"
              >
              <span>16</span>
            </div>

          </td>
          <td class="table__cell">
            My referral structure
          </td>
          <td class="table__cell">
            exrates.me/register?ref=54571354462
          </td>
          <td class="table__cell">
            <span>0.00000009 BTC</span>
          </td>
          <td class="table__cell">
            <span>101.01 USD</span>
          </td>
          <td class="table__cell">
            <span>1291.12345678 USDT</span>
          </td>
        </tr>
        <tr class="table__row no-hover">
          <td class="table__cell people">
            <div class="people-wr">
              <img
                src="/assets/img/people.svg"
                alt="people icon"
              >
              <span>16</span>
            </div>

          </td>
          <td class="table__cell">
            My referral structure
          </td>
          <td class="table__cell">
            exrates.me/register?ref=54571354462
          </td>
          <td class="table__cell">
            <span>0.00000009 BTC</span>
          </td>
          <td class="table__cell">
            <span>101.01 USD</span>
          </td>
          <td class="table__cell">
            <span>1291.12345678 USDT</span>
          </td>
        </tr>
        <tr class="table__row no-hover">
          <td class="table__cell people">
            <div class="people-wr">
              <img
                src="/assets/img/people.svg"
                alt="people icon"
              >
              <span>16</span>
            </div>

          </td>
          <td class="table__cell">
            My referral structure
          </td>
          <td class="table__cell">
            exrates.me/register?ref=54571354462
          </td>
          <td class="table__cell">
            <span>0.00000009 BTC</span>
          </td>
          <td class="table__cell">
            <span>101.01 USD</span>
          </td>
          <td class="table__cell">
            <span>1291.12345678 USDT</span>
          </td>
        </tr>
        <tr class="table__row no-hover">
          <td class="table__cell people">
            <div class="people-wr">
              <img
                src="/assets/img/people.svg"
                alt="people icon"
              >
              <span>16</span>
            </div>

          </td>
          <td class="table__cell">
            My referral structure
          </td>
          <td class="table__cell">
            exrates.me/register?ref=54571354462
          </td>
          <td class="table__cell">
            <span>0.00000009 BTC</span>
          </td>
          <td class="table__cell">
            <span>101.01 USD</span>
          </td>
          <td class="table__cell">
            <span>1291.12345678 USDT</span>
          </td>
        </tr>
        <!-- <tr class="table__row no-hover empty-table-row">
          <td
            class="table__cell table__cell--tac"
            colspan="7"
          >
            No matching records found
          </td>
        </tr> -->
      </tbody>
    </table>
    <!--table end-->
    <!--paginator start-->
    <!-- <div
      class="row row--aic orders__paginator"
      *ngIf="(countOfEntries$ | async) > countPerPage"
    >
      <app-page-items-dropdown
        [countPerPage]="countPerPage"
        [countOfEntries]="countOfEntries$ | async"
        (onChange)="changeItemsPerPage($event)"
      ></app-page-items-dropdown>
      <ul
        class="paginator"
        style="margin-left: auto;"
      >
        <pagination-controls
          maxSize="7"
          [previousLabel]="''"
          [nextLabel]="''"
          (pageChange)="changePage($event)"
        ></pagination-controls>
      </ul>
    </div> -->
    <!--paginator end-->
    <div class="how-it-work-block">
      <div class="hiw-wr">
        <div class="hiw-title">
          <h3>How it works?</h3>
        </div>
        <div class="hiw-item-wr">
          <div class="hiw-item">
            <div class="hiw-icon">
              <img
                src="/assets/img/hiw1.svg"
                alt="how it work image"
              >
            </div>
            <div class="hiw-txt">
              <p>Invite people
                <br>by referal link</p>
            </div>
            <div class="hiw-stage">
              <span>1</span>
            </div>
          </div>
          <div class="hiw-item">
            <div class="hiw-icon">
              <img
                src="/assets/img/hiw2.svg"
                alt="how it work image"
              >
            </div>
            <div class="hiw-txt">
              <p>They start trade and
                <br>pay comission</p>
            </div>
            <div class="hiw-stage">
              <span>2</span>
            </div>
          </div>
          <div class="hiw-item">
            <div class="hiw-icon">
              <img
                src="/assets/img/hiw3.svg"
                alt="how it work image"
              >
            </div>
            <div class="hiw-txt">
              <p>Recieve the charges
                <br>fromtheir comission</p>
            </div>
            <div class="hiw-stage">
              <span>3</span>
            </div>
          </div>
          <div class="hiw-item">
            <div class="hiw-icon">
              <img
                src="/assets/img/hiw4.svg"
                alt="how it work image"
              >
            </div>
            <div class="hiw-txt">
              <p>Build a structures
                <br>and earn money
              </p>
            </div>
            <div class="hiw-stage">
              <span>4</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
