<div
  class="referal-fs"
  *ngIf="!isAuthenticated"
>
  <div class="content-wr">
    <h2>Register and create referral structure</h2>
    <button
      class="btn transaction__title-btn"
      (click)="openRegistration()"
    >
      Start Registration
    </button>
  </div>
</div>

<div class="container referal-page">

  <div
    class="referal"
    *ngIf="isAuthenticated"
  >
    <div class="page-title">
      <h1 class="page-title__text">
        Referral program
      </h1>
      <button class="btn transaction__title-btn">
        <span class="btn__icon btn__icon--blue">
          <svg
            width="13"
            height="14"
            viewBox="0 0 13 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.1952 8.92188V12.12H1.80482V8.92188H0V13.06C0 13.5789 0.403462 13.9997 0.903755 13.9997H12.0962C12.5961 13.9997 13 13.5794 13 13.06V8.92188H11.1952Z"
            />
            <path
              d="M6.33519 8.60511L3.75124 5.35239C3.75124 5.35239 3.35809 4.96571 3.78442 4.96571C4.21074 4.96571 5.24047 4.96571 5.24047 4.96571C5.24047 4.96571 5.24047 4.70558 5.24047 4.30442C5.24047 3.16072 5.24047 1.07926 5.24047 0.230703C5.24047 0.230703 5.18264 0 5.51616 0C5.85238 0 7.32502 0 7.56575 0C7.80604 0 7.80066 0.194276 7.80066 0.194276C7.80066 1.01715 7.80066 3.17053 7.80066 4.27687C7.80066 4.63553 7.80066 4.8681 7.80066 4.8681C7.80066 4.8681 8.62641 4.8681 9.14463 4.8681C9.66196 4.8681 9.2724 5.273 9.2724 5.273C9.2724 5.273 7.07398 8.31323 6.76735 8.6322C6.54679 8.86337 6.33519 8.60511 6.33519 8.60511Z"
            />
          </svg>
        </span>
        Download in excell
      </button>
    </div>
    <form action="">
      <div class="row referal__tab">
        <div class="left-part">
          <div class="tab-wr">
            <button
              class="tab-referal"
              [ngClass]="{'active': tab === Tabs.structure}"
              (click)="selectTab(Tabs.structure)"
            ><span>Referral structure</span></button>
            <button
              class="tab-referal"
              [ngClass]="{'active': tab === Tabs.income}"
              (click)="selectTab(Tabs.income)"
            ><span>Referral income</span></button>
          </div>
        </div>
        <div class="right-part">
          <div class="wrap-input">
            <input
              type="text"
              class="wrap-input__input dynamic-input ng-untouched ng-pristine ng-invalid"
              name="name"
              [(ngModel)]="newStructureName"
              required
            >
            <label class="wrap-input__label">Structure name</label>
          </div>
          <button
            class="btn btn--auto transaction__search-btn"
            (click)="createNewStructure()"
          >
            <span>Create structure</span>
          </button>
        </div>
      </div>
    </form>

    <ng-container *ngIf="!isMobile">
      <app-structure-table
        *ngIf="tab === Tabs.structure"
        [links]="myReferralLinks"
        (changeName)="changeStructureName($event)"
        (clickMainLink)="openFirstChilds($event)"
        (clickChild1Link)="openSecondChilds($event)"
        (clickChild2Link)="openThirdChilds($event)"
      ></app-structure-table>
      <app-income-table *ngIf="tab === Tabs.income"></app-income-table>
    </ng-container>
    <ng-container *ngIf="isMobile">
      <app-structure-table-mobile
        *ngIf="tab === Tabs.structure"
        [links]="myReferralLinks"
        (changeName)="changeStructureName($event)"
        (clickMainLink)="openFirstChilds($event)"
        (clickChild1Link)="openSecondChilds($event)"
        (clickChild2Link)="openThirdChilds($event)"
      ></app-structure-table-mobile>
      <app-income-table-mobile *ngIf="tab === Tabs.income"></app-income-table-mobile>
    </ng-container>
  </div>

  <app-ref-how-work></app-ref-how-work>
  <app-ref-how-much></app-ref-how-much>
</div>
