<!-- start component -->
<div class="first-screen ">
  <div class="fs-wr">
    <div class="fs-wr-inner">
      <div class="fs-image-container animate-item">
        <img
          src="assets/img/ieo/bg.jpg"
          alt=""
        >
      </div>
      <div
        class="fs-content"
        *ngIf="IEOData"
      >
        <div
          class="bittorrent animate-item"
          [ngSwitch]="IEOData.currencyName"
        >
          <img
            src="assets/img/ieo/dom.png"
            alt="DOM"
            *ngSwitchCase="'DOM'"
          >
        </div>
        <div class="btc-session">
          <div class="b-s-title animate-item">
            <h3>
              {{IEOData.currencyDescription}} - BTC {{'Session' | translate}}
              <span class="upcoming {{IEOData.status | lowercase}}">{{IEOData.status | showStageStatus}}</span></h3>
          </div>
          <table class="b-s-table animate-item">
            <tr>
              <td><span>{{'Price' | translate}}：</span></td>
              <td class="right-text">
                <span *ngIf="!IEOData.rate">{{'To be determined' | translate}}</span>
                <span *ngIf="IEOData.rate">
                  1 {{IEOData.currencyName}} = {{IEOData.rate | currencyFormat}} BTC
                </span>
              </td>
            </tr>
            <tr>
              <td>{{'Start Time' | translate}}：</td>
              <td class="right-text">
                <span>{{IEOData.startDate | dateFromISO8601 | amFromUtc | amLocal | amDateFormat:"YYYY-MM-DD HH:mm:ss"}}</span>
              </td>
            </tr>
            <tr>
              <td>{{'IEO Goal' | translate}}：</td>
              <td class="right-text">
                <span>{{sessionSupply | currencyFormat}} BTC</span></td>
            </tr>
          </table>
          <div class="buy-block">

            <div
              class="progress-block animate-item"
              *ngIf="stage.RUNNING === currentStage"
            >
              <div class="currency-info animate-item">
                <div class="currency-buyed">
                  <span class="buyed-value">{{boughtAmount | currencyFormat}}</span>
                  <span class="currency-name">{{IEOData.currencyName}}</span>
                </div>
                <div class="percentage">
                  <span>{{boughtAmountPer}}%</span>
                </div>
              </div>
              <div class="currency-bar animate-item">
                <div
                  class="currency-bar-progress"
                  [style.width.%]="boughtAmountPer"
                ></div>
              </div>
            </div>

            <div class="amount animate-item">
              <p>{{'Amount' | translate}}:
                <span>{{IEOData.amount | currencyFormat}} {{IEOData.currencyName}}</span>
              </p>
            </div>

            <div
              class="starts animate-item"
              *ngIf="stage.PENDING === currentStage"
            >
              <p>{{'Starts In' | translate}}:</p>
              <div
                class="timer"
                [innerHTML]="timer"
              ></div>
            </div>

            <div class="button-part animate-item">
              <div>
                <button
                  class="standart-btn"
                  (click)="buy.emit()"
                  [ngClass]="{'ieo-buy': requirements.kycCheck && !requirements.countryCheck}"
                  [disabled]="ieoLoading || (currentStage !== stage.RUNNING) || (requirements.kycCheck && !requirements.countryCheck)"
                  *ngIf="isAuthenticated && (currentStage === stage.RUNNING || currentStage === stage.PENDING)"
                >
                  <span>{{'Buy Now' | translate}}</span>
                </button>
                <div
                  class="input-hint-wrapper"
                  *ngIf="isAuthenticated"
                >
                  <span class="wrap-input__message">
                    {{'Sorry, your country not allowed' | translate}}
                  </span>
                </div>
              </div>
              <button
                class="standart-btn"
                *ngIf="!isAuthenticated"
                (click)="onLogin()"
              >
                <span>{{'Log In' | translate}}</span>
              </button>

              <button
                class="standart-btn"
                (click)="goToNewsPage()"
                *ngIf="isAuthenticated
                  && (currentStage === stage.SUCCEEDED
                    || currentStage === stage.FAILED
                    || currentStage === stage.TERMINATED)"
              >
                <span>{{'More' | translate}}</span>
              </button>

              <div>

                <!-- <div class="input-hint-wrapper" *ngIf="isAuthenticated">
                  <span class="wrap-input__message">
                    {{'Sale of' | translate}} {{IEOData.currencyDescription}} {{'has been ended' | translate}}
                  </span>
                </div> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end component -->
