<div class="select">
  <div
    class="select__value select__value--active"
    (click)="toggleCurrencyDropdown()"
    [ngClass]="{'select__value--active' : activeCurrency !=='default'}"
  >
    <!-- [ngClass]="{'select__value--error': fiatDataByName && !selectedMerchant}" -->
    <div
      class="icon-wr"
      *ngIf="activeCurrency !=='default'"
    >
      <img
        [src]="activeCurrency.name | getIconUrl:true"
        onerror="this.src = 'assets/img/currency-icons/no_icon.svg'"
        class="select__list-item-icon select__list-item-icon--mobile"
      >
      <img
        [src]="activeCurrency.name | getIconUrl"
        onerror="this.src = 'assets/img/currency-icons/no_icon.svg'"
        class="select__list-item-icon select__list-item-icon--destop"
      >
    </div>
    {{activeCurrency.name}}
  </div>
  <div class="select__label">{{'Currency' | translate}}</div>
  <div class="select__line"></div>
  <div class="select__triangle"></div>
  <ul
    class="select__list"
    [ngClass]="{'select__list--open': openCurrencyDropdown}"
    *ngIf="openCurrencyDropdown"
  >
    <li
      class="select__list-item"
      *ngFor="let currency of currencies"
      (click)="onSelectCurrency(currency)"
    >
      <div class="icon-wr">
        <img
          [src]="currency.name | getIconUrl"
          onerror="this.src = 'assets/img/currency-icons/no_icon.svg'"
          class="select__list-item-icon"
        >
      </div>

      {{currency.name}}
    </li>
  </ul>
</div>
