<div class="overlay--modal modal--open">
  <div class="modal">
    <!-- btn modal close -->
    <div class="modal__controls modal__controls--top">
      <a class="modal__button modal__button--close"
         (click)="onCloseSendMoneyPopup()">
        <span>close</span>
        <img class="modal__button-icon" src="../../../assets/img/close.svg">
      </a>
    </div>
    <!-- modal header start -->
    <div class="modal__header-mob">
      <div class="steps__counter steps__counter--mob">step
        <span class="steps__counter-val">{{step}}</span>/4
      </div>
      <div class="modal__header-mob-controls">
        <!--<a class="modal__control-mob" href="#">-->
        <!--<img class="modal__control-icon" src="../../../assets/img/minimize-mob-blue.svg">-->
        <!--</a>-->
        <!--<a class="modal__control-mob" href="#">-->
          <!--<img class="modal__control-icon" src="../../../assets/img/learn-blue.svg"></a>-->
        <a class="modal__control-mob" (click)="onCloseSendMoneyPopup()">
          <img class="modal__control-icon" src="../../../assets/img/close-blue.svg"></a>
      </div>
    </div>
    <div class="modal__header">
      <ul class="steps">
        <li class="steps__item"
            [ngClass]="{'steps__item--current': step === 1}"
        >
          <a class="steps__link" (click)="setStep(1)">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 1, 'steps__number--valid': step != 1 }">1</span>
            <span class="steps__number-mob-current">1. Send money</span>
            <span class="steps__title">Send money</span>
          </a>
        </li>
        <li class="steps__item" *ngIf="step >= 2"
            [ngClass]="{'steps__item--current': step === 2}"
        >
          <a class="steps__link" (click)="setStep(2)">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 2, 'steps__number--valid': step != 2 }">2</span>
            <span class="steps__number-mob-current">2. {{stepTwoName}}</span>
            <span class="steps__title">{{stepTwoName}}</span>
          </a>
        </li>
        <li class="steps__item" *ngIf="step >= 3"
            [ngClass]="{'steps__item--current': step === 3}"
        >
          <a class="steps__link" (click)="setStep(3)">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 3, 'steps__number--valid': step != 3 }">3</span>
            <span class="steps__number-mob-current">3. {{stepThreeName}}</span>
            <span class="steps__title">{{stepThreeName}}</span>
          </a>
        </li>
        <li class="steps__item "
            *ngIf="step === 4"
            [ngClass]="{'steps__item--current': step >= 4}"
        >
          <a class="steps__link" (click)="setStep(4)">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 4, 'steps__number--valid': step != 4 }">4</span>
            <span class="steps__number-mob-current">4. Accepted</span>
            <span class="steps__title">Accepted</span>
          </a>
        </li>
      </ul>
      <div class="steps__counter">step <span class="steps__counter-val">{{step}}</span>/ 4</div>
    </div>
    <!-- modal header end -->
    <div class="modal__content">
      <app-send-step-one
        *ngIf="step === 1"
        (chooseSend)="chooseSend($event)"
        (closePopup)="onCloseSendMoneyPopup()"
      ></app-send-step-one>

      <app-send-step-two
        *ngIf="step === 2"
        [choosedName]="stepTwoName"
        [balanceData]="optionData.balance"
      ></app-send-step-two>

      <app-send-step-three
        *ngIf="step === 3"
        [choosedName]="stepThreeName"
        [data]="stepThreeData"
      ></app-send-step-three>

      <app-send-successful
        *ngIf="step === 4"
        [data]="stepFourData"
        (closeMe)="onCloseSendMoneyPopup()"
      ></app-send-successful>

    </div>
  </div>
</div>
