.send {
  &__wrap-input {
    margin: 0 auto 24px;
  }
}
.btn {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .send {
    &__wrap-input {
      max-width: 320px;
      margin-bottom: 32px;
    }
  }
}

.popup__subtitle {
  margin-bottom: 33px;
}
