<div *ngIf="pincodeFrom === CODE_FROM_GOOGLE" class="side-popups">
  <div class="title send__title">{{'Two factor authentication' | translate}}</div>
  <!--if google 2fa enabled start-->
  <form [formGroup]="form">
    <div class="wrap-input send__wrap-input"
         [ngClass]="{'wrap-input--error': !form.valid && form.controls['pin'].touched}">
      <input class="wrap-input__input" autofocus name="pin" formControlName="pin" autocomplete="off" required>
      <label class="wrap-input__label">{{'Authenticator code' | translate}}</label>
      <div class="wrap-input__line"></div>
      <!--Input error section starts-->
       <div class="input-hint-wrapper" *ngIf="form.controls['pin'].errors !== null">
        <span class="wrap-input__message">{{subtitleMessage}}</span>
        <span class="wrap-input__message" *ngIf="!subtitleMessage && form.controls['pin'].errors['required']">{{'Pincode is required.' | translate}}</span>
      </div>
      <!--Input error section ends-->
    </div>
  </form>
</div>
<!--if google 2fa enabled end-->

<!--pin code from email start-->
<div *ngIf="pincodeFrom === CODE_FROM_EMAIL" class="side-popups">
  <div class="subtitle send__subtitle">{{'Put the pincode from your email' | translate}}</div>
  <form [formGroup]="form">
    <div class="wrap-input send__wrap-input"
         [ngClass]="{'wrap-input--error': !form.valid && form.controls['pin'].touched}">
      <input class="wrap-input__input" autofocus name="pin" formControlName="pin" autocomplete="off" required>
      <label class="wrap-input__label">{{'Pincode' | translate}}</label>
      <div class="wrap-input__line"></div>
      <!--Input error section starts-->
      <div class="input-hint-wrapper" *ngIf="form.controls['pin'].errors !== null">
      <span class="wrap-input__message">{{subtitleMessage}}</span>
        <span class="wrap-input__message" *ngIf="!subtitleMessage && form.controls['pin'].errors['required']">{{'Pincode is required.' | translate}}</span>
      </div>
      <!--Input error section ends-->
    </div>
  </form>
</div>
<!--pin code from email end-->
<button
  class="btn btn--center"
  *ngIf="pincodeFrom"
  [ngClass]="{'btn--empty-blue': !form.valid}"
  [disabled]="form.invalid || loading"
  (click)="onSubmit()"
>
  {{'Submit' | translate}}
</button>
