<div class="title modal__title">Two-Factor authentication by google authentificator</div>
<div class="subtitle modal__subtitle">
  <p>Back up your Secret Key.</p>
</div>
<div class="modal__row">
  <p>Reseting your two - factor authentication requires opening a support ticket and may take up to 48 hours to address.</p>
</div>
<div class="modal__row">
  <div class="modal__code-grey-field">{{ secretCode }}</div>
</div>
<button class="btn btn--active btn--center " (click)="onNextStep()">Yes I saved it</button>
