.modal__content{
  padding: 32px 12px;
}
.overlay--modal{
  background-color: transparent;
  transition: background-color .4s ease;
}
.modal--open{
  background-color: rgba(0, 0, 0, 0.85);
  .modal{
    right: 0;
  }
}
@media (min-width:600px){
  .modal__content{
    padding: 32px 12px;
  }
}
@media (min-width:1200px){
  .modal__content{
    padding: 32px;
  }
}
