
<div class="overlay--modal" *ngIf="showPopup" [@overlayAnimation]="showPopup ? 'show' : 'hide'" appAddClass="no-scroll" to="body">
  <div class="modal" [@modalAnimation]="showPopup ? 'show' : 'hide' ">
    <!-- btn modal close -->
    <div class="modal__controls modal__controls--top">
      <a class="modal__button modal__button--close" (click)="onCloseRefillBalancePopup()">
        <span>{{'close' | translate}}</span>
        <img class="modal__button-icon" src="../../../assets/img/close.svg">
      </a>
    </div>
    <!-- modal header start -->
    <div class="modal__header-mob">
      <div class="steps__counter steps__counter--mob">{{'step' | translate}}
        <span class="steps__counter-val">{{step}}</span>/2</div>
      <div class="modal__header-mob-controls">
        <a class="modal__control-mob" (click)="onCloseRefillBalancePopup()">
          <img class="modal__control-icon" src="../../../assets/img/close-blue.svg"></a>
      </div>
    </div>
    <div class="modal__header">
      <ul class="steps">
        <li class="steps__item"
           *ngIf="step >= 1"
            [ngClass]="{'steps__item--current': step === 1}">
          <a class="steps__link" (click)="setStep(1)">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 1, 'steps__number--valid': step != 1 }">1</span>
            <span class="steps__number-mob-current">1. {{'Refill money' | translate}}</span>
            <span class="steps__title">{{'Refill money' | translate}}</span>
          </a>
        </li>
        <li class="steps__item"
            *ngIf="step >= 2"
            [ngClass]="{'steps__item--current': step === 2}">
          <a class="steps__link" (click)="setStep(2)">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 2, 'steps__number--valid': step != 2 }">2</span>
            <span class="steps__number-mob-current">2. {{stepTwoName}}</span>
            <span class="steps__title">{{stepTwoName}}</span>
          </a>
        </li>
        <li class="steps__item"
            *ngIf="step >= 3 && showStepThree == true"
            [ngClass]="{'steps__item--current': step === 3}">
          <a class="steps__link" (click)="setStep(3)">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 3, 'steps__number--valid': step != 3 }">3</span>
            <span class="steps__number-mob-current">3. {{stepTwoName}}</span>
            <span class="steps__title">{{stepTwoName}}</span>
          </a>
        </li>
        <li class="steps__item"
            *ngIf="step >= 4 && showStepThree == true"
            [ngClass]="{'steps__item--current': step === 4}">
          <a class="steps__link" (click)="setStep(4)">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 4, 'steps__number--valid': step != 4 }">4</span>
            <span class="steps__number-mob-current">4. {{stepTwoName}}</span>
            <span class="steps__title">{{stepTwoName}}</span>
          </a>
        </li>
      </ul>
      <div class="steps__counter" *ngIf="showStepThree == false">{{'step' | translate}} <span class="steps__counter-val">{{step}}</span>/ 2</div>
      <div class="steps__counter" *ngIf="showStepThree == true">{{'step' | translate}} <span class="steps__counter-val">{{step}}</span>/ 4</div>
    </div>
    <!-- modal header end -->
    <div class="modal__content">
      <app-refill-step-one
      *ngIf="step === 1"
      (chooseRefill)="chooseRefil($event)"
      ></app-refill-step-one>

      <app-refill-step-two
      *ngIf="step === 2"
      [choosedName]="stepTwoName"
      (closePopup)="onCloseRefillBalancePopup()"
      (selectQuberaBank)="changeSteps()"
      (goToThirdStep)="setStep(3)"
      (hideSteps)="hideStep()"
      [refillData]="optionData.balance"
      ></app-refill-step-two>

      <app-refill-step-three
      *ngIf="step === 3">

      </app-refill-step-three>

    </div>
  </div>
</div>
