// TEMP STYLE
:host {
  position: absolute;
  z-index: 99;
  input {
    width: 100px;
    height: 45px;
    font-size: 16px;
    margin-left: 5px;
    padding-left: 10px;
    background: transparent;
    border: none;
    color: #94C2FF;
    @media(max-width: 680px){
      height: 36px;
    }
    @media(max-width: 380px){
      padding-left: 3px;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }

}
