<div class="settings__content">
  <h3 class="title settings__content-title">Email Notifications</h3>
  <div class="settings__toggler-row">
    <label for="" class="toggler settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler__indicate"></span>
    </label>
    <span class="settings__toggler-text">Input / output</span>
  </div>
  <div class="settings__toggler-row">
    <label for="" class="toggler settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler__indicate"></span>
    </label>
    <span class="settings__toggler-text">Orders</span>
  </div>
  <div class="settings__toggler-row">
    <label for="" class="toggler settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler__indicate"></span>
    </label>
    <span class="settings__toggler-text">Account changes</span>
  </div>
  <div class="settings__toggler-row">
    <label for="" class="toggler settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler__indicate"></span>
    </label>
    <span class="settings__toggler-text">Notifications from administrators</span>
  </div>
  <div class="settings__toggler-row">
    <label for="" class="toggler settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler__indicate"></span>
    </label>
    <span class="settings__toggler-text">Other messages</span>
  </div>
</div>
