<div class="settings-content settings-content--mob-asc">
  <h3 class="settings-content__title settings-content__title--mob-mb32">Email Notifications</h3>
  <div class="settings__toggler-row">
    <label for="" class="toggler-button settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler-button__indicate"></span>
    </label>
    <span class="settings__toggler-row-text">Input / output</span>
  </div>
  <div class="settings__toggler-row">
    <label for="" class="toggler-button settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler-button__indicate"></span>
    </label>
    <span class="settings__toggler-row-text">Orders</span>
  </div>
  <div class="settings__toggler-row">
    <label for="" class="toggler-button settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler-button__indicate"></span>
    </label>
    <span class="settings__toggler-row-text">Account changes</span>
  </div>
  <div class="settings__toggler-row">
    <label for="" class="toggler-button settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler-button__indicate"></span>
    </label>
    <span class="settings__toggler-row-text">Notifications from administrators</span>
  </div>
  <div class="settings__toggler-row">
    <label for="" class="toggler-button settings__toggler">
      <input type="checkbox" name="" value="">
      <span class="toggler-button__indicate"></span>
    </label>
    <span class="settings__toggler-row-text">Other messages</span>
  </div>
</div>
