<div
  class="currency-pair-info"
  *ngIf="true"
>
  <div class="currency-pair-info__inner">
    <app-dynamic-input-dashboard
      [value]="pairInput"
      [options]="DIOptions"
      (onChange)="onChangeCurrPair($event)"
      (onSelect)="onSelectPair($event.text)"
      (onBlur)="onBlurInput()"
    ></app-dynamic-input-dashboard>
    <div
      class="currency-pair-info__info"
      style="min-width: 180px;"
      [ngClass]="{
        'currency-pair-info__info--up': flagForArrow('up'),
        'currency-pair-info__info--down': flagForArrow('down')
      }"
    >
      <div
        class="currency-pair-info__info-inner"
        *ngIf="currentCurrencyInfo"
      >
        <div class="currency-pair-info__change">
          <span>
            {{currentCurrencyInfo.percentChange | positivePipe | currencyFormat: 'USD'}}%
          </span>
          <img
            class="currency-pair-info__arr-up"
            src="../assets/img/arr-up-green.svg"
            alt=""
            *ngIf="flagForArrow('up')"
          >
          <img
            class="currency-pair-info__arr-down"
            src="../assets/img/arr-down-red.svg"
            alt=""
            *ngIf="flagForArrow('down')"
          >

          <span>
            {{currentCurrencyInfo.changedValue | currencyFormat}} {{pair.name | splitCurrency : 2}}
          </span>
        </div>
        <div
          class="currency-pair-info__price"
          [ngClass]="{
            'currency-pair-info__price--up': lastPriceDir('up'),
            'currency-pair-info__price--down': lastPriceDir('down')
          }"
        >
          {{currentCurrencyInfo.currencyRate | currencyFormat}} {{pair.name | splitCurrency : 2}}
        </div>
      </div>
    </div>
    <div
      class="currency-pair-info__item"
      style="min-width: 130px; padding-left: 0;"
    >
      <div class="currency-pair-info__item-title">{{'24h high' | translate}}</div>
      <span class="currency-pair-info__item-value">
        {{currentCurrencyInfo?.rateHigh || 0 | number:'1.0-8' | replaceNumber }}
      </span>
    </div>
    <div
      class="currency-pair-info__item"
      style="min-width: 130px;"
    >
      <div class="currency-pair-info__item-title">{{'24h low' | translate}}</div>
      <span class="currency-pair-info__item-value">
        {{currentCurrencyInfo?.rateLow || 0 | number:'1.0-8' | replaceNumber}}
      </span>
    </div>
    <div
      class="currency-pair-info__item"
      style="min-width: 180px;"
    >
      <div class="currency-pair-info__item-title">{{'24h volume' | translate}}</div>
      <span class="currency-pair-info__item-value">
        {{currentCurrencyInfo?.volume24h || 0 | number:'1.0-0' | replaceNumber}} {{pair.name | splitCurrency : 1}}
      </span>
    </div>
    <!--<div class="currency-pair-info__item" *ngIf="userBalanceInfo">-->
    <!--<div class="currency-pair-info__item-title">You have</div>-->
    <!--<div class="currency-pair-info__you-have">-->
    <!--<span class="currency-pair-info__item-value">{{ userBalanceInfo.balanceByCurrency1 | number:'1.0-0' | replaceNumber }} {{ firstCurrency }}</span>-->
    <!--<span class="currency-pair-info__vertical-line"></span>-->
    <!--<span class="currency-pair-info__item-value">{{ userBalanceInfo.balanceByCurrency2 | number:'1.0-0' | replaceNumber }} {{ secondCurrency }}</span>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
