<div class="settings__content">
  <h3 class="title settings__content-title">{{'Change password' | translate}}</h3>

  <form class="settings-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="settings__form-row">
      <div class="wrap-input wrap-input--fix230"
       [ngClass]="{'wrap-input--error': !currentPassword.valid && currentPassword.touched && currentPassword.errors != null}"
      >

        <input
          (input)="currentPasswordInput()"
          class="wrap-input__input"
          [type]="isPasswordCurrVisible ? 'text' : 'password'"
          formControlName="current_password"
          autocomplete="false"
          required
        >
        <label class="wrap-input__label">{{'Current password' | translate}}</label>
        <div class="wrap-input__line"></div>
        <span
          class="wrap-input__show-password"
          (click)="isPasswordCurrVisible = !isPasswordCurrVisible"
          [ngClass]="{'wrap-input__show-password--active': isPasswordCurrVisible}"
        ></span>
        <!--Input error section starts-->
        <ng-container *ngIf="currentPassword.touched && currentPassword.errors != null">

          <div class="input-hint-wrapper">
             <span
               class="wrap-input__message"
               *ngIf="currentPassword.errors['required']">
            {{'Password field is required.' | translate}}
             </span>
             <span
               class="wrap-input__message"
               *ngIf="currentPassword.errors['wrong_password']">
                {{'Current password invalid.' | translate}}
             </span>
          </div>
        </ng-container>
        <!--Input error section ends-->
      </div>
    </div>
    <div class="settings__form-row">
      <div class="wrap-input wrap-input--fix230"
           [ngClass]="{'wrap-input--error': (!firstPassword.valid && firstPassword.touched && firstPassword.errors != null) && currentPassword.valid}"
      >
        <input
          (input)="firstPasswordInput()"
          class="wrap-input__input"
          [type]="isPassword1Visible ? 'text' : 'password'"
          formControlName="password_1"
          autocomplete="false"
          required
        >
        <label class="wrap-input__label">{{'New password' | translate}}</label>
        <div class="wrap-input__line"></div>
        <!--Input error section starts-->
        <ng-container *ngIf="firstPassword.touched && firstPassword.errors != null">
          <div class="input-hint-wrapper" *ngIf="currentPassword.valid || !currentPassword.touched">
            <span
            class="wrap-input__message"
            *ngIf="(firstPassword.errors['passwordValidation'] ||
                  firstPassword.errors['minlength'] ||
                  firstPassword.errors['required'] ||
                  firstPassword.errors['maxlength']) && currentPassword.valid"
          >
            {{('Password cannot be less than 8 and more than 20 characters long and should contain of letters (a-z),' +
                ' numbers (0-9) and/or any combination of @*%!#^!&$<>.()-=+\' characters.') | translate}}
          </span>
          </div>

        </ng-container>

        <!--Input error section ends-->
      </div>
    </div>
    <div class="settings__form-row">
      <div
        class="wrap-input wrap-input--fix230"
        [ngClass]="{
          'wrap-input--error': ((!secondPassword.valid &&
                                secondPassword.errors != null &&
                                secondPassword.errors['passwordsNotMatch']) && firstPassword.valid)}"
      >
        <input
          class="wrap-input__input"
          [type]="isPassword2Visible ? 'text' : 'password'"
          (blur)="showConfirmTooltip(false)"
          (input)="showConfirmTooltip(true)"
          formControlName="password_2"
          autocomplete="false"
          required
        >
        <label class="wrap-input__label">{{'Confirm password' | translate}}</label>
        <div class="wrap-input__line"></div>
        <!--Input error section starts-->
        <ng-container *ngIf=" secondPassword.errors != null">
          <div class="input-hint-wrapper" *ngIf="(currentPassword.valid && firstPassword.valid && isSubmitted)">
            <span
            class="wrap-input__message"
            *ngIf="secondPassword.errors['passwordsNotMatch'] && !secondPassword.errors['required'] && isSubmitted">
            {{'Passwords you provided do not match' | translate}}
          </span>
            <span
              class="wrap-input__message"
              *ngIf="secondPassword.errors['required']">
            {{'Confirm password field is required.' | translate}}
          </span>
          </div>

        </ng-container>
        <!--Input error section ends-->
      </div>
    </div>



    <!---->
    <button
      class="btn settings__form-btn settings__password-btn"
      [ngClass]="{'settings__form-btn--active': form.valid}"
      [disabled]="loading"
    >{{'Change password' | translate}}</button>
  </form>
</div>

