<!-- <div class="content content--settings"> -->
  <div class="settings-content">
    <h3 class="settings-content__title settings-content__title--mb32">Change password</h3>
    <form class="settings-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="settings-form__row">
        <div class="wrap-input settings-form__wrap-input">
          <input
            class="input"
            [ngClass]="{'input--error': !form.get('password_1').valid && form.get('password_1').touched}"
            [type]="getInputType()"
            formControlName="password_1"
          >

          <label class="wrap-input__label">Current password</label>
          <div class="wrap-input__line"></div>
          <span
            class="wrap-input__show-password"
            (click)="togglePasswordVisibility()"
            [ngClass]="{'wrap-input__show-password--active': isPasswordVisible}"
          >
          </span>
          <!--Input error section starts-->
          <div *ngIf="form.get('password_1').touched && form.get('password_1').errors != null">
              <span
               *ngIf="form.get('password_1').errors['required']"
               class="wrap-input__valid">
                This field is required.
              </span>
              <span
                *ngIf="form.get('password_1').invalid && !form.get('password_1').errors['required']"
                class="wrap-input__valid">
                Password must be between 8 and 20 symbols, contain letters and numbers.
              </span>
          </div>
          <!--Input error section ends-->
        </div><span class="settings-form__input-notice">for safety, to confirm that you it is you </span>

      </div>
      <div class="settings-form__row">
        <div class="wrap-input settings-form__wrap-input">
          <input
            class="input"
            [ngClass]="{'input--error': !form.get('password_2').valid && form.get('password_2').touched}"
            [type]="getInputType()"
            formControlName="password_2"
          >

          <label class="wrap-input__label">New password</label>
          <div class="wrap-input__line"></div>
          <span
            class="wrap-input__show-password"
            (click)="togglePasswordVisibility()"
            [ngClass]="{'wrap-input__show-password--active': isPasswordVisible}"
          >
          </span>
          <!--<span class="wrap-input__valid">This nickname already taken. Please take another one</span>-->
          <!--Input error section starts-->
          <div *ngIf="form.get('password_2').touched && form.get('password_2').errors != null">
          <span
            *ngIf="form.get('password_1').errors['required']"
            class="wrap-input__valid">
            This field is required.
          </span>
            <span
              *ngIf="form.get('password_2').errors['passwordsDiffer'] && !form.get('password_1').errors['required']"
              class="wrap-input__valid">
            The passwords do not match.
          </span>
          </div>
          <!--Input error section ends-->
        </div>

          <span class="settings-form__input-notice">should have 8 chars at least, symbols and numbers </span>
      </div>
      <button class="button settings-form__button settings-form__button--mt32">Change password</button>
    </form>
  </div>
  <div class="notification-popup change-pass-notif">
    <img class="notification-popup__icon" src="../../../assets/img/key.svg">
    <img class="notification-popup__close notification-popup__close--mob" src="../../../assets/img/close-grey.svg" alt="close">
      Password successfully changed
    <img class="notification-popup__close" src="../../../assets/img/close-blue.svg"  alt="close">

  </div>
<!-- </div> -->
