:host {
  width: 185px;
}

.select__list-searching-body{
  padding-top: 0;
}

perfect-scrollbar{
  max-height: 260px;
}

ul.select__list {
  z-index: 600;
  width: 100%;
  // height: 260px;
  .select__list-item{
    min-height: 38px;
    &:hover, &.active{
      background-color: #191f42;
    }

  }
}

@media (max-width: 1200px){

  .wrap-input__icon {
    display: none;
  }
  .wrap-input__input{
    padding-left: 20px;
  }
  .pair-popup__input .wrap-input__label {
    left: 18px;
  }
  ul.select__list {
    top: 37px;
  }
  &__list{
    margin-left: 16px;
    .dropdown__list{
      width: 100%;
      top: calc(100% - 0px);
      border: 1px solid #6C738C;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .dropdown__item{
      font-size: 16px;
      padding: 6px 8px;
      text-align: left;
    }
  }
}
::ng-deep .ps__rail-y {
  // margin-right: 2px !important;
}
