<div class="wrap-input wrap-input--with-icon orders__search">
  <input
    #input
    id="DIInput"
    class="wrap-input__input"
    name="item"
    [(ngModel)]="value"
    (input)="onChange.emit($event.target.value)"
    (focus)="openDropdown()"
    type="text"
    required
  >
  <!-- <label class="wrap-input__label" for="">{{label}}</label> -->
  <div class="wrap-input__icon" *ngIf="icon" [innerHTML]="icon"></div>
  <div class="search-results dropdown search" [class.dropdown--open]="showDropdown">
    <ul class="dropdown__list">
      <li
        *ngFor="let item of filteredOptions; let i = index"
        (click)="onSelectItem(item)"
        class="dropdown__item"
        [class.active]="i == arrowKeyLocation"
      >
        {{item.text}}
      </li>
    </ul>
  </div>
  <div class="wrap-input__line"></div>
</div>
