.mydp {
  display: block;
  box-sizing: border-box;
  width: calc(100% - 5px) !important;
  height: 36px;
  margin: 0 2.5px !important;
  padding: 0 12px;
  border: 1px solid #A0A0A0 !important;
  border-bottom: none !important;
  border-radius: 4px 4px 0 0!important;
  font-size: 14px;
}

.selectiongroup {
  height: 100%;
  background-color: transparent !important;
}

.mydp .selection {
  height: 36px !important;
  padding: 0 !important;
  background-color: transparent !important;
  color: #000 !important;
}

.btnclear, .btnpicker {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent !important;
}

.icon-mydpcalendar {
  &:before {
    content: '' !important;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("assets/img/calendar.svg");
  }
}
.icon-mydpremove{
  &:before {
    content: '' !important;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    background-image: url("assets/img/close-grey.svg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

/*--- media start ---*/
@media (min-width:600px) {
  .mydp{
    height: 45px;
  }
  .mydp .selection {
    height: 45px !important;
  }
}
@media (min-width:900px) {}
@media (min-width:1200px) {}
/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme{
  .mydp {
    border: 1px solid $light-blue !important;
    border-bottom: none !important;
  }
  .mydp .selection {
    color:#fff !important;
  }
  .icon-mydpcalendar {
    &:before {
      background-image: url("assets/img/calendar-light-blue.svg");
    }
  }
  .icon-mydpremove{
    &:before {
      background-image: url("assets/img/close-light-blue.svg");
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/
