.mydp {
  display: block;
  box-sizing: border-box;
  width: calc(100% - 5px) !important;
  height: 36px;
  margin: 0 2.5px !important;
  padding: 0 12px;
  border: 1px solid #A0A0A0 !important;
  border-radius: 4px!important;
  font-size: 14px;
}
.mydp .selectiongroup *,.mydp .selector *{

  font-family: Roboto;
}
.mydp .selector{
  height: auto!important;
}
.selectiongroup {
  height: 100%;
  background-color: transparent !important;
}

.mydp .selection {
  height: 36px !important;
  padding: 0 !important;
  background-color: transparent !important;
  color: #000 !important;
}

.btnclear, .btnpicker {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent !important;
}

.icon-mydpcalendar {
  &:before {
    content: '' !important;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("assets/img/calendar.svg");
  }
}
.icon-mydpremove{
  &:before {
    content: '' !important;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    background-image: url("assets/img/close-grey.svg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

/*--- media start ---*/
@media (min-width:600px) {
  .mydp{
    height: 45px;
  }
  .mydp .selection {
    height: 45px !important;
  }
}
@media (min-width:900px) {}
@media (min-width:1200px) {}
/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme{
  .mydp {
    border: 1px solid $light-blue !important;

  }
  .mydp .selection {
    color:#fff !important;
  }
  .icon-mydpcalendar {
    &:before {
      background-image: url("assets/img/calendar-light-blue.svg");
    }
  }
  .icon-mydpremove{
    &:before {
      background-image: url("assets/img/close-light-blue.svg");
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/
.mydp .daycell, .mydp .monthcell, .mydp .weekdaytitle, .mydp .yearcell {
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}

.mydp .selector .highlight.currmonth {
    color: #EB5757;
}
.mydp .selector .currmonth {
    color: #237BEF;
}

.mydp .selector .nextmonth, .mydp .selector .prevmonth {
    color: #191A39;
}

.mydp thead .weekdaytitle{
  background-color: #fff;
  color: #191A39;
}


.mydp .headertodaybtn {
    display: flex;
}

.mydp .headertodaybtn .icon-mydptoday{
    margin-right: 2px;
}
.mydp table .currmonth{
  background-color: transparent;
}

.mydp table .tablesingleday:hover, .mydp table .tablesinglemonth:hover, .mydp table .tablesingleyear:hover {
    background-color: #F1F3F4;
}

.mydp table .header{
  background-color: transparent;
}

.mydp table .disabled, .mydp table .disabled .currmonth:not(.markcurrday){
  background: none;
}
.mydp table .disabled span:not(.markcurrday){
  color: #191A39;
  opacity: .5;

}

.mydp .header td:not(:nth-child(2)) .mydpicon:before{
    font-size: 15px;
    line-height: .8;
    color: #94C2FF;
    transition:.3s;
}

.mydp .header td:not(:nth-child(2)) .headerbtndisabled:before{
    color: #191A39;
}


.mydp .header td:not(:nth-child(2)) .mydpicon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mydp .header td:not(:nth-child(2)) .mydpicon:not(.headerbtndisabled):hover:before{
  color: #237BEF;
}

.mydp table .caltable, .mydp table .monthtable, .mydp table .yeartable{
      height: calc(100% - 10px);
}

.mydp table .daycell .datevalue{
  line-height: 1.9;
}

.mydp table .selectedday .datevalue, .mydp table .selectedmonth .monthvalue, .mydp table .selectedyear .yearvalue{
  background-color: #94C2FF;
}