.dropdown {
  position: relative;
  display: inline-block;
  z-index: 60;
  /*--- modificators start ---*/
  &--open{
    .dropdown__list{
      display: block;
    }
  }
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__btn {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-right: 12px;
    color: $darker-blue;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }

    &:after {
      position: absolute;
      top: 40%;
      right: 0;
      display: inline-block;
      content: "";
      vertical-align: middle;
      border-top: 4px solid $darker-blue;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }

  &__list {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    display: none;
    margin-top: 0px;
    border: 1px solid $light-blue;
    background-color: #fff;
  }

  &__item {
    padding: 8px;
    text-align: center;
    color: $darker-blue;
    font-size: 14px;

    &:hover, &.active  {
      cursor: pointer;
      background-color: $light-aqua;
      color: #94C2FF;
    }
  }
  /*--- elements end ---*/
}
/*--- DARK THEME START---*/
.dark-theme{
  .dropdown{
    &__list{
      background-color: #fff;
      border: none;
    }
    &__item {

      color: #191A39;
      font-weight: 400;
      &:hover, &.active {
        cursor: pointer;
        color: #94C2FF;
        background-color: rgba(255,255,255,.1);
      }
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{
    .dropdown{

    }
  }
}
/*--- DARK THEME END---*/


app-dynamic-input{

  .ps__rail-y {

    margin-right: 1px !important;
  }
}
app-dynamic-input  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y{
  background-color: rgba(37, 37, 67,.2) !important;
}

app-dynamic-input-dashboard{

  .ps__rail-y {

    margin-right: 1px !important;
  }
}
app-dynamic-input-dashboard  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y{
  background-color: rgba(37, 37, 67,.2) !important;
}


.select__list-searching perfect-scrollbar > .ps.ps--active-y > .ps__rail-y{
  background-color: rgba(37, 37, 67,.2) !important;
}




.submenu {
  &__list{

  }
  position: absolute;
  top: 40px;
  left: 16px;
  z-index: 4;
  opacity: 0;
  pointer-events:none;
  background-color: #fff;
  border-radius: 4px;
  transform: translateY(-10px);
  transition: .2s;
  .menu__link-text{
    font-size: 14px;
    font-weight: 300;
    color: #191A39;
    padding: 0;
  }

  &--notification {
    width: 266px;
    font-size: 14px;
    line-height: 16px;

    .submenu__link {
      white-space: normal;
    }
  }

  &--language {
    right: 0;
    left: auto;
    top: 31px;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // padding-top: 12px;

    &--language {
      display: grid;
      grid-template-columns: repeat(2, auto);
    }
  }

  &__item {
    &--last {
      text-align: center;
      border-top: 1px solid;
      border-color: #237BEF;
      background-color: rgba(35, 123, 239, 0.15);
    }
  }

  &__link {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;

    &--center {
      justify-content: center;
    }

    &:hover {
      color: rgba(255, 255, 255, 1);

      .menu__link-text {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}


[class$="--with-submenu"]{
  &:hover {
    .menu__link--drop{
      color: #fff;
      cursor: pointer;
      &:after{
        transform: rotate(180deg);
        transform-origin:center;
      }
    }
    .submenu {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      transition: .3s;

      &__list {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.dark-theme .currency-pair-info  .dropdown__item:not(.active):hover{
  color: #191A39;
  background: none;
}