.dropdown {
  position: relative;
  display: inline-block;
  z-index: 60;
  /*--- modificators start ---*/
  &--open{
    .dropdown__list{
      display: block;
    }
  }
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__btn {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-right: 12px;
    color: $darker-blue;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }

    &:after {
      position: absolute;
      top: 40%;
      right: 0;
      display: inline-block;
      content: "";
      vertical-align: middle;
      border-top: 4px solid $darker-blue;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }

  &__list {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    display: none;
    margin-top: 0px;
    border: 1px solid $light-blue;
    background-color: #fff;
  }

  &__item {
    padding: 8px;
    text-align: center;
    color: $darker-blue;
    font-size: 14px;

     &:hover, &.active  {
      cursor: pointer;
      background-color: $light-aqua;
      color: #94C2FF;
    }
  }
  /*--- elements end ---*/
}
/*--- DARK THEME START---*/
.dark-theme{
  .dropdown{
    &__list{
      background-color: #fff;
      border: none;
    }
    &__item {

          color: #191A39;
    font-weight: 400;
       &:hover, &.active {
        cursor: pointer;
        color: #94C2FF;
        background-color: rgba(255,255,255,.1);
      }
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{
    .dropdown{

    }
  }
}
/*--- DARK THEME END---*/
