.filters-popup{
  display: none;
  //display: block;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  padding: 0 12px;
  /*--- modificators start ---*/
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 16px;
  }
  &__title{
    font-size: 24px;
  }
  &__close{
    svg{
      fill:$darker-blue;
    }
  }
  &__search,&__input{
    margin-bottom: 24px;
  }
  &__datepicker,&__select{
    width: 100%;
    &:first-child{
      margin-right: 28px;
    }
  }
  &__btn{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
  }
  /*--- elements end ---*/
}
/*--- media start ---*/
@media (min-width:600px) {}
@media (min-width:900px) {}
@media (min-width:1200px) {
  .filters-popup{
    display: none;
  }
}
/*--- media end ---*/

/*--- DARK THEME START---*/
.dark-theme{
  .filters-popup{
    background-color: $dark-indigo;
    &__close{
      svg{
        fill:$darker-blue;
      }
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/
