.mobile-menu{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;
	background-color: #191a39;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .3s;
	pointer-events: none;
	overflow: auto;
	&.active{
		opacity: 1;
		pointer-events: auto;
	}
	.mobile-menu-inner{
		display: flex;
		flex-direction: column;
		min-height: 100%;
		padding-top: 11px;
	}
	.menu-title{
		margin-bottom: 12px;
		p{
			font-size: 24px;
			color: #fff;
			line-height: 1.27;
			text-align: center;

		}
	}
	.account-info{
		display: flex;
		margin-bottom: 24px;
		padding: 6px 16px;
		height: 48px;
		align-items: center;
		background: #252543;
		justify-content: center;
		.account-info__text{
			.account-info__email{
				color: #237bef;
				font-size: 16px;
				font-weight: 600;
			}
			.slash{
				margin-right: 5px;
				margin-left: 5px;
				color: #fff;
			}
		}
	}
	.menu-mob__link{
		display: flex;
		height: 49px;
		padding: 0 16px;
		font-size: 14px;
		text-decoration: none;
		align-items: center;
		position: relative;
		background: #252543;
		margin-bottom: 4px;
		.menu-mob__link-text{
			color: #fff;
		}
	}
}

.header{
	padding: 0 1.2em;
	background: #0F1032;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	.menu-wr{
		display: flex;
		width: 100%;
		@media(max-width: 993px){
			display: none;
		}
	}
	.header-inner{
		display: flex;
		justify-content: space-between;

	}
	.left-part{

		display: flex;
	}
	.logo-wr{
		margin-right: .8em;
		padding: .45em 0 .45em;
		img{

		}
	}
	.main-nav-left{
		ul{
			display: flex;
			align-items: center;

		}
		li{
			margin-right: .8em;
			height: 100%;
			a{
				position: relative;
				display: flex;
				align-items: center;
				height: 100%;
				&:hover, &.active{
					span{
						color: #fff;

					}
				}
				span{
					font-weight: 500;
					font-size: .8em;
					display: block;
					text-align: center;
					font-variant: small-caps;
					color: #7e849a;
					text-transform: lowercase;
					transition: .3s;
				}
				.label{
					position: absolute;
					color: #fff;
					background: #237BEF;
					line-height: .9;
					font-weight: 500;
					font-size: .4em;
					font-variant: small-caps;
					border-radius: 2px;
					text-transform: uppercase;
					padding: 4px 4px 3px;
					right: -28px;
					top: 8px;
				}
			}
		}
	}
	.right-part{
		display: flex;

		margin-left: auto;
	}
	.main-nav-right{
		display: flex;
		align-items: center;
		ul{
			display: flex;
			height: 100%;

		}
		li{
			height: 100%;
			margin-right: .8em;
		}
		a{
			display: flex;
			align-items: center;
			height: 100%;
			&:hover, &.active{
				span{
					color: #fff;

				}
			}
			span{

				font-weight: 500;
				font-size: .8em;
				display: block;
				text-align: center;
				font-variant: small-caps;
				color: #7e849a;
				text-transform: lowercase;
				transition: .3s;
			}
		}
	}
	.account{
		display: flex;
		align-items: center;
		.login-menu__icon{
			margin: 0 .8em;
		}
		&::before,&::after{
			content: "";
			width: 1px;
			background: #60647D;
			height: 1.4em;
			display: block;

		}
	}
	.login{
		display: flex;
		&::before{
			content: "";
			width: 1px;
			background: #60647D;
			height: 1.35em;

		}
		button{
			margin-left: .8em;
			display: block;
			&:hover{
				span{
					color: #fff;

				}
			}
		}
		span{
			font-weight: 500;
			font-size: .8em;
			display: block;
			text-align: center;
			font-variant: small-caps;
			color: #7e849a;
			text-transform: lowercase;
			transition: .3s;
		}
	}
	.register{
		display: flex;
		align-items: center;
		&::after{
			content: "";
			width: 1px;
			background: #60647D;
			height: 1.4em;
			display: block;

		}
		button{
			margin: 0 .8em;
			background: #237BEF;
			border: 1px solid #237BEF;
			border-radius: 2px;
			display: block;
			padding: .4em .4em;
			transition: .3s;
			&:hover{
				background-color: #4590F3;
			}
		}
		span{
			color: #FFFFFF;
			line-height: .9;
			font-weight: 500;
			font-size: .8em;
			display: block;
			text-align: center;
			font-variant: small-caps;
			text-transform: lowercase;
			transition: .3s;
		}
	}
	.lang{
		display: flex;

		button{

			display: flex;
			align-items: center;

			&::after{
				content: "";
				width: 1px;
				background: #60647D;
				height: 1.35em;

			}
			&:hover{
				span{
					color: #fff;

				}
			}

		}
		span{
			margin: 0 calc(.8em / .65);
			font-weight: 500;
			font-size: .8em;
			display: block;
			text-align: center;
			font-variant: small-caps;
			color: #7e849a;
			text-transform: lowercase;
			transition: .3s;
		}

	}
	.translate{
	}
	.translate__trigger{
		margin-left: .8em;
		svg{
			path{
				fill: #7e849a;
			}
		}
		&:hover{
			svg{
				path{
					fill: #fff;
				}
			}
		}

	}
	.translate__container{
	}
}

.burger{
	@media(min-width: 992px){
		display: none;
	}
	height: 20px;
	width: 31px;
	position: relative;
	margin: auto;
	margin-right: 0;
	cursor: pointer;
	&::before, &::after{
		content: "";
		position: absolute;
		right: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: #fff;
	}
	&::before{
		top: 0;
	}
	&::after{
		bottom: 0;
	}
	span{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 2px;
		margin: auto;
		background: #fff;
	}
}

.drop{
	position: relative;
	height: 100%;
	&>a{
		&::after {
			display: inline-block;
			margin-left: 4px;
			margin-bottom: -1px;
			border-top: 4px solid #7e849a;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			vertical-align: middle;
			content: "";
			transition: .2s;
		}
	}
	.submenu__list {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.submenu {
		min-width: 110px;
		position: absolute;
		top: 2.2em;
		left: 0;
		margin: auto;
		z-index: 4;
		opacity: 0;
		pointer-events: none;
		background-color: #fff;
		border-radius: 4px;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
		transition: .2s;
	}
	&:hover{
		&>a{
			&::after {
				transform: rotate(180deg);
				border-top: 4px solid #fff;

			}
		}
	}
	&:hover .submenu {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		pointer-events: auto;
		transition: .3s;
	}
	.submenu .submenu__item {
		transition: .3s;
		margin: 0;
		width: 100%;
		margin-right: 0;

	}

	.submenu .submenu__item:hover {
		background-color: rgba(53,124,225,.1);
	}
	.submenu .submenu__item:hover .menu__link-text{
		color: #237bef;
	}
	.submenu__link {
		display: -ms-flex;
		display: flex;
		padding: 10px;
		text-decoration: none;
		color: rgba(255,255,255,.7);
		white-space: nowrap;
	}

	.submenu .menu__link-text {
		font-size: .65em;
		font-weight: 300;
		color: #191a39;
		padding: 0;
		font-weight: 400;
	}


}
.menu-mob__wrap-links {
	display: none;
	border-bottom: 1px solid #525f73;
	margin-bottom: 5px;
	.menu-mob__link{
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.menu-mob__drop-wrap{
	&.active{
		.menu-mob__link{
			box-shadow: 0 1px 4px rgba(0,0,0,.25);
			border-bottom: 1px solid #525f73;
			margin-bottom: 0;
		}

		.menu-mob__wrap-links {
			display: block;

		}
	}
}
.menu-mob__link{
	display: -ms-flex;
	display: flex;
	height: 49px;
	padding: 0 16px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	align-items: center;
	position: relative;
	background: #252543;
	margin-bottom: 4px;
}



.menu-mob__link--drop::after {
	display: block;
	position: absolute;
	right: 16px;
	width: 12px;
	height: 12px;
	background-image: url(../img/pics/arr-toggler-down-light-blue.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	content: "";
}


.mobile-menu{
	.account-info__img{
		min-width: 36px;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		border: 1px solid #94c2ff;
		margin-right: 8px;
		position: relative;

	}
}
.account{
	cursor: pointer;
	.login-menu__icon{
		&:hover{
			svg{
				path{
					fill: #fff;
				}
			}
		}
		svg{
			path{
				fill: #7e849a;
			}
		}
	}
}


.mobile-menu .account-info__title--auth{
	color: #237bef;
	font-size: 14px;
	line-height: 18px;
	word-break: break-all;
}


.mobile-menu .account-info{
	display: flex;
	margin-bottom: 24px;
	padding: 6px 16px;
	height: 48px;
	align-items: center;
	background: #252543;
	justify-content: center;
}
.mobile-menu .account-info.account-info--auth{
	justify-content: flex-start;
}



.mobile-menu .account-info__img--auth{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #191a39;
	border: none;
}


.translate{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@media(max-width: 720px){
		justify-content: flex-start;
		width: 100%;
		height: auto;
		flex-direction: column;
		display: flex;
		color: #fff;
		font-size: 14px;
		text-decoration: none;
		align-items: center;
		position: relative;

		margin-bottom: 4px;
	}
	&:hover {

		.translate__container {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
			transition: .3s;
			@media(max-width: 720px){
				display: flex;
			}
		}
	}
	&__trigger {
		cursor: pointer;
		background: none;
		border: none;
		outline: none;
		@media(max-width: 720px){
			padding: 0;
			height: 49px;
			width: 100%;
			text-align: left;
			background: #252543;
		}
		path{
			fill: #a0a0a0;
			transition:.3s;
		}
		&:hover{

			path{
				fill:#fff;
			}
		}
	}
	&__container{
		position: absolute;
		top: 48px;
		opacity: 0;

	}
}

.translate__container {
	position: absolute;
	cursor: default;
	top: 2.2em;
	padding: 0 12px;
	right: 0;
	background-color: #fff;
	border-radius: 4px;
	color: #191A39;
	font-weight: 400;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-20px);
	transition: .2s;
	z-index: 1;
	@media(max-width: 720px){
		border-top: 1px solid #525f73;
		width: 100%;
		height: auto;
		flex-direction: column;
		display: flex;
		padding: 0 16px;
		color: #fff;
		font-size: 14px;
		text-decoration: none;
		align-items: center;
		position: relative;
		background: #252543;
		margin-bottom: 4px;
		transition: unset;
		transform: translateY(0);
		display: none;
		border-radius: 0;
	}
}

.account{
	position: relative;
	&:hover{
		.login-menu__submenu{
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
			transition: .3s;
		}
	}
}

.login-menu__submenu{
	position: absolute;
	cursor: default;
	top: 100%;
	padding: 0 12px;
	right: 0;
	background-color: #fff;
	border-radius: 4px;
	color: #191a39;
	font-weight: 400;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-20px);
	transition: .2s;
	z-index: 2;
	.login-menu__submenu-item{
		border-bottom: 1px solid rgba(0,0,0,.15);
		padding: 8px 0;
		color: #237bef;
		display: flex;
		flex-direction: column;
		.item-title{
			color: #191a39;
			margin-bottom: 4px;
			white-space: nowrap;
			font-size: 14px;
			font-weight: 400;
			line-height: 1;

		}
		span{
			font-size: 14px;
			font-weight: 400;
			color: #237bef;
			line-height: 1;
		}
	}
	.login-menu__link{
		display: flex;
		align-items: center;
		color: #a0a0a0;
		text-decoration: none;
		height: auto;
		position: relative;
		z-index: 5;
	}

	.menu__link--auth--log{

	}
}

.header .main-nav-right .menu__link-text{
	position: relative;
	padding-bottom: 4px;
	font-size: 14px;
	font-weight: 400;
	color: #191a39;
	font-variant: normal;
	text-transform: none;
	line-height: .9;
	padding: .5em 0;
	&:hover{
		color: #237bef;
	}
}
