.input-hint-wrapper{
	position: absolute;
	z-index: 1;
	bottom: calc(100% + 10px);
	border-radius: 4px;
	padding: 15px;
	box-shadow: 0 0 15px #bebebe;
	background-color: #fff;
	opacity: 0;
	pointer-events:none;
	.wrap-input__message{
		margin-top: 0;
		&:not(:last-child){
			margin-top: 5px;
		}
	}
	&:after{
		content: " ";
		position: absolute;
		bottom: -8px;
		width: 0;
		margin: 0 auto;
		left: 0;
		right: 0;
		border-top: 8px solid #fff;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
}


.wrap-input__input--error:focus,.ng-invalid.ng-touched:focus{
	&~div .input-hint-wrapper{
		opacity: 1;
		pointer-events:auto;

		span{
			color: #EB5757;
		}
	}
}
.wrap-input--error .wrap-input__input:focus,.ng-invalid.ng-touched:focus{
	&~div .input-hint-wrapper,.input-hint-wrapper{
		opacity: 1;
		pointer-events:auto;

		span{
			color: #EB5757;
		}
	}
}


.wrap-input--error:focus{
	.input-hint-wrapper{
		opacity: 1;
		pointer-events:auto;
		color: #EB5757;
	}
}

.server-error{
  // TEMP STYLE
  input{
  	border-color: #EB5757 !important;
  }
  label {
  	color: #EB5757 !important;
  }
  .server-error-hint{
  	opacity: 1;
  	pointer-events:auto;
  	span{

  		color: #EB5757;
  	}
  }
}
