.wrap-input {
  position: relative;
  /*--- modificators start ---*/
  &--error {
    .wrap-input__input {
      border-color: $red;

      ~ .wrap-input__label {
        top: -5px;
        padding: 0 2px;
        color: $red;
        background-color: #fff;
        font-size: 10px;
        line-height: 12px;
      }

      ~ .wrap-input__line {
        background-color: $red;
      }

      ~ .wrap-input__message {
        display: inline-block;
        color:$red;
      }
      // &:focus {
      //   border-color: $red;
      //
      //   ~ .input__label {
      //     top: -5px;
      //     padding: 0 2px;
      //     color: $red;
      //     background-color: #fff;
      //     font-size: 10px;
      //     line-height: 12px;
      //   }
      //
      //   ~ .input__line {
      //     background-color: $red;
      //   }
      // }
    }
  }

  &--with-icon {
    .wrap-input__input {
      padding-left: 32px;
    }
    .wrap-input__label {
      left: 32px;
    }
  }

  &--password {
    padding: 0 33px 0 12px;
  }
  &--fix230 {
    width: 100%;
    max-width: 230px;
  }
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__label {
    position: absolute;
    top: 10px;
    left: 12px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    pointer-events: none;
    color: $grey;
    font-size: 14px;
    line-height: 16px;
    &--error {
      color: $red !important;
    }
  }

  &__icon {
    position: absolute;
    top: 9px;
    left: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;

    img {
      width: 100%;
    }
    svg{
      fill:$grey;
    }
  }

  &__show-password {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 13px;
    background-image: url("assets/img/eye-line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    &:hover {
      cursor: pointer;
    }

    &--active {
      background-image: url("assets/img/eye.svg");
    }
  }

  &__line {
    height: 1px;
    background-color: $grey;
    &--error {
      background-color: $red !important;
    }
  }

  &__message {
    display: none;
    margin-top: 4px;
    text-align: left;
    font-size: 12px;
    line-height: 18px;

    &--show {
      display: block;
      color: $light-grey;
    }

    &--error {
      color: $red;
      display: block;
    }
  }

  &__input {
    display: block;
    box-sizing: border-box;
    width: calc(100% - 5px);
    height: 36px;
    margin: 0 auto;
    padding: 0 12px;
    border: 1px solid $grey;
    border-bottom: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 14px;
    background-color: transparent;
    //&:not([value=""]){
    //  ~ .wrap-input__label {
    //    top: -5px;
    //    left: 12px;
    //    padding: 0 2px;
    //    background-color: #fff;
    //    font-size: 10px;
    //    line-height: 12px;
    //  }
    //}
    &:focus {
      border-color: $darker-blue;
      outline: none;

      ~ .wrap-input__label {
        top: -5px;
        left: 12px;
        padding: 0 2px;
        color: $darker-blue;
        background-color: #fff;
        font-size: 10px;
        line-height: 12px;
      }
      ~ .wrap-input__icon {
        svg {
          fill: $darker-blue;
        }
      }
      ~ .wrap-input__line {
        background-color: $darker-blue;
        &--error {
          background-color: $red !important;
        }
      }
    }

    &:valid {
      ~ .wrap-input__label {
        top: -5px;
        left: 12px;
        padding: 0 2px;
        background-color: #fff;
        font-size: 10px;
        line-height: 12px;
      }
    }
    &--error {
      border-color: $red !important;
    }
  }
  /*--- elements end ---*/
}

/*--- media start ---*/
@media (min-width: 600px) {
  .wrap-input {
    &__label {
      top: 15px;
    }

    &__input {
      height: 45px;
    }
    &__icon {
      top: 14px;
    }
    &__show-password {
      top: 15px;
    }
  }
}

/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme {
  .wrap-input {
    &--error {
      .wrap-input__input {
        border-color: $red;

        ~ .wrap-input__label {
          color: $red;
          background-color: $dark-indigo;
        }

        ~ .wrap-input__line {
          background-color: $red;
        }

        ~ .wrap-input__message {
          display: inline-block;
        }
        // &:focus {
        //   border-color: $red;
        //
        //   ~ .input__label {
        //     top: -5px;
        //     padding: 0 2px;
        //     color: $red;
        //     background-color: #fff;
        //     font-size: 10px;
        //     line-height: 12px;
        //   }
        //
        //   ~ .input__line {
        //     background-color: $red;
        //   }
        // }
      }
    }
    &__icon{
      svg{
        fill:$light-blue;
      }
    }
    &__label {
      color: $light-blue;
    }
    &__line {
      background-color: $light-blue;
    }
    &__show-password {
      background-image: url("assets/img/eye-line--dark-theme.svg");
      &--active {
        background-image: url("assets/img/eye--dark-theme.svg");
      }
    }
    &__input {
      border-color: $light-blue;
      background-color: transparent;
      color:#fff;
      //&:not([value=""]){
      //  ~ .wrap-input__label {
      //    background-color: $dark-indigo;
      //  }
      //}
      &:focus {
        border-color: $light-blue;
        ~ .wrap-input__label {
          color: $light-blue;
          background-color: $dark-indigo;

          &--white {
            color: #fff;
            background-color: transparent;
          }
        }
        ~ .wrap-input__icon {
          svg{
            fill: $light-blue;
          }
        }
        ~ .wrap-input__line {
          background-color: $light-blue;
        }
      }

      &:valid {
        ~ .wrap-input__label {
          color: $light-blue;
          background-color: $dark-indigo;
          &--white {
            background-color: transparent;
          }
        }
      }
    }
    &__icon {
    }
  }
}

@media (min-width: 1200px) {
  .dark-theme {
  }
}

/*--- DARK THEME END---*/
