.link {
  text-decoration: none;
  word-wrap: break-word;
  color: $darker-blue;
  font-weight: 400;
  text-decoration: underline;
  &:hover{
    color: $darker-blue;
  }
}
/*--- DARK THEME START---*/
.dark-theme {
  .link {
    //color:$light-blue;
  }
}

@media (min-width: 1200px) {
  .dark-theme {
  }
}

/*--- DARK THEME END---*/
.standart-link{
      color: #237BEF;
}

.avaliable{
  .link{
    cursor: pointer;
  }
}