.modal {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  margin-left: auto;
  transition: all 0.4s ease;
  background-color: #fff;
  /*--- modificators start ---*/
  /*--- modificators end ---*/
  /*--- elements start ---*/
  
  &__controls {
    display: none;
    position: absolute;
    padding: 24px 12px;

    &--top {
      top: 0;
      right: 100%;
    }

    &--bottom {
      right: 100%;
      bottom: 0;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 14px;
    align-items: center;

    &--close {
      text-transform: uppercase;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__button-icon {
    padding-left: 12px;
  }

  &__header {
    display: flex;
    border-bottom: 1px solid $darker-white;
    align-items: center;
    justify-content: space-between;
  }

  &__header-mob {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-bottom: 1px solid $darker-white;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &--jcfe {
      justify-content: flex-end;
    }
  }

  &__header-mob-controls {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }

  &__control-mob {
    margin-right: 16px;
  }

  &__control-icon {
    vertical-align: middle;
  }

  &__content {
    flex-grow: 1;
    position: relative;
    height: 100%;
    padding: 32px 12px;

  }

  &__title {
    text-align: center;
    margin-bottom: 12px;
  }

  &__subtitle {
    margin-bottom: 24px;
    text-align: center;
  }


  &__row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    text-align: center;

    &--mb8 {
      margin-bottom: 8px;
    }

    &--mb20 {
      margin-bottom: 20px;
    }

    &--mb24 {
      margin-bottom: 24px;
    }

    &--mb32 {
      margin-bottom: 32px;
    }

    &--mob-column {
      flex-direction: column;
      align-items: center;
    }

    &--column {
      flex-direction: column;
      align-items: center;
    }

    p {
      line-height: 21px;
    }
  }

  &__store-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &__store-link {
    margin: 0 4px 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__code-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }

  &__qr-code {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto 32px;
  }

  &__code-2fa {
    text-align: center;

    h6 {
      font-size: 24px;
      margin-bottom: 12px;
      @media(max-width:1200px){
        color: #DEDEFB;
      }
    }

    span {
      font-size: 18px;
      color: $darker-blue;

      br {
        display: none;
      }
    }
  }

  &__code-grey-field {
    margin-top: 24px;
    margin-bottom: 32px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: $darker-white;
    padding: 12px 0;
    max-width: 230px;
    width: 100%;
    justify-content: center;
  }

  &__balance-action {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px auto 32px;
  }

  &__or {
    display: block;
    text-align: center;
    margin: 16px auto;
    color: $light-grey;
    font-size: 14px;

    &:before {
      display: inline-block;
      width: 80px;
      height: 1px;
      margin-right: 8px;
      background-color: $light-grey;
      vertical-align: middle;
      content: "";
    }

    &:after {
      display: inline-block;
      width: 80px;
      height: 1px;
      margin-left: 8px;
      background-color: $light-grey;
      vertical-align: middle;
      content: "";
    }
  }

  &__exchange-course {
    color: $grey;
    margin-top: 12px;
  }

  &__message-price {
    margin-left: 8px;
    font-weight: 600;
  }

  &__you-balance {
    margin-left: 8px;
    font-weight: 600;
  }

  &__note {
    width: calc(100% + 24px);
    left: -12px;
    margin-top: 32px;
  }

  &__input-2fa {
    margin-bottom: 16px;
    width: 100%;
    max-width: 230px;
  }

  /*--- elements end ---*/
}

/*--- media start ---*/
@media (min-width: 600px) {
  .modal {
    &__content {
      padding: 32px 90px;
    }

    &__row {
      &--mob-column {
        flex-direction: row;
      }
    }

    &__store-row {
      flex-direction: row;
    }

    &__store-link {
      margin: 0 4px;
    }

    &__input-2fa {
      margin-bottom: 24px;
    }

    &__note {
      width: calc(100% + 180px);
      left: -90px;
      //width: 100%;
      //left: 0;
    }
  }
}

@media (min-width: 1200px) {
  .modal {
    right: -900px;
    width: 50%;
    min-width: 50%;
    max-width: 800px;

    &__controls {
      display: block;
    }

    &__header-mob {
      display: none;
    }

    &__subtitle {
      margin-bottom: 32px;
    }

    &__balance-action {
      margin: 24px auto 32px;
    }

    &__or {
      margin: 24px auto;
    }

    &__code-wrap {
      flex-direction: row;
      margin-bottom: 32px;
    }

    &__qr-code {
      margin: 0 32px 0 0;
    }

    &__code-2fa {
      text-align: left;

      h6 {
        font-size: 24px;
        margin-bottom: 12px;
      }

      span {
        font-size: 18px;
        line-height: 27px;

        br {
          display: inline-block;
        }
      }
    }

    &__note {
    }
  }
}

/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme {
  .modal {
    color: #000;
    &__header {
    }
    .title{
      color:$dark-indigo;
    }
    .subtitle{
      color:$dark-indigo;
    }

    .steps {
      &__item {
        background-color: transparent;
      }

      &__number {
        border-color: rgba(25, 26, 57, 0.1);

        &--valid {
          color: $darker-blue;
          border-color: $darker-blue;
          
          &:after {
            background-image: url("assets/img/step-valid.svg");
          }
        }
      }

      &__number-mob-current {
        color: #fff;
        background-color: $darker-blue;
      }

      &__counter {
        color: #000;
      }

      &__counter-val {
        color: $darker-blue;
      }
    }

    .btn {
      // color: $darker-blue;
      // border: 1px solid $darker-blue;

      &:hover {
        color: #fff;
        border-color: transparent;
        background-color: $darker-blue;

        .btn__icon--hover-white, .btn__icon--light-blue {
          svg {
            fill: #fff;
          }
        }
      }

      &:focus {
        color: #fff;
        background-color: $darker-blue;

        .btn__icon--hover-white, .btn__icon--light-blue {
          svg {
            fill: #fff;
          }
        }
      }

      &:disabled {
        cursor: default;
      }

      /*--- modificators start ---*/
      // states

      &--active {
        color: #fff;
        border-color: transparent;
        background-color: $darker-blue;
      }

      &--error {
        color: #fff;
        border-color: transparent;
        background-color: $red;

        &:hover {
          background-color: $red;
        }

        &:focus {
          border-color: transparent;
          background-color: $red;
        }
      }

      &--empty-red {
        color: $red;
        border-color: $red;
        background-color: transparent;

        &:hover {
          color: #fff;
          background-color: $red;
        }

        &:focus {
          color: #fff;
          background-color: $red;
        }
      }

      &--empty-blue {
        background-color: transparent;
        border-color: $darker-blue;
        color: $darker-blue;

        &:hover {
          background-color: $darker-blue;
        }
      }

      /*--- modificators end ---*/
      /*--- elements start ---*/
      &__icon {

        &--blue {
          svg {
            fill: $darker-blue;
          }
        }

        &--light-blue {
          svg {
            fill: $darker-blue;
          }
        }
      }

      /*--- elements end ---*/
    }

    .wrap-input {
      &--error {
        .wrap-input__input {
          border-color: $red;

          ~ .wrap-input__label {
            color: $red;
            background-color: #fff;
            @media(max-width: 1200px){
              background-color: #191A39;
            }
          }

          ~ .wrap-input__line {
            background-color: $red;
          }

          ~ .wrap-input__message {
            color: $red;
          }

        }
      }

      &--grey {
        .wrap-input__input {
          border-color: $grey;

          ~ .wrap-input__label {
            color: $grey;
          }

          ~ .wrap-input__line {
            background-color: $grey;
          }

          &:valid {
            border-color: $darker-blue;

            ~ .wrap-input__label {
              color: $darker-blue;
              background-color: #fff;
              @media(max-width: 1200px){
                background-color: #191A39;
              }
            }

            ~ .wrap-input__line {
              background-color: $darker-blue;
            }
          }

        }
      }

      /*--- elements start ---*/
      &__label {
        @media(min-width: 1200px){

          color: #237BEF;
        }

        &--error {
          color: $red !important;
        }
      }

      &__icon {
        svg {
          fill: $grey;
        }
      }

      &__line {
        background-color: $grey;

        &--error {
          background-color: $red !important;
        }
      }

      &__message {
        &--show {
          // color: $light-grey;
          margin-top: 3px;
          color: #94C2FF;
        }

        &--error {
          color: $red;
        }
      }

      &__input {
        @media(min-width: 1200px){
          border-color: #237BEF;
        }
        background-color: transparent;
        color:#000;
        @media(max-width: 1200px){
          background-color: #191A39;
          color: #DEDEFB;
        }
        &:focus {
          border-color: $darker-blue;

          ~ .wrap-input__label {
            color: $darker-blue !important;
            background-color: #fff;
            @media(max-width: 1200px){
              background-color: #191A39;
            }
          }

          ~ .wrap-input__icon {
            svg {
              fill: $darker-blue;
            }
          }

          ~ .wrap-input__line {
            background-color: $darker-blue;

            &--error {
              background-color: $red !important;
            }
          }
        }

        &:valid {
          ~ .wrap-input__label {
            color: $grey;
            background-color: #fff;
            @media(max-width: 1200px){
              background-color: #191A39;
            }
          }
        }

        &--error {
          border-color: $red !important;
        }
      }

      /*--- elements end ---*/
    }

    .select {
      /*--- elements start ---*/
      &__value {
        border-color: $grey;

        &--active {
          border-color: $darker-blue;
          ~ .select__label {
            color: $darker-blue;
            background-color: #fff;
            @media(max-width: 1200px){
              background-color: #191A39;
            }
          }
          ~ .select__line {
            background-color: $darker-blue;
          }
          ~ .select__triangle {
            border-top-color: $darker-blue;
          }
        }
        &--error{
          border-color: $red;
          ~.select__label{
            color: $red;
          }
          ~.select__line{
            background-color: $red;
          }
          ~.select__triangle {
            border-top: 5px solid $red;
          }
        }
      }
      &__label {
        color: $grey;
      }

      &__line {
        background-color: $grey;
      }
      &__triangle {
        border-top: 5px solid $grey;
      }
      &__list {
        border-color: $darker-blue;
        background-color: #fff;
        &--open {
          border-color: $darker-blue;
          background-color: #fff;
        }
      }
      &__list-searching {
        border-color: $darker-blue;
        background-color: #fff;
      }

      &__search-input {
        border-bottom-color: $darker-blue;
        background-color: transparent;

        &::placeholder {
          color: $darker-blue;
        }
      }
      &__search-icon {
        svg {
          fill: $darker-blue;
        }
      }

      &__searching-items-title {
        color: #525f73;

        &:after{
          background-color: #525f73;
        }
      }

      /*--- elements end ---*/
    }

    .note {
      background: none;
      background-color: #E9F2FF;

      &__list-item {
        &:before {
          background-color: $darker-blue;
        }
      }
      /*--- elements end ---*/
    }

  }
}

@media (min-width: 1200px) {
  .dark-theme {
    .modal{
      .steps {
        &__item {
          border-left-color:$darker-white;
          &--current {
            color: #fff;
            background-color: $darker-blue;
            .steps__title{
              color: #fff;
            }
          }
        }

        &__number {
          &--current {
            border-color: #fff;
            color: #fff;
          }
        }

        &__title{
          color: #000;
        }

      }
    }
  }
}

.dark-theme{
  .modal{
    @media(max-width: 1200px){
      background-color: #191A39;
      .modal__header-mob{
        // border-bottom: 1px solid #94C2FF;
        border-bottom: 1px solid rgba(35, 123, 239, 0.15);
      }
      .title{
        color: #DEDEFB;
      }
      .subtitle{
        color: #94C2FF;
      }
      .modal__header{
        // border-bottom: 1px solid #94C2FF;
        border-bottom: 1px solid rgba(35, 123, 239, 0.15);
      }
      .steps__counter{
        color: #DEDEFB;
      } 
      div.select__value--active{
        border-color: #94C2FF;
        color:#DEDEFB;
        input.no-line{
          color: #DEDEFB!important;
          &::placeholder{
            color: #DEDEFB!important;
          }
        }
        &~.select__label{
          color: #DEDEFB!important;
          background: #191A39!important;
        }
      }
      .request-errors{
        text-align: center;
      }

    }
    @media(max-width: 568px){
      .refill__select--cripto{
        min-width: unset;
      }
      .title{
        font-size: 20px;
        line-height: 22px;

      }
    }
  }
}

/*--- DARK THEME END---*/
@media(max-width: 1199px){
  .dark-theme .modal .steps__number--valid:after {
    background-image: url("assets/img/step-valid--dark-theme.svg");
  }
}



.radio-buttons-wr{
  p{
    color: #191A39;
    margin-bottom: 12px;
  }
  .radio-item{
    input{
      display: none;
      &:checked{
        &+label{
          &::after{
            opacity: 1;
          }
        }
      }
    }
    label{
      color: #A0A0A0;
      display: flex;
      align-items: center;
      width: 100%;
      white-space: nowrap;
      font-size: 12px;
      line-height: 14px;
      position: relative;
      padding-left: 20px;
      margin-bottom: 8px;
      &::before, &::after{
        content: "";
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
      }
      &::before{
        content: "";
        width: 12px;
        height: 12px;
        border: 1px solid #A0A0A0;
        border-radius: 50%;
      }

      &::after{
        content: "";
        width: 8px;
        height: 8px;
        top: 3px;
        left: 3px;
        background-color: #A0A0A0;
        border-radius: 50%;
        opacity: 0;
        transition: .3s;
      }
    }

  }
}

.dark-theme .modal .wrap-input__input.wrap-input__input--error:focus ~ .wrap-input__label {
  color:#EB5757 !important;

}



.dark-theme .modal .steps__title {
  @media (min-width: 1201px){
    color: #000;
  }
    
}


.dark-theme .modal .btn--empty-blue[disabled] {
  background-color: transparent;
  color: #91929F;
  border-color: #91929F;
}


.dark-theme .side-popups .select__label{
  @media(min-width: 1200px){
    background-color: #fff;
  }
  
}