.note {
  position: relative;
  bottom: 0;
  left: -12px;
  width: 100%;
  padding: 12px;
  background-color: #E9F2FF;
  /*--- modificators start ---*/
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__title {
    margin-bottom: 12px;
    font-weight: 600;
  }

  &__list-item {
    display: block;
    margin-bottom: 4px;
    line-height: 21px;

    &:before {
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-right: 8px;
      content: '';
      vertical-align: middle;
      border-radius: 50%;
      background-color: $darker-blue;
    }
  }
  /*--- elements end ---*/
}
/*--- media start ---*/
@media (min-width:600px) {}
@media (min-width:900px) {}
@media (min-width:1200px) {
  .note {
    position: relative;
    left: 0;
    padding: 32px;
  }
}
/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme{
  .note{
    background: -moz-linear-gradient(left, rgba(33,65,125,1) 0%, rgba(25,26,57,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,65,125,1)), color-stop(100%, rgba(25,26,57,1)));
    background: -webkit-linear-gradient(left, rgba(33,65,125,1) 0%, rgba(25,26,57,1) 100%);
    background: -o-linear-gradient(left, rgba(33,65,125,1) 0%, rgba(25,26,57,1) 100%);
    background: -ms-linear-gradient(left, rgba(33,65,125,1) 0%, rgba(25,26,57,1) 100%);
    background: linear-gradient(to right, rgba(33,65,125,1) 0%, rgba(25,26,57,1) 100%);
  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/
