.paginator {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  order: 1;
  margin-bottom: 16px;
  /*--- elements start ---*/
  &__item {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    margin-right: 8px;


    &:last-child {
      margin-right: 0;
    }

    &:hover {
      position: relative;
      bottom: 2px;
    }
  }

  &__link {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $darker-blue;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid $darker-blue;
    border-radius: 4px;

    &--arr {
      background-color: $darker-blue;
    }
  }
  /*--- elements end ---*/
}
/*--- media start ---*/
.paginator {
  @media (min-width:900px) {
    order: 2;
    margin-bottom: 0;
  }
}
/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme{
  .paginator{
    &__link{
      background-color: rgba(255, 255, 255, 0.1);
      border-color: transparent;
      color:#fff;
      &--arr{
        background-color: transparent;
      }
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/

.ngx-pagination > li {
  &:hover {
    bottom: 0 !important;
  }
}
