.paginator {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  order: 1;
  margin-bottom: 16px;
  /*--- elements start ---*/
  &__item {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    margin-right: 8px;


    &:last-child {
      margin-right: 0;
    }

    &:hover {
      position: relative;
      bottom: 2px;
    }
  }

  &__link {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $darker-blue;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid $darker-blue;
    border-radius: 4px;

    &--arr {
      background-color: $darker-blue;
    }
  }
  /*--- elements end ---*/
}
/*--- media start ---*/
.paginator {
  @media (min-width:900px) {
    order: 2;
    margin-bottom: 0;
  }
}
/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme{
  .paginator{
    &__link{
      background-color: rgba(255, 255, 255, 0.1);
      border-color: transparent;
      color:#fff;
      &--arr{
        background-color: transparent;
      }
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/

.ngx-pagination > li {
  &:hover {
    bottom: 0 !important;
  }
}


.pagination {
  display: block;
}

.pagination--mob {
  display: none;
}

.ngx-pagination {
  margin-bottom: 0 !important;
  display: flex;
}

.ngx-pagination li {
  width: 28px;
  height: 28px;
  margin-right: 8px !important;
  padding: 0;
  &.current {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #237BEF !important;
    padding: 0 !important;
    border-radius: 4px !important;
  }
  &.pagination-previous.disabled {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    &:before {
      display: none;
    }
    span {
      display: none;
    }
  }
  &.pagination-next.disabled {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    &:after {
      display: none;
    }
    span {
      display: none;
    }
  }
  &:hover {
    position: relative;
    bottom: 2px;
  }
}

.ngx-pagination a {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px !important;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: transparent;
  transition:.3s;
  &:hover {
    background-color: #237BEF !important;
  }
}

li.pagination-next a {
  &:after {
    content: url('assets/img/paginator-next.svg') !important;
    margin-left: 0 !important;
    display: block;
    width: 13px;
    height: 13px;
  }
}

li.pagination-previous a {
  &:before {
    content: url('assets/img/paginator-prev.svg') !important;
    margin-right: 0 !important;
    display: block;
    width: 13px;
    height: 13px;
  }
} 