.pair-popup{
  position: relative;
  z-index: 10000;
  /*--- modificators start ---*/
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__inner{
    padding: 0 12px 0;
    background: linear-gradient(to bottom, #F5F5F5 0%, #FDFDFD 50%, #F5F5F5 100%);
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  &__title{
    font-size: 24px;
    line-height: 26px;
  }
  &__close-mob{
    svg{
      fill: $darker-blue;
    }
  }
  &__close{
    display: none;
    margin-left: auto;
    top: 0;
    &:hover{
      cursor: pointer;
    }
    svg{
      vertical-align: top;
      fill:#000;
    }
  }
  &__header{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

  }
  &__input{
    margin-bottom: 12px;
    .wrap-input__input{
      padding-left: 32px;
      background-color: transparent;
      &:focus{
        ~.wrap-input__label{
          left: 12px;
          background-color: #f5f5f5;
        }
        ~.wrap-input__icon{
          svg{
            fill:$darker-blue;
          }
        }
      }
      &:valid{
        ~.wrap-input__label{
          left: 12px;
          background-color: #f5f5f5;
        }
      }
    }
    .wrap-input__label{
      left: 32px;
    }
    .wrap-input__icon{
      svg{
        fill:$grey;
      }
    }
  }
  &__tabs {
    height: 36px;
    .tabs__item {
      display: flex;
      align-items: center;
      padding: 0 16px;
    }
  }
  &__header-txt{
    display: none;
  }
  &__content-wrap{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }
  &__group-title{
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 8px;
    color: $darker-blue;
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 6px;
      right: 0;
      height: 1px;
      width: calc(100% - 10px);
      background-color: $darker-blue;
    }
  }
  &__group-content{
    display: flex;
    flex-wrap: wrap;
  }
  &__currency{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    text-transform: uppercase;
    margin-right: 16px;
    &:hover{
      cursor: pointer;
    }
    img{
      margin-right: 4px;
    }
  }
  /*--- elements end ---*/
}
/*--- media start ---*/
@media (min-width:1200px) {
  .pair-popup{
    max-width: 1464px;
    margin: 0 auto;
    &__inner{
      margin: 0 16px;
      padding: 0 16px;
      border: 1px solid $grey;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    &__close-mob{
      display: none;
    }
    &__title{
      display: none;
    }
    &__close{
      display: block;
    }
    &__header{
      position: relative;
      flex-direction: row;
      margin-top: 20px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 292px;
        z-index: -1;
        width: calc(100% - 292px);
        height: 1px;
        background-color: $grey;
      }
    }
    &__input{
      // width: 260px;
      margin-right: 32px;
      margin-bottom: 1px;
      .wrap-input__input{
        &:valid{
          ~.wrap-input__label{
            color: $darker-blue;
          }
        }
      }
    }
    &__tabs {
      height: auto;
      &:after{
        display: none;
      }
    }
    &__header-txt{
      display: flex;
      align-items: center;
      margin-right: 32px;
      img{
        margin-right: 4px;
      }
    }
    &__content-wrap{
      padding-top: 24px;
      max-height: 300px;
      position: relative;
    }
    &__content{
      height: 100%;
      overflow: hidden;
    }
    &__group{
      width: 200px;
      //margin: 0;
    }
    &__group-title{
      &:after{
        display: none;
      }
    }
  }
}
/*--- media end ---*/

/*--- DARK THEME START---*/
.dark-theme{
  .pair-popup{
    &__inner{
      border-color: $light-blue;
      background: $dark-indigo none;
    }
    &__close-mob{
      svg{
        fill: $light-blue;
      }
    }
    &__close{
      svg{
        fill:#fff;
      }
    }
    &__header{
      border-bottom-color: $light-blue;
    }
    &__input{
      .wrap-input__input{
        border-color: $light-blue;
        &:valid{
          ~.wrap-input__label{
            background-color: $dark-indigo;
            color: $light-blue;
          }
          ~.wrap-input__icon{
            svg{
              fill:$light-blue;
            }
          }
        }
        &:focus{
          ~.wrap-input__label{
            background-color: $dark-indigo;
          }
          ~.wrap-input__icon{
            svg{
              fill:$light-blue;
            }
          }
        }
      }
      .wrap-input__icon{
        svg{
          fill:$light-blue;
        }
      }
    }
    &__group-title{
     color:$light-blue;
      &:after{
        background: $light-blue;
      }
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{
    .pair-popup{
      &__header{
        &:after {
          z-index: 1;
          background-color: $light-grey;
        }
      }
      &__tabs {
        .tabs__item {
          &--active{
            border-bottom-color: $light-blue;
            &:before{
              border-color: $light-blue transparent transparent transparent;
            }
          }
        }
      }
    }
  }
}
/*--- DARK THEME END---*/


.orders__search{
  .wrap-input{
    margin-right: 0;
  }
}


  .ord-history{
    .wrap-input{
    margin-right: 24px;
  }
  }

   .transaction__filters{
    .wrap-input{
    margin-right: 24px;
  }
  }

  .balance__filters{
    padding-left: 0;
  }