.radio {
  position: relative;
  display: inline-block;
  .radio__text__checked{
    //background-color: transparent;
    //color:#fff;
  }
  &:hover{
    cursor: pointer;
    .radio__text {
      background-color: $darker-blue;
      color:#fff;
      border-color: transparent;

    }
  }
  /*--- modificators start ---*/
  &--mr12{
    margin-right: 12px;
  }
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__input {
    position: absolute;
    margin: 0;
    opacity: 0;

    &:checked {
      ~.radio__icon {
        &:after {
          display: block;
        }
      }

    }
  }

  &__icon {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border: 1px solid $darker-blue;
    border-radius: 50%;

    &:after {
      position: absolute;
      display: none;
      width: 6px;
      height: 6px;
      content: "";
      border-radius: 50%;
      background-color: $darker-blue;
    }
  }
  &__text{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $darker-blue;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 48px;
    height: 24px;
    background-color: transparent;
    color: $darker-blue;
    &--rectangle{
        border-radius: 4px;
        line-height: .8;
        width: 2.85em;
        height: 1.7em;
        font-size: .7em;
        &:not(:last-child){
           margin-right: .2em;
        }

      }
  }
  /*--- elements end ---*/
}
/*--- DARK THEME START---*/
.dark-theme{
  .radio{
    .radio__text__checked{
      //background-color: $darker-blue;
      //color:#fff;
    }
    &__text{
      border: 1px solid $light-blue;
      background-color: transparent;
      color: $light-blue;
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/
