.row{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  /*--- modificators start ---*/
  &--jcsb{
    justify-content: space-between;
  }
  &--jcc{
    justify-content: center;
  }
  &--aic{
    align-items: center;
  }
  /*--- modificators end ---*/
}
