.ps__rail-y, .ps__rail-x_ {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.ps__rail-y {
  margin-right: 10px;
  width: 4px !important;
}

.ps__thumb-y {
  left: 1px;
    background-color: #191A39 !important;
  width: 2px !important;
}

