.select {
  position: relative;

  &:hover {
    cursor: pointer;
  }
  /*--- modificators start ---*/
  &--fix230 {
    width: 100%;
    max-width: 230px;
  }
  &--country {
    margin-bottom: 24px;
  }
  &--mb20 {
    margin-bottom: 20px;
  }

  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__value {
    display: block;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    margin: 0 auto;
    padding: 0 12px;
    border: 1px solid $grey;
    border-radius: 4px;
    font-size: 14px;
    line-height: 45px;

    &--active {
      border-color: $darker-blue;
      &:not(:empty){
        ~ .select__label {
        top: -5px;
        padding: 0 2px;
        color: $darker-blue;
        background-color: #fff;
        font-size: 10px;
        line-height: 12px;
      }
      }

      ~ .select__line {
        background-color: $darker-blue;
      }
      ~ .select__triangle {
        border-top-color: $darker-blue;
      }
    }
    &--error{
      border-color: $red;
      ~.select__label{
        color: $red;
      }
      ~.select__line{
        background-color: $red;
      }
      ~.select__triangle {
        border-top: 5px solid $red;
      }
    }
  }
  &__label {
    position: absolute;
    top: 10px;
    left: 12px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    pointer-events: none;
    color: $grey;
    font-size: 14px;
    line-height: 16px;
  }
  &__icon {
    position: absolute;
    top: 9px;
    left: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    img {
      width: 100%;
    }
  }
  &__line {
    height: 1px;
    background-color: $grey;
    display: none;
  }
  &__triangle {
    position: absolute;
    top: 16px;
    right: 16px;
    border-top: 5px solid $grey;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
  }
  &__list {
    position: absolute;
    z-index: 5;
    top: 100%;
    display: none;
    width: 100%;
    border: 1px solid $darker-white;
    border-top: none;
    background-color: #fff;
    &--open {
      display: block;
    }
  }
  &__list-searching {
    position: absolute;
    z-index: 5;
    top: 100%;
    //display: none;
    width: 100%;
    border: 1px solid $darker-blue;
    // border-top: none;
    background-color: #fff;
    border-radius: 4px;
    &--open {
      display: block;
    }
    .select__list{
      position: relative;
      border: none;
    }
  }
  &__search {
    width: 100%;
    position: relative;
  }
  &__search-input {
    width: 100%;
    height: 36px;
    padding: 0 30px 0 12px;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid $darker-blue;
    background-color: transparent;
    &:focus {
      outline: none;
      &::placeholder {
        opacity: 0;
      }
    }
    &::placeholder {
      color: $darker-blue;
    }
  }
  &__search-icon {
    position: absolute;
    right: 12px;
    top: 10px;
    display: inline-block;
    width: 14px;
    height: 14px;
    svg {
      fill: $darker-blue;
    }
  }
  &__list-searching-body {
    padding-top: 12px;
    padding-left: 12px;
    max-height: 190px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  &__searching-items-title {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    color: #525f73;
    span{
      margin-right: 4px;
      color: #000;
      transition: .3s;
    }
    &:after{
      content:'';
      display: block;
      width: calc(100% - 36px);
      height: 1px;
      background-color: #525f73;
    }
  }
  &__searching-items-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-right: 24px;
  }
  &__searching-item {

    padding: 4px 0;
        width: 100%;
        transition: .3s;
  }
  &__list-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-align: left;
    font-weight: 400;
    cursor: pointer;
    &:hover, &.active  {
      color:#94C2FF;
    }
  }
  &__list-item-icon {
    width: 21px;
    height: 14px;
    margin-right: 8px;
    vertical-align: middle;
    line-height: 1.5;
        margin-top: -3px;
    &--destop{
      display: none;
      @media(min-width: 1200px){
        display: inline;
      }
    }
    &--mobile{
      display: none;
      @media(max-width: 1199px){
        display: inline;
      }
    }
  }
  /*--- elements end ---*/
}


.table__cell{
  .select__list-item-icon{
    // width: 21px;
    height: 14px;
    margin-right: 8px;
    vertical-align: middle;
    line-height: 1.5;
    // padding-bottom: 4px;
  }
}
/*--- media start ---*/
@media (min-width: 600px) {
  .select {
    &--country {
      margin-right: 8px;
      margin-bottom: 0;
    }
    &__value {
      height: 45px;
    }
    &__label {
      top: 15px;
    }
    &__icon {
      top: 14px;
    }
    &__triangle {
      top: 20px;
    }
    &__list-item {
      padding: 12px;
    }
  }
}

@media (min-width: 1200px) {
}

/*--- media end ---*/

/*--- DARK THEME START---*/
.dark-theme {
  .select {
    &__value {
      border-color: $light-blue;
      &--active {
        border-color: $light-blue;
        ~ .select__label {
          color: $light-blue;
        }
        ~ .select__line {
          background-color: $light-blue;
        }
        ~ .select__triangle {
          border-top-color: $light-blue;
        }
      }
      &--error{
        border-color: $red;
        ~.select__label{
          color: $red;
        }
        ~.select__line{
          background-color: $red;
        }
        ~.select__triangle {
          border-top: 5px solid $red;
        }
      }
    }
    &__label {
      color: $light-blue;
      background-color: $dark-indigo;
    }
    &__line {
      background-color: $light-blue;
    }
    &__triangle {
      border-top-color: $light-blue;
    }
    &__list {
      &--open {
        border-color: #fff;
        background-color: #fff;
        border-radius: 4px;
        color: #191A39;
      }
    }
    &__list-searching {
      &--open {
        border-color: $light-blue;
        background-color: $dark-indigo;
      }
    }
    &__searching-items-title {
      color: $light-blue;
      &:after{
        background-color: $light-blue;
      }
    }
    &__search-input {
      // color: #fff;
      color: #000;
      border-bottom: 1px solid $light-blue;
      &::placeholder {
        color: $light-blue;
      }
    }
    &__search-icon {
      svg {
        fill: $light-blue;
      }
    }
  }
}

@media (min-width: 1200px) {
  .dark-theme {
  }
}

/*--- DARK THEME END---*/

.refill{
  &__select{
    &--cripto{
      min-width: 380px;
    }
  }
}


.refill__inputs-wrap{
.select__searching-item {
    min-width: 95px;
  }
}
