.steps {
  display: flex;
  align-items: center;
  flex-direction: row;
  /*--- elements start ---*/
  &__item {
    background-color: transparent;

    &--current {
      .steps__number-mob-current {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
      }

      .steps__number--current {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    padding: 8px 6px;
    text-decoration: none;
    color: inherit;
  }

  &__number {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid;
    border-color: rgba(25, 26, 57, 0.1);
    border-radius: 18px;
    font-size: 14px;
    line-height: 16px;

    &--current {
      border: none;
    }

    &--valid {
      color: $darker-blue;
      border-color: $darker-blue;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 13px;
        height: 10px;
        content: "";
        background-image: url("assets/img/step-valid.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }
  }

  &__number-mob-current {
    display: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 36px;
    padding: 8px 16px;
    color: #fff;
    border-radius: 40px;
    background-color: $darker-blue;
    font-size: 14px;
  }

  &__title {
    display: none;
    font-size: 12px;
  }

  &__counter {
    display: none;
    padding: 12px 24px;

    &--mob {
      display: block;
      padding: 0 16px;
    }
  }

  &__counter-val {
    color: $darker-blue;
  }
  /*--- elements end ---*/
}
/*--- media start ---*/
@media (min-width:1200px) {
  .steps {
    &__item {
      border-left: 1px solid $darker-white;
      &--current {
        color: #fff;
        background-color: $darker-blue;

        .steps__number-mob-current {
          display: none;
        }

        .steps__number--current {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
        }
      }
    }

    &__link {
      padding: 12px 24px;
    }

    &__number {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 18px;

      &--current {
        border: 1px solid;
        border-color: inherit;
      }
    }

    

    &__counter {
      display: block;
    }
  }
}
/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme{
  .steps{
    &__number {
      &--valid {
        color: $light-blue;
        border-color: $light-blue;
        &:after {
          background-image: url("assets/img/step-valid--dark-theme.svg");
        }
      }
    }
    &__counter {
      color: $light-blue;
    }
    &__counter-val {
      color: #fff;
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{
    .steps {
      &__item {
        border-color: rgba(160, 160, 160,.1);
        &--current {
          color: #fff;
          background-color: transparent;
          .steps__title{
            color: #fff;
          }
          .steps__link{
            background: radial-gradient(50% 3px at center 93%, #237BEF 10%, transparent 80%);
          }
        }
      }
      &__number {
        &--current {
          border-color: $darker-blue;
          color: $darker-blue;
        }
      }
      &__title{
        color:$light-blue;
      }
    }
  }
}
/*--- DARK THEME END---*/
@media(max-width: 1199px){
  .dark-theme .steps__number--valid:after {
    background-image: url("assets/img/step-valid--dark-theme.svg");
}
}


  .steps__title{
    @media (min-width:1201px) {
      
        display: block;
     
  }
}

.dark-theme .steps__title {
  @media (min-width:1201px) {
  color: #94C2FF;
  }
}