.subtitle {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  /*--- modificators start ---*/
  &--hide-mob {
    display: none;
  }
  /*--- modificators end ---*/
  /*--- elements start ---*/
  /*--- elements end ---*/
}
/*--- media start ---*/
@media (min-width:600px) {}
@media (min-width:900px) {}
@media (min-width:1200px) {
  .subtitle {
    text-align: left;

    &--hide-mob {
      display: block;
    }
  }
}
/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme{
  .subtitle{
    color:#fff;
    @media (max-width: 568px){
      font-size: 14px;
      line-height: 17px;
      color: #DEDEFB;
  }
  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/
