.tabs{
  display: flex;
  position: relative;
  &:after{
    content:'';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    z-index: 1;
    background-color: $light-blue ;
  }
  /*--- modificators start ---*/
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__item{
    padding: 5px 0 7px;
    display: block;
    border: none;
    outline: 0;
    margin: 0;
    background: 0 0;
    cursor: pointer;
    font-size: 18px;
    color: #000;
    position: relative;
    transition: .2s ease-in-out;
    @media(max-width: 1199px){
      padding: 7px 0 7px;
    }
    &:hover{
      cursor: pointer;
    }
    &--active{
      position: relative;
      border-bottom: 2px solid $darker-blue;
      @media(max-width: 1199px){
        border: none;
      }
      position: relative;
      z-index: 2;
      color: #237bef;
      &:before,&:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%,100%);
        -ms-transform: translate(-50%,100%);
        transform: translate(-50%,100%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 9px 0 9px;
        border-color: $darker-blue transparent transparent transparent;
      }
      &:after{
        bottom: 1px;
        border-width: 4px 6px 0 6px;
        border-color: #fff transparent transparent transparent;
      }
    }
    &--small{
      padding: 0 0 4px;
    }
    &--big{
      width: 100%;
      margin: 0;
      padding: 8px 0;
      font-size: 24px;
    }
  }
  /*--- elements end ---*/
}
/*--- media start ---*/
@media (min-width:600px) {}
@media (min-width:900px) {}
@media (min-width:1200px) {}
/*--- media end ---*/

/*--- DARK THEME START---*/
.dark-theme{
  .tabs{
    &:after{
      background-color: $grey ;
    }
    &__item{
      color:$grey;
      &--active{
        color:#fff;
        &:after{
          border-color: $dark-indigo transparent transparent transparent;
        }
      }
    }
  }
}
@media (min-width:1200px) {
  .dark-theme{
    .tabs{
      &:after{
        background-color: $dark-indigo ;
      }
      &__item{
        &--active{
          color:#fff;
          &:after{
            border-color: $dark-indigo transparent transparent transparent;
          }
        }
        &:hover{
          color:#fff;
        }
      }
    }
  }
}
/*--- DARK THEME END---*/
