.table {
  display: none;
  width: 100%;
  //margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  /*--- modificators start ---*/
  &--mob {
    display: table;
  }
  &--more-info {
    border-left: 4px solid $darker-blue;
    border-bottom: 1px solid $darker-blue;
    margin-bottom: 0;
  }
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__cell-head {
    padding: 8px 10px;
    color: #000;
    font-weight: 600;
    display: table-cell;
    &--tal {
      text-align: left;
    }

    &--tar {
      text-align: right;
    }

    &--tac {
      text-align: center;
    }

    &--hide-mob {
      display: none;
    }

    &--p8 {
      padding: 8px 0;
    }
    &--p4 {
      padding: 4px;
    }
  }
  &__cell-head-arr {
    margin-right: 4px;
    fill: #000;
  }
  &__body {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    &--none-shadow {
      box-shadow: none;
    }
  }
  &__row-btn {
    display: none;
  }
  &__row {
    display: none;
    position: relative;

    &:nth-of-type(odd) {
      background-color: #f4f8fe;
    }

    &:hover {
      background-color: #deebfd;
      //cursor: pointer;
      .btn--hidden{
        visibility: visible;
        transition: none;
      }
      .table__row-btn {
        display: inline-block;
      }

      .table__row-star {
        svg {
          display: inline-block;
        }
      }
    }

    &--mob {
      display: table-row;
      &:hover {
        background-color: unset;
        //background-color: #deebfd;
        //cursor: pointer;
      }
    }
  }

  &__row-star {
    display: inline-block;
    width: 16px;
    height: 16px;
    svg {
      fill: $dark-indigo;
    }
    &:hover {
      svg {
        fill: #FFB74C;
      }
    }
    &--select {
      svg {
        fill: #FFB74C;
      }
    }
  }
  &__row-mob-line{
    width: calc(100% - 24px);
    height: 1px;
    margin-left: 12px;
    background: $darker-white;
  }
  &__cell {
    position: relative;
    padding: 8px 10px;
    vertical-align: middle;
    display: table-cell;
    &--tal {
      text-align: left;
    }

    &--tar {
      text-align: right;
    }

    &--tac {
      text-align: center;
    }

    &--arr-mob {
      padding-right: 16px;
      padding-left: 6px;
      text-align: right;
      img{
        width: 10px;
      }
      svg{
        stroke: $darker-blue;
        //fill:$darker-blue;
      }
    }

    &--p8 {
      padding: 8px;
    }
  }
  &__date-time {
    div:nth-child(2) {
      color: $grey;
      font-size: 10px;
      line-height: 12px;
    }
  }
  //details-row
  &__details {
  }
  &__details-cell {
    position: relative;
    padding: 6px 16px;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 4px;
      left: 4px;
      top: 0;
      background-color: #237BEF;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      left: 8px;
      bottom: 0;
      background-color: #237BEF;
    }
  }
  &__details-item {
    display: flex;
    display: table-row;
    padding: 6px 0;
  }
  &__details-item-title {
    color: $grey;
    display: table-cell;
    padding: 6px 0;
    .counter{
      color: #000;
    }
  }
  &__details-item-value {
    display: table-cell;
    padding: 6px 0 6px 18px;
  }
  /*--- elements end ---*/
}

/*--- media start ---*/

@media (min-width: 1200px) {
  .table {
    display: table;
    &--mob {
      display: none;
    }
    &__cell-head {
      padding: 20px 10px;
      &--hide-mob {
        display: table-cell;
      }
      &--p4 {
        padding: 4px;
      }
    }
    &__row {
      display: table-row;

      &--mob {
        display: none;
      }
    }
    &__row-star {
      svg {
        display: none;
      }
      &--select {
        svg {
          display: inline-block;
        }
      }
    }
  }
}

/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme {
  .table {
    color: #fff;
    &__cell-head {
      font-weight: 400;
      color: #959BA5;
    }
    &__cell-head-arr {
      fill: #959BA5;;
    }
    &__body {
      box-shadow: none;
    }
    &__row {
      &:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.02);
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    &__cell{
      &--arr-mob {
        svg{
          stroke: $light-blue;
          //fill:$light-blue;
        }
      }
    }
    &__details-item-title {
      color: $light-blue;
      .counter{
        color: #fff;
      }
    }
    &__row-mob-line{
      background: linear-gradient(to right,#21417D 0%, #191A39 100%);
    }
  }
}

@media (min-width: 1200px) {
  .dark-theme {
  }
}

/*--- DARK THEME END---*/
