.table {
  display: none;
  width: 100%;
  //margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  /*--- modificators start ---*/
  &--mob {
    display: table;
  }
  &--more-info {
    border-left: 4px solid $darker-blue;
    border-bottom: 1px solid $darker-blue;
    margin-bottom: 0;
  }
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__cell-head {
    padding: 8px 10px;
    color: #000;
    font-weight: 600;
    display: table-cell;
    white-space: nowrap;
    &--sort{
      &:before{
        content:"";
        display: inline-block;
        width: 8px;
        height: 9px;
        margin-right: 4px;
        background-image: url(/assets/img/arr-down.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
      &:hover{
        cursor: pointer;
      }
    }
    &--tal {
      text-align: left;
    }

    &--tar {
      text-align: right;
    }

    &--tac {
      text-align: center;
    }

    &--hide-mob {
      display: none;
    }

    &--p8 {
      padding: 8px 0;
    }
    &--p4 {
      padding: 4px;
    }
  }
  &__cell-head-star{
    svg{
      fill:$dark-indigo;
    }
    &:hover{
      cursor: pointer;
      svg{
        fill:#fff;
      }
    }
  }
  &__cell-head-arr {
    margin-right: 4px;
    fill: #000;
  }
  &__body {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    &--none-shadow {
      box-shadow: none;
    }
  }
  &__row-btn {
    display: none;
  }
  &__row {
    display: none;
    position: relative;
    background: transparent;
    &:nth-of-type(odd) {
      background-color: #f4f8fe;
    }
    .btn--hidden{
      &.active-btn{
        visibility: visible;
        transition: none;
        color: #fff;
    border-color: #EB5757;
    background-color: #EB5757;
      }
    }
    &:hover {
      background-color: #deebfd;
      //cursor: pointer;
      .btn--hidden{
        visibility: visible;
        transition: none;
        &.active-btn{
          visibility: visible;
          transition: none;
          color: #EB5757;
    border-color: #EB5757;
    background-color: transparent;
        }
      }
      .table__row-btn {
        display: inline-block;
      }

      .table__row-star {
        svg {
          display: inline-block;
        }
      }
    }

    &--mob {
      display: table-row;
      &:hover {
        background-color: unset;
        //background-color: #deebfd;
        //cursor: pointer;
      }
    }
    &--more-info{
      background-color: unset;
    }
  }

  &__row-star {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    svg {
      fill: $dark-indigo;
    }
    &:hover {
      cursor: pointer;
      svg {
        fill: #FFB74C;
      }
    }
    &--select {
      svg {
        fill: #FFB74C;
      }
    }
  }
  &__row-mob-line{
    width: calc(100% - 24px);
    height: 1px;
    margin-left: 12px;
    background: $darker-white;
  }
  &__cell {
    position: relative;
    padding: 8px 10px;
    vertical-align: middle;
    display: table-cell;
    white-space: nowrap;
    color: #DEDEFB;
    &--tal {
      text-align: left;
    }

    &--tar {
      text-align: right;
    }

    &--tac {
      text-align: center;
    }

    &--arr-mob {
      padding-right: 16px;
      padding-left: 6px;
      text-align: right;
      img{
        width: 10px;
      }
      svg{
        stroke: $darker-blue;
        //fill:$darker-blue;
      }
    }

    &--p8 {
      padding: 8px;
    }
    &--p4{
      padding: 4px;
    }
  }
  &__date-time {
    div:nth-child(2) {
      color: $grey;
      font-size: 10px;
      line-height: 12px;
    }
  }
  //details-row
  &__details {
  }
  &__details-cell {
    position: relative;
    padding: 6px 16px;
    overflow: hidden;
    // &:before {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   height: 100%;
    //   width: 4px;
    //   left: 4px;
    //   top: 0;
    //   background-color: #237BEF;
    // }
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: #237BEF;
    }
  }
  &__details-item {
    display: flex;
    display: table-row;
    padding: 6px 0;
  }
  &__details-item-title {
    color: $grey;
    display: table-cell;
    padding: 6px 0;
    .counter{
      color: #000;
    }
  }
  &__details-item-value {
    display: table-cell;
    padding: 6px 0 6px 18px;
  }
  /*--- elements end ---*/
}

/*--- media start ---*/

@media (min-width: 1200px) {
  .table {
    display: table;
    margin-bottom: 0;

    &--mob {
      display: none;
    }
    &__cell-head {
      padding: 20px 10px;
      &--hide-mob {
        display: table-cell;
      }
      &--p4 {
        padding: 4px;
      }
    }
    &__row {
      display: table-row;

      &--mob {
        display: none;
      }
    }
    &__row-star {
      svg {
        display: none;
      }
      &--select {
        svg {
          display: inline-block;
        }
      }
    }
  }
}

/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme {
  .table {
    color: #fff;
    &__cell-head {
      font-weight: 400;
      color: #8C8C9C;
      &--sort{
        &:before{
          background-image: url(/assets/img/arr-down-grey.svg);
        }
      }
    }
    &__cell-head-arr {
      fill: #8C8C9C;
    }
    &__body {
      box-shadow: none;
    }
    &__row {
      &:nth-of-type(odd) {
        //background-color: rgba(255, 255, 255, 0.02);
        background-color: #191f42;

      }
      &:not(.no-hover){
        &:hover {
          background-color: #1a2954;
        }
      }
      &--more-info{
        background-color: unset !important;
      }
    }
    &__cell{
      &--arr-mob {
        svg{
          stroke: $light-blue;
          //fill:$light-blue;
        }
      }
    }
    &__details-item-title {
      color: $light-blue;
      .counter{
        color: #fff;
      }
    }
    &__row-mob-line{
      background: rgba(35, 123, 239, 0.15);

    }
  }
}

@media (min-width: 1200px) {
  .dark-theme {
  }
}

/*--- DARK THEME END---*/
.table{
  &.qubera-table{
    .balance__currency-name{
      margin-left: 0;
    }
    .table__cell-head{
      &:first-child{
        width: 18%;
      }
      &:nth-child(2){
        width: 15%;
      }
      &:nth-child(2){
        width: 18%;
      }
      &.table__cell-head--tac {
        width: 98px;
        &:nth-child(1){
          padding-left: 28%;
        }
      }
    }
  }
}


.transaction{
  .table__row{
    &:hover{
      background-color: transparent;
      &:nth-of-type(odd) {
        background-color: #191f42;
      }
    }
  }
}

@media(max-width: 420px){
  .table__details-cell {
    padding: 6px 10px;

  }
}

.freecoins-table-container{
.table__row:hover {
  background-color: transparent;
}
.table__row:nth-of-type(odd):hover {
  background-color: #191f42;
}
}

