.title{
  font-size: 24px;
  line-height: 28px;
  color: $dark-indigo;
  text-align: center;

  /*--- modificators start ---*/
  /*--- modificators end ---*/
  /*--- elements start ---*/
  /*--- elements end ---*/
}

/*--- media start ---*/
@media (min-width:600px) {}
@media (min-width:900px) {}
@media (min-width:1200px) {
  .title{
    text-align: left;
  }
}
/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme{
  .title{
    color:#fff;
  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/
