.widget {
  position: relative;
  height: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  /*--- modificators start ---*/

  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__limit-dropdown {
    .dropdown__btn {
      // &:before {
      //   content: "";
      //   display: inline-block;
      //   width: 13px;
      //   height: 13px;
      //   margin-right: 8px;
      //   background-image: url('assets/img/limit-order-blue.svg');
      //   background-repeat: no-repeat;
      //   background-position: center;
      //   -webkit-background-size: 100%;
      //   background-size: 100%;
      // }
    }
    margin-right: 8px;
  }


  .input-row{
    margin-top: 17px;
  }
  &__trading-title{
    font-size: 16px;
  }
  &__trading-title-wr{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__trading-fee{
    font-size: 12px;
    color: #BFBFBF;
    margin-bottom: 2px;
    margin-right: 2px;
  }
  &__header {
    position: relative;
    display: none;
    height: 29px;
    margin-bottom: 12px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    &--trading{
      margin-bottom: 7px;
    }
    &--mob {
      display: flex;
      height: 42px;
      justify-content: space-between;
    }
  }
  &__name {
    font-size: 14px;
    margin: 0 16px;
    //padding-top: 8px;
  }
  &__name-mob {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    img {
      width: 21px;
      height: 21px;
      margin: 0 8px;
    }
  }
  &__trade-title {
    margin-left: 0;
    &--green {
      border-left: 4px solid $green;
      background: rgba(0, 180, 60, .1);
      background: linear-gradient(to right, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 30%, rgba(0, 180, 60, 0) 100%);
    }
    &--red {
      border-left: 4px solid $red;
      background: rgba(235, 87, 87, .1);
      background: linear-gradient(to right, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 30%, rgba(235, 87, 87, 0) 100%);
    }
  }
  &__question {
    display: none;
    padding-top: 8px;
  }
  &__question-img {
    svg {
      fill: #000;
    }
  }
  &__dots {
    position: absolute;
    left: calc(50% - 11px);
    display: block;
    //top: 12px;
    width: 22px;
    height: 9px;
    background-image: url('assets/img/widget-dots.svg');
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      cursor: pointer;
    }
  }
  &__controls {
    display: flex;
    margin-left: auto;
  }
  &__controls-horizontal {
    //display: none;
    display: flex;
    //padding-top: 8px;
    svg {
      fill: #000;
    }
  }
  &__controls-vertical {
    //display: none;
    display: flex;
    margin-left: 28px;
    //padding-top: 8px;
    svg {
      fill: #000;
    }
  }
  &__controls-plus, &__controls-minus {
    padding: 0px 6px 0 6px;
    &:hover {
      cursor: pointer;
      //background: rgba(0,0,0,.1);
    }
  }
  &__controls-horizontal-img, &__controls-vertical-img {
    margin: 0 12px;
  }
  &__controls-close {
    margin-left: 36px;
    margin-right: 16px;
    //padding-top: 11px;
    padding-left: 10px;
    // padding-right: 10px;
    &:hover {
      cursor: pointer;
      //background: rgba(0,0,0,.1);
    }
    svg {
      vertical-align: middle;
      fill: #000;
    }
  }
  &__search-btn {
    align-self: center;
    margin-right: 12px;
    color: $darker-blue;
    svg {
      fill: $darker-blue;
      margin-right: 4px;
      vertical-align: bottom;
    }
  }
  &__graph {
    position: relative;
    height: calc(100% - 64px);
    overflow-x: hidden;
    overflow-y: auto;
    &--mob {
      display: block;
    }
  }
  &__content {
    display: none;
    position: relative;
    &--pg{
      padding: 0 16px;
      height: calc(100% - 30px);
      .widget__trading-form{
        margin: 0;
        width: calc(50% - 7.5px);
        max-width: 187px;
        display: flex;
        flex-direction: column;
      }
    }
    &--mob {
      display: block;
      //height: 100%;
    }
    &--show-all {
      //height: 100%;
      display: block;
    }
  }
  &__tabs {
    margin: 0 16px;
    &--hide-mob {
      display: none;
    }
    .tabs__item {
      margin-right: 23px;
      &:last-child {
        margin-right: 0px;
      }
    }
    .tabs__item--big {
      margin: 0;
    }
  }
  &__markets-tabs {
    margin: 0;
    padding: 0 8px 0 12px;
    .tabs__item {
      &--active {
        border-top: 2px solid $darker-blue;
        @media(max-width: 1199px){
          border: none;
          &:before{
            display: none;
          }
          &:after{
            width: 100%;
            height: 2px;
            background: #237BEF;
            bottom: 0;
            top: auto;
          }
        }
        border-bottom: 0;
        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          -webkit-transform: translate(-50%, -100%);
          -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0px 9px 6px 9px;
          border-color: transparent transparent $darker-blue transparent;
        }
        &:after {
          bottom: 1px;
          border-width: 0px 6px 4px 6px;
          border-color: transparent transparent #fff transparent;
        }
      }
    }
  }
  &__table {
    display: none;
    &--mob {
      display: table;
    }
    .table__cell {
      z-index: 2;
      padding: 2px 4px;
      border: none;
      background-color: transparent;
    }
  }
  &__table-row {
    display: table-row;
    position: relative;
    height: 24px;
    &:nth-of-type(odd) {
      background-color: unset;
    }
    &:hover {
      background-color: rgba(35, 123, 239, 0.1);
    }
    &--green {
      &:after {
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        //height: 24px;
        height: 100%;
        z-index: 0;
        opacity: 0;
        animation: markets-row 1s ease-in-out;
        background: rgba(0, 180, 60, .1);
        background: -moz-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 180, 60, .1)), color-stop(88%, rgba(0, 180, 60, .1)), color-stop(100%, rgba(0, 180, 60, 0)));
        background: -webkit-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
        background: -o-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
        background: -ms-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
        background: linear-gradient(to left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
      }
      .txt-indicate {
        animation: indicate-green 1s ease-in-out;
      }
    }
    &--red {
      &:after {
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        //height: 24px;
        height: 100%;
        z-index: 0;
        opacity: 0;
        animation: markets-row 1s ease-in-out;
        background: rgba(235, 87, 87, .1);
        background: -moz-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235, 87, 87, .1)), color-stop(88%, rgba(235, 87, 87, .1)), color-stop(100%, rgba(235, 87, 87, 0)));
        background: -webkit-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
        background: -o-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
        background: -ms-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
        background: linear-gradient(to left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
      }
      .txt-indicate {
        animation: indicate-red 1s ease-in-out;
      }
    }
    .change-indicate {
      &--green {
        display: inline-block;
        text-align: center;
        line-height: 25px;
        height: 25px;
        min-width: 65px;
        max-width: 100px;
        margin-left: auto;
        margin-right: 16px;
        color: $green;
        span {
          font-size: 10px;
          opacity: .5;
          padding-top: 4px;
          margin-left: 2px;
        }
      }
      &--red {
        display: inline-block;
        text-align: center;
        line-height: 25px;
        height: 25px;
        min-width: 65px;
        max-width: 100px;
        margin-left: auto;
        margin-right: 16px;
        color: $red;
        span {
          font-size: 10px;
          opacity: .5;
          padding-top: 4px;
          margin-left: 2px;
        }
      }
    }
  }
  &__table-markets-mob {
    .table__cell-head {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 10px;
      line-height: 1.55;
    }
    @media(max-width: 1199px){
     .markets__tbody{
      padding: 0 14px 0 8px;
    }
  }

  .table__cell,.table__cell-head{
    @media(max-width: 1200px){
      &:nth-child(1){
        margin-right: 0;
        padding-left: 0px;
      }
      &:nth-child(2){
        margin-right: 8px;
      }
      &:nth-child(4){
        span{
          margin-right: 0;
        }
      }
    }
  }
  .table__row-star {
    svg {
      fill: #E5E5E5;
    }
  }
  .table__row-star--select {
    svg {
      fill: #FFB74C;
    }
  }
}
  //chat start
  &__chat-wrap {
    height: 100%;
    overflow: auto;
  }
  &__message-wrap {
    display: flex;
    margin-bottom: 4px;
    &--left {
      margin: 0 20px 4px 16px;
      .widget__message-icon {
        margin-right: 8px;
      }
      .widget__message {
        text-align: left;
        margin-right: 12px;
        background-color: $darker-white;
        &:after {
          left: -4px;
          border-right: 4px solid $darker-white;
        }
      }
      .widget__message-time {
        margin-left: auto;
        min-width: 53px;
      }
    }
    &--right {
      margin: 0 20px 4px 16px;
      .widget__message-icon {
        margin-left: 8px;
      }
      .widget__message {
        text-align: right;
        margin-left: auto;
        background-color: $light-aqua;
        &:after {
          right: -4px;
          border-left: 4px solid $darker-white;
        }
      }
      .widget__message-time {
        margin-left: 8px;
      }
    }
  }
  &__message-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    max-width: 28px;
    min-width: 28px;
    height: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #94C2FF;
    img {
      width: 100%;
    }
    span {
      position: absolute;
      font-size: 18px;
      color: #fff
    }
  }
  &__message {
    position: relative;
    padding: 8px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 8px;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }
  }
  &__message-nickname {
    font-size: 12px;
    line-height: 14px;
    color: #94C2FF;
    &--hide {
      display: none;
    }
  }
  &__message-text {
    line-height: 16px;
    font-size: 14px;
    hyphens: auto;
    word-break: break-all;
  }
  &__message-reply{
    background-color: rgba(25, 26, 57, 0.5);
    border-left: 1px solid $darker-blue;
    padding: 6px 12px;
    margin: 4px 0;
  }
  &__message-time {
    font-size: 12px;
    line-height: 14px;
    color: $grey;
    opacity: .5;
    margin-top: 6px;
  }
  &__message-day {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 18px;
    color: $grey;
    text-align: center;
  }
  &__send-message {
    position: relative;
    position: absolute;
    bottom: 0;
    width: calc(100% - 32px);
    margin: 0 16px;
    background-color: #fff;
    border: 1px solid $grey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  }
  &__chat-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    bottom: 76px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    height: 40px;
    line-height: 1;
    .btn__icon {
      margin-right: 6px;
    }
  }
  &__send-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 36px;
    padding: 0 12px;
    padding-right: 30px;
    border: none;
    font-size: 14px;
    &:focus {
      outline: none;
    }
  }
  &__input-img {
    position: absolute;
    right: 12px;
    top: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    &--hide-mob {
      display: none;
    }
    &--second-icon {
      right: 42px;
    }
    img {
      width: 100%;
    }

  }
  //chat end

  //trading start
  &__trading-form {
    display: none;
    &--mob {
      max-width: 400px;
      margin: 0 auto;
      display: block;
      padding: 0 16px;
    }
  }
  &__limit-dropdown {
    align-self: center;
    margin-right: 12px;
    display: flex;
    .dropdown__btn {
      color: #000;
      padding-right: 16px;
      &:after {
        border-top-color: #000;
      }

    }
    .dropdown__list {
      border: none;
    }
    .dropdown__item {
      color: #000;
      padding: 8px;
      text-align: left;
    }
  }
  &__trading-row {
    margin-top: 24px;
  }
  &__trading-row-txt {
    // margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    .type {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-title {
        margin-bottom: 4px;
      }
      svg {
        width: 13px;
        height: 13px;
        fill: $darker-blue;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
    .avaliable {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-title {
        margin-bottom: 4px;
      }
      svg {
        fill: $darker-blue;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
    a {
      color: $darker-blue;
      padding-bottom: 1px;
      display: inline-block;
      border-bottom: 1px dashed $darker-blue;
      text-decoration: none;
    }
    .fee {
      margin: 4px auto 0;
    }
  }
  &__percent-row {
    margin-top: 20px;
    justify-content: space-between;
  }
  &__input {
    width: 100%;
    &--mr32 {
      margin-right: 32px;
    }
  }
  &__trading-btn {
    display: flex;
    width: 100%;
    max-width: 220px;
    height: 40px;
    font-size: 18px;
    line-height: 1;
    margin: 16px auto 0;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  &__buy-sell-btn-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  &__buy-sell-btn {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &--green {
      color: $green;
      background-color: rgba(0, 180, 61, 0.1);
      border-left: 4px solid;
      border-color: $green;
    }
    &--red {
      color: $red;
      background-color: rgba(235, 87, 87, 0.1);
      border-right: 4px solid;
      border-color: $red;
    }
    &--single-green {
      color: $green;
      border-left: 4px solid $green;
      border-right: 4px solid $green;
      background-color: rgba(0, 180, 61, 0.1);
    }
    &--single-red {
      color: $red;
      border-left: 4px solid $red;
      border-right: 4px solid $red;
      background-color: rgba(235, 87, 87, 0.1);
    }
  }
  //trading end
  .order-book-bg {
    display: none;
  }
  /*--- elements end ---*/
}

/*--- media start ---*/
@media (min-width: 1200px) {
  .widget {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-bottom: 8px;
    height: 100%;

    &--gradient {
      background: linear-gradient(to bottom, #F5F5F5 0%, #FDFDFD 50%, #F5F5F5 100%);
    }
    /*--- elements start ---*/
    &__header {
      display: flex;
      align-items: center;
      cursor: grabbing;
      // -webkit-cursor: grabbing;
      &--mob {
        display: none;
      }
    }
    &__name {
      font-size: 14px;
      margin: 0 16px;
      //padding-top: 8px;
    }
    &__graph {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      height: calc(100% - 41px);
      &--mob {
        display: none;
      }
    }
    &__content {
      display: block;
      &--mob {
        display: none;
      }
      &--show-all {
        display: block;
      }
    }
    &__tabs {
      margin: 0 24px;
      &--hide-mob {
        display: flex;
      }
    }
    &__table-wrap {
      position: relative;
      //height: 100%;
      margin-right: 24px;
      &--ml16 {
        margin-left: 16px;
      }
    }
    &__table {
      margin-top: 4px;
      margin-bottom: 0;
      display: table;
      border-collapse: collapse;
      position: relative;
      &--mob {
        display: none;
      }

    }

    &__message-wrap {
      &--left {
        margin: 0 32px 4px 16px;
        .widget__message {
          margin-right: 18px;
          max-width: 268px;
        }
      }
      &--right {
        margin: 0 32px 4px 16px;
      }
    }
    &__search, &__send-message {
      position: fixed;
      bottom: 28px;
      width: calc(100% - 38px);
      margin: 0;
      left: 19px;
      background-color: #fff;
      border: 1px solid $grey;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      //box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
      box-shadow: none;
    }
    &__search{
      bottom: 16px;
    }
    &__search-input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      height: 36px;
      padding: 0 12px;
      padding-right: 30px;
      border: none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      font-size: 14px;
      &:focus {
        outline: none;
        &::placeholder {
          opacity: 0;
        }
      }
      &::placeholder {
        color: #A0A0A0;
      }
      &:required{
        box-shadow: none;
      }
    }
    &__send-input {
      padding-right: 68px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    &__chat-btn {
      position: absolute;
      bottom: 24px;
    }
    &__input-img {
      &--hide-mob {
        display: inline-block;
      }
      svg {
        fill: #A0A0A0;
      }
    }
    &__scroll {
      position: absolute;
      top: 0;
      right: -6px;
      width: 3px;
      height: 100%;
      background-color: $darker-white;
      text-align: center;
    }
    &__scroll-inner {
      position: absolute;
      top: 5px;
      left: 1px;
      display: inline-block;
      background-color: $dark-indigo;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      width: 1px;
      height: 60%;
    }
    &__table-markets-mob {
      .table__cell-head {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .table__row-star {
        svg {
          fill: #E5E5E5;
        }
      }
      .table__row-star--select {
        svg {
          fill: #FFB74C;
        }
      }
    }
    &__trading-form {
      display: block;
      margin: 0 24px;

      &--wr{
        display: flex;
        justify-content: space-between;
        padding-top: 31px;
        height: calc(100% - 20px);
        padding-bottom: 32px;
      }
      &--mob {
        display: none;
      }
    }

    &__trading-row {
      margin-top: 13px;
    }
    &__trading-row-txt {
      font-size: 12px;
      line-height: 14px;
      .avaliable {
        flex-direction: row;
        align-items: center;
        margin-top: 11px;
      }

    }
    &__trading-btn {
      max-width: none;
      height: 48px;
      line-height: 1;
      font-size: 20px;
      // margin: auto 0 0;
      //background-color: #264F92;
      //border-color: rgba(35, 123, 239, 0.5);
      &:hover {
        background-color: $darker-blue;
        border-color: transparent;
      }
    }

    /*--- elements end ---*/
  }
}

@media (min-width: 1440px) {
  .widget {
    &__controls-horizontal, &__controls-vertical {
      display: flex;
      //display: none;
    }
  }
}

/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme {
  .widget {
    box-shadow: none;
    background-color: $dark-indigo;
    /*--- elements start ---*/
    &__header {
      background-color: #252543;
      transition: .3s;
      svg{
        transition: .3s;
      }
      &:hover{

        background-color: #3A3D5B;
        .widget__controls-close{
          svg{
            fill: #fff;
          }
        }
      }

    }
    &__name {
      color: #A0A0A0;
    }
    &__name-mob {
      color: #fff;
    }
    &__question-img {
      svg {
        fill: #fff;
      }
    }
    &__controls-horizontal, &__controls-vertical {
      svg {
        fill: #fff;
      }
    }
    &__controls-plus, &__controls-minus {
      svg {
        fill: #fff;
      }
      &:hover {
        svg {
          fill: #fff;
        }
      }
    }
    &__controls-close {
      svg {
        fill: #a0a0a0;
      }
      &:hover {
        svg {
          fill: #fff;
        }
      }
    }
    &__search-btn {
      color: #fff;
      svg {
        fill: #fff;
      }
    }
    &__table {
      .table__row {
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    &__table-row {
      background-color: unset;
      .change-indicate {
        &--green {
          background-color: $green;
          color: #fff;
          border-radius: 1px;
        }
        &--red {
          background-color: $red;
          color: #fff;
          border-radius: 1px;
        }
      }
    }
    &__scroll {
      background-color: rgba(255, 255, 255, .1);
    }
    &__message-wrap {
      &--left {
        .widget__message {
          background-color: #21417D;
          &:after {
            border-right: 4px solid #21417D;
          }
        }
        .widget__message-text {
          color: #fff;
        }
      }
      &--right {
        .widget__message {
          background-color: $darker-white;
          &:after {
            border-left: 4px solid $darker-white;
          }
        }
        .widget__message-text {
          color: #000;
        }
      }
    }
    &__limit-dropdown {
      &:hover{
        .dropdown__btn {

          &:after{
            transform: rotate(180deg);
            transform-origin: center;
          }
        }
      }
      .dropdown__btn {
        color: #fff;
        font-weight: 500;
        &:before {
          // display: none;
          // background-image: url('assets/img/limit-order-white.svg');
        }
        &:after {
          display: none;
          border-top-color: #fff;
        }
      }
      .dropdown__list {
        border: none;
        border-radius: 4px;
        background-color: #fff;
      }
      .dropdown__item {
        font-size: 14px;
        font-weight: 300;
        color: #191A39;
        &:hover {
          background-color: rgba(242,246,250,.7);
          color: #94C2FF;
        }
      }
    }

    &__trading-row-txt {
      .type {
        color: $light-blue;
        svg {
          fill: $light-blue;
        }
      }
      .avaliable {
        margin-top: 8px;
        color: $light-blue;
        svg {
          fill: $light-blue;
        }
      }
      a {
        color: #fff;
        border-bottom: 1px dashed #fff;
      }
      .fee {
        color: $light-blue;
      }
    }
    &__trading-btn {
      //background-color: #264F92;
      //border-color: rgba(35, 123, 239, 0.5);
      &--buy{
        background: #01B43E;
        &:hover{
          background: #00CA45;
        }
      }
      &--sell{
        background: #EB5757;
        &:hover{
          background: #EF4B4B;
        }
      }
      &:hover {
        // background-color: $darker-blue;
        border-color: transparent;
      }

    }
    &__table-markets-mob {
      thead, .markets__thead {
        background-color: rgba(255, 255, 255, .1);
      }
      .table__row-star {
        svg {
          fill: #4A5D88;
        }
      }
      .table__row-star--select {
        svg {
          fill: #FFB74C;
        }
      }
    }
    &__markets-tabs {
      @media(max-width: 1199px){

        background-color: #252543;
      }
      .tabs__item {
        &--active {
          @media(max-width: 1199px){
            border: none;
            &:before{
              display: none;
            }
            &:after{
              width: calc(100% + 18px);
              height: 2px;
              background: #237BEF;
              bottom: 0;
              top: auto;
              border: none;

            }
          }
          &:after {
            border-color: transparent transparent #21417D transparent;
          }
        }
      }
    }
    .order-book-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: .1;
      &--green {
        background: linear-gradient(to bottom, #00B43D 0%, #00B43D 51%, #00B43D 100%);
      }
      &--red {
        background: linear-gradient(to bottom, #EB5757 0%, #EB5757 51%, #EB5757 100%);
      }
      &--main {
        display: block;
        background: linear-gradient(to bottom, #EB5757 0%, #EB5757 20%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 56%, #00B43D 80%, #00B43D 100%);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    .trade-history-time {
      color: #959BA5;
    }
    /*--- elements end ---*/
  }
}

@media (min-width: 1200px) {
  .dark-theme {
    .widget {
      &--graph-color {
        background-color: #252543;
      }
      &--gradient {

        background: #252543;
      }
      &__header {
        &:hover {
          .widget__name {
            color: #fff;
          }
        }
      }
      &__tabs{
        .tabs__item--active{
          &:after{
            border-color: #252543 transparent transparent transparent;
          }
        }
      }
      &__search {
        border: none;
        background-color: transparent;
        position: relative;
        width: calc(100% - 31px);
        left: 17px;
        bottom: -2px;
      }
      &__search-input {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        &::placeholder {
          color: #7F8FAE;
        }
        &:focus {
          ~ .widget__input-img {
            svg {
              fill: #fff;
            }
          }
        }
      }
      &__input-img {
        svg {
          fill: #7F8FAE;
        }
      }
      &__message-wrap {
        &--left {
          .widget__message {
            background-color: rgba(25, 26, 57, 0.5);
            &:after {
              border-right: 4px solid rgba(25, 26, 57, 0.5);
            }
          }
        }
      }

      .wrap-input__input {
        &:not([value=""]) {
          ~ .wrap-input__label {
            background: #252543;
          }
        }
        &:focus {
          ˜.wrap-input__label {
            background: #252543;
          }
        }
        &:valid {
          ~ .wrap-input__label {
            background: #252543;
          }
        }
      }
      &__table-markets-mob {
        thead {
          background-color: transparent;
        }
      }
      .trade-history-time {
        color: #959BA5;
      }
    }
  }
}
.wrap-input__currency{
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 14px;
  margin: auto;
  display: flex;
  align-items: center;
  pointer-events: none;
  text-transform: uppercase;
  min-width: 35px;
  color: #a0a0a0;
}
/*--- DARK THEME END---*/
@media(max-width: 992px){
  .widget__graph{
    height: calc(100vh - 185px);
  }
  .curency-input{
    .dynamic-input__label{
      background: #191a39!important;
    }
  }

  .wrap-input__currency{
    top: 1px;
    right: 0px;
    padding-right: 8px;
    color: #424D5E;
  }
  .widget__graph--mob{
    .widget__buy-sell-btn-wrap{
      position: static;
      .widget__trading-btn{
        max-width: 140px;
        height: 40px;
        margin: 5px auto 0;
      }
    }
  }

}

app-embedded-orders-mobile{
  @media(max-width: 1199px){
    .table__cell--tar{
      vertical-align: top;
    }

    .table__cell-head--tal{
      &:first-child{
        padding-left: 15px;

      }
    }
    .table__cell--tal{
      vertical-align: top;

    }
    .table__cell{
      padding: 3px 10px 8px;
      &--arr-mob{
        padding-right: 19px;
        padding-left: 5px;
            vertical-align: top;
      }
      &:first-child{
        padding-left: 14px;
      }
    }
    .table__date-time{
      div{
        color: #94C2FF;
        font-size: 10px;
        line-height: 12px;
      }
    }
    .widget__tabs{
      margin-right: 0;
      margin-left: 0;
      justify-content: space-between;
      margin-top: 35px;
      margin-bottom: 8px;
      &::after{
        display: none;
      }
      .tabs__item{
        padding: 0 12px 9px;
        margin-right: 0;
        color: #424D5E;
        transition: .3s;
        font-weight: 400;
        display: flex;
        align-items: center;
        &:last-child{
          padding-right: 27px;
        }
        &::before{
          border: none;
          height: 4px;
          width: 100%;
          background-color: #237BEF;
          opacity: 0;
          transition: .3s;
        }
        &--active{
          color: #fff;
              // font-weight: 300;
              &::before{
                opacity: 1;
              }
              &::after{
                display: none;
              }
            }
          }
        }
      }
    }

    .widget__trading-row{
      .dropdown__btn.selectedButton{
        position: relative;
        &::after{
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: calc(100% - 16px);
          top: auto!important;
          height: 2px;
          background-color: #237BEF;
          display: block!important;
          border: none!important;

        }
      }
    }

    @media(max-width: 1199px){
      #launcher{
        width: 0!important;
        height: 0!important;
        opacity: 0!important;
        pointer-events: none!important;
        overflow: hidden!important;
        position: absolute;
      }
    }
.loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  // background-color: #23243F;
}


.widget__graph{
  @media(max-width: 1199px){
    transform: none!important;
  }
}