<div class="title modal__title">Two-Factor authentication by phone number</div>
<div class="subtitle modal__subtitle">
  <p>Enter the phone number</p>
</div>
<div class="modal__row modal__row--mb32 modal__row--mob-column">
  <div class="select select--fix230 select--country" (click)="openDropdown()">
    <div class="select__value select__value--active">
      <img [src]="region.iconPath" class="select__list-item-icon">
      {{ region.country }}
    </div>
    <div class="select__label">Inner transfer</div>
    <div class="select__line"></div>
    <div class="select__triangle"></div>
    <ul class="select__list" [ngClass]="{'select__list--open': dropDownOpen }">
      <li *ngFor="let reg of getRegions()" class="select__list-item" (click)="onSelect(reg)">
        <img [src]="reg.iconPath" class="select__list-item-icon">
        {{ reg.country }}
      </li>
    </ul>
  </div>
  <form [formGroup]="form">
    <div class="wrap-input wrap-input--fix230">
      <input
        class="wrap-input__input"
        [ngClass]="{'input--error': !form.get('phone').valid && form.get('phone').touched }"
        type="text" formControlName="phone">
      <label class="wrap-input__label" for="">Phone number</label>
      <div class="wrap-input__line"></div>
      <!--Input error section starts-->
      <div *ngIf="form.get('phone').touched && form.get('phone').errors != null">
         <span
           *ngIf="form.get('phone').errors['required']"
           class="wrap-input__message">
          Please enter the phone number.
        </span>
        <span
          *ngIf="form.get('phone').invalid && !form.get('phone').errors['required']"
          class="wrap-input__message">
          Only numbers are allowed.
        </span>
      </div>
      <!--Input error section ends-->
    </div>
  </form>
</div>
<button class="btn btn--active btn--center " (click)="onNextStep()" [disabled]="form.invalid">Get verification code</button>

