.popup-demo{
  padding: 28px 16px;
  min-height: auto;
  background-color: #fff;
  border: 1px solid #fff;
  .popup__close{
    width: 12px;
    height: 12px;
    right: 16px;
    top: 16px;
    background-image: url("assets/img/close-light-blue.svg");
  }
  .text{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    max-width: 580px;
    margin: 16px auto 0;
    color: #4B4B4B;
  }
  .btn{
    margin-top: 24px;
  }
}

/*--- media start ---*/
@media (min-width:1200px) {
  .popup-demo{
    max-width: 536px;
    .btn{
      margin-top: 12px;
    }
  }
}
/*--- media end ---*/

/*--- DARK THEME START---*/
.dark-theme{}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/

//::ng-deep {
//  a{
//    color: ;
//  }
//}
