@import './../../../assets/scss/_variables';
@import './../../../assets/scss/_layout.scss';
.widget__header{
  background-color: transparent;
}
.widget__content {
  position: relative;
}
.order-book-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: .1;
  &--green{
    background: linear-gradient(to bottom, #00B43D 0%, #00B43D 51%, #00B43D 100%);
  }
  &--red{
    background: linear-gradient(to bottom, #EB5757 0%, #EB5757 51%, #EB5757 100%);
  }
}
.order-table{
  height: 100%;
}
.items {
  min-height: 381px;
  max-height: 422px;
  overflow: auto;
  position: relative;
  z-index: 100;
  height: calc(100% - 24px);
}

.visualization {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  
  .visual-item {
    max-width: 100%;
    margin-left: auto;
    // background: linear-gradient(270deg, rgba(0,180,61,0.15) 0%, rgba(0,180,61,0.15) 51%, rgba(0,180,61,1) 100%);
    opacity: 0.5;
  }

  .red {
    background-color: rgba(235,87,87, 0.6);
  }

  .green {
    background: rgba(0,180,61,0.6) !important;
  }
}

.dark-theme .head .price {
  color: #A0A0A0 !important;
}

.order-table {
  position: relative;
  z-index: 2;
  max-width: 100%;
  margin-left: 16px;


  .head, .item {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 100;
    //font-size: 11px;
  }

  .item:hover {
    background-color: rgba(160, 160, 160, 0.2);
    cursor: pointer;
    
    .info, .price, .total {
      border-bottom: 1px dashed #00B43D;
    }

    .info {
      span {
        display: inline-block;
        color: #00B43D;
      }
    }
  }

  .order, .price, .total {
    //padding-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 16px;
  }

  .order {
    width: 23%;
    max-width: 100%;
  }

  .info {
    width: 27%;
    max-width: 100%;
    span {
      padding-left: 5px;
      display: none;
    }
  }

  .price {
    width: 25%;
    max-width: 100%;
  }

  .total {
    width: 25%;
    max-width: 100%;
  }
}

.panel {
  min-height: 31px;
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  span {
    margin: 2px 5px;
    cursor: pointer;
  }
}
