<div class="run-line">
  <div class="run-line-wr">
    <div
      class="carousel run-line-inner">
      <div class="slide run-line-item" data-position="0">
        <a class="run-line-lnk" href="#"></a>
        <div class="pair">
          <span>BTC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="slide run-line-item" data-position="0">
        <a class="run-line-lnk" href="#"></a>
        <div class="pair">
          <span>ETH/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="slide run-line-item" data-position="0">
        <a class="run-line-lnk" href="#"></a>
        <div class="pair">
          <span>CRON/BTC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="slide run-line-item" data-position="0">
        <a class="run-line-lnk" href="#"></a>
        <div class="pair">
          <span>USD/BTC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="slide run-line-item" data-position="0">
        <a class="run-line-lnk" href="#"></a>
        <div class="pair">
          <span>ABBC/USD</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="slide run-line-item" data-position="0">
        <a class="run-line-lnk" href="#"></a>
        <div class="pair">
          <span>ACU/ETH</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="slide run-line-item" data-position="0">
        <a class="run-line-lnk" href="#"></a>
        <div class="pair">
          <span>BCX/BTC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="slide run-line-item" data-position="0">
        <a class="run-line-lnk" href="#"></a>
        <div class="pair">
          <span>DGTX/BTC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>
      <div class="slide run-line-item" data-position="0">
        <a class="run-line-lnk" href="#"></a>
        <div class="pair">
          <span>ZEC/USDC</span>
        </div>
        <div class="change">
          <span>+18.33%</span>
        </div>
        <div class="course">
          <span>114.32</span>
        </div>
        <div class="direction">
          <span></span>
        </div>
      </div>

    </div>
  </div>
</div>