<div class="run-line">
  <div
    class="run-line-wr animate-item"
    [ngClass]="{'active' : activeBlock}"
  >

    <ngx-slick-carousel
      class="carousel run-line-inner"
      #slickModal2="slick-carousel"
      [config]="slideConfig"
      *ngIf="currencyPairs.length"
    >
      <div
        *ngFor="let pair of currencyPairs; trackBy: trackByPairs"
        class="slide run-line-item"
        ngxSlickItem
      >
        <a
          class="run-line-lnk"
          href="#"
          [routerLink]="['/markets/', pair.currencyPairName.replace('/', '-')]"
        ></a>
        <div class="pair">
          <span>{{pair.currencyPairName}}</span>
        </div>
        <div class="change">
          <span [ngClass]="{'txt-green' : isChangePositive(pair),'txt-red' : !isChangePositive(pair)}">
            {{pair.percentChange | currencyFormat: 'USD'}}%
          </span>
        </div>
        <div class="course">
          <span>{{pair.lastOrderRate | currencyFormat | orderBookCutBigNum: 11}}</span>
        </div>
        <div class="direction">
          <span [ngClass]="{'up' : isChangePositive(pair), 'down' : !isChangePositive(pair)}"></span>
        </div>

      </div>


    </ngx-slick-carousel>

  </div>
</div>
