<div class="run-line">
  <div
    class="carousel run-line-inner">
    <div class="slide run-line-item">
      <div class="pair">
        <span>ZEC/USDC</span>
      </div>
      <div class="change">
        <span>+18.33%</span>
      </div>
      <div class="course">
        <span>114.32</span>
      </div>
      <div class="direction">
        <span></span>
      </div>
    </div>
    <div class="slide run-line-item">
      <div class="pair">
        <span>ZEC/USDC</span>
      </div>
      <div class="change">
        <span>+18.33%</span>
      </div>
      <div class="course">
        <span>114.32</span>
      </div>
      <div class="direction">
        <span></span>
      </div>
    </div>
    <div class="slide run-line-item">
      <div class="pair">
        <span>ZEC/USDC</span>
      </div>
      <div class="change">
        <span>+18.33%</span>
      </div>
      <div class="course">
        <span>114.32</span>
      </div>
      <div class="direction">
        <span></span>
      </div>
    </div>
    <div class="slide run-line-item">
      <div class="pair">
        <span>ZEC/USDC</span>
      </div>
      <div class="change">
        <span>+18.33%</span>
      </div>
      <div class="course">
        <span>114.32</span>
      </div>
      <div class="direction">
        <span></span>
      </div>
    </div>
    <div class="slide run-line-item">
      <div class="pair">
        <span>ZEC/USDC</span>
      </div>
      <div class="change">
        <span>+18.33%</span>
      </div>
      <div class="course">
        <span>114.32</span>
      </div>
      <div class="direction">
        <span></span>
      </div>
    </div>
    <div class="slide run-line-item">
      <div class="pair">
        <span>ZEC/USDC</span>
      </div>
      <div class="change">
        <span>+18.33%</span>
      </div>
      <div class="course">
        <span>114.32</span>
      </div>
      <div class="direction">
        <span></span>
      </div>
    </div>

  </div>
</div>