.refill-QIWI{
	.refill__qr-code{
		text-align: center;
	}
	.refill__crypto-title{
		text-align: center;
		font-size: 16px;
		margin-bottom: 8px;
	}
	.refill__crypto-hash{
		width: auto;
		text-align: center;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.btn{
		margin: 0 auto;
	}
}

.currency-select-wrapper {
  width: 100%;
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 26px;
}

.currency-select-wrapper {
  @media(max-width: 1199px) {
    width: 100%;
    max-width: 270px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}

.refill__crypto-refill-info{
	.qiwi-lnk-description{
		margin-bottom: 30px;
		text-align: center;
		font-size: 16px;
		color: #191A39;
		font-weight: 400;
		@media(max-width: 1199px){
			color: #DEDEFB;
		}
	}
a{
	font-weight: 600;
}
}