.refill {
  &__title {
    text-align: center;
    margin-bottom: 28px;
  }
  &__inputs-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    @media(max-width:1199px) {
      margin-bottom: 0;
    }
  }
  
  &__fiat-successful-icon {
    display: flex;
    justify-content: center;
    margin: 0 auto 16px;
  }
  &__fiat-successful-title {
    text-align: center;
    margin-bottom: 16px;
  }
  &__fiat-successful-subtitle {
    text-align: center;
    margin-bottom: 16px;
    .link {
      text-decoration: underline;
    }
  }
  &__closed-error{
    align-self: center;
    color: #EB5757;
  }
}

.modal__note {
  width: calc(100% + 24px);
  left: -12px;
  margin-top: 24px;
}

@media (min-width: 1200px) {
  .refill {
    &__title {
      margin-bottom: 32px;
    }
    &__inputs-wrap {
      // flex-direction: row;
      align-items: flex-start;
      margin-bottom: 12px;
    }
    &__select {
      width: 100%;
      max-width: 270px;
      margin: 0 auto 26px;
    }
    &__wrap-input {
      margin: 0 auto;
      max-width: 270px;
    }
    &__fiat-successful-title {
      margin-bottom: 16px;
    }
    &__fiat-successful-subtitle {
      margin-bottom: 16px;
    }
  }

  .modal__note{
    width: calc(100% + 64px);
    left: -32px;
    margin-top: 32px;
  }
}

// ---------------------
//.select__list {
//  display: block;
//  color: #ccc;
//}
//
//.select__search-input {
//  color: #ccc;
//}

::ng-deep div.wrap-input.refill__wrap-input {
  .wrap-input__message{
    color: #EB5757 !important;
  }
  app-price-input {
    label {
      //background: #191A39 !important;
    }
  }
  &.wrap-input--error {
    app-price-input {
      label {
        color: #EB5757 !important;
      }
      input:focus {
        &+label{
          //color: #94C2FF !important;
        }
      }
    }
  }
}

.btn-active {
  background-color: #237BEF;
  color: #fff;
}

// TEMP STYLE
.loading-container {
  margin-top: 40%;
}

.standart-link {
  cursor: pointer;
}

.select__search-input {
  color: black;
}

// TEMP STYLE
.wrap-input__message--show {
  min-height: 30px;
  font-size: 12px;
}
// .btn--empty-blue{
//   &:hover, &:focus{
//     background-color: transparent !important;
//   }
// }

// .btn {
//   &.btn--center {
//     color: #ffffff !important;
//     &.btn--empty-blue {
//       color: #237BEF !important;
//       &:hover {
//         &:not(:disabled){
//           background-color: transparent !important;
//         border: 1px solid #237BEF !important;
//         }

//       }
//       &:disabled{
//           background-color: transparent !important;
//           pointer-events: none;
//           color: #91929F !important;
//           border-color: #91929F !important;
//         }
//     }
//   }
// }


.btn{
  color: #fff!important;
  border: 1px solid #237BEF!important;
  background-color: #237BEF!important;
  &.btn--empty-blue {
    color: #237BEF !important;
    background-color: transparent !important;
    &:hover {
      &:not(:disabled){
        background-color: transparent !important;
        border: 1px solid #237BEF !important;
      }

    }
  }
  &:hover{
    &:not(:disabled){
      background-color: #4590F3!important;
    }
  }
  &:disabled{
    background-color: transparent!important;
    pointer-events: none;
    color: #91929F!important;
    border-color: #91929F!important;
  }
}


.btn{
  max-width: 270px;
}