::ng-deep .mydp{
  display: flex !important;
  @media(max-width: 1199px){
    margin: 0;
    width: 100%;
    padding: 0 12px!important;
  }
  .selectiongroup{
    margin-left: auto !important;
    .selbtngroup {
      width: auto !important;
    }
  }
  .selector{
    @media(min-width: 1200px){
      top: 49px;
    }
    top: 38px;
    left: 0;
  }
  button.btnpicker{
    @media(max-width: 1199px){
      width: auto;
    }
  }
}
@media(max-width: 1199px){
  ::ng-deep .dynamic-input{
    padding: 0 12px!important;

  }

  ::ng-deep .wrap-input__label{
    left: 11px!important;
  }
}


::ng-deep .filters-popup__datepicker:first-child{
 .mydp{
  @media(max-width: 1199px){
    .selector{

    }
  }
}
}

::ng-deep .filters-popup__datepicker:last-child{
 .mydp{
  @media(max-width: 1199px){
    .selector{
      left: auto;
      right: 0;
    }
    .selectorarrowleft:after, .selectorarrowleft:before{
      right: 10px;
      left: auto;
    }
  }
}
}

.orders__pair-icon{
  @media(min-width: 1200px){
    text-align: center;
    height: 16px;
  }
}
.orders__pair{
 @media(min-width: 1200px){
  span{
   line-height: .85;
   display: block;
 }
 
}
}