<div
  class="container transaction-page"
  [ngClass]="{'active' : startAnimation}"
>
  <!--transaction-history-mob start-->
  <div
    class="transaction transaction--mob"
    *ngIf="(breakpointService.breakpoint$ | async) === 'mobile'"
  >
    <div class="transaction__header-mob">
      <div class=" orders__page-title">
        {{'Transaction history' | translate}}
      </div>
      <div *ngIf="loading$ | async">
        <app-loader size="small"></app-loader>
      </div>
      <div
        class="orders__filter-btn"
        (click)="openFilterPopup()"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.9317 0.44323C15.8028 0.147863 15.5799 0.000159206 15.2618 0H0.737807C0.420134 0 0.196893 0.147863 0.0682816 0.44323C-0.0602502 0.753723 -0.00735105 1.01904 0.227217 1.23867L5.82145 6.84086V12.3635C5.82145 12.5607 5.89335 12.731 6.03702 12.8751L8.9417 15.784C9.07798 15.9278 9.24813 16 9.45245 16C9.54315 16 9.63766 15.9809 9.73602 15.9431C10.0312 15.8142 10.1788 15.5908 10.1788 15.2726V6.8409L15.7728 1.2387C16.0075 1.01908 16.0602 0.753842 15.9317 0.44323Z"
          />
        </svg>
        {{'Filters' | translate}}
      </div>
    </div>
    <div
      #scrollContainer
      [ngStyle]="tableScrollStyles"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [scrollWindow]="false"
      [horizontal]="false"
      (scrolled)="loadMoreTransactions()"
    >
      <table class="table table--mob">
        <thead class="table__head">
          <tr class="table__head-row">
            <th class="table__cell-head table__cell-head--tal">{{'Date / Type' | translate}}</th>
            <th class="table__cell-head table__cell-head--tal">{{'Currency' | translate}}</th>
            <th class="table__cell-head table__cell-head--tar">{{'Amount' | translate}}</th>
          </tr>
        </thead>
        <tbody class="table__body table__body--none-shadow">
          <!-- t-row start-->
          <ng-container *ngFor="let item of transactionsItems$ | async; trackBy: trackByFn; let index = index;">
            <tr
              class="table__row--mob"
              [attr.data-id]="index"
              (click)="toggleDetails($event)"
            >
              <td class="table__cell table__cell--tal">
                <div>
                  <span
                    class="arr arr--mr4 "
                    [ngClass]="{
                      'arr--red': (item.sourceType === 'WITHDRAW' ||
                        (item.sourceType === 'FREE_COINS_TRANSFER' && item.operationType === 'Output') ||
                        (item.sourceType === 'USER_TRANSFER' && !item.accepted) ||
                        (item.sourceType === 'IEO' && item.operationType === 'Output')),
                      'arr--green': (item.sourceType === 'REFILL' ||
                        (item.sourceType === 'FREE_COINS_TRANSFER' && item.operationType === 'Input') ||
                        (item.sourceType === 'USER_TRANSFER' && item.accepted) ||
                        (item.sourceType === 'IEO' && item.operationType === 'Input'))
                    }"
                  ></span>
                  <span
                    class="txt-green"
                    *ngIf="item.sourceType === 'REFILL'"
                  >{{item.sourceType | showTransactionsType: item}}</span>
                  <span
                    class="txt-red"
                    *ngIf="item.sourceType === 'WITHDRAW'"
                  >{{item.sourceType | showTransactionsType: item}}</span>
                  <span
                    class="txt-green"
                    *ngIf="item.sourceType === 'USER_TRANSFER' && item.accepted"
                  >{{item.sourceType | showTransactionsType: item}}</span>
                  <span
                    class="txt-red"
                    *ngIf="item.sourceType === 'USER_TRANSFER' && !item.accepted"
                  >{{item.sourceType | showTransactionsType: item}}</span>
                  <span
                    class="txt-green"
                    *ngIf="item.sourceType === 'IEO' && item.operationType === 'Input'"
                  >{{item.sourceType | showTransactionsType: item}}</span>
                  <span
                    class="txt-red"
                    *ngIf="item.sourceType === 'IEO' && item.operationType === 'Output'"
                  >{{item.sourceType | showTransactionsType: item}}</span>
                  <span
                    class="txt-green"
                    *ngIf="item.sourceType === 'FREE_COINS_TRANSFER' && item.operationType === 'Input'"
                  >{{item.sourceType | showTransactionsType: item}}</span>
                  <span
                    class="txt-red"
                    *ngIf="item.sourceType === 'FREE_COINS_TRANSFER' && item.operationType === 'Output'"
                  >{{item.sourceType | showTransactionsType: item}}</span>
                </div>
                <div class="balance__request-mob-date">
                  <div>{{item.datetime | amFromUtc | amLocal | amDateFormat: 'dd DD.MM.YYYY'}}</div>
                  <div>{{item.datetime | amFromUtc | amLocal | amDateFormat: 'HH:mm:ss'}}</div>
                </div>
              </td>
              <td class="table__cell table__cell--tal">
                <div>{{item.currencyName}}</div>
                <div class="transaction__currency-type">
                  {{isFiat(item.currencyName) ? 'Fiat' : 'Crypto'}}
                </div>
              </td>
              <td class="table__cell table__cell--tar">
                <div>{{item.amount | currencyFormat:item.currencyName}}</div>
              </td>
              <td class="table__cell table__cell--arr-mob">
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.7272 1.36396L7.36328 7.72792L0.99932 1.36396"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <div class="table__row-mob-line"></div>
              </td>
            </tr>
            <tr
              class="table__details"
              [id]="index"
            >
              <td
                class="table__details-cell"
                colspan="4"
              >
                <div class="table__details-item">
                  <div class="table__details-item-title">{{'Comission' | translate}}</div>
                  <div class="table__details-item-value">{{item.commissionAmount | currencyFormat}}</div>
                </div>
                <div class="table__details-item">
                  <div class="table__details-item-title">{{'Payment system' | translate}}</div>
                  <div class="table__details-item-value">{{item.merchantName}}</div>
                </div>
                <div class="table__details-item">
                  <div class="table__details-item-title">{{'Transaction id' | translate}}</div>
                  <div class="table__details-item-value">{{item.transactionsId}}</div>
                </div>
                <div class="table__details-item">
                  <div class="table__details-item-title">{{'Transaction hash' | translate}}</div>
                  <div
                    class="table__details-item-value"
                    [innerHTML]="item.transactionHash | hashToUrl: item.currencyName"
                  ></div>
                </div>
              </td>
            </tr>
          </ng-container>

          <tr
            class="table__row--mob"
            *ngIf="!(transactionsItems$ | async).length && !(loading$ | async)"
          >
            <td
              class="table__cell table__cell--taс"
              colspan="4"
            >
              {{'No matching records found' | translate}}
            </td>
          </tr>
          <!-- t-row end-->
        </tbody>
      </table>
    </div>
    <!--filter-popup start-->
    <div
      class="filters-popup"
      [ngClass]="{'show-filter-popup': showFilterPopup}"
    >
      <div class="filters-popup__header">
        <div class=" filters-popup__title">
          {{'Transactions Filters' | translate}}
        </div>
        <div
          class="filters-popup__close"
          (click)="closeFilterPopup()"
        >
          <svg
            width="15"
            height="17"
            viewBox="0 0 15 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.73781 0.627721C1.36501 0.220243 0.732466 0.192129 0.324987 0.564928C-0.0824919 0.937728 -0.110605 1.57027 0.262194 1.97775L1.73781 0.627721ZM13.2622 16.187C13.635 16.5945 14.2675 16.6226 14.675 16.2498C15.0825 15.877 15.1106 15.2445 14.7378 14.837L13.2622 16.187ZM14.7378 1.97775C15.1106 1.57027 15.0825 0.937728 14.675 0.564928C14.2675 0.192129 13.635 0.220243 13.2622 0.627721L14.7378 1.97775ZM0.262219 14.837C-0.110581 15.2445 -0.0824672 15.877 0.325012 16.2498C0.732491 16.6226 1.36503 16.5945 1.73783 16.187L0.262219 14.837ZM0.262194 1.97775L6.7622 9.08241L8.23781 7.73239L1.73781 0.627721L0.262194 1.97775ZM6.7622 9.08241L13.2622 16.187L14.7378 14.837L8.23781 7.73239L6.7622 9.08241ZM13.2622 0.627721L6.7622 7.73239L8.23781 9.08241L14.7378 1.97775L13.2622 0.627721ZM6.7622 7.73239L0.262219 14.837L1.73783 16.187L8.23781 9.08241L6.7622 7.73239Z"
              fill="#237BEF"
            />
          </svg>
        </div>
      </div>
      <form action="#">
        <div>
          <app-dynamic-input
            [value]="currValue"
            [options]="(currencyForChoose$ | async) | dynamicIData: 'name': 'id'"
            (onChange)="onChangeCurrPair($event)"
            (onSelect)="onSelectPair($event.id)"
          ></app-dynamic-input>
          <div class="wrap-input__line"></div>
        </div>
        <div class="row row--jcsb">
          <div class="wrap-input filters-popup__datepicker">
            <label
              class="wrap-input__label"
              [ngClass]="{'select-input_label': modelDateFrom?.date || isDateInputFromFocus}"
            >{{'From' | translate}}</label>
            <app-date-mask-input
              [innValue]="modelDateFrom"
              (inputFocus)="focusOrBlurDateFrom($event)"
              (inputEmpty)="clearModelDateFrom()"
              (validDate)="dateFromChanged($event)"
            ></app-date-mask-input>
            <my-date-picker
              name="from"
              [options]="myDatePickerOptions"
              [(ngModel)]="modelDateFrom"
              (dateChanged)="dateFromChanged($event)"
            >
            </my-date-picker>
            <div
              class="wrap-input__line"
              style="position: absolute; bottom: 1px; width: 100%;"
            ></div>
          </div>
          <div class="wrap-input filters-popup__datepicker">
            <label
              class="wrap-input__label"
              [ngClass]="{'select-input_label': modelDateTo?.date || isDateInputToFocus}"
            >{{'To' | translate}}</label>
            <app-date-mask-input
              [innValue]="modelDateTo"
              (inputFocus)="focusOrBlurDateTo($event)"
              (inputEmpty)="clearModelDateTo()"
              (validDate)="dateToChanged($event)"
            ></app-date-mask-input>
            <my-date-picker
              name="to"
              [options]="myDatePickerOptions"
              [(ngModel)]="modelDateTo"
              (dateChanged)="dateToChanged($event)"
            >
            </my-date-picker>
            <div
              class="wrap-input__line"
              style="position: absolute; bottom: 1px; width: 100%;"
            ></div>
          </div>
        </div>
        <button
          class="btn filters-popup__btn"
          (click)="filterPopupSubmit()"
        >{{'See Results' | translate}}</button>
      </form>
    </div>
    <!--filter-popup end-->
  </div>
  <!--transaction-history-mob end-->

  <!--transaction-history-desktop start-->
  <div
    class="transaction"
    *ngIf="(breakpointService.breakpoint$ | async) === 'desktop'"
  >
    <div class="page-title">
      <h1 class="page-title__text fade-anim del">
        {{'Transaction History' | translate}}
      </h1>
      <button
        class="btn transaction__title-btn fade-anim del"
        (click)="downloadExcel()"
        [disabled]="loadingExcel || !(transactionsItems$ | async).length"
      >
        <span class="btn__icon btn__icon--blue">
          <svg
            width="13"
            height="14"
            viewBox="0 0 13 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.1952 8.92188V12.12H1.80482V8.92188H0V13.06C0 13.5789 0.403462 13.9997 0.903755 13.9997H12.0962C12.5961 13.9997 13 13.5794 13 13.06V8.92188H11.1952Z"
            />
            <path
              d="M6.33519 8.60511L3.75124 5.35239C3.75124 5.35239 3.35809 4.96571 3.78442 4.96571C4.21074 4.96571 5.24047 4.96571 5.24047 4.96571C5.24047 4.96571 5.24047 4.70558 5.24047 4.30442C5.24047 3.16072 5.24047 1.07926 5.24047 0.230703C5.24047 0.230703 5.18264 0 5.51616 0C5.85238 0 7.32502 0 7.56575 0C7.80604 0 7.80066 0.194276 7.80066 0.194276C7.80066 1.01715 7.80066 3.17053 7.80066 4.27687C7.80066 4.63553 7.80066 4.8681 7.80066 4.8681C7.80066 4.8681 8.62641 4.8681 9.14463 4.8681C9.66196 4.8681 9.2724 5.273 9.2724 5.273C9.2724 5.273 7.07398 8.31323 6.76735 8.6322C6.54679 8.86337 6.33519 8.60511 6.33519 8.60511Z"
            />
          </svg>
        </span>
        {{'Download in excell' | translate}}
      </button>

      <!-- <div *ngIf="loading$ | async">
        <app-loader size="small"></app-loader>
      </div> -->
    </div>
    <form action="">
      <div class="row transaction__filters">
        <div class="fade-move-anim del8">
          <app-dynamic-input
            [value]="currValue"
            [options]="(currencyForChoose$ | async) | dynamicIData: 'name': 'id'"
            (onChange)="onChangeCurrPair($event)"
            (onSelect)="onSelectPair($event.id)"
          ></app-dynamic-input>
        </div>
        <div class="wrap-input transaction__datepicker fade-move-anim del9">
          <label
            class="wrap-input__label"
            [ngClass]="{'select-input_label': !!modelDateFrom?.date || isDateInputFromFocus}"
          >{{'From' | translate}}</label>
          <app-date-mask-input
            [innValue]="modelDateFrom"
            (validDate)="dateFromChanged($event)"
            (inputEmpty)="clearModelDateFrom()"
            (inputFocus)="focusOrBlurDateFrom($event)"
            [disableAutoFocus]="true"
          ></app-date-mask-input>
          <my-date-picker
            name="history-from"
            [options]="myDatePickerOptions"
            [(ngModel)]="modelDateFrom"
            (dateChanged)="dateFromChanged($event)"
          >
          </my-date-picker>

          <div
            class="wrap-input__line"
            style="position: absolute; bottom: 1px; width: 100%;"
          ></div>
        </div>
        <div class="wrap-input transaction__datepicker fade-move-anim del10">
          <label
            class="wrap-input__label"
            [ngClass]="{'select-input_label': !!modelDateTo?.date || isDateInputToFocus}"
          >{{'To' | translate}}</label>
          <app-date-mask-input
            [innValue]="modelDateTo"
            (validDate)="dateToChanged($event)"
            (inputFocus)="focusOrBlurDateTo($event)"
            (inputEmpty)="clearModelDateTo()"
            [disableAutoFocus]="true"
          ></app-date-mask-input>
          <my-date-picker
            name="history-to"
            [options]="myDatePickerOptions"
            [(ngModel)]="modelDateTo"
            (dateChanged)="dateToChanged($event)"
          >
          </my-date-picker>
          <div
            class="wrap-input__line"
            style="position: absolute; bottom: 1px; width: 100%;"
          ></div>
        </div>
        <button
          class="btn btn--auto transaction__search-btn fade-move-anim del11"
          (click)="onFilter()"
          [disabled]="loading$ | async"
        >
          <span>{{'Search' | translate}}</span>
        </button>
      </div>

    </form>
    <!--table start-->
    <table class="table fade-anim del6">
      <thead>
        <tr>
          <th class="table__cell-head table__cell-head--tal">{{'Status' | translate}}</th>
          <th class="table__cell-head table__cell-head--tal">{{'Date' | translate}}</th>
          <th class="table__cell-head table__cell-head--tal">{{'Currency' | translate}}</th>
          <th class="table__cell-head table__cell-head--tal">{{'Commission' | translate}}</th>
          <th class="table__cell-head table__cell-head--tal">{{'Amount' | translate}}</th>
          <th class="table__cell-head table__cell-head--tal">{{'Type' | translate}}</th>
          <th class="table__cell-head table__cell-head--tal">{{'Address' | translate}}</th>
        </tr>
      </thead>
      <tbody class="table__body fade-move-anim del7">
        <tr
          class="table__row no-hover"
          *ngFor="let item of transactionsItems$ | async | paginate: { itemsPerPage: countPerPage, currentPage: currentPage, totalItems: countOfEntries$ | async }"
        >
          <td class="table__cell">
            {{item.status | showTransactionsStatus: item | translate}}
          </td>
          <td class="table__cell">
            <div class="table__date-time">
              <div>{{item.datetime | amFromUtc | amLocal | amDateFormat:"dd DD.MM.YYYY"}}</div>
              <div>{{item.datetime | amFromUtc | amLocal | amDateFormat:"HH:mm:ss"}}</div>
            </div>
          </td>
          <td class="table__cell">
            <div class="orders__pair-wrap">
              <div class="orders__pair">
                <div class="orders__pair-icon">
                  <img
                    [src]="item.currencyName | getIconUrl:true"
                    onerror="this.src = 'assets/img/currency-icons/no_icon.svg'"
                  >
                </div>
                <span>{{item.currencyName}}</span>
              </div>
            </div>
          </td>
          <td class="table__cell">
            <span>{{item.commissionAmount| currencyFormat: item.currencyName}}</span>
          </td>
          <td class="table__cell">
            <span>{{item.amount | currencyFormat: item.currencyName}}</span>
          </td>
          <td class="table__cell">
            <span
              class="txt-green"
              *ngIf="item.sourceType === 'REFILL'"
            >{{item.sourceType | showTransactionsType: item}}</span>
            <span
              class="txt-red"
              *ngIf="item.sourceType === 'WITHDRAW'"
            >{{item.sourceType | showTransactionsType: item}}</span>
            <span
              class="txt-green"
              *ngIf="item.sourceType === 'USER_TRANSFER' && item.accepted"
            >{{item.sourceType | showTransactionsType: item}}</span>
            <span
              class="txt-red"
              *ngIf="item.sourceType === 'USER_TRANSFER' && !item.accepted"
            >{{item.sourceType | showTransactionsType: item}}</span>
            <span
              class="txt-green"
              *ngIf="item.sourceType === 'IEO' && item.operationType === 'Input'"
            >{{item.sourceType | showTransactionsType: item}}</span>
            <span
              class="txt-red"
              *ngIf="item.sourceType === 'IEO' && item.operationType === 'Output'"
            >{{item.sourceType | showTransactionsType: item}}</span>
            <span
              class="txt-green"
              *ngIf="item.sourceType === 'FREE_COINS_TRANSFER' && item.operationType === 'Input'"
            >{{item.sourceType | showTransactionsType: item}}</span>
            <span
              class="txt-red"
              *ngIf="item.sourceType === 'FREE_COINS_TRANSFER' && item.operationType === 'Output'"
            >{{item.sourceType | showTransactionsType: item}}</span>
          </td>
          <td
            class="table__cell"
            [innerHTML]="item.transactionHash | hashToUrl: item.currencyName"
          >
          </td>
        </tr>

        <tr
          class="table__row no-hover"
          *ngIf="!(transactionsItems$ | async).length && !(loading$ | async)"
        >
          <td
            class="table__cell table__cell--tac"
            colspan="7"
          >
            {{'No matching records found' | translate}}
          </td>
        </tr>
      </tbody>
    </table>
    <!--table end-->
    <!--paginator start-->

    <div class="fade-anim del7">
      <div
        class="row row--aic orders__paginator"
        *ngIf="(countOfEntries$ | async) > countPerPage"
      >
        <app-page-items-dropdown
          [countPerPage]="countPerPage"
          [countOfEntries]="countOfEntries$ | async"
          (onChange)="changeItemsPerPage($event)"
        ></app-page-items-dropdown>
        <ul
          class="paginator"
          style="margin-left: auto;"
        >
          <pagination-controls
            maxSize="7"
            [previousLabel]="''"
            [nextLabel]="''"
            (pageChange)="changePage($event)"
          ></pagination-controls>
        </ul>
      </div>
    </div>
    <!--paginator end-->
  </div>
  <!--transaction-history-desktop end-->
</div>
