::ng-deep .mydp{
  display: flex !important;
  @media(max-width: 1199px){
    margin: 0;
    width: 100%;
    padding: 0 12px!important;
  }
  .selectiongroup{
    margin-left: auto !important;
    .selbtngroup {
      width: auto !important;
    }
  }
  .selector{
    @media(min-width: 1200px){
      top: 49px;
    }
    top: 38px;
    left: 0;
  }
  button.btnpicker{
    @media(max-width: 1199px){
      width: auto;
    }
  }
}