#header-toolbar-indicators, #header-toolbar-compare, #header-toolbar-chart-styles, #header-toolbar-intervals, #header-toolbar-undo-redo, .group-wWM3zP_M-, .wrap-18oKCBRc-,
.apply-common-tooltip{
    background-color: rgba(0, 0, 0, 0);
    color: #A0A0A0;
}
.feature-no-touch .chart-controls-bar-buttons a:not(.disabled):hover{
  background-color: transparent;
}

html body, div.chart-controls-bar, #footer-chart-panel {
  background-color: rgba(0, 0, 0, 0) !important;
}

.chart-container {
    border: none !important;
}

#header-toolbar-indicators:hover span {
    color: #fff !important;
}
.group-wWM3zP_M:hover, .apply-common-tooltip:hover {
    color: #fff !important;
}

.layout__area--center {
    background-color: rgba(27, 55, 112, 0);
}

body > div.js-rootresizer__contents > div.layout__area--center > div {
  background-color: rgba(27, 55, 112, 0);
}


div[class^="button"] span[class^="icon-"] svg{
	fill:#94C2FF;
}

div[class^="button"]:hover span[class^="icon-"] svg{
	fill:#E9F2FF;
}
div[class^="button"] span[class^="arrow-"] svg{
	fill:#94C2FF;
}
div[class^="button"]:hover span[class^="arrow-"] svg{
	fill:#E9F2FF;
}
div[class^="button"] span[class^="icon-"] svg path[stroke^="currentColor"]{
	stroke: #94C2FF;
}
div[class^="button"]:hover span[class^="icon-"] svg path[stroke^="currentColor"]{
	stroke: #E9F2FF;
}
div[class^="button"] span[class^="icon-"] div[class^="buttonIcon"]{
	color:#94C2FF;
}
div[class^="button"]:hover span[class^="icon-"] div[class^="buttonIcon"]{
	color:#E9F2FF;
}