.two-factor-popup {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background: #94C2FF;
  z-index: inherit;
}

.modal--open{
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.85);
  .modal{
    right: 0;
  }
}
