.select__searching-item {
  &:hover {
    background-color: rgba(53, 124, 225, 0.1);

    span {
      color: #237BEF;
    }
  }

  span {
    color: #000;
  }
}

.btn-active {
  background-color: #237BEF;
  color: #fff;
}

.withdrawal__closed-error {
  color: #EB5757;
}


@media(max-width:1199px) {
  .select__value--active {

    color: #DEDEFB;
  }


}

.withdraw-limit-error {
  color: red;
  height: 245px;
  line-height: 245px;
  text-align: center;
}

.bottom-tooltip {
  position: absolute;
}

.currency-select-wrapper {
  width: calc(50% - 15px);
  margin-right: 15px;
}

.currency-select-wrapper {
  @media(max-width: 1199px) {
    width: 100%;
    max-width: 270px;
    margin-bottom: 50px;
    margin-right: 0;
  }
}
