
    .banner-content {
      width: 100%;
      overflow: hidden;
      position: relative;
      height: 36px;
      display: flex;
      justify-content: center;
    }

    .banner-content img {
      position: absolute;
      top: 0;
      bottom: 0;

      margin: 0 auto;
      min-width: 100%;
      display: block;
    }

    .slick-vertical .slick-slide{
      border: none;
    }