<div class="kyc-banner" (click)="onClick.emit()">
  <div class="kyc-banner-inner">
    <div class="banner-img">
      <img src="assets/img/ieo/kyc-img.png" alt="">
    </div>
    <div class="content-wr">
      <div class="kyc-title">
        <h4>{{'Get ready for launch' | translate}}</h4>
      </div>
      <div class="kyc-description">
        <p>{{'Verify your account id participate' | translate}}</p>
      </div>
      <div class="button-wr">
        <button class="standart-btn" (click)="onClick.emit()">
          <span>{{'Verify account now' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
