<div
  class="kyc-banner animate-item"
  (click)="click.emit()"
>
  <div class="kyc-banner-inner">
    <div class="banner-img">
      <img
        src="assets/img/ieo/kyc-img.png"
        alt=""
      >
    </div>
    <div class="content-wr">
      <div class="kyc-title">
        <h4>{{'Ready for Launch' | translate}}</h4>
      </div>
      <div class="kyc-description">
        <p>{{'To Participate' | translate}}</p>
      </div>
      <div class="button-wr">
        <button
          class="standart-btn"
          (click)="click.emit()"
        >
          <span>{{'Verify Account Now' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
