<div style="display: block;">
  <div class="title refill__title">Make fiat deposit in <span>USD</span></div>
  <div class="refill__inputs-wrap">
    <div class="select refill__select">
      <div class="select__value select__value--active">
        <img src="../../assets/img/btc-icon.svg" class="select__list-item-icon">
        USD
      </div>
      <div class="select__label">Currency</div>
      <div class="select__line"></div>
      <div class="select__triangle"></div>
      <!--add select__list--open for looking open state-->
      <ul class="select__list">
        <li class="select__list-item">
          <img src="../../assets/img/btc-icon.svg" class="select__list-item-icon">
          USD
        </li>
        <li class="select__list-item">
          <img src="../../assets/img/eth-icon.svg" class="select__list-item-icon">
          IDR
        </li>
        <li class="select__list-item">
          <img src="../../assets/img/zec-icon.svg" class="select__list-item-icon">
          UAH
        </li>
      </ul>
    </div>
    <div class="select refill__select">
      <div class="select__value select__value--active">
        <img src="../../assets/img/btc-icon.svg" class="select__list-item-icon">
        Сотовый мир
      </div>
      <div class="select__label">Payment system</div>
      <div class="select__line"></div>
      <div class="select__triangle"></div>
      <!--add select__list-searching--open for looking open state-->
      <div class="select__list-searching">
        <div class="select__search">
          <input class="select__search-input" type="text" placeholder="Search" required>
          <div class="select__search-icon">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15 8C15 11.8662 11.8652 15 8 15C4.13477 15 1 11.8662 1 8C1 4.13379 4.13477 1 8 1C11.8652 1 15 4.13379 15 8ZM13.293 13.999C11.8828 15.2441 10.0293 16 8 16C3.58203 16 0 12.418 0 8C0 3.58203 3.58203 0 8 0C12.418 0 16 3.58203 16 8C16 10.0293 15.2461 11.8818 14 13.292L17.8535 17.1465C17.9141 17.207 17.957 17.2803 17.9805 17.3574C18.0293 17.5273 17.9883 17.7188 17.8535 17.8535C17.6582 18.0488 17.3418 18.0488 17.1465 17.8535L13.293 13.999Z"/>
            </svg>
          </div>
        </div>
        <ul class="select__list select__list--open">
          <li class="select__list-item">
            <img src="../../assets/img/btc-icon.svg" class="select__list-item-icon">
            Payeer
          </li>
          <li class="select__list-item">
            <img src="../../assets/img/eth-icon.svg" class="select__list-item-icon">
            Сотовый мир
          </li>
          <li class="select__list-item">
            <img src="../../assets/img/zec-icon.svg" class="select__list-item-icon">
            Swift/SEPA
          </li>
        </ul>
      </div>
    </div>
    <div class="wrap-input wrap-input--error refill__wrap-input">
      <input class="wrap-input__input" required>
      <label class="wrap-input__label">Amount</label>
      <div class="wrap-input__line"></div>
      <!--Input error section starts-->
      <span class="wrap-input__message">Should be at least 0.01</span>
      <!--Input error section ends-->
    </div>
  </div>
  <button class="btn btn--center btn--empty-blue">Refill</button>
  <div class="note modal__note">
    <div class="note__title">Please note:</div>
    <ul class="note__list">
      <li class="note__list-item">We have good news for you! It’s more then 24 currencies available for deposit right now:</li>
    </ul>
  </div>
</div>
