<div class="unsubscribe-block">

  <div class="text-part">
    <h2>Exrates Subscription</h2>
    <p>You have successfully unsubscribed from our news emails.
      <br>It will take several days for your address to be unsubscribed</p>
  </div>
  <div class="button-description">
    <p>Unsubscribed by accident?
      <br>Click resubscribe to restore settings</p>
  </div>
  <div class="button-wr">
    <button
      class="btn btn--active balance__title-btn"
      (click)="resubscribedTxt()"
      [disabled]="subscribed"
    >
      <span *ngIf="!subscribed">Resubscribe</span>

      <span *ngIf="subscribed">
        Subscribed</span>
    </button>
  </div>
</div>
