
<div class="overlay">
  <div class="popup popup-login">
    <h6 class="popup__title">Email confirmed</h6>
    <h4 class="popup__subtitle">{{message}}</h4>
    <form class="popup__form" [formGroup]="passwordForm" >

      <div class="wrap-input popup__wrap-input">
        <input
          (input)="onPasswordInput($event)"
          class="wrap-input__input"
          [(ngModel)]="password"
          [type]="getInputType()"
          formControlName="password"
          [ngClass]="{'input--error': !passwordForm.controls['password'].valid && passwordForm.controls['password'].touched}"
        >
        <label class="wrap-input__label" for="">Password</label>
        <div class="wrap-input__line"></div>
        <!--<span-->
          <!--class="wrap-input__show-password"-->
          <!--(click)="togglePasswordVisibility()"-->
          <!--[ngClass]="{'wrap-input__show-password&#45;&#45;active': isPasswordVisible}"-->
        <!--&gt;-->
          <!--</span>-->
        <!--Input error section starts-->
        <!--<div *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors != null">-->
            <!--<span-->
              <!--*ngIf="passwordForm.get('password').errors['required']"-->
              <!--class="wrap-input__message">-->
              <!--Password is required.-->
            <!--</span>-->
          <span
            class="wrap-input__message" [ngClass]="{'msg-error': (msgRed && !passwordForm.controls['password'].valid && passwordForm.controls['password'].touched)}" *ngIf="!passwordForm.valid">
              <!--Should have 8 chars at least, symbols and numbers.-->
            Password cannot be less than 8 characters long and should contain of letters (a-z), numbers (0-9) and/or any combination of @*%!#^!&$<>.()-=+' characters
            </span>
          <!--<span-->
            <!--*ngIf=" passwordForm.controls['password'].errors['maxlength']"-->
            <!--class="wrap-input__message">-->
              <!--Password cannot be more than 20 characters long-->
            <!--</span>-->
        </div>
        <!--Input error section ends-->
      <!--</div>-->


      <div class="wrap-input popup__wrap-input">
        <input
          (input)="onRepeatPasswordInput($event)"
          class="wrap-input__input"
          [(ngModel)]="confirmPass"
          [type]="getInputType()"
          formControlName="confirmPassword"
          [ngClass]="{'input--error': !passwordForm.controls['confirmPassword'].valid && passwordForm.controls['confirmPassword'].touched}"
        >
        <label class="wrap-input__label" for="">Repeat password</label>
        <div class="wrap-input__line"></div>
        <!--<span-->
          <!--class="wrap-input__show-password"-->
          <!--(click)="togglePasswordVisibility()"-->
          <!--[ngClass]="{'wrap-input__show-password&#45;&#45;active': isPasswordVisible}"-->
        <!--&gt;-->
          <!--</span>-->
        <!--Input error section starts-->
        <div *ngIf="passwordForm.controls['confirmPassword'].touched && passwordForm.controls['confirmPassword'].errors != null">
             <span
               *ngIf="passwordForm.controls['confirmPassword'].errors['required']"
               class="wrap-input__message">
              This field is required.
            </span>
          <span *ngIf="passwordForm.controls['password'].value !== passwordForm.controls['confirmPassword'].value
           || passwordForm.controls['confirmPassword'].errors['passwordConfirm']"
                class="wrap-input__message">
              Passwords you provided do not match.
            </span>
        </div>
        <!--Input error section ends-->
      </div>
      <button class="btn popup__btn" (click)="createUser()"
              [ngClass]="{'bg-none': passwordForm.valid }"
      >Finish registration</button>
    </form>
  </div>
</div>
