
.button-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 490px;
  width: 100%;
  margin: 0 auto;

  .btn {
    max-width: 227px;
    margin-left: 0;

    &:first-child {
      margin-right: 32px;
    }
  }
}
