<div [ngSwitch]="IEOId">
  <app-ieo-description
    *ngSwitchCase="'DOM'"
    [ieoToken]="ieoToken"
  ></app-ieo-description>
  <app-ieo-description
    *ngSwitchCase="'DOM1'"
    [ieoToken]="ieoToken"
  ></app-ieo-description>
  <app-ieo-description
    *ngSwitchCase="'DOM2'"
    [ieoToken]="ieoToken"
  ></app-ieo-description>
  <app-ieo-description
    *ngSwitchCase="'DOM3'"
    [ieoToken]="ieoToken"
  ></app-ieo-description>
  <app-ieo-description2
    *ngSwitchCase="'ETAO'"
    [ieoToken]="ieoToken"
  ></app-ieo-description2>
  <app-ieo-description2
    *ngSwitchCase="'ETAO1'"
    [ieoToken]="ieoToken"
  ></app-ieo-description2>
  <app-ieo-description2
    *ngSwitchCase="'ETAO2'"
    [ieoToken]="ieoToken"
  ></app-ieo-description2>
  <app-ieo-description2
    *ngSwitchCase="'ETAO3'"
    [ieoToken]="ieoToken"
  ></app-ieo-description2>
  <!-- <app-ieo-description3
    *ngSwitchCase="3"
    [ieoToken]="ieoToken"
  ></app-ieo-description3>
  <app-ieo-description4
    *ngSwitchCase="4"
    [ieoToken]="ieoToken"
  ></app-ieo-description4> -->
</div>
