<div
  class="page-wrap"
  [ngClass]="{'dark-theme': isCurrentThemeDark()}"
>
  <app-preloader [ngClass]="{'active' : preload}">
  </app-preloader>
  <app-banner
    *ngIf="!technicalWorks"
    [isMainPage]="isMainPage"
  ></app-banner>

  <div
    class="tech-banner"
    *ngIf="technicalWorks"
  >
    <div class="banner-content">TECHNICAL WORKS</div>
  </div>

  <app-header></app-header>

  <div class="content">
    <div style="flex-grow: 1; width: 100%;">
      <!-- popups container -->
      <app-popups></app-popups>

      <router-outlet></router-outlet>

      <!--<a class="chat" href="#"> <img class="chat__icon" src="../../../assets/img/help.svg"></a>-->
    </div>
  </div>
  <app-footer></app-footer>
</div>
