<div class="page-wrap" [ngClass]="{'dark-theme': isCurrentThemeDark()}">
  <!--<h3>{{'built: 27.10.2018 10:17:12' }}</h3>-->
  <!-- <a href="https://t.me/exrates_official" target="_blank" class="banner-wrap" id="banner">
    <span class="banner">
        <span class="banner__logo">
        <div class="text">Exrates lab</div>
    </span>
    <span class="banner__text">Get the pump-and-dump monthly prediction of BTC rate</span>
    <span class="banner__link">Join</span>
    <span class="banner__nommo">
        <img src="../../assets/img/nommo.png">
    </span>
    <button class="banner__btn"onclick="document.getElementById('banner').style.display='none';return false;">Close
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12px" height="13px">
                <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                      d="M12.010,10.740 L10.243,12.509 L6.000,8.263 L1.757,12.509 L-0.010,10.740 L4.232,6.495 L-0.010,2.249 L1.757,0.480 L6.000,4.726 L10.243,0.480 L12.010,2.249 L7.768,6.495 L12.010,10.740 Z"/>
            </svg>
        </span>
    </button>
    </span>
  </a> -->
  <article class="banner-wr">
    <style>
      .banner-wr {
        width: 100%;
        font-size: 20px;
        background-color: #262151;
        font-family: Roboto;
        font-weight: 500;
        padding-left: 20px;
        padding-right: 20px;
        height: 3em;
        overflow: hidden;

      }

      .banner-wr p {
        margin: 0;
      }

      .banner-wr .banner-content-inner:nth-child(1) {
        transform: translateY(5.2em);
        /*animation: 20s an1 10s infinite;*/
      }

      .banner-wr .banner-content-inner:nth-child(2) {
        transform: translateY(-5.2em);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        /*animation: 20s an2 10s infinite;*/
      }

      .banner-wr .banner-content-inner {
        transform: translateY(-5.2em);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }

      .banner-wr .banner-content-inner.active {
        transform: translateY(0);
      }

      .banner-wr .banner-content {
        height: 3em;
        position: relative;
      }

      .banner-wr .banner-content-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2px;
        transition: .6s ease-out;
      }

      .banner-wr .banner-content-inner a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        cursor: pointer;
        text-decoration: none;
        z-index: 3;
      }

      .banner-wr .banner-img {
        margin-right: .85em;
        height: calc(3em - 2px);
        padding-top: 2px;
        display: flex;
        align-items: center;

      }

      .banner-img img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        object-position: center;
        display: block;

      }

      .banner-wr .banner-name {
        margin-right: .75em;
      }

      .banner-name p {
        opacity: 0.3;
        color: #ffffff;
        font-size: .8em;
      }

      .banner-wr .youtube-pic {
        margin-right: .75em;
        height: .9em;
      }

      .youtube-pic img {
        height: 100%;
      }

      .banner-wr .banner-discription {
      }

      .banner-discription p {
        opacity: 0.3;
        color: #ffffff;
        font-size: .8em;
        padding-top: 4px;
      }

      @media (max-width: 768px) {
        .banner-wr {
          font-size: 12px;
        }

        .banner-discription p {
          padding-top: 0;
        }
      }
    </style>
    <div class="banner-content">
      <div class="banner-content-inner active">
        <a href="https://youtu.be/4Mx86-dtoNY" target="blank"></a>
        <div class="banner-img">
          <img src="../../assets/img/b-pic1.png" alt="">
        </div>
        <div class="banner-name">
          <p>NakamotoJedi</p>
        </div>
        <div class="youtube-pic">
          <img src="../../assets/img/youtube-pic.png" alt="">
        </div>
        <div class="banner-discription">
          <p>Episode #78 - Edge Cryptocurrency Wallet + Blockchain Platform — insights</p>
        </div>
      </div>
      <div class="banner-content-inner">
        <a href="https://youtu.be/4Mx86-dtoNY" target="blank"></a>
        <div class="banner-img">
          <img src="../../assets/img/b-pic2.png" alt="">
        </div>
        <div class="banner-name">
          <p>NakamotoJedi</p>
        </div>
        <div class="youtube-pic">
          <img src="../../assets/img/youtube-pic.png" alt="">
        </div>
        <div class="banner-discription">
          <p>Episode #79 - BTC $3.500 | No BTC ETF - SEC | Lose $8 Million in Crypto Scam</p>
        </div>
      </div>
      <div class="banner-content-inner">
        <a href="https://youtu.be/4Mx86-dtoNY" target="blank"></a>
        <div class="banner-img">
          <img src="../../assets/img/b-pic3.png" alt="">
        </div>
        <div class="banner-name">
          <p>NakamotoJedi</p>
        </div>
        <div class="youtube-pic">
          <img src="../../assets/img/youtube-pic.png" alt="">
        </div>
        <div class="banner-discription">
          <p>Episode #80 - Bitcoin SV creator Craig Wright — the real Satoshi Nakamoto?</p>
        </div>
      </div>
    </div>
  </article>

  <app-header></app-header>

  <div class="content">
    <div style="flex-grow: 1; width: 100%;">
      <!-- popups container -->
      <app-popups></app-popups>

      <router-outlet></router-outlet>

      <!--<a class="chat" href="#"> <img class="chat__icon" src="../../../assets/img/help.svg"></a>-->
    </div>
  </div>
  <app-footer></app-footer>
</div>
