<div class="page-wrap" [ngClass]="{'dark-theme': isCurrentThemeDark()}">
  <!--<h3>{{'built: 27.10.2018 10:17:12' }}</h3>-->
  <a href="https://t.me/exrates_official" target="_blank" class="banner-wrap" id="banner">
    <span class="banner">
        <span class="banner__logo">
        <div class="text">Exrates lab</div>
    </span>
    <span class="banner__text">Get the pump-and-dump monthly prediction of BTC rate</span>
    <span class="banner__link">Join</span>
    <span class="banner__nommo">
        <img src="../../assets/img/nommo.png">
    </span>
    <button class="banner__btn"onclick="document.getElementById('banner').style.display='none';return false;">Close
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12px" height="13px">
                <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                      d="M12.010,10.740 L10.243,12.509 L6.000,8.263 L1.757,12.509 L-0.010,10.740 L4.232,6.495 L-0.010,2.249 L1.757,0.480 L6.000,4.726 L10.243,0.480 L12.010,2.249 L7.768,6.495 L12.010,10.740 Z"/>
            </svg>
        </span>
    </button>
    </span>
  </a>
  <app-header></app-header>

  <div class="content">

    <div style="flex-grow: 1; width: 100%;">

      <div *ngIf="isTfaPopupOpen">
        <app-two-factor-popup [showPopup]="isTfaPopupOpen"></app-two-factor-popup>
      </div>

      <div *ngIf="isIdentityPopupOpen">
        <app-identity-popup></app-identity-popup>
      </div>

      <div *ngIf="isLoginPopupOpen">
        <app-login-popup></app-login-popup>
      </div>

      <div *ngIf="isLoginMobilePopupOpen">
        <app-login-popup-mobile></app-login-popup-mobile>
      </div>

      <div *ngIf="isRegistrationMobilePopupOpen">
        <app-registration-mobile-popup></app-registration-mobile-popup>
      </div>

      <div *ngIf="isRecoveryPasswordPopupOpen">
        <app-recovery-pass></app-recovery-pass>
      </div>

      <div *ngIf="isOpenAlreadyRegisteredPopup">
        <app-already-registered-popup></app-already-registered-popup>
      </div>
      <div *ngIf="isOpenDemoTradingPopup">
        <app-demo-trading-popup
        [message]="popupService.demoPopupMessage"
        ></app-demo-trading-popup>
      </div>
      <!--<app-refill-money></app-refill-money>-->
      <!--<app-send-money></app-send-money>-->
      <router-outlet></router-outlet>

      <!--<a class="chat" href="#"> <img class="chat__icon" src="../../../assets/img/help.svg"></a>-->

    </div>
  </div>

  <app-notification
    *ngFor="let notification of notificationMessages; let i = index;"
    [notification]="notification"
    (notificationClosed)="onNotificationMessageClose(i)">
  </app-notification>

  <app-footer></app-footer>
</div>
