<div class="select">
  <div
    class="select__value select__value--active"
    (click)="onToggleDropdown()"
    [ngClass]="{'select__value--disabled' : disabled}"
  >
    <!-- [ngClass]="{'select__value--error': fiatDataByName && !selectedMerchant}" -->
    <ng-container *ngIf="activeMerchant">
      {{activeMerchant.name | transferNamePipe}}
    </ng-container>

  </div>
  <div class="select__label">{{'Select merchant' | translate}}</div>
  <div class="select__line"></div>
  <div class="select__triangle"></div>
  <ul
    class="select__list"
    [ngClass]="{'select__list--open': openDropdown}"
    *ngIf="openDropdown && merchants.length"
  >
    <li
      class="select__list-item"
      *ngFor="let merch of merchants"
      (click)="onSelect(merch)"
    >
      {{merch.name | transferNamePipe}}
    </li>
  </ul>
</div>
