<div class="widget__message-wrap " [ngClass]="{'widget__message-wrap--left': isMine}">
  <div class="widget__message-icon">
    <img src="../../assets/img/chat-icon1.svg">
  </div>
  <div class="widget__message">
    <div class="widget__message-nickname">{{ message.email | nickname}}</div>
    <div class="widget__message-reply">
      <div class="widget__message-nickname">nickname</div>
      <p class="widget__message-text">message text</p>
    </div>
    <p class="widget__message-text">{{ message.body }}</p>
  </div>
  <div class="widget__message-time">{{ message.messageTime | date:'hh:ss'}}</div>
</div>
