<div class="overlay--modal" *ngIf="showPopup" [@overlayAnimation]="showPopup ? 'show' : 'hide'">

  <div class="modal" [@modalAnimation]="showPopup ? 'show' : 'hide' ">
    <div class="modal__controls modal__controls--top">
      <a class="modal__button modal__button--close" (click)="closeMe()">
        <span>close</span>
        <img class="modal__button-icon" src="../../../../assets/img/close.svg">
      </a>
    </div>
    <div class="modal__header-mob">
      <div class="steps__counter steps__counter--mob">{{'step' | translate}} <span class="steps__counter-val">{{step}}</span>/{{stepsSize}}</div>
      <div class="modal__header-mob-controls">
        <a class="modal__control-mob" href="#">
          <img class="modal__control-icon" src="../../../../assets/img/learn-blue.svg">
        </a>
        <a class="modal__control-mob" (click)="closeMe()">
          <img class="modal__control-icon" src="../../../../assets/img/close-blue.svg">
        </a>
      </div>
    </div>
    <div class="modal__header">
      <ul class="steps">
        <li class="steps__item" [ngClass]="{'steps__item--current': step === 1}"  *ngIf="step > 0">
          <a class="steps__link">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 1, 'steps__number--valid': step != 1 }">1</span>
            <span class="steps__number-mob-current">1. {{'Country' | translate}}</span>
            <span class="steps__title">{{'Country' | translate}}</span>
          </a>
        </li>
        <li class="steps__item" [ngClass]="{'steps__item--current': step === 2}" *ngIf="step > 1">
          <a class="steps__link">
            <span class="steps__number" [ngClass]="{'steps__number--current': step === 2, 'steps__number--valid': step != 2 }">2</span>
            <span class="steps__number-mob-current">2. {{'Identity' | translate}}</span>
            <span class="steps__title">{{'Identity' | translate}}</span>
          </a>
        </li>
      </ul>
      <div class="steps__counter">{{'step' | translate}} <span class="steps__counter-val">{{step}}</span>/2</div>
    </div>
    <div class="modal__content">

      <div [ngSwitch]="step">
        <div *ngSwitchCase="1">
          <app-kyc-level1-step-one
          (goToSecondStep)="goToSecondStep($event)"
          ></app-kyc-level1-step-one>
        </div>
        <div *ngSwitchCase="2">
          <app-kyc-level1-step-two
          [iframeUrl]="iframeUrl"
          ></app-kyc-level1-step-two>
        </div>
      </div>


      <!--<div class="modal__title">Submission received!</div>-->
      <!--<div class="modal__subtitle">-->
      <!--<p>You can check status of your verification on your <a class="link" href="#">profile page</a>. </p>-->
      <!--</div>-->
      <!--<div class="modal__row modal__row&#45;&#45;mb32 txt-grey">Please note that it can take a few minutes to auto-verify your account. If more-->
      <!--information is needed to verify your account, our support team will reach out-->
      <!--via email to guide you through the process.-->
      <!--</div>-->
      <!--<div class="modal__row">-->
      <!--<a href="#" class="button"> Ok</a>-->
      <!--</div>-->
    </div>
  </div>
</div>
