<!-- modal header start -->
<div class="modal__header-mob">
  <div class="steps__counter steps__counter--mob">{{'step' | translate}}
    <span class="steps__counter-val">{{step}}</span>/2
  </div>
  <div class="modal__header-mob-controls">
    <a class="modal__control-mob" (click)="onCloseSendMoneyPopup()">
      <img class="modal__control-icon" src="../../../assets/img/close-blue.svg"></a>
  </div>
</div>
<div class="modal__header">
  <ul class="steps">
    <li class="steps__item"
        [ngClass]="{'steps__item--current': step === 1}"
    >
      <a class="steps__link" (click)="setStep(1)">
        <span class="steps__number" [ngClass]="{'steps__number--current': step === 1, 'steps__number--valid': step != 1 }">1</span>
        <span class="steps__number-mob-current">1. {{'Submission of the questionnaire' | translate}}</span>
        <span class="steps__title">{{'Submission of the questionnaire' | translate}}</span>
      </a>
    </li>
    <li class="steps__item" *ngIf="step >= 2"
        [ngClass]="{'steps__item--current': step === 2}"
    >
      <a class="steps__link" (click)="setStep(2)">
        <span class="steps__number" [ngClass]="{'steps__number--current': step === 2, 'steps__number--valid': step != 2 }">2</span>
        <span class="steps__number-mob-current">2. {{'Phone verification' | translate}}</span>
        <span class="steps__title">{{'Phone verification' | translate}}</span>
      </a>
    </li>
  </ul>
  <div class="steps__counter">{{'step' | translate}} <span class="steps__counter-val">{{step}}</span>/ 2</div>
</div>
<!-- modal header end -->

<div class="modal__content">
  <app-step-one
    *ngIf="step === 1"
    (nextStep)="nextStep(2)"
    (closeSendQuberaPopup)="onCloseSendMoneyPopup()"
  >
  </app-step-one>
  <app-step-two
    *ngIf="step === 2"
    (getKYCStatus)="getStatusKYC()"
    (closeSendQuberaPopup)="onCloseSendMoneyPopup()"
  >
  </app-step-two>
</div>