<table class="table">
  <thead>
  <tr>
    <th class="table__cell-head table__cell-head--tal">Currency</th>
    <th class="table__cell-head table__cell-head--tar">Available balance</th>
    <th class="table__cell-head table__cell-head--tar">Pending</th>
    <th class="table__cell-head table__cell-head--tar">On Withdraw</th>
    <th class="table__cell-head table__cell-head--tar">On orders</th>
    <th class="table__cell-head table__cell-head--tar">Change %</th>
    <th class="table__cell-head table__cell-head--tac">Deposit</th>
    <th class="table__cell-head table__cell-head--tac">Transfer</th>
    <th class="table__cell-head table__cell-head--tac">Trade</th>
    <th class="table__cell-head table__cell-head--tac">Withdraw</th>
    <th class="table__cell-head table__cell-head--tac">History</th>
  </tr>
  </thead>
  <tbody class="table__body">
  <tr class="table__row balance__table-row">
    <td class="table__cell">
      <div class="balance__currency">
        <div class="balance__currency-icon">
          <img src="../../assets/img/btc-icon.svg">
        </div>
        <span>BTC</span>
        <span class="balance__currency-name">Bitcoin</span>
      </div>
    </td>
    <td class="table__cell table__cell--tar">
      <span>0</span>
    </td>
    <td class="table__cell table__cell--tar">
      <span>0</span>
    </td>
    <td class="table__cell table__cell--tar">
      <span>0</span>
    </td>
    <td class="table__cell table__cell--tar">
      <span>0</span>
    </td>
    <td class="table__cell table__cell--tar">
      <div class="balance__change">
        <span class="txt-green">7.8</span>
        <span class="arr arr--green"></span>
      </div>
    </td>
    <td class="table__cell">
      <button class="btn btn--center btn--small btn--hidden">Deposit</button>
    </td>
    <td class="table__cell">
      <button class="btn btn--center btn--small btn--hidden">Transfer</button>
    </td>
    <td class="table__cell">
      <button class="btn btn--center btn--small btn--hidden">Trade</button>
    </td>
    <td class="table__cell">
      <button class="btn btn--center btn--small btn--hidden">Withdraw</button>
    </td>
    <td class="table__cell">
      <button class="btn btn--center btn--small btn--hidden">History</button>
    </td>
  </tr>
  </tbody>
</table>


<div class="row row--aic" style="margin: 20px 16px 0;">
  <div class="show-filter">
    Showing <span>1</span> to
    <div class="dropdown">
      <div class="dropdown__btn">14</div>
      <ul class="dropdown__list">
        <li class="dropdown__item">24</li>
        <li class="dropdown__item">34</li>
        <li class="dropdown__item">44</li>
      </ul>
    </div>
    of <span>192</span> entries.
  </div>
  <ul class="paginator" style="margin-left: auto;">
    <li class="paginator__item">
      <a class="paginator__link paginator__link--arr" href="#">
        <img class="paginator__arr-prev" src="../../assets/img/paginator-prev.svg" alt="prev">
      </a>
    </li>
    <li class="paginator__item">
      <a class="paginator__link" href="#">1</a>
    </li>
    <li class="paginator__item">
      <a class="paginator__link" href="#">3</a>
    </li>
    <li class="paginator__item">
      <a class="paginator__link" href="#">4</a>
    </li>
    <li class="paginator__item">
      <a class="paginator__link" href="#">...</a>
    </li>
    <li class="paginator__item">
      <a class="paginator__link" href="#">8</a>
    </li>
    <li class="paginator__item">
      <a class="paginator__link paginator__link--arr" href="#">
        <img class="paginator__arr-next" src="../../assets/img/paginator-next.svg" alt="next">
      </a>
    </li>
  </ul>
</div>
