<div class="title modal__title">{{'Send money' | translate}}</div>
<div class="subtitle modal__subtitle">
  <p>{{'How would you like to send the money?' | translate}}</p>
</div>
<button class="btn btn--center btn--empty-blue"
        (click)="onChooseSend(CRYPTO_WITHDRAWAL)"
>{{'Crypto withdrawal' | translate}}
</button>

<button class="btn btn--center btn--empty-blue"
        (click)="onChooseSend(FIAT_WITHDRAWAL)"
>{{'Fiat withdrawal' | translate}}
</button>

<button class="btn btn--center btn--empty-blue"
        (click)="onChooseSend(INNER_TRANSFER)"
>{{'Inner transfer' | translate}}
</button>
