<div class="send-s1 side-popups">
<h2 class="title modal__title">{{'Send money' | translate}}</h2>
<h3 class="subtitle modal__subtitle">
  <p>{{'How would you like to send the money?' | translate}}</p>
</h3>
<button class="btn btn--center btn--empty-blue"
        (click)="onChooseSend(CRYPTO_WITHDRAWAL)"
>{{'Crypto withdrawal' | translate}}
</button>

<button class="btn btn--center btn--empty-blue"
        (click)="onChooseSend(FIAT_WITHDRAWAL)"
>{{'Fiat withdrawal' | translate}}
</button>

<button class="btn btn--center btn--empty-blue"
        (click)="onChooseSend(INNER_TRANSFER)"
>{{'Inner transfer' | translate}}
</button>
</div>