<!--<table class="table">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tal">Currency</th>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tar">Available balance</th>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tar">Pending</th>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tar">On Withdraw</th>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tar">On orders</th>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tar">Change %</th>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tac">Deposit</th>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tac">Transfer</th>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tac">Trade</th>-->
    <!--<th class="table__cell-head table__cell-head&#45;&#45;tac">Withdraw</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody class="table__body">-->
  <!--<tr-->
    <!--class="table__row balance__table-row"-->
    <!--*ngFor="let item of cryptoBalances$ | async | paginate: {itemsPerPage: countPerPage, currentPage: currentPage, totalItems: countOfEntries$ | async}"-->
  <!--&gt;-->
    <!--<td class="table__cell">-->
      <!--<div class="balance__currency">-->
        <!--<div class="balance__currency-icon">-->
          <!--<img src="../../../assets/img/btc-icon.svg">-->
        <!--</div>-->
        <!--<span>BTC</span>-->
        <!--<span class="balance__currency-name">Bitcoin</span>-->
      <!--</div>-->
    <!--</td>-->
    <!--<td class="table__cell table__cell&#45;&#45;tar">-->
      <!--<span>0</span>-->
    <!--</td>-->
    <!--<td class="table__cell table__cell&#45;&#45;tar">-->
      <!--<span>0</span>-->
    <!--</td>-->
    <!--<td class="table__cell table__cell&#45;&#45;tar">-->
      <!--<span>0</span>-->
    <!--</td>-->
    <!--<td class="table__cell table__cell&#45;&#45;tar">-->
      <!--<span>0</span>-->
    <!--</td>-->
    <!--<td class="table__cell table__cell&#45;&#45;tar">-->
      <!--<div class="balance__change">-->
        <!--<span class="txt-green">7.8</span>-->
        <!--<span class="arr arr&#45;&#45;green"></span>-->
      <!--</div>-->
    <!--</td>-->
    <!--<td class="table__cell">-->
      <!--<button class="btn btn&#45;&#45;center btn&#45;&#45;small btn&#45;&#45;hidden" (click)="cryptoDeposit(item)">Deposit</button>-->
    <!--</td>-->
    <!--<td class="table__cell">-->
      <!--<button class="btn btn&#45;&#45;center btn&#45;&#45;small btn&#45;&#45;hidden" (click)="goToTransfer(item)">Transfer</button>-->
    <!--</td>-->
    <!--<td class="table__cell">-->
      <!--<button class="btn btn&#45;&#45;center btn&#45;&#45;small btn&#45;&#45;hidden" (click)="goToTrade(item)">Trade</button>-->
    <!--</td>-->
    <!--<td class="table__cell">-->
      <!--<button class="btn btn&#45;&#45;center btn&#45;&#45;small btn&#45;&#45;hidden" (click)="cryptoWithdraw(item)">Withdraw</button>-->
    <!--</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

<!--&lt;!&ndash;paginator start&ndash;&gt;-->
<!--<div class="row row&#45;&#45;aic" style="margin: 0 16px;">-->
  <!--<app-page-items-dropdown-->
    <!--[countPerPage]="countPerPage"-->
    <!--[countOfEntries]="countOfEntries$ | async"-->
    <!--(onChange)="onChangeItemsPerPage($event)"-->
  <!--&gt;</app-page-items-dropdown>-->
  <!--<ul class="paginator" style="margin-left: auto;">-->
    <!--<pagination-controls-->
      <!--maxSize="7"-->
      <!--[previousLabel]="''"-->
      <!--[nextLabel]="''"-->
    <!--&gt;</pagination-controls>-->
      <!--&lt;!&ndash; (pageChange)="changePage($event)" &ndash;&gt;-->
  <!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash;paginator end&ndash;&gt;-->
