.widget{
  &__table-row {
    &:nth-of-type(odd) {
      background-color: unset;
    }
    &:hover {
      background-color: rgba(35, 123, 239, 0.1);
    }
  }
}

//---------

.tab-no-active{
  border-bottom: 2px solid transparent;
}

tbody {
  display: block;
  height: 350px;
  overflow-y: scroll;
  //padding-bottom: 90px;
}

thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
//TODO: delete after fix all layout
.widget__content{
  overflow-y: hidden;
}

//scrollbar  styles
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E5E5E5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//----------
