.widget{
  &__table-row {
    &:nth-of-type(odd) {
      background-color: unset;
    }
    &:hover {
      background-color: rgba(35, 123, 239, 0.1);
    }
  }
}

.widget__table-wrap{
  margin-right: 10px !important;
}

//---------

tbody.table__body {
  overflow: hidden;
}

.tab-no-active{
  border-bottom: 2px solid transparent;
}

ng-scrollbar{
  display: block;
  width: 100%;
  //height: auto;
  height: 380px;
  margin: auto;
  //padding: 5px;
}

li{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
::ng-deep .ng-scrollbar.-vertical.bar-class{
  background: rgba(255,255,255, .2);;
  width: 3px !important;
}

::ng-deep .ng-scrollbar-thumb.thumb2 {
  background-color: #2a2a2a ;
  width: 1px !important;
}
