<!-- start component -->
<div class="ieo_how_it_work">
  <div class="ieo_how_it_work-wr">
    <div class="ieo_how_it_work-title animate-item">
      <h3>{{'How it work?' | translate}}</h3>
    </div>
    <div class="ieo_work-item-wr">
      <div class="ieo_how_it_work-item animate-item">
        <div class="ieo_how_it_work-item-inner">
          <div class="pics-container">
            <img
              src="assets/img/ieo/verification.svg"
              alt=""
            >
          </div>
          <div class="text-container">
            <h5>1. {{'Verification' | translate}}</h5>
            <p>{{'Complete identity verification and accept the Token Purchase Agreement.' | translate}}</p>
          </div>
          <div class="shape">
            <svg
              width="24"
              height="17"
              viewBox="0 0 24 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="13"
                y="14.8493"
                width="12"
                height="3"
                rx="1.5"
                transform="rotate(-45 13 14.8493)"
                fill="#5E5F74"
              />
              <rect
                x="21.4854"
                y="10.6066"
                width="12"
                height="3"
                rx="1.5"
                transform="rotate(-135 21.4854 10.6066)"
                fill="#5E5F74"
              />
              <rect
                y="7.00003"
                width="21"
                height="3"
                rx="1.5"
                fill="#5E5F74"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="ieo_how_it_work-item animate-item">
        <div class="ieo_how_it_work-item-inner">
          <div class="pics-container">
            <img
              src="assets/img/ieo/balance.svg"
              alt=""
            >
          </div>
          <div class="text-container">
            <h5>2. {{'BAlance' | translate}}</h5>
            <p>{{'Replenish your balance to purchase tokens.' | translate}}</p>
          </div>
          <div class="shape">
            <svg
              width="24"
              height="17"
              viewBox="0 0 24 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="13"
                y="14.8493"
                width="12"
                height="3"
                rx="1.5"
                transform="rotate(-45 13 14.8493)"
                fill="#5E5F74"
              />
              <rect
                x="21.4854"
                y="10.6066"
                width="12"
                height="3"
                rx="1.5"
                transform="rotate(-135 21.4854 10.6066)"
                fill="#5E5F74"
              />
              <rect
                y="7.00003"
                width="21"
                height="3"
                rx="1.5"
                fill="#5E5F74"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="ieo_how_it_work-item animate-item">
        <div class="ieo_how_it_work-item-inner">
          <div class="pics-container">
            <img
              src="assets/img/ieo/enter.svg"
              alt=""
            >
          </div>
          <div class="text-container">
            <h5>3. {{'enter the number of token' | translate}}</h5>
            <p>{{"At the end of the countdown click button when it's active, enter the number of tokens, walkthrough the captcha and purchase." | translate}}
            </p>
          </div>
          <div class="shape">
            <svg
              width="24"
              height="17"
              viewBox="0 0 24 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="13"
                y="14.8493"
                width="12"
                height="3"
                rx="1.5"
                transform="rotate(-45 13 14.8493)"
                fill="#5E5F74"
              />
              <rect
                x="21.4854"
                y="10.6066"
                width="12"
                height="3"
                rx="1.5"
                transform="rotate(-135 21.4854 10.6066)"
                fill="#5E5F74"
              />
              <rect
                y="7.00003"
                width="21"
                height="3"
                rx="1.5"
                fill="#5E5F74"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="ieo_how_it_work-item animate-item">
        <div class="ieo_how_it_work-item-inner">
          <div class="pics-container">
            <img
              src="assets/img/ieo/wait.svg"
              alt=""
            >
          </div>
          <div class="text-container">
            <h5>4. {{'Wait tokens' | translate}}</h5>
            <p>{{'Wait for the tokens to be added to your balance within the specified time.' | translate}}</p>
          </div>
          <div class="shape">
            <svg
              width="24"
              height="17"
              viewBox="0 0 24 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="13"
                y="14.8493"
                width="12"
                height="3"
                rx="1.5"
                transform="rotate(-45 13 14.8493)"
                fill="#5E5F74"
              />
              <rect
                x="21.4854"
                y="10.6066"
                width="12"
                height="3"
                rx="1.5"
                transform="rotate(-135 21.4854 10.6066)"
                fill="#5E5F74"
              />
              <rect
                y="7.00003"
                width="21"
                height="3"
                rx="1.5"
                fill="#5E5F74"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="ieo_how_it_work-item">
        <div class="ieo_how_it_work-item-inner">
          <div class="pics-container">
            <img
              src="assets/img/ieo/trading.svg"
              alt=""
            >
          </div>
          <div class="text-container">
            <h5>5. {{'Trading' | translate}}</h5>
            <p>{{'Trade when the tokens will be listed and trading starts within the specified time.' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end component -->
