.balance {
  display: none;
  /*--- modificators start ---*/
  &--mob {
    display: block;
  }
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__content-mob{
    padding-bottom: 40px;
  }
  &__header-mob {
    margin: 0 12px 24px;
    padding-top: 12px;
  }
  &__header-btn-wrap {
    display: flex;
    //justify-content: space-between;
    .btn {
      &:first-child {
        margin-right: 8px;
      }
    }
  }
  &__filters {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;
    .dropdown {
      margin-left: 4px;
    }
    .toggler {
      margin-left: auto;
      margin-right: 4px;
    }
  }
  &__search-mob {
    width: 74px;
    margin-right: 20px;
    .wrap-input__input {
      padding-left: 12px;
    }
    .wrap-input__label {
      left: 12px;
    }
  }
  &__currency {
    display: flex;
  }
  &__currency-icon {
    width: 17px;
    height: 17px;
    background-color: #fff;
    margin-right: 6px;
    img {
      width: 100%;
    }
  }
  &__currency-name {
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: $grey;
  }
  &__request-mob-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
    color: $darker-blue;
    span {
      margin-right: 4px;
    }
    svg {
      margin-left: 4px;
      stroke: $darker-blue;
    }
  }
  &__tabs-mob {
    width: 100%;
    position: fixed;
    bottom: 60px;
    padding: 0 16px;
    padding: 0 8px;
    background-color: #E9F2FD;
    .tabs__item {
      margin-right: 20px;
      &--active {
        border-top: 2px solid $darker-blue;
        border-bottom: 0;
        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          -webkit-transform: translate(-50%, -100%);
          -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0px 9px 6px 9px;
          border-color: transparent transparent $darker-blue transparent;
        }
        &:after {
          bottom: 1px;
          border-width: 0px 6px 4px 6px;
          border-color: transparent transparent #E9F2FD transparent;
        }
      }
      .indicate {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 4px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: $darker-blue;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
      }
    }
    &:after{
      display: none;
    }
  }
  //open-mob-balance start
  .open-mob-balance {
    overflow: scroll;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    &__header {
      display: flex;
      align-items: center;
      height: 42px;
      padding-left: 12px;
      color: $darker-blue;
      box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
      svg {
        fill: $darker-blue;
        margin-right: 4px;
      }
    }
    &__row {
      position: relative;
      display: flex;
      align-items: center;
      height: 32px;
      padding: 0 12px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 12px;
        display: block;
        width: calc(100% - 24px);
        height: 1px;
        background: $darker-white;
      }
      &--open {
        background-color: rgba(35, 123, 239, 0.15);
        &:before {
          display: none;
        }
        .open-mob-balance__arr {
          transform: rotate(180deg);
        }
      }
    }
    &__title {
      width: 50%;
    }
    &__value {
      width: 40%;
    }
    &__arr {
      margin-left: auto;
      svg {
        stroke: $darker-blue;
      }
    }
    &__code {
      display: block;
      width: 100%;
      max-width: 220px;
      color: $darker-blue;
      text-decoration: underline;
      word-wrap: break-word;
    }
    &__btn-wrap {
      display: flex;
      width: 100%;
      position: relative;
      bottom: 0;
    }
  }
  //open-mob-balance end
  //request-mob start
  &__request-mob {
    overflow: scroll;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  &__request-mob-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 0 12px;
    font-size: 18px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
    svg {
      fill: $darker-blue;
    }
  }
  &__request-mob-date {
    font-size: 10px;
    line-height: 12px;
    color: $grey;
  }
  //request-mob end
  //open-mob-request start
  .open-mob-request {
    overflow: scroll;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 42px;
      padding: 0 12px;
      color: $darker-blue;
      box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
      svg {
        fill: $darker-blue;
        margin-right: 4px;
      }
    }
    &__item {
      display: flex;
      width: 100%;
      padding: 0 12px;
      margin-top: 12px;
    }
    &__item-title {
      width: 50%;
      color: $grey;
    }
    &__btn-wrap {
      display: flex;
      justify-content: center;
      margin: 44px 12px 0;
      .btn {
        &:first-of-type {
          margin-right: 16px;
        }
      }
    }
  }
  //open-mob-request end
  //request-status-info start
  .request-status-info {
    overflow: scroll;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 42px;
      padding: 0 12px;
      color: $darker-blue;
      box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
      svg {
        fill: $darker-blue;
        margin-right: 4px;
      }
    }
    &__text {
      margin: 32px 12px 48px;
    }
    &__note {
      left: 0;
    }
    &__link {
      display: flex;
      text-decoration: underline;
    }
  }
  //request-status-info end
  /*--- elements end ---*/

}

/*--- media start ---*/
@media (min-width: 1200px) {
  .balance {
    display: block;
    padding-top: 32px;
    /*--- modificators start ---*/
    &--mob {
      display: none;
    }
    /*--- modificators end ---*/
    /*--- elements start ---*/
    &__your-active {
      margin-left: 40px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: -20px;
        display: block;
        width: 3px;
        height: 100%;
        background-color: #000;
      }
      h6 {
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__your-active-item {
      display: flex;
      align-items: center;
      &:first-child {
        margin-right: 20px;
      }
      svg {
        margin-right: 4px;
        fill: #000;
      }
    }
    &__title-btn {
      margin-left: auto;
    }
    &__filters {
      margin-top: 28px;
      align-items: stretch;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 194px;
        z-index: -1;
        width: calc(100% - 194px);
        height: 1px;
        background-color: $grey;
      }
      .toggler {
        margin-right: 12px;
        margin-left: 0;
      }
      .dropdown {
        margin-left: 8px;
      }
    }
    &__search {
      width: 152px;
      margin-right: 32px;
    }
    &__tabs {
      .tabs__item {
        display: flex;
        align-items: center;
        padding: 0 16px;
        .indicate {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-left: 4px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background-color: $darker-blue;
          font-size: 12px;
          line-height: 18px;
          color: #fff;
        }
      }
    }
    &__hide-zero {
      display: flex;
      margin-left: auto;
      align-self: center;
    }
    &__show-all {
      display: flex;
      margin-left: 32px;
      align-self: center;
    }
    //requests start
    &__requests {
      margin-top: 20px;
    }
    &__requests-header {
      position: relative;
      margin-bottom: 0px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 1px;
        top: 50%;
        background-color: $darker-blue;
      }
      .btn {
        position: relative;
        z-index: 3;
      }
    }
    // popup yes\no start
    .revoke-request {
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
      width: 250px;
      padding: 12px 28px;
      position: absolute;
      z-index: 10;
      //display: none;
      display: block;
      right: 30px;
      bottom: 100%;
      //&--mob{
      //      //  position: relative;
      //      //  right: auto;
      //      //  bottom: auto;
      //      //  align-self: center;
      //      //}
      &__title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
        text-align: center;
        white-space: normal;
      }
      &__button-wrap {
        display: flex;
        justify-content: center;
      }
      .btn {
        &:first-child {
          margin-right: 28px;
        }
      }
      &__triangle {
        border-top: 5px solid #fff;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: "";
        position: absolute;
        bottom: -5px;
        right: 16px;
      }
    }
    // popup yes\no end
    //requests end
    &__currency {
      align-items: center;
    }
    &__currency-icon {
      width: 25px;
      height: 25px;
      margin-right: 8px;
    }
    &__currency-name {
      margin-left: 32px;
      font-size: 14px;
      line-height: 16px;
      color: inherit;
    }
    &__change {
      .arr {
        margin-left: 2px;
        line-height: 16px;
        &--green {
          vertical-align: top;
        }
        &--red {
          vertical-align: bottom;
        }
      }
    }
    &__row-btn {
      visibility: hidden;
      transition: none;
    }
    &__table-row {
      &:hover {
        .balance__row-btn {
          visibility: visible;
          transition: none;
        }
      }
    }

    /*--- elements end ---*/
  }
}

/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme {
  .balance {
    &__tabs-mob {
      background-color: #21417D;
      .tabs__item {
        &--active {
          &:after {
            border-color: transparent transparent #21417D transparent;
          }
        }
      }
    }
    &__currency-name {
      color: $light-blue;
    }
    &__request-mob-link {
      box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
      color: inherit;
      background: linear-gradient(to right, #21417D 0%, #191A39 100%);
      svg {
        stroke: #fff;
      }
    }
    //open-mob-balance start
    .open-mob-balance {
      background-color: $dark-indigo;
      &__header {
        color: $light-blue;
        svg {
          fill: $light-blue;
        }
      }
      &__row {
        &:before {
          background: linear-gradient(to right, #21417D 0%, #191A39 100%);
        }
        &--open {
          background: linear-gradient(to right, #21417D 0%, #191A39 100%);
        }
      }
      &__arr {
        svg {
          stroke: $light-blue;
        }
      }
    }
    //open-mob-balance end
    //request-mob start
    &__request-mob {
      background-color: $dark-indigo;
    }
    &__request-mob-header {
      svg {
        fill: $light-blue;
      }
    }
    &__request-mob-date {
      color: $light-blue;
    }
    //request-mob end
    //open-mob-request start
    .open-mob-request {
      background-color: $dark-indigo;
      &__header {
        color: $light-blue;
        svg {
          fill: $light-blue;
        }
      }
      &__item-title {
        color: $light-blue;
      }
    }
    //open-mob-request end
    //request-status-info start
    .request-status-info {
      background-color: $dark-indigo;
      &__header {
        color: $light-blue;
        svg {
          fill: $light-blue;
        }
      }
    }
    //request-status-info end
  }
}

@media (min-width: 1200px) {
  .dark-theme {
    .balance {
      .revoke-request {
        background-color: #264479;
        &__triangle {
          border-top-color: #264479;
        }
      }
      &__your-active {
        &:before {
          background-color: #fff;
        }
      }
      &__your-active-item {
        svg {
          fill: #fff;
        }
      }
      &__filters {
        &:after {
          z-index: 1;
          background-color: $light-grey;
        }
      }
      .show-filter {
        color: $light-blue;
      }
      &__currency-name {
        color: inherit;
      }
    }
  }
}

/*--- DARK THEME END---*/
