.dashboard{
  width: 100%;
  /*--- modificators start ---*/
  /*--- modificators end ---*/
  /*--- elements start ---*/
  &__widget-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    width: 100%;
  }

  /*--- elements end ---*/
}
/*--- media start ---*/
@media (min-width:600px) {}
@media (min-width:900px) {}
@media (min-width:1200px) {
  .dashboard{
    &__item{
      height: 450px;
      margin: 0 16px 20px;
      &--width1{
        width: calc(100% / 3 - 32px);
      }
      &--width2{
        width: calc((100% / 3) * 2 - 32px);
      }
      &--width3{
        width: 100%;
      }
      &--height1{
        height: 420px;
      }
      &--height2{
        height: 520px;
      }
      &--height3{
        height: 620px;
      }
    }
  }
}
/*--- media end ---*/

/*--- DARK THEME START---*/
.dark-theme{
  .dashboard{

  }
}
@media (min-width:1200px) {
  .dark-theme{}
}
/*--- DARK THEME END---*/
