.static-pages {
  padding: 0 16px;
  /*--- elements start ---*/
  .page-title {
    padding: 16px 0 0;
    margin-bottom: 16px;
    &__text{
      margin-bottom: 0;
    }
  }

  .subtitle {
    margin: 24px 0 16px;
    font-size: 24px;
    line-height: 28px;
    text-align: left;

    &--none-color {
      color: #000;
    }
  }

  &__list {
    li {
      margin-bottom: 16px;
      line-height: 21px;

      &:before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-right: 4px;
        vertical-align: middle;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #000;
      }
    }
  }

  &__paragraph {
    margin-bottom: 16px;
    line-height: 21px;

    &--grey {
      color: $grey;
    }
  }

  /*--- elements end ---*/
}


@media (min-width: 1200px) {
  .static-pages {
    padding: 32px 0 0;
    margin-bottom: 32px;
    .page-title {
      padding: 0;
      margin-bottom: 32px;
    }
  }
}

/*--- media end ---*/

/*--- DARK THEME START---*/
.dark-theme {
  .static-pages {
    .subtitle {
      color: $light-blue;

      &--none-color {
        color: #fff;
      }
    }

    &__list {
      li {
        &:before {
          background-color: #fff;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .dark-theme {
  }
}

/*--- DARK THEME END---*/
