.popup {
  position: relative;
  z-index: 10;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 360px;
  border-radius: 4px;
  background-color: #fff;
  /*--- modificators start ---*/
  /*--- modificators end ---*/
  /*--- elements start ---*/
  @media(max-width: 1199px){
    border-radius: 0;
    .popup__links-wrap--left{
      max-width: 230px;
    }
  }
  .wrap-input__input{
    margin-bottom: 24px;
    color: #000000;
    
    &:valid{
      border: 1px solid #237BEF;

      ~ .wrap-input__label{
        background-color: #fff;
        color: #237BEF;
      }
    }
    &:focus {
      & ~ .wrap-input__label{
        background-color: #fff;
      }
    }

  }
  .wrap-input{
    &--error{
      .wrap-input__input{
        margin-bottom: 24px;
        color: #000000;
        border-color: #EB5757;
        &:focus {
          & ~ .wrap-input__label{
            color: #EB5757;
          }
        }
        & ~ .wrap-input__label{
          color: #EB5757;
          background-color: #fff;
        }
      }
    }
  }
  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
    background-image: url("assets/img/close-blue.svg");
    background-position: center;
    background-size: cover;

    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    margin-bottom: 28px;
    text-align: center;
    color: $dark-indigo;
    font-size: 24px;
    line-height: 130%;
    &.tnx-head{
      font-size: 24px;
      margin-bottom: 50px;
    }
  }
  &__subtitle {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    color: $dark-indigo;
    font-size: 18px;
    line-height: 24px;
    &.tnx-description{
      font-size: 14px;
      margin-bottom: 50px;
    }
  }
  &__email-link {
    color: $darker-blue;
    text-decoration: none;
    word-wrap: break-word;
  }
  &__form {
    width: 100%;
    max-width: 230px;
    margin: 0 auto;
  }
  &__wrap-input {
    margin-bottom: 24px;
    color: #000000;
    &:valid{
      border: 1px solid #237BEF;
    }
  }
  &__btn {
    margin: 0px auto;
    background-color: transparent;
    color: $darker-blue;
    border-color: $darker-blue;
    &--active{
      background-color: $darker-blue;
      color:#fff;
      border-color: transparent;
    }
    &--error {
      background-color: $red !important;
      border-color: $red !important;
      color: #fff !important;
    }
  }
  &__links-wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    //max-width: 230px;
    margin: 32px auto 0;
    white-space: nowrap;
    font-size: 12px;
    line-height: 14px;
    &--left {
      justify-content: flex-start;
    }
    &--hidden-mob {
      display: none;
    }
    span{
      color:$grey;
    }
    label{
      color:$grey;
    }
  }
  &__link {
    text-decoration: none;
    color: $darker-blue;
    margin-left: 4px;
    &:hover {
      cursor: pointer;
      color: $darker-blue;
    }
    &--hidden-mob {
      display: none;
    }
  }
  &__link-mob {
    position: absolute;
    bottom: 68px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: #fff;
    background-color: $darker-blue;
    font-size: 14px;
    left: 0;
    right: 0;
    span{
      margin-right: 3px;
    }
  }
  &__captcha {
    display: block;
    max-width: 244px;
    margin: 0 auto;
  }
  &__txt-row {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    // magrin
    &--mt32 {
      margin-top: 32px;
    }
    &--mt20 {
      margin-top: 20px;
    }
    &--mt4 {
      margin-top: 4px;
    }
    // fonts-sizes
    &--fz14 {
      font-size: 14px;
      line-height: 16px;
    }
    // show-hidden
    &--hidden-mob {
      display: none;
    }
  }
  &__check-wrap {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
  }
  &__agree-check {
    display: none;
    &:checked + .popup__custom-check:before {
      display: block;
      position: absolute;
      top: -4px;
      width: 12px;
      height: 10px;
      background-image: url("assets/img/check.svg");
      background-repeat: no-repeat;
      content: "";
    }
  }
  &__custom-check {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid $grey;
    border-radius: 1px;
  }
  &__text {
    margin-right: 36px;
    margin-bottom: 18px;
    margin-left: 36px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    &--light {
      margin-bottom: 18px;
      color: $light-grey;
      font-size: 12px;
      line-height: 21px;
      text-align: center;
      @media(min-width: 1200px){
            font-size: 15px;
            color: #959BA5;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__line {
    height: 1px;
    margin: 20px 32px;
    background-color: $darker-white;
  }
  &__back-to {
    display: block;
    width: 100%;
    max-width: 230px;
    margin: 32px auto 0;
  }
  &__arr-left {
    margin-right: 4px;
    svg{
      fill:$darker-blue;
    }
  }
  /*--- elements end ---*/
}

/*--- media start ---*/

@media (min-width: 1200px) {
  .popup {
    max-width: 404px;
    height: auto;
    margin: 0 auto;
    padding: 32px;

    &__close {
      top: 7px;
      right: -35px;
      background-image: url("assets/img/close.svg");
    }
    &__form{
      max-width: none;
    }
    &__btn {
      margin-top: 22px;
    }
    &__links-wrap {
      margin-top: 24px;
      &--hidden-mob {
        display: flex;
      }
    }
    &__link{
      &--hidden-mob {
        display: inline-block;
      }
    }
    &__link-mob {
      display: none;
    }
    &__line{
      margin: 20px 0;
    }
    &__txt-row {
      &--hidden-mob {
        display: block;
      }
    }
  }
}

/*--- media end ---*/
/*--- DARK THEME START---*/
.dark-theme {
  .popup {
    background-color: #fff;
    &__close {
      background-image: url("assets/img/close-light-blue.svg");
    }
    &__title {
      color: #191A39;
    }
    &__subtitle {
      color: #191A39;
    }
    &__email-link {
      color: $light-blue;
    }
    &__btn{
      background-color: transparent;
      color: $light-blue;
      border-color: $light-blue;
      &--active{
        background-color: $darker-blue;
        color:#fff;
        border-color: transparent;
      }
    }
    &__link {
      color: #237BEF;
    }
    &__link-mob{
      background-color: #21417D;
    }
    &__arr-left {
      svg{
        fill:$light-blue;
      }
    }
  }
}

@media (min-width: 1200px) {
  .dark-theme {
    .popup{
      &__close {
        background-image: url("assets/img/close.svg");
      }
    }
  }
}

/*--- DARK THEME END---*/
