.api-key-modal{
	.refill{
		&__title{
			text-align: center;
			margin-bottom: 28px;
		}
		&__inputs-wrap{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 24px;
			position: relative;
			@media(max-width: 1199px){
				max-width: 268px;
				margin: 0 auto;
			}
		}
		&__select{
			width: 100%;
			max-width: unset;
			margin-bottom: 28px;
			overflow: hidden;
		}

	}
	.modal__note{
		width: calc(100% + 24px);
		left: -12px;
		margin-top: 24px;
		@media(max-width: 1199px){
			padding: 10px 14px;
			width: 100%;
			left: 0;
			margin-top: 32px;
		}
	}
	@media (min-width:1200px){
		.refill{
			&__title{
				margin-bottom: 32px;
				font-weight: normal;
				font-size: 24px;
				line-height: normal;
				text-align: center;

				color: #191A39;
			}
			&__inputs-wrap{
				flex-direction: row;
				align-items: center;
			}
			&__select{
				width: 100%;
				min-width: unset;
				margin-bottom: 0;
				margin-right: 0;
			}
		}
		.btn{
			max-width: 200px;
		}
		.select__list-searching{
			display: block;
			min-width: 380px;
		}
		.modal__note{
			width: 100%;
			left: 0;
			margin-top: 32px;
		}
	}

	.btn{
		color: white !important;

	}

	.key-label {
		position: absolute;
		top: -7px;
		left: 12px;
		background: #fff;
		z-index: 1;
		padding: 1px;
		font-weight: normal;
		font-size: 12px;
		line-height: normal;

		color: #237BEF;
		@media(max-width: 1199px){
			background: #191A39;
			color: #DEDEFB;
		}
	}


	@media(max-width: 1320px) and (min-width:1200px) {
		.refill__select{
			min-width: unset;
			max-width: calc(100% - 200px);
		}
	}



	.key-success{
		font-weight: normal;
		font-size: 16px;
		line-height: normal;
		text-align: center;
		color: #191A39;
		padding: 31px;
		@media(max-width: 1199px){
			padding: 12px;
			color: #DEDEFB;
		}
	}
	.modal__header{
		border: none;
	}

	.modal__content{
		padding: 0;
	}
	.inputs-wr{
		max-width: 445px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 32px;
		@media(max-width: 1199px){
			padding: 0 12px;
			padding-top: 20px;
		}
	}
	.api-key-content{
		@media(max-width: 1199px){
			padding-top: 20px;
		}
	}
}

.api-key-center{
	.msg-error {
		color: #d04437;
	}
	@media(max-width: 992px){
		padding: 20px;
		.popup {
			.wrap-input__input{
				&:focus {
					&~ .wrap-input__label{
						background: #191A39;
					}
				}
			}
			background: #191A39;
			padding: 27px;
			padding-bottom: 65px;
			border-radius: 0;
			.wrap-input__input:valid{
				&~ .wrap-input__label{
					background: #191A39;
				}
			}
		}
		.wrap-input__input{
			color: rgba(148, 194, 255, .5);
			margin: 0;
			border-color: rgba(148, 194, 255, .5);
		}
		.popup__form{
			max-width: 320px;
		}
		.popup__btn{
			max-width: unset;
			margin-top: 18px;
		}
		.popup__wrap-input{
			margin-bottom: 10px;
		}
	}

}



.api-key-content {
	padding: 39px 0 0 32px;
	width: 100%;
	max-width: 590px;
	@media(max-width: 620px){
		padding: 39px 32px 0;

		max-width: unset;
	}
	@media(max-width: 480px){
		padding: 20px 0 0 10px;

		max-width: unset;
	}


	.wrap-input {
		margin-right: 20px;
		width: 100%;
		@media(max-width: 620px){
			margin: 0;
			margin-bottom: 20px;
		}
	}

	.api-key-container {
		width: 100%;
		margin-top: 27px;
		@media(max-width: 620px){
			margin-top: 0;
		}
	}
	.allowed-text{
		font-weight: normal;
		font-size: 14px;
		line-height: normal;
		color: #AAB1C4;
	}
	.api-key-item {
		margin-bottom: 30px;
		margin-right: 10px;
		padding: 14px;
		background: #1A1F42;
		border-radius: 4px;
		.key-name {
			margin-bottom: 15px;
			font-weight: normal;
			font-size: 14px;
			line-height: normal;
			color: #AAB1C4;
		}
		.api-key {
			margin-bottom: 15px;
			font-weight: normal;
			font-size: 16px;
			line-height: normal;
			word-break: break-all;
			color: #FFFFFF;
		}
		.key-controls {
			display: flex;
			justify-content: space-between
		}
		.api-key-delete-btn {
			position: relative;
		}
	}
	.api-text{
		font-weight: 300;
		font-size: 14px;
		line-height: 1.27;
		color: #FFA500;
		margin-bottom: 20px;
	}

	.create-key-container{
		display: flex;
		padding-right: 10px;
		@media(max-width: 620px){
			flex-direction: column;
			margin-bottom: 20px;
		}

		.wrap-input{

		}
	}
	.api-key-checkbox{
		display: flex;
		align-items: center;

	}

	.input-wr{
		margin-right: 5px;
		.hidden-content{
			position: absolute;
			height: 0;
			width: 0;
			opacity: 0;
			pointer-events: none;
			overflow: hidden;
			&:checked{
				&+label{
					svg{
						opacity: 1;
					}
				}
			}
		}
		label{
			width: 16px;
			height: 16px;
			border: 1px solid #21417D;
			border-radius: 2px;
			position: relative;
			display: flex;
			svg{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 2px;
				margin: auto;
				left: 0;
				opacity: 0;
				transition: .3s;
			}
		}
	}
	.api-key-title{
		margin-bottom: 29px;
		h2{
			font-weight: normal;
			font-size: 24px;
			line-height: normal;
			color: #FFFFFF;
			@media(max-width: 620px){
				font-size: 20px;
				line-height: 22px;
				color: #DEDEFB;
			}
		}
	}
	.btn--empty-blue{
		background-color: transparent;
		border: 1px solid #237BEF;
		color: #fff;
		
	}
	.settings__form-btn{
		@media(max-width: 620px){
			margin: 0;
		}
	}
	.revoke-request{
		background: #fff;
		right: 0;
		margin-bottom: 10px;
		@media(max-width: 1199px){
			bottom: 100%;
		}
	}
	.revoke-request__title{
		font-size: 14px;
		line-height: 21px;
		text-align: center;

		color: #000000;
	}

	.revoke-request__button-wrap{
		.btn--small{
			background-color: transparent;
			border: 1px solid #237BEF;
			color: #237BEF;
			width: 53px;
			&:hover{
				background-color: #237BEF;
				color: #fff;
			}
		}
	}

	.revoke-request__triangle{
		border-top: 5px solid #fff;
	}
}