.api-key-modal{
	.refill{
		&__title{
			text-align: center;
			margin-bottom: 28px;
		}
		&__inputs-wrap{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 24px;
			position: relative;
			@media(max-width: 1199px){
				max-width: 268px;
				margin: 0 auto;
			}
		}
		&__select{
			width: 100%;
			max-width: unset;
			margin-bottom: 28px;
			overflow: hidden;
		}

	}
	.modal__note{
		width: calc(100% + 24px);
		left: -12px;
		margin-top: 24px;
		@media(max-width: 1199px){
			padding: 10px 14px;
			width: 100%;
			left: 0;
			margin-top: 32px;
		}
	}
	@media (min-width:1200px){
		.refill{
			&__title{
				margin-bottom: 32px;
				font-weight: normal;
				font-size: 24px;
				line-height: normal;
				text-align: center;

				color: #191A39;
			}
			&__inputs-wrap{
				flex-direction: row;
				align-items: center;
			}
			&__select{
				width: 100%;
				min-width: unset;
				margin-bottom: 0;
				margin-right: 0;
			}
		}
		.btn{
			max-width: 200px;
		}
		.select__list-searching{
			display: block;
			min-width: 380px;
		}
		.modal__note{
			width: 100%;
			left: 0;
			margin-top: 32px;
		}
	}

	.btn{
		color: white !important;

	}

	.key-label {
		position: absolute;
		top: -7px;
		left: 12px;
		background: #fff;
		z-index: 1;
		padding: 1px;
		font-weight: normal;
		font-size: 12px;
		line-height: normal;

		color: #237BEF;
		@media(max-width: 1199px){
			background: #191A39;
			color: #DEDEFB;
		}
	}


	@media(max-width: 1320px) and (min-width:1200px) {
		.refill__select{
			min-width: unset;
			max-width: calc(100% - 200px);
		}
	}



	.key-success{
		font-weight: normal;
		font-size: 16px;
		line-height: normal;
		text-align: center;
		color: #191A39;
		padding: 31px;
		@media(max-width: 1199px){
			padding: 12px;
			color: #DEDEFB;
		}
	}
	.modal__header{
		border: none;
	}

	.modal__content{
		padding: 0;
	}
	.inputs-wr{
		max-width: 445px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 32px;
		@media(max-width: 1199px){
			padding: 0 12px;
			padding-top: 20px;
		}
	}
	.api-key-content{
		@media(max-width: 1199px){
			padding-top: 20px;
		}
	}
}

.api-key-center{
	.msg-error {
		color: #d04437;
	}
	@media(max-width: 992px){
		padding: 20px;
		.popup {
			.wrap-input__input{
				&:focus {
					&~ .wrap-input__label{
						background: #191A39;
					}
				}
			}
			background: #191A39;
			padding: 27px;
			padding-bottom: 65px;
			border-radius: 0;
			.wrap-input__input:valid{
				&~ .wrap-input__label{
					background: #191A39;
				}
			}
		}
		.wrap-input__input{
			color: rgba(148, 194, 255, .5);
			margin: 0;
			border-color: rgba(148, 194, 255, .5);
		}
		.popup__form{
			max-width: 320px;
		}
		.popup__btn{
			max-width: unset;
			margin-top: 18px;
		}
		.popup__wrap-input{
			margin-bottom: 10px;
		}
	}

}