.settings {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-top: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;

  /*--- elements start ---*/
  &__sidebar {
    order: 2;
    width: 100%;
    padding: 8px;
    border-top: 1px solid $darker-white;
  }

  &__sidebar-title {
    display: none;
  }

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 16px 12px 42px;
    box-sizing: border-box;
    flex-grow: 1;
  }

  &__content-title {
    margin-bottom: 12px;
  }

  &__content-subtitle {
    margin-bottom: 24px;
  }

  &__buttons-row {
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
  }

  &__btn {
    margin-bottom: 24px;
  }

  &__form {
    max-width: 600px;
    margin: 0 auto;
  }

  &__time-range {
    max-width: 540px;
    margin: 0 auto;

    .ng5-slider {
      margin-top: 16px;

      .ng5-slider-bar {
        height: 1px;
        background-color: $darker-white;
      }

      .ng5-slider-selection {
        background-color: $darker-blue;
      }

      .ng5-slider-ceil {
        bottom: 16px;
        color: $grey;
      }

      .ng5-slider-floor {
        bottom: 16px;
        color: $grey;
      }

      .ng5-slider-model-value {
        color: $darker-blue;
      }

      .ng5-slider-pointer {
        width: 22px;
        height: 22px;
        top: -11px;
        background-color: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 0 1px rgba(0, 0, 0, .3);

        &:after {
          background-color: $darker-blue;
          width: 12px;
          height: 12px;
          top: 5px;
          left: 5px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }

        &:hover {
          &:after {
            background-color: $darker-blue;
          }
        }

        &:focus {
          outline: none;

          &:after {
            background-color: $darker-blue;
          }
        }
      }
    }
  }

  &__form-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;

    &--time {
      justify-content: center;
      flex-direction: row;
    }
  }

  &__form-notice {
    margin-top: 4px;
    max-width: 230px;
    margin: 4px auto 0;
    text-align: center;
  }

  &__form-btn {
    margin: 0 auto;

    &--active {}
  }

  &__note {
    //position: absolute;
    bottom: 0;
    left: -12px;
    margin-top: 32px;
    width: calc(100% + 24px);
  }

  &__toggler-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 12px;
  }

  &__toggler-text {
    order: 0;
    font-size: 18px;
    color: $grey;

    &--active {
      color: $darker-blue;
    }
  }

  /*--- elements end ---*/
  /*--- modificators start ---*/
  /*--- modificators end ---*/
}

/*--- media start ---*/
@media (min-width: 600px) {
  .settings {
    padding-left: 0;
    padding-right: 0;

    &__note {}
  }
}

@media (min-width: 1200px) {
  .settings {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;

    &__sidebar {
      order: 0;
      max-width: 315px;
      padding: 32px 0 0;
      border-top: none;
      border-right: 1px solid $darker-white;
    }

    &__sidebar-title {
      display: block;
      margin-bottom: 32px;
      margin-left: 21px;
    }

    &__content {
      padding: 32px 0 0 32px;
    }

    &__content-title {
      margin-bottom: 24px;
    }

    &__content-subtitle {
      margin-bottom: 32px;
    }

    &__buttons-row {
      margin-top: 32px;
      flex-direction: row;
    }

    &__btn {
      margin-bottom: 0;
      margin-right: 32px;
    }

    &__form {
      max-width: none;
      margin-left: 0;
    }

    &__time-range {
      margin-left: 0;

      .ng5-slider {
        margin-top: 8px;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 1px;
          width: 1px;
          height: 5px;
          background-color: $darker-blue;
        }

        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 1px;
          width: 1px;
          height: 5px;
          background-color: $darker-white;
        }

        .ng5-slider-ceil,
        .ng5-slider-floor {
          bottom: -20px;
        }
      }
    }

    &__form-row {
      flex-direction: row;

      &--time {
        max-width: 230px;
      }
    }

    &__form-notice {
      max-width: none;
      text-align: left;
      align-self: flex-start;
      margin-left: 20px;
      margin-top: 20px;
    }

    &__password-btn {
      background-color: transparent;
      border: 1px solid #237BEF;
    }

    &__form-btn {
      margin-left: 0;

      &--active {
        background-color: #237BEF;
      }
    }

    &__note {
      //position: absolute;
      bottom: 0;
      left: 0px;
      width: calc(100% - 32px);
    }

    &__toggler-row {
      justify-content: flex-start;
      margin: 0 0 12px;
    }

    &__toggler-text {
      order: 2;
      margin-right: 0;
      margin-left: 32px;
    }
  }
}

/*--- media end ---*/

.dark-theme {
  .settings {

    &__password-btn {
      background-color: transparent;
      border: 1px solid #237BEF;
    }

    &__form-btn {
      &--active {
        background-color: #237BEF;
      }
    }

    &__sidebar {
      border-color: #24253F;
    }

    &__toggler-text {
      color: $light-blue;
    }

    &__time-range {
      .ng5-slider {
        &:before {
          background-color: $light-blue;
        }

        .ng5-slider-ceil,
        .ng5-slider-floor,
        .ng5-slider-model-value {
          color: $light-blue;
        }

        .ng5-slider-selection {
          background-color: $light-blue;
        }
      }
    }
  }
}

.session-tab {
  @media(min-width: 1200px) {
    padding: 32px 0 32px 32px;
  }
  .table__row:nth-of-type(odd) .additional-mobile{
    background-color: #191f42;
  }

  .table__row:nth-of-type(even) .additional-mobile{
    background-color: #191A39;

  }
  .table__row:nth-of-type(even){
    &:hover{
      background-color: #191A39;
    }
  }
  .table__row:nth-of-type(odd){
    &:hover{
      background-color: #191f42;
    }
  }
  padding: 16px 12px 42px;
  .row-type{
    font-weight: 400;
    color: #8C8C9C;
  }
}

.session-history-table {
  margin-top: 17px;
  display: table;
  .table__row{
    display:table-row;
    position: relative;
  }
  .table__cell {
    padding: 14px 10px;
    position: relative;
    @media(max-width: 1199px){
      display: flex;
      justify-content: space-between;
    }
  }
.additional-mobile{
  display: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: .3s;
  border-bottom: 1px solid #ECECEC;
  z-index: 4;
  padding-bottom: 12px;
  &.active{
    opacity: 1;
    pointer-events: auto;
  }
  @media(max-width: 1199px){
    display: block;
  }
  .ip-wr{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  }
  .date-wr{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  }

}
.destop-content{
  @media(max-width: 1199px){
    display: none;
  }
}

.mobile-content{
	display: none;
	@media(max-width: 1199px){
		display: block;
	}
}

}
.settings {
.animate-item{
  transition: .4s ease-out;
}
}
