.id-verification {
  @media (max-width: 1200px) {
    .settings-button-wr {
      &:not(:last-child) {
        margin: 0;
      }
    }
  }
  .settings-button-wr {
    display: flex;
    flex-direction: column !important;
  }

  &.settings__content {
    @media (max-width: 568px) {
      padding: 20px 12px 20px;
    }
    .settings__content-title {
      font-size: 20px;
      line-height: 22px;
    }
    .settings__content-subtitle {
      font-size: 14px;
      line-height: 16px;
    }
    .settings__buttons-row {
      margin: 0 0 50px 0;
      @media (max-width: 1199px) {
        margin: 0 auto;
        flex-direction: column;
      }
    }
  }

  .btn {
    .value {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    .btn {
      margin-bottom: 28px;
      .value {
        display: inline-block;
      }
    }
  }

  .mt-20 {
    @media (max-width: 1199px) {
      margin-top: 20px;
    }
  }
}

.service-mess {
  display: flex;
  align-items: center;
  @media (max-width: 1200px) {
    justify-content: center;
  }
  .icon-wr {
    margin-right: 20px;
    img {
    }
  }
  .txt-wr {
    span {
      font-weight: normal;
      font-size: 24px;
      line-height: 1.15;
      text-align: center;
      color: #ffffff;
    }
  }
}

.id-verification {
  .settings-button-wr {
    max-width: unset;
    .btn {
      max-width: 230px;
      @media (max-width: 1200px) {
        margin: 0 auto;
      }
    }
  }
}
