  <div class="settings__content">
    <h3 class="title settings__content-title">Nickname</h3>
    <div class="subtitle settings__content-subtitle">For inner transactions users could use your nickname instead of email.</div>

    <h4>{{statusMessage}}</h4>
    <form class="settings-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="settings__form-row">
        <div class="wrap-input wrap-input--fix230">
          <input
            class="wrap-input__input"
            type="text"
            formControlName="nickname"
          >
          <!--ERROR PART-->
          <div class="input--error" *ngIf="!form.get('nickname').valid && form.get('nickname').touched">
            <div *ngIf="form.get('nickname').errors != null && form.get('nickname').errors['required']">This field is required</div>
            <div *ngIf="form.get('nickname').errors != null && form.get('nickname').invalid">Only (A-z), (–), (=) are allowed</div>
          </div>

          <label class="wrap-input__label" for="">Nickname</label>
          <div class="wrap-input__line"></div>
          <span class="wrap-input__message">WThis nickname already taken. Please take another one.</span>
        </div>
        <span class="settings__form-notice">– use only (A-z), (–), (=) symbols, </span>
      </div>
      <button class="btn settings__form-btn" [disabled]="isUpdateDisabled">Save</button>
    </form>
    <div class="note settings__note">
      <div class="note__title">Please note:</div>
      <ul class="note__list">
        <li class="note__list-item">Nickname can be specified only 1 time</li>
        <li class="note__list-item">After creating a nickname, it will not be possible to change it</li>
      </ul>
    </div>
  </div>
