.fiat-page{
	font-size: calc(.5815rem + .5815vw);
	position: relative;

	padding-bottom: 4.7em;	
	a{
		text-decoration: none;
	}
	@media(min-width: 1440px){
		font-size: 20px;
	}
	.fiat-inner{
		position: relative;
	}
	.fiat-fs{
		position: relative;
	}
	.fs-image-container{
		overflow: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		img{
			min-height: 125%;
			min-width: 100%;
			top: -20%;
			position: relative;
			@media(max-width: 992px){
				// height: 100%;
				min-height: unset;
				position: absolute;
				top: -100%;
				bottom: -100%;
				right: -100%;
				left: -100%;
				margin: auto;
			}
		}
	}


	.fs-wr{
		position: relative;
		padding: 5.3em 16px 4.8em;
		.standart-btn{
			span{

			}
		}
		.title-wr{
			margin: 0 auto;
			width: 100%;
			@media(max-width: 620px){
				margin-bottom: 1em;
			}
			h2{
				font-weight: 500;
				
			}
		}
	}
	.title-wr{
		margin-bottom: .7em;
		width: calc(50% - .4em);
		@media (max-width: 620px) {
			width: 100%;

		}
		h2{
			font-weight: 400;
			font-size: 1.6em;
			line-height: 1.3;
			color: #FFFFFF;
			text-align: center;
			@media(max-width: 620px){
				font-size: 1.3em;
			}
		}
	}
	.description-wr{
		margin-bottom: 1.7em;
		p{
			text-align: center;
			font-weight: 400;
			font-size: 1.6em;
			line-height: 1.2;
			color: #fff;
			@media(max-width: 620px){
				font-size: 1.3em;
			}

		}
	}
	.fs-wr{
		.button-wr{

			.standart-btn{
				@media(max-width: 992px){

					padding: 13px .7em;
				}
				span{
					@media(max-width: 992px){

						font-size: 1.3em;

					}
				}
			}
		}
	}
	.button-wr{
		max-width: 14.9em;
		margin: 0 auto;
		@media(max-width: 992px){
			font-size: .7em;
			max-width: 20.65em;
		}
		.standart-btn{
			@media(max-width: 992px){
				font-size: inherit;
			}
			padding: 18px .7em;
			span{
				font-size: 1em;
			}
		}
	}





	.fiat-benefits{
		padding: 0 15px;
		padding-top: 2.2em;
		padding-bottom: 3.5em;
		max-width: 1074px;
		margin: 0 auto;
		.head-part{
			margin-bottom: 2.1em;
			@media(max-width: 992px){
				font-size: 1.15em;

			}
			@media(max-width: 520px){
				font-size: 1.5em;

			}
			h3{
				font-weight: 500;
				font-size: .9em;
				line-height: 1.15;
				text-align: center;
				color: #FFFFFF;
			}
		}
		.benefits-items-wr{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			@media(max-width: 992px){
				font-size: 1.15em;

			}
			@media(max-width: 520px){
				font-size: 1.5em;

			}
		}
		.benefits-item{
			width: 33.333%;
			padding: 2em 1.25em;
			min-height: 7.9em;
			border: 1px solid #1D365A;
			margin-left: -1px;
			margin-top: -1px;
			padding-right: 0;
			padding-bottom: 1em;

			@media(max-width: 992px){
				width: 50%;
				
			}
			@media(max-width: 520px){
				width: 100%;
				text-align: center;
				padding: 0;
				min-height: auto;
				border: none;
				margin: 0 auto 1.6em;
				max-width: 14em;
				&.pg-small{
					padding: 0;
				}
				
			}
			&.pg-small{
				padding: 1.1em 1.25em;
				@media(max-width: 520px){
					padding: 0;
				}
			}
			.title-part{
				margin-bottom: .9em;
				h3{
					font-weight: 500;
					font-size: 1.13em;
					line-height: .95;
					color: #237BEF;
					@media(max-width: 520px){
						line-height: 1.15;
					}
				}
			}
			.description-part{
				p{
					max-width: 19.2em;
					font-weight: 500;
					font-size: .75em;
					line-height: 1.2;
					color: #FFFFFF;
					@media(max-width: 520px){
						max-width: unset;

					}
				}
			}
		}

		.benefits-item-large{
			width: 33.333%;
			padding: 1em 1.3em .8em;
			background: #237BEF;
			border: 1px solid #1D365A;
			box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.52);
			position: relative;
			min-height: 9.6em;
			@media(max-width: 992px){
				width: 50%;
				
			}
			@media(max-width: 520px){
				width: 100%;
				text-align: center;
				margin-top: 1em;
				
			}
			.title-part{
				margin-bottom: .65em;
				h3{
					font-weight: 500;
					font-size: 1.2em;
					line-height: .95;
					color: #FFFFFF;
				}
			}
			.description-part{
				margin-bottom: .8em;
				p{
					font-weight: 500;
					font-size: .75em;
					line-height: 1.2;
					color: #FFFFFF;

				}	
			}
			.button-wr{
				width: 11em;
				margin: 0;
				@media(max-width: 520px){
					margin: 0 auto;				
				}
				a{
					background: #fff;
					padding: .77em;

				}
				span{
					font-size: .7em;
					font-weight: 500;
					color: #006AFF;
					@media(max-width: 992px){
						font-size: 1.1em;

					}
				}
			}
		}
	}
	.how-work{
		padding: 0 15px;
		max-width: 1074px;
		margin: 0 auto;
		.head-part{
			margin-bottom: 2.2em;
			@media(max-width: 992px){
				font-size: 1.15em;

			}
			@media(max-width: 520px){
				font-size: 1.5em;

			}
			h3{
				font-weight: 500;
				font-size: .9em;
				line-height: 1.15;
				text-align: center;
				color: #FFFFFF;
			}
		}
		.how-work-item-wr{
			display: flex;
			@media(max-width: 992px){
				font-size: 1.15em;

			}
			@media(max-width: 780px){
				flex-direction: column;
				padding-bottom: 1.5em;

			}
			@media(max-width: 520px){
				font-size: 1.5em;

			}
		}
		.arr{
			width: 1.05em;
			height: .7em;
			position: absolute;
			right: -2.2em;
			top: 0;
			bottom: 0;
			margin: auto;
			@media(max-width: 780px){
				display: none;

			}
			img{
				width: 100%;
			}
		}

		.how-work-item{
			width: 33.3333%;
			position: relative;
			background: #282850;
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			padding: .75em 1.2em 1.25em;
			margin-bottom: 2em;
			@media(max-width: 780px){
				width: 100%;
				margin-bottom: 2em;
				text-align: center;
				padding: 0;
				box-shadow: none;
				background: transparent;
				box-shadow: none;
				border-radius: 0;
				padding: 0;
				br{
					display: none;
				}

			}
			&:not(:last-child){
				margin-right: 3.4em;
				@media(max-width: 780px){
					margin-right: 0;

				}
			}
		}
		.stage-number{
			margin-bottom: .4em;
			span{
				font-weight: 500;
				font-size: 1.8em;
				line-height: .95;
				color: #237BEF;

			}
		}
		.title-part{
			margin-bottom: .5em;
			h5{
				font-weight: 500;
				font-size: .75em;
				line-height: 1.2;
				color: #FFFFFF;
			}
		}
		.description-part{
			p{
				font-weight: 400;
				font-size: .75em;
				line-height: 1.2;
				color: #FFFFFF;
			}
		}
		.link-part{
			a{
				font-weight: 500;
				font-size: .75em;
				line-height: 1.2;
				color: #237BEF;
			}
		}
	}
	.add-info{
		padding: 0 15px;
		max-width: 1074px;
		margin: 0 auto;
		@media(max-width: 992px){
			font-size: 1.15em;

		}
		@media(max-width: 520px){
			font-size: 1.5em;

		}
		.add-info-wr{
			border: 1px dashed #7FAFF3;
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			padding: 1.3em;
			padding-bottom: .9em;
			display: flex;
			justify-content: center;
			@media(max-width: 520px){
				flex-direction: column;
				padding: 0;
				border: none;
				text-align: center;
			}
		}
		.left-part{
			max-width: 23.3em;
			width: 100%;
			min-height: 3.35em;
			border-right: 1px solid #C4C4C4;
			@media(max-width: 520px){
				max-width: 14em;
				margin: 0 auto .7em;
				border: none;
			}
			p{
				margin-right: 2.45em;
				max-width: 27em;
				font-weight: 500;
				font-size: .75em;
				line-height: 1.2;
				color: #FFFFFF;
				@media(max-width: 520px){
					margin-right: 0;
					max-width: unset;
				}
			}
		}
		.right-part{
			max-width: 23.3em;
			min-height: 3.35em;
			display: flex;
			width: 100%;
			justify-content: flex-end;
			@media(max-width: 520px){
				max-width: 14em;
				margin: 0 auto .7em;
			}
			p{
				margin-left: 2.49em;
				max-width: 27.8em;
				font-weight: 500;
				font-size: .75em;
				line-height: 1.2;
				color: #C4C4C4;
				@media(max-width: 520px){
					margin-left: 0;
					max-width: unset;
				}
				a{
					color: #237BEF;

				}
			}
		}
	}
}




//fiat ballance


.fiat-deposit-s1{
	.secundary-form{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.input-block{
			position: relative;
			width: calc(50% - 15px);
			max-width: 300px;
			margin-bottom: 25px;
		}
		.wrap-input__input{

		}
		.wrap-input__label{

		}
	}



	h2{
		font-weight: 400;
		font-size: 24px;
		line-height: 1.27;
		text-align: center;
		color: #191A39;
		margin-bottom: 32px;
		@media(max-width: 1200px){
			color: #DEDEFB;
		}
	}

	form{
		border-bottom: 1px solid #ECECEC;
		margin: 0 30px;
		@media(max-width: 1200px){
			border-bottom: 1px solid #94C2FF;
		}
	}

	.main-form{
		display: flex;
		justify-content: space-between;
		@media(max-width: 640px){
			display: block;
		}
	}
	.refill__select{
		width: calc(50% - 15px);
		max-width: unset;
		@media(max-width: 640px){
			width: 100%;
			margin-bottom: 25px;
		}
	}
	.select__value{

	}
	.select__label{

	}
	.select__line{

	}
	.select__triangle{

	}
	.select__list{

	}
	.select__list-item{

	}

	.fiat-amount{
		position: relative;
		width: calc(33.3333% - 15px);
	}

	.info-block{
		margin: 0 30px 32px;
		border-bottom: 1px solid #ECECEC;
		display: flex;
		justify-content: space-between;
		padding: 17px;
		@media(max-width: 1200px){
			border-bottom: 1px solid #94C2FF;
		}

		.left-part{
			max-width: 230px;
			width: 100%;
			margin-right: 30px;
			@media(max-width: 640px){
				max-width: unset;
				margin-right: 0;
			}
		}
		.left-block{
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.item-info{
			&:not(:last-child){
				margin-bottom: 11px;
			}
			
			display: flex;
			justify-content: space-between;
		}
		.key-info{
			font-weight: 400;
			font-size: 14px;
			line-height: 1.44;
			color: #4B4B4B;
			@media(max-width: 1200px){
				color: #94C2FF;
			}
		}
		.value-info{
			font-weight: 500;
			font-size: 14px;
			line-height: 1.44;
			text-align: right;
			color: #000000;
			@media(max-width: 1200px){
				color: #DEDEFB;
			}
		}
		.print{
			margin: 0;
			margin-top: auto;
			cursor: pointer;
			padding: 0;
			border: none;
			background: transparent;
			text-align: left;
			align-self: flex-start;
			svg{
				margin-right: 10px;
				vertical-align: middle;
			}
			span{
				font-weight: normal;
				font-size: 14px;
				line-height: 1.44;
				color: #237BEF;
				text-decoration: underline;
				text-decoration-style: dashed;
			}
		}
		.right-part{
			max-width: 280px;
			width: 100%;
		}
	}
	.balance__title-btn{
		margin: auto;
		margin-bottom: 57px;
	} 

}
.notice-block{
	padding: 27px 30px;
	background: #E9F2FF;
	.head-notice{
		font-weight: 500;
		font-size: 14px;
		line-height: 1.15;
		color: #000000;
		margin-bottom: 16px;
		display: block;
	}
	ul{
		li{
			position: relative;
			padding-left: 10px;
			margin-bottom: 8px;
			&:before{
				content: "";
				position: absolute;
				top: 4px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: #237BEF;
				left: 0;

			}
			span{
				font-weight: 400;
				font-size: 14px;
				line-height: 1.15;
				color: #4B4B4B;
				letter-spacing: -.15px;
			}
		}
	}
}

.modal__content{
	&.qubera-content{
		padding: 32px 0;
	}
}


.fiat-withdraw-s1{
	.main-form{
		margin-bottom: 28px;
		border-bottom: 1px solid #ECECEC;
	}
	.info-block {
		.item-info{
			justify-content: flex-start;
		}
		.key-info{
			margin-right: 56px;
			min-width: 143px;
		}
		.left-part{
			margin-left: auto;
			max-width: 510px;
			margin-right: 0;
		}
	}
}


.fiat-transfer{
	max-width: 400px;
	margin: 0 auto;
	padding-top: 40px;
	.input-block{
		position: relative;
	}
	p{
		font-weight: 400;
		font-size: 14px;
		line-height: 1.15;
		text-align: center;
		color: #000000;
		margin-bottom: 32px;
	}
	h2{
		margin-bottom: 18px;
	}
	form{
		max-width: 260px;
		margin: 0 auto;
		input{
			margin-bottom: 23px;
		}
		.balance__title-btn{
			margin-bottom: 23px;
			width: 100%;
		}	
	}
	.change-phone{
		text-align: center;
		margin-bottom: 240px;
	}
	a{
		font-weight: 400;
		font-size: 12px;
		line-height: 1.15;
		
		color: #237BEF;
		text-decoration: none;
	}
}

.fiat-create-acc-s2{
	padding-top: 0;
	margin-bottom: 0;
	form{
		input{
			margin-bottom: 10px;
		}
	}
	.resend{
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		span{
			font-weight: 400;
			font-size: 12px;
			line-height: 1.15;
			color: #AAB1C4;
		}
		button{
			font-weight: 400;
			font-size: 12px;
			line-height: 1.15;
			text-align: center;
			color: #237BEF;
			border: none;
			background: transparent;
			outline: none;

		}
	}
}
