@import "../../../../assets/scss/variables";

.widget {

  &__table-row {
    &:nth-of-type(odd) {
      background-color: unset;
    }

    &:hover {
      cursor: default;
    }
  }

  &__table-row-hover {
    &--green {
      // @media(max-width: 1199px){
      background: linear-gradient(270deg, #00B43D 0%, rgba(0, 180, 61, 0) 95.23%);
      // }
      &:hover {
        background-color: transparent;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          width: 100%;
          height: 24px;
          z-index: 0;
          background: rgba(0, 180, 60, .1);
          background: -moz-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 180, 60, .1)), color-stop(88%, rgba(0, 180, 60, .1)), color-stop(100%, rgba(0, 180, 60, 0)));
          background: -webkit-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
          background: -o-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
          background: -ms-linear-gradient(left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
          background: linear-gradient(to left, rgba(0, 180, 60, .1) 0%, rgba(0, 180, 60, .1) 88%, rgba(0, 180, 60, 0) 100%);
        }

        .txt-indicate {
          color: $green;
          @media(max-width: 1199px){
            color: #fff;
          }
        }
      }
    }

    &--red {
      @media(max-width: 1199px){

      background: linear-gradient(270deg, #EB5757 0%, rgba(235, 87, 87, 0) 95.23%);
      }
      &:hover {
        background-color: transparent;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          width: 100%;
          height: 24px;
          z-index: 0;
          background: rgba(235, 87, 87, .1);
          background: -moz-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235, 87, 87, .1)), color-stop(88%, rgba(235, 87, 87, .1)), color-stop(100%, rgba(235, 87, 87, 0)));
          background: -webkit-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
          background: -o-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
          background: -ms-linear-gradient(left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
          background: linear-gradient(to left, rgba(235, 87, 87, .1) 0%, rgba(235, 87, 87, .1) 88%, rgba(235, 87, 87, 0) 100%);
        }

        .txt-indicate {
          color: $red;
          @media(max-width: 1199px){
            color: #fff;
          }
        }
      }
    }
  }
}

.widget__content {
  height: calc(100vh - 104px);
}

.trade-history {
  &__table {
    position: relative;
    height: 100%;

    .table__cell, .table__cell-head {
      padding: 4px;

      &:first-of-type {
        padding-left: 12px;
      }

      &:last-of-type {
        padding-right: 12px;
      }
    }

    .widget__table-row {
      height: auto;
    }

  }

  &__thead {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__tbody {
    height: calc(100% - 22px);
  }

  &__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

:host {
  width: 100%;
}

@media (min-width: 1200px) {
  .widget {
    &__header {
      background-color: transparent;
    }
  }

  .widget__content {
    height: calc(100% - 41px);
  }

  .trade-history {
    &__table {
      margin-left: 16px;

      .table__cell, .table__cell-head {

        &:first-of-type {
          padding-left: 4px;
        }

        &:last-of-type {
          padding-right: 4px;
        }
      }

    }

    &__thead {
      width: calc(100% - 24px);
      margin-right: 24px;
    }

    &__tbody-inner {
      margin-right: 24px;
    }

  }
}


.loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

// TEMP STYLE
.trade_item {
  height: 22px;
}
app-trade-history-item{
    width: 100%;
    display: inline-table;
   
  }

  @media(max-width: 1199px){
    .trade-history__tbody-inner{
      padding: 0 10px;
    }
  }