<div class="modal__content qubera-content refil-s3">
  <div class="fiat-deposit-s1 fiat-withdraw-s1">
    <!-- <h2>{{'Transaction confirmation' | translate}}</h2> -->
    <h4
      class="popup__subtitle popup_title--dm"
      [ngClass]="{'msg-error' : isError}"
    >
      {{twoFaTitle}}
    </h4>
    <!-- <h4
      class="popup__subtitle popup_title--dm"
      *ngIf="googleAuthenticator"
    >
      {{'Use Google Authenticator to generate pincode' | translate}}
    </h4> -->

    <form
      [formGroup]="form"
      (submit)="submit(form)"
    >
      <div class="input-block">
        <input
          class="wrap-input__input"
          type="text"
          name="code"
          formControlName="code"
          inputmode="numeric"
          required
        >
        <label
          class="wrap-input__label"
          for="code"
        >{{'Code' | translate}}</label>
        <ng-container *ngIf="!currentCode.valid && !currentCode.untouched && !statusMessage">
          <div class="input-hint-wrapper">
            <span
              class="wrap-input__message"
              *ngIf="!currentCode.valid"
            >
              {{'Code field is required.' | translate}}
            </span>
          </div>
        </ng-container>
        <ng-container *ngIf="statusMessage">
          <div class="input-hint-wrapper">
            <span class="wrap-input__message">
              {{statusMessage | translate}}
            </span>
          </div>
        </ng-container>
      </div>
      <button
        class="btn btn--center"
        type="submit"
        [disabled]="!form.valid"
      >
        {{'Confirm' | translate}}
      </button>
    </form>
  </div>
</div>
