.widget{
  &__table-row {
    cursor: pointer;

    &:nth-of-type(odd) {
      background-color: unset;
    }
    &:hover {
      background-color: rgba(35, 123, 239, 0.1);
    }
  }
}

.tabs{
  &:after{
    display: none;
  }
  @media (min-width: 1200px){
    &:after{
      display: block;
    }
  }
}

//---------

tbody.table__body {
  overflow: hidden;
}

.tab-no-active{
  border-bottom: 2px solid transparent;
}

//ng-scrollbar{
//  display: block;
//  width: 100%;
//  //height: auto;
//  height: 380px;
//  margin: auto;
//  //padding: 5px;
//}
//::ng-deep .ng-scrollbar.-vertical.bar-class{
//  background: rgba(255,255,255, .2);
//  width: 3px !important;
//  right: 16px !important;
//}
//
//::ng-deep .ng-scrollbar-thumb.thumb2 {
//  background-color: #2a2a2a ;
//  width: 1px !important;
//}
//
:host {
  position: relative;
  width: 100%;
  height: auto;
}

.widget__content.widget__content--mob{
  perfect-scrollbar{
    height: calc(100vh - 175px);
  }
}

::ng-deep .ps__rail-y{
  background: #bd3820;
}

.widget__content{
  height: 100%;
  @media (min-width: 1200px){
    ::ng-deep.ps__rail-y {
      margin-right: 16px;
    }
  }
}
.widget__tabs{
  @media (min-width: 1200px){
    margin: 0 16px;
  }
}
.widget__markets-tabs{
position: fixed;
  bottom: 60px;
  width: 100%;
  z-index: 1000;
}
