:host {
  position: relative;
  width: 100%;
  height: auto;
}

.tabs {
  &:after {
    display: none;
  }

  @media (min-width: 1200px) {
    &__item {
      .fav {
        -webkit-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        fill: #A0A0A0;
      }

      &--active {
        .fav {
          fill: #fff;
        }
      }

      &:hover {
        .fav {
          fill: #fff;
        }
      }
    }
    &:after {
      display: block;
    }
  }
}

.markets__thead{
  @media (max-width: 1200px){
    padding: 0 14px 0 8px;
    .shape{
      svg{
        margin-bottom: -2px;
        margin-left: 3px;
      }
    }
  }
}


.tab-no-active {
  // border-bottom: 2px solid transparent;
  @media(max-width: 1199px){
        border: none;
      }
}

//scroll style start
.widget__content.widget__content--mob {
  perfect-scrollbar {
    height: calc(100vh - 178px);

  }

}

.widget__content--mob ::ng-deep perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
  background: #bd3820;
  @media(max-width: 1200px) {

    margin-right: 0;
    right: 5px!important;
    top: 5px!important;
  }
}

.widget__content {
  height: calc(100% - 44px);

  @media (min-width: 1200px) {
    height: 100%;
    ::ng-deep.ps__rail-y {
      margin-right: 16px;
    }
  }
}

//scroll style end
.widget__tabs {
  @media (min-width: 1200px) {
    margin: 0 16px;
  }
}

.widget__markets-tabs {
  // position: fixed;
  // bottom: 46px;
  width: 100%;
  //z-index: 1000;
}

.markets {
  &__table {
    position: relative;

    .table__cell {
      z-index: 2;
      .txt-small{
        font-size: 10px;
        line-height: 1.1;
      }

    }

    .widget__table-row {
      height: auto;
      margin-bottom: 4px;
    }

  }

  &__thead {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__selected-pair {
    background-color: rgba(35, 123, 239, 0.1);
  }
}
  .widget__tabs--mob{
display: flex;
    position: relative;
    bottom: auto;
}
@media (min-width: 1200px) {
  .widget__tabs--mob{
display: none;
}
  .markets {
    &__table {
      position: relative;
      margin-top: 4px;

      .widget__table-row {
        //height: 24px;
      }

      .table__cell {
        line-height: 16px;
        white-space: normal;

      }
    }

    &__thead {
      display: flex;
      width: calc(100% - 24px);
      margin-right: 24px;
    }

    &__tbody {
      //margin-right: 24px;
          // padding: 0 14px 0 8px;
    }

    &__row {
      width: 100%;
      min-height: 27px;

      &:hover {
        background-color: rgba(35, 123, 239, 0.1);
        cursor: pointer;

        .table__row-star {
          svg {
            display: inline-block;
          }
        }
      }
    }
  }
}


.loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.widget__content--mob perfect-scrollbar{
    padding: 6px 14px 6px 8px;
}


.markets_item {
   height: 31px;
}
 @media(max-width: 480px){
  .shape{
    display: inline-flex;
    height: 6px;
    svg{
      height: 100%;
    }
  }
 }
