:host {
  position: relative;
  width: 100%;
  height: auto;
}


.widget__content--mob perfect-scrollbar{
  padding: 6px 14px 6px 8px;
}


.widget__content.widget__content--mob {
  perfect-scrollbar {
    height: calc(100vh - 178px);

  }

}

.widget__content--mob ::ng-deep perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
  background: #bd3820;
  @media(max-width: 1200px) {

    margin-right: 0;
    right: 5px!important;
    top: 5px!important;
  }
}

.widget__content{
  opacity: 0;
  transform: translateY(15px);
  transition: .5s ease-out;
  &.active{
    opacity: 1;
  transform: translateY(0);
  }
}