<div class="table structure">
  <div class="thead">
    <div class="tr">
      <div class="table__cell-head table__cell-head--tal referals">Referrals</div>
      <div class="table__cell-head table__cell-head--tal name">Name</div>
      <div class="table__cell-head table__cell-head--tal link-cell">Link</div>
      <div class="table__cell-head table__cell-head--tal btc">Earned BTC</div>
      <div class="table__cell-head table__cell-head--tal usd">Earned USD</div>
      <div class="table__cell-head table__cell-head--tal usdt">Earned USDT
      </div>
    </div>
  </div>
  <div class="table__body">
    <ng-container *ngFor="let link of links">
      <app-structure-table-item
        [link]="link"
        (changeName)="changeName.emit($event)"
        (clickMainLink)="clickMainLink.emit($event)"
        (clickChild1Link)="clickChild1Link.emit($event)"
        (clickChild2Link)="clickChild2Link.emit($event)"
      ></app-structure-table-item>
    </ng-container>
  </div>
</div>
<!--table end-->
<!--paginator start-->
<!-- <div
      class="row row--aic orders__paginator"
      *ngIf="(countOfEntries$ | async) > countPerPage"
    >
      <app-page-items-dropdown
        [countPerPage]="countPerPage"
        [countOfEntries]="countOfEntries$ | async"
        (onChange)="changeItemsPerPage($event)"
      ></app-page-items-dropdown>
      <ul
        class="paginator"
        style="margin-left: auto;"
      >
        <pagination-controls
          maxSize="7"
          [previousLabel]="''"
          [nextLabel]="''"
          (pageChange)="changePage($event)"
        ></pagination-controls>
      </ul>
    </div> -->
<!--paginator end-->
