<div class="table structure">
  <div class="thead">
    <div class="tr">
      <div class="table__cell-head table__cell-head--tal referals">Referrals</div>
      <div class="table__cell-head table__cell-head--tal name">Name</div>
      <div class="table__cell-head table__cell-head--tal link-cell">Link</div>
      <div class="table__cell-head table__cell-head--tal btc">Earned BTC</div>
      <div class="table__cell-head table__cell-head--tal usd">Earned USD</div>
      <div class="table__cell-head table__cell-head--tal usdt">Earned USDT
      </div>
    </div>
  </div>
  <div class="table__body">
    <div class="table__row no-hover">
      <div class="row-wr">
        <div class="table__cell people referals">
          <div class="people-wr">
            <img
              src="/assets/img/people.svg"
              alt="people icon"
            >
            <span>16</span>
          </div>

        </div>
        <div class="table__cell name">
          <div class="ref-name-wr hidden">
            <span class="ref-name">My awesome structure</span>
            <div class="edit-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                  stroke="#94C2FF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 11.5L4.5 14"
                  stroke="#94C2FF"
                />
              </svg>
            </div>
          </div>
          <div class="edit-block">
            <div class="input-wr">
              <input
                type="text"
                value="My new structure"
              >
            </div>
            <div class="edit-btn-block">
              <div class="edit-btn done">
                <svg
                  width="15"
                  height="12"
                  viewBox="0 0 15 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 1L4.9 11L1 7"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="edit-btn cancel">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L11 11M11 1L1.00002 11"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>

        </div>
        <div class="table__cell link-cell">
          <div class="ref-lnk-wr">
            <span class="ref-lnk">exrates.me/register?ref=54571354462</span>
            <div
              class="ref-lnk-icon"
              onclick="this.classList.add('active')"
            >
              <svg
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.57143 12.5714H1V1H12.5714V3.57143"
                  stroke="#94C2FF"
                />
                <g filter="url(#filter0_d)">
                  <rect
                    x="5.35715"
                    y="5.35547"
                    width="13.1429"
                    height="13.1429"
                    stroke="#94C2FF"
                  />
                </g>
                <defs>
                  <filter
                    id="filter0_d"
                    x="4.85715"
                    y="4.85547"
                    width="14.1429"
                    height="14.1429"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood
                      flood-opacity="0"
                      result="BackgroundImageFix"
                    />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    />
                    <feOffset />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow"
                      result="shape"
                    />
                  </filter>
                </defs>
              </svg>
            </div>
          </div>
        </div>
        <div class="table__cell btc">
          <span>0.00000009 BTC</span>
        </div>
        <div class="table__cell usd">
          <span>101.01 USD</span>
        </div>
        <div class="table__cell usdt">
          <span>1291.12345678 USDT</span>
        </div>
      </div>
      <div class="table__row no-hover">
        <div class="row-wr">

          <div class="table__cell people referals">
            <div class="people-wr">
              <img
                src="/assets/img/people.svg"
                alt="people icon"
              >
              <span>16</span>
            </div>

          </div>
          <div class="table__cell name">
            <div class="ref-name-wr">
              <span class="ref-name">my***@***.com</span>
            </div>

          </div>
          <div class="table__cell link-cell">
            <div class="ref-lnk-wr">
              <span class="ref-lnk">1</span>
            </div>
          </div>
          <div class="table__cell btc">
            <span>0.00000009 BTC</span>
          </div>
          <div class="table__cell usd">
            <span>101.01 USD</span>
          </div>
          <div class="table__cell usdt">
            <span>1291.12345678 USDT</span>
          </div>
        </div>
      </div>
      <!-- 1 line referals -->
      <div class="table__row no-hover">
        <div class="row-wr">

          <div class="table__cell people referals">
            <div class="people-wr">
              <img
                src="/assets/img/people.svg"
                alt="people icon"
              >
              <span>16</span>
            </div>

          </div>
          <div class="table__cell name">
            <div class="ref-name-wr">
              <span class="ref-name">my***@***.com</span>
            </div>

          </div>
          <div class="table__cell link-cell">
            <div class="ref-lnk-wr">
              <span class="ref-lnk">1</span>
            </div>
          </div>
          <div class="table__cell btc">
            <span>0.00000009 BTC</span>
          </div>
          <div class="table__cell usd">
            <span>101.01 USD</span>
          </div>
          <div class="table__cell usdt">
            <span>1291.12345678 USDT</span>
          </div>
        </div>
      </div>
      <div class="table__row no-hover">
        <div class="row-wr">

          <div class="table__cell people referals">
            <div class="people-wr">
              <img
                src="/assets/img/people.svg"
                alt="people icon"
              >
              <span>16</span>
            </div>

          </div>
          <div class="table__cell name">
            <div class="ref-name-wr">
              <span class="ref-name">my***@***.com</span>
            </div>

          </div>
          <div class="table__cell link-cell">
            <div class="ref-lnk-wr">
              <span class="ref-lnk">1</span>
            </div>
          </div>
          <div class="table__cell btc">
            <span>0.00000009 BTC</span>
          </div>
          <div class="table__cell usd">
            <span>101.01 USD</span>
          </div>
          <div class="table__cell usdt">
            <span>1291.12345678 USDT</span>
          </div>
        </div>

        <!-- 2line -->
        <div class="table__row no-hover">
          <div class="row-wr">

            <div class="table__cell people referals">
              <div class="people-wr">
                <img
                  src="/assets/img/people.svg"
                  alt="people icon"
                >
                <span>16</span>
              </div>

            </div>
            <div class="table__cell name">
              <div class="ref-name-wr">
                <span class="ref-name">my***@***.com</span>
              </div>

            </div>
            <div class="table__cell link-cell">
              <div class="ref-lnk-wr">
                <span class="ref-lnk">2</span>
              </div>
            </div>
            <div class="table__cell btc">
              <span>0.00000009 BTC</span>
            </div>
            <div class="table__cell usd">
              <span>101.01 USD</span>
            </div>
            <div class="table__cell usdt">
              <span>1291.12345678 USDT</span>
            </div>
          </div>
        </div>
        <div class="table__row no-hover">
          <div class="row-wr">

            <div class="table__cell people referals">
              <div class="people-wr">
                <img
                  src="/assets/img/people.svg"
                  alt="people icon"
                >
                <span>16</span>
              </div>

            </div>
            <div class="table__cell name">
              <div class="ref-name-wr">
                <span class="ref-name">my***@***.com</span>
              </div>

            </div>
            <div class="table__cell link-cell">
              <div class="ref-lnk-wr">
                <span class="ref-lnk">2</span>
              </div>
            </div>
            <div class="table__cell btc">
              <span>0.00000009 BTC</span>
            </div>
            <div class="table__cell usd">
              <span>101.01 USD</span>
            </div>
            <div class="table__cell usdt">
              <span>1291.12345678 USDT</span>
            </div>
          </div>

          <!-- 3line-->

          <div class="table__row no-hover">
            <div class="row-wr">

              <div class="table__cell people referals">

              </div>
              <div class="table__cell name">
                <div class="ref-name-wr">
                  <span class="ref-name">my***@***.com</span>
                </div>
              </div>
              <div class="table__cell link-cell">
                <div class="ref-lnk-wr">
                  <span class="ref-lnk">3</span>
                </div>
              </div>
              <div class="table__cell btc">
                <span>0.00000009 BTC</span>
              </div>
              <div class="table__cell usd">
                <span>101.01 USD</span>
              </div>
              <div class="table__cell usdt">
                <span>1291.12345678 USDT</span>
              </div>
            </div>
          </div>
          <div class="table__row no-hover">
            <div class="row-wr">

              <div class="table__cell people referals">

              </div>
              <div class="table__cell name">
                <div class="ref-name-wr">
                  <span class="ref-name">my***@***.com</span>
                </div>
              </div>
              <div class="table__cell link-cell">
                <div class="ref-lnk-wr">
                  <span class="ref-lnk">3</span>
                </div>
              </div>
              <div class="table__cell btc">
                <span>0.00000009 BTC</span>
              </div>
              <div class="table__cell usd">
                <span>101.01 USD</span>
              </div>
              <div class="table__cell usdt">
                <span>1291.12345678 USDT</span>
              </div>
            </div>
          </div>
          <div class="table__row no-hover">
            <div class="row-wr">

              <div class="table__cell people referals">

              </div>
              <div class="table__cell name">
                <div class="ref-name-wr">
                  <span class="ref-name">my***@***.com</span>
                </div>
              </div>
              <div class="table__cell link-cell">
                <div class="ref-lnk-wr">
                  <span class="ref-lnk">3</span>
                </div>
              </div>
              <div class="table__cell btc">
                <span>0.00000009 BTC</span>
              </div>
              <div class="table__cell usd">
                <span>101.01 USD</span>
              </div>
              <div class="table__cell usdt">
                <span>1291.12345678 USDT</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="table__row no-hover">
      <div class="row-wr">


        <div class="table__cell people referals">
          <div class="people-wr">
            <img
              src="/assets/img/people.svg"
              alt="people icon"
            >
            <span>16</span>
          </div>

        </div>
        <div class="table__cell name">
          <div class="ref-name-wr">
            <span class="ref-name">My awesome structure</span>
            <div class="edit-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                  stroke="#94C2FF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 11.5L4.5 14"
                  stroke="#94C2FF"
                />
              </svg>
            </div>
          </div>
          <div class="edit-block hidden">
            <div class="input-wr">
              <input
                type="text"
                value="My new structure"
              >
            </div>
            <div class="edit-btn-block">
              <div class="edit-btn done">
                <svg
                  width="15"
                  height="12"
                  viewBox="0 0 15 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 1L4.9 11L1 7"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="edit-btn cancel">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L11 11M11 1L1.00002 11"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>

        </div>
        <div class="table__cell link-cell">
          <div class="ref-lnk-wr">
            <span class="ref-lnk">exrates.me/register?ref=54571354462</span>
            <div
              class="ref-lnk-icon"
              onclick="this.classList.add('active')"
            >
              <svg
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.57143 12.5714H1V1H12.5714V3.57143"
                  stroke="#94C2FF"
                />
                <g filter="url(#filter0_d)">
                  <rect
                    x="5.35715"
                    y="5.35547"
                    width="13.1429"
                    height="13.1429"
                    stroke="#94C2FF"
                  />
                </g>
                <defs>
                  <filter
                    id="filter0_d"
                    x="4.85715"
                    y="4.85547"
                    width="14.1429"
                    height="14.1429"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood
                      flood-opacity="0"
                      result="BackgroundImageFix"
                    />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    />
                    <feOffset />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow"
                      result="shape"
                    />
                  </filter>
                </defs>
              </svg>
            </div>
          </div>
        </div>
        <div class="table__cell btc">
          <span>0.00000009 BTC</span>
        </div>
        <div class="table__cell usd">
          <span>101.01 USD</span>
        </div>
        <div class="table__cell usdt">
          <span>1291.12345678 USDT</span>
        </div>
      </div>
    </div>
    <div class="table__row no-hover">
      <div class="row-wr">
        <div class="table__cell people referals">
          <div class="people-wr">
            <img
              src="/assets/img/people.svg"
              alt="people icon"
            >
            <span>16</span>
          </div>

        </div>
        <div class="table__cell name">
          <div class="ref-name-wr">
            <span class="ref-name">My awesome structure</span>
            <div class="edit-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                  stroke="#94C2FF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 11.5L4.5 14"
                  stroke="#94C2FF"
                />
              </svg>
            </div>
          </div>
          <div class="edit-block hidden">
            <div class="input-wr">
              <input
                type="text"
                value="My new structure"
              >
            </div>
            <div class="edit-btn-block">
              <div class="edit-btn done">
                <svg
                  width="15"
                  height="12"
                  viewBox="0 0 15 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 1L4.9 11L1 7"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="edit-btn cancel">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L11 11M11 1L1.00002 11"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>

        </div>
        <div class="table__cell link-cell">
          <div class="ref-lnk-wr">
            <span class="ref-lnk">exrates.me/register?ref=54571354462</span>
            <div
              class="ref-lnk-icon"
              onclick="this.classList.add('active')"
            >
              <svg
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.57143 12.5714H1V1H12.5714V3.57143"
                  stroke="#94C2FF"
                />
                <g filter="url(#filter0_d)">
                  <rect
                    x="5.35715"
                    y="5.35547"
                    width="13.1429"
                    height="13.1429"
                    stroke="#94C2FF"
                  />
                </g>
                <defs>
                  <filter
                    id="filter0_d"
                    x="4.85715"
                    y="4.85547"
                    width="14.1429"
                    height="14.1429"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood
                      flood-opacity="0"
                      result="BackgroundImageFix"
                    />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    />
                    <feOffset />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow"
                      result="shape"
                    />
                  </filter>
                </defs>
              </svg>
            </div>
          </div>
        </div>
        <div class="table__cell btc">
          <span>0.00000009 BTC</span>
        </div>
        <div class="table__cell usd">
          <span>101.01 USD</span>
        </div>
        <div class="table__cell usdt">
          <span>1291.12345678 USDT</span>
        </div>
      </div>
    </div>
    <div class="table__row no-hover">
      <div class="row-wr">
        <div class="table__cell people referals">
          <div class="people-wr">
            <img
              src="/assets/img/people.svg"
              alt="people icon"
            >
            <span>16</span>
          </div>

        </div>
        <div class="table__cell name">
          <div class="ref-name-wr">
            <span class="ref-name">My awesome structure</span>
            <div class="edit-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                  stroke="#94C2FF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 11.5L4.5 14"
                  stroke="#94C2FF"
                />
              </svg>
            </div>
          </div>
          <div class="edit-block hidden">
            <div class="input-wr">
              <input
                type="text"
                value="My new structure"
              >
            </div>
            <div class="edit-btn-block">
              <div class="edit-btn done">
                <svg
                  width="15"
                  height="12"
                  viewBox="0 0 15 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 1L4.9 11L1 7"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="edit-btn cancel">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L11 11M11 1L1.00002 11"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>

        </div>
        <div class="table__cell link-cell">
          <div class="ref-lnk-wr">
            <span class="ref-lnk">exrates.me/register?ref=54571354462</span>
            <div
              class="ref-lnk-icon"
              onclick="this.classList.add('active')"
            >
              <svg
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.57143 12.5714H1V1H12.5714V3.57143"
                  stroke="#94C2FF"
                />
                <g filter="url(#filter0_d)">
                  <rect
                    x="5.35715"
                    y="5.35547"
                    width="13.1429"
                    height="13.1429"
                    stroke="#94C2FF"
                  />
                </g>
                <defs>
                  <filter
                    id="filter0_d"
                    x="4.85715"
                    y="4.85547"
                    width="14.1429"
                    height="14.1429"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood
                      flood-opacity="0"
                      result="BackgroundImageFix"
                    />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    />
                    <feOffset />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow"
                      result="shape"
                    />
                  </filter>
                </defs>
              </svg>
            </div>
          </div>
        </div>
        <div class="table__cell btc">
          <span>0.00000009 BTC</span>
        </div>
        <div class="table__cell usd">
          <span>101.01 USD</span>
        </div>
        <div class="table__cell usdt">
          <span>1291.12345678 USDT</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--table end-->
<!--paginator start-->
<!-- <div
      class="row row--aic orders__paginator"
      *ngIf="(countOfEntries$ | async) > countPerPage"
    >
      <app-page-items-dropdown
        [countPerPage]="countPerPage"
        [countOfEntries]="countOfEntries$ | async"
        (onChange)="changeItemsPerPage($event)"
      ></app-page-items-dropdown>
      <ul
        class="paginator"
        style="margin-left: auto;"
      >
        <pagination-controls
          maxSize="7"
          [previousLabel]="''"
          [nextLabel]="''"
          (pageChange)="changePage($event)"
        ></pagination-controls>
      </ul>
    </div> -->
<!--paginator end-->
