:host{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.market-search__content{



}
@media(max-width: 1200px){
  .market-search__top{
    margin-top: 10px;
  }
}


.market-search{
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #191A39;
  z-index: 2;
}

perfect-scrollbar{
  height: calc(100vh - 154px);
  position: relative;
  ::ng-deep.ps__rail-y {
    margin-right: 0 !important;
  }
}
.widget__table .table__cell {
  padding: 2px 1px;
}
.table__row-star svg{
  fill: #4A5D88;
}

.table__cell--start {
  padding-left: 12px !important;
}
.table__cell--end {
  padding-right: 12px !important;
}
