<!-- start component -->
<div class="ieo_info">
  <div class="ieo_info-wrapper" *ngIf="description">
    <div class="text-info-block">
      <h4>{{'project introduction' | translate}}</h4>
      <!-- <p>{{description.introduction}}</p> -->
      <p>E-Tao Network is a leading layer 2 scaling platform that enables fast, easy and secure off-chain transactions for not only payment transactions, but also generalized off-chain smart contract. Founded by four PhDs from MIT, Princeton, UC Berkeley and UIUC, the network enables everyone to quickly build, operate, and use highly scalable decentralized applications through innovations in off-chain scaling techniques and incentive-aligned cryptoeconomics mechanism designs. Celer Network is on a mission to fully unleash the power of blockchain and revolutionize how decentralized applications are built and used.</p>
    </div>
    <div class="text-info-block" *ngIf="description.keyFeatures.length">
      <h4>{{'Key features' | translate}}</h4>
      <ul class="features-list">
        <!-- <li class="features-list-item" *ngFor="let feature of description.keyFeatures">
          <span>{{'feature' | translate}}</span>
        </li> -->
         <li class="features-list-item">
          <span>Already archived 10,000X transaction latency reduction</span>
        </li>
        <li class="features-list-item">
          <span>Zero off-chain small contract transaction fees</span>
        </li>
        <li class="features-list-item">
          <span>Accelerates both paymant and smart contracts</span>
        </li>
        <li class="features-list-item">
          <span>100X fee reduction for micro paymant</span>
        </li>
        <li class="features-list-item">
          <span>Horizontaly scalable as more nodes joining</span>
        </li>
        <li class="features-list-item">
          <span>Provably optimal off-chain payment ruiting algorithm</span>
        </li>
        <li class="features-list-item">
          <span>The world's first off-chain cripto economics model to ensure sufety and high liquidity</span>
        </li>
        <li class="features-list-item">
          <span>Blockchain agnostic (already support Ethereum? DFINITY and all EVM based blockchains)</span>
        </li>

      </ul>
    </div>

    <div class="rating">
      <div class="rating-title">
        <h4>{{'Rating for ' | translate}}{{ieoToken || 'Token'}}</h4>
      </div>
      <div class="rating-item-wr">
        <div class="rating-item">
          <div class="rating-item-inner">
            <div class="logo-rating">
              <img src="assets/img/ieo/icomarks.svg" alt="">
            </div>
            <div class="rating-text">
              <div class="rating-title-item">
                <span>{{'Rating' | translate}}</span>
              </div>
              <div class="rating-value">
                <span class="current-rating">9.8</span>
                /
                <span class="max-rating">10</span>
              </div>
            </div>
          </div>
        </div>
        <div class="rating-item">
          <div class="rating-item-inner">
            <div class="logo-rating">
              <img src="assets/img/ieo/icobench.svg" alt="">
            </div>
            <div class="rating-text">
              <div class="rating-title-item">
                <span>{{'Rating' | translate}}</span>
              </div>
              <div class="rating-value">
                <span class="current-rating">4.9</span>
                /
                <span class="max-rating">5</span>
              </div>
            </div>
          </div>

        </div>
        <div class="rating-item">
          <div class="rating-item-inner">
            <div class="logo-rating">
              <img src="assets/img/ieo/icotop.svg" alt="">
            </div>
            <div class="rating-text">
              <div class="rating-title-item">
                <span>{{'Rating' | translate}}</span>
              </div>
              <div class="rating-value">
                <span class="current-rating">A2</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="economics standart-pg">
      <div class="economics-inner">
        <div class="text-info-block">
          <h4>{{ieoToken || ''}}{{' Token sale and economics' | translate}}</h4>
        </div>
        <div class="economics-table">
          <div class="economics-table-wr">
            <div class="economics-table-item" *ngFor="let item of description.table">
              <div class="table-item-description">
                <p>{{item.name}}</p>
              </div>
              <div class="table-item-value">
                <p>{{item.desc}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="allocation standart-pg">
      <div class="text-info-block">
        <h4>{{'Token Allocaation' | translate}}</h4>
      </div>
      <div class="allocation-graph" id="allocation-graph">
        <img src="assets/img/ieo/graph1.png" alt="">
      </div>
    </div>

    <div class="schedule standart-pg">
      <div class="text-info-block">
        <h4>{{ieoToken || ''}}{{' token release schedule' | translate}}</h4>
      </div>
      <div class="schedule-graph" id="schedule-graph">
        <img src="assets/img/ieo/graph2.png" alt="">
      </div>
    </div>

  </div>
</div>

<!-- end component -->
