<div class="fs-slider-container bottom-slider">
  <div class="bottom-arrows-container"></div>
  <ngx-slick-carousel
    class="carousel"
    #slickModal2="slick-carousel"
    (afterChange)="afterChange($event)"
    [config]="slideConfig"
  >
    <div
      ngxSlickItem
      class="slider-item"
    >
      <div class="bg-wr">
        <img
          src="assets/img/b-slider1.jpg"
          alt=""
        >
      </div>
      <div class="slide-txt">
        <div class="top-part">
          <div class="coin-part">
            <div class="logo">
              <img
                src="assets/img/eth-logo.svg"
                alt=""
              >
            </div>
            <div class="additional-info">
              <p>0.123 BTC<span>Volume: 121.089 BTC</span></p>
            </div>
          </div>

          <div class="type">
            <span>Анонс листинга</span>
          </div>
        </div>
        <div class="txt-inner">
          <h2>The most popular <br> currency is now in <br> is trading on Exrates</h2>
        </div>
      </div>
      <div class="slide-link">
        <a
          class="btn balance__title-btn"
          href="#"
        >
          By ETH Now
        </a>
      </div>
    </div>
    <div
      ngxSlickItem
      class="slider-item"
    >
      <div class="bg-wr">
        <img
          src="assets/img/b-slider2.jpg"
          alt=""
        >
      </div>
      <div class="slide-txt">
        <div class="top-part">
          <div class="coin-part">
            <div class="logo">
              <img
                src="assets/img/btc-logo.svg"
                alt=""
              >
            </div>
            <div class="additional-info">
              <p>0.123 BTC<span>Volume: 121.089 BTC</span></p>
            </div>
          </div>

          <div class="type">
            <span>Анонс листинга</span>
          </div>
        </div>
        <div class="txt-inner">
          <h2>The most popular currency<br> is now in the game industry <br> together with UBISOFT</h2>
        </div>

      </div>
      <div class="slide-link">
        <a
          class="btn balance__title-btn"
          href="#"
        >
          By BTC Now
        </a>
      </div>
    </div>
    <div
      ngxSlickItem
      class="slider-item"
    >
      <div class="bg-wr">
        <img
          src="assets/img/fs-sl1.jpg"
          alt=""
        >
      </div>
      <div class="slide-txt">
        <div class="top-part">
          <div class="coin-part">
            <div class="logo">
              <img
                src="assets/img/btc-logo.svg"
                alt=""
              >
            </div>
            <div class="additional-info">
              <p>0.123 BTC<span>Volume: 121.089 BTC</span></p>
            </div>
          </div>

          <div class="type">
            <span>Анонс листинга</span>
          </div>
        </div>
        <div class="txt-inner">

          <h2> <span> 172,000 </span> traders </h2>
          <p> Register and become part of the Exrates trading community </p>
        </div>

      </div>
      <div class="slide-link">
        <a
          class="btn balance__title-btn"
          href="#"
        >
          By BTC Now
        </a>
      </div>
    </div>
  </ngx-slick-carousel>
  <div class="slider-dots">
    <div
      class="dots-item"
      [ngClass]="{'active': currSlide == '0'}"
      (click)="slickModal2.slickGoTo(0)"
    >
      <img
        src="assets/img/prev1.jpg"
        alt=""
      >
    </div>
    <div
      class="dots-item"
      [ngClass]="{'active': currSlide == '1'}"
      (click)="slickModal2.slickGoTo(1)"
    >
      <img
        src="assets/img/prev2.jpg"
        alt=""
      >
    </div>
    <div
      class="dots-item"
      [ngClass]="{'active': currSlide == '2'}"
      (click)="slickModal2.slickGoTo(2)"
    >
      <img
        src="assets/img/prev3.jpg"
        alt=""
      >
    </div>

  </div>
</div>
