<div class="fs-slider-container bottom-slider">
  <div class="bottom-arrows-container"></div>
  <ngx-slick-carousel
    class="carousel run-line-inner"
    #slickModal2="slick-carousel"
    (afterChange)="afterChange($event)"
    [config]="slideConfig">
    <div
      ngxSlickItem
      class="slider-item">
      <div class="bg-wr">
        <img src="assets/img/b-slider1.jpg" alt="">
      </div>
      <div class="slide-txt">
        <div class="txt-inner">
          <h2>Самая популярная <br>валюта теперь в <br>торгуется на Exrates</h2>
        </div>
      </div>
    </div>
    <div
      ngxSlickItem
      class="slider-item">
      <div class="bg-wr">
        <img src="assets/img/b-slider2.jpg" alt="">
      </div>
      <div class="slide-txt">
        <div class="txt-inner">
          <h2>Самая популярная <br>валюта теперь в гейм <br>индустрии вместе
            <br>с UBISOFT</h2>
        </div>
      </div>
    </div>
    <div
      ngxSlickItem
      class="slider-item">
      <div class="bg-wr">
        <img src="assets/img/fs-sl1.jpg" alt="">
      </div>
      <div class="slide-txt">
        <div class="txt-inner">
          <h2><span>172,000 </span>трейдеров</h2>
          <p>Регистрируйся и стань частью трейдерского сообщества Exrates</p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  <div class="slider-dots">
    <div
      class="dots-item"
      [ngClass]="{'active': currSlide == '0'}"
      (click)="slickModal2.slickGoTo(0)">
      <img src="assets/img/prev1.jpg" alt="">
    </div>
    <div
      class="dots-item"
      [ngClass]="{'active': currSlide == '1'}"
      (click)="slickModal2.slickGoTo(1)">
      <img src="assets/img/prev2.jpg" alt="">
    </div>
    <div
      class="dots-item"
      [ngClass]="{'active': currSlide == '2'}"
      (click)="slickModal2.slickGoTo(2)">
      <img src="assets/img/prev3.jpg" alt="">
    </div>

  </div>
</div>
