.ieo-popup-buy{
	.wrap-input__label {
		top: 16px;
	}
	@media (min-width: 600px){
		.wrap-input__label {
			top: 16px;
		}
	}
	.btn{
		line-height: 46px;
	}
	.temp-style{
		font-size: 14px;
		color: #000;
		@media(max-width: 1199px) {
			color: #DEDEFB;
		}
	}
	.wrap-input__input{
		height: 48px;
		margin-bottom: 14px;
		@media(max-width: 1199px) {
			color: #DEDEFB;
		}
	}
	.wrap-input--error .wrap-input__input {
    margin-bottom: 7px;
    color: #DEDEFB;
	}

	.wrap-input__currency {
		@media (max-width: 992px){
			color: #a0a0a0;
			font-size: 14px;
			line-height: 36px;

		}
	}
	.popup{
		justify-content: flex-start;
		@media(max-width: 1199px){
			justify-content: center;
			// max-width: 400px;
			margin: 0 auto;
		}
	}
	.btn-ieo{
		&[disabled]{

			background-color: #D6D6D6;
			pointer-events: none;
			color: #fff;
			border-color: #D6D6D6;
		}
	}
	.popup{
		position: relative;
		padding: 38px;
		@media(max-width: 1199px){
			background-color: #191A39;
		}
	}
	.ieo-pair{
		padding: 10px 7px;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		background: #E5E5E5;
		border-radius: 4px 4px 0px 0px;
		font-weight: 500;
		font-size: 18px;
		color: #191A39;
		text-align: center;
		@media(max-width: 1199px){
			border-radius: 0;
		}
		span{
		}
	}
	.popup__title{
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		margin-top: 15px;
		margin-bottom: 0;
		font-weight: 600;
		@media(max-width: 1199px) {
			color: #DEDEFB;
			margin-bottom: 10px;
		}
	}
	.balance-txt{
		margin-top: 6px;
		font-size: 12px;
		text-align: center;
		margin-bottom: 20px;
		color: #A0A0A0;
		// @media(max-width: 1199px) {
		// 	    color: #DEDEFB;
		// }
		span{

		}
	}
	.input-part{
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		@media(max-width: 1199px) {
			color: #DEDEFB;
		}
	}

	.avaliable{
		font-size: 12px;
		text-align: right;
		color: #191A39;
		margin-bottom: 4px;
		@media(max-width: 1199px) {
			color: #DEDEFB;
		}
		a{
			font-size: 12px;
			color: #191A39;
			text-decoration: none;
			@media(max-width: 1199px) {
				color: #DEDEFB;
			}
		}
	}
	.wrap-input{

	}
	.max-value{
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		margin-bottom: 31px;
		padding-left: 3px;
		@media(max-width: 1199px) {
			color: #DEDEFB;
			margin-bottom: 13px;

		}
		a{
			font-size: 14px;

			text-decoration: none;

			color: #237BEF;
		}
	}
	.pay{
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-left: 4px;
		margin-bottom: 29px;
		p{
			font-size: 14px;
			color: #191A39;
			font-weight: 600;
			@media(max-width: 1199px) {
				color: #DEDEFB;
			}
		}
	}
	.capcha{
		color: #191A39;
		font-weight: 600;
		font-size: 24px;
		margin: 0 auto;
		padding: 23px 0;
	}
	.btn{

		max-width: 410px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.popup__close {
		@media(max-width: 1199px){
			top: 51px;

		}
	}

}
