.ieo_info{
	max-width: 1409px;
	margin: 0 auto;
	padding: 1em 40px 1.5em 53px;
	@media(max-width: 1200px){
		padding: 1em 15px 1em;
	}
	@media (max-width: 992px) {
		font-size: 1.1em;
	}
	.ieo_info-wrapper{
		background: #FFFFFF;
		box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		color: #191A39;
		padding: 4.4em 4.5em 4.4em 4.3em;
		@media (max-width: 992px) {
			padding: 1.5em 1em;
		}
	}
	.text-info-block{
		margin-bottom: 3.65em;
		&+.text-info-block{
			margin-bottom: 0;
		}
		@media (max-width: 992px) {
			margin-bottom: 2em;
		}
	}
	h4{
		font-size: 1.75em;
		text-transform: uppercase;
		color: #000000;
		letter-spacing: .05em;
		font-weight: 600;
		text-align: center;
		margin-bottom: .8em;
		@media(max-width: 992px) {
			font-size: 1.3em;
		}
	}
	p{
		line-height: 1.37;
		font-size: .89em;
	}
	.key-features-wr{
		display: flex;
		align-items: center;
		margin-bottom: 1.3em;
		@media(max-width: 992px){
			flex-direction: column;

		}
		&+.key-features-wr{
			margin-bottom: 0;
		}
	}
	.graph-wr{
		
		img{
				max-width: 100%;
			@media(min-width: 1201px){
				margin-right: -3em;
			}
		}
	}
	.infogr-wr{
		width: 16.3em;
		margin-right: .7em;
		@media(max-width: 992px){
			margin-right: 0;
			margin-bottom: .6em;
			
		}
		img{
			width: 100%;

		}

	}
	.eco-gr-wr{
		display: flex;
		align-items: center;
		@media(max-width: 1200px){
			flex-direction: column-reverse;

		}
		.economics-table{
			width: calc(100% - 20em);
			@media(max-width: 1200px){
				width: 100%;

			}
		}
		.table-item-description{
			&:first-of-type{
				width: 14.2em;
				@media(max-width: 1200px){
					width: 30em;
					    max-width: 33.333%;

				}
			}
			&:last-of-type{
				width: 12.3em;
				@media(max-width: 1200px){
					width: 30em;
					    max-width: 33.333%;

				}
			}
		}
		.table-item-description{

			width: 11.7em;
			@media(max-width: 1200px){
				width: 30em;
				    max-width: 33.333%;

			}
		}
	}
	.last-block{
		margin-bottom: 0;
		p{
			margin-bottom: 1em;
			line-height: 1.27;
			color: #000000;
		}
	}

	.last-block{

	}
	.features-list{
		margin-top: .6em;
		@media(min-width: 993px){

			width: calc(100% - 17em);
		}
	}
	.features-list-item{
		position: relative;
		margin-bottom: 1.95em;
		@media(max-width: 992px){
			text-align: center;
			font-size: 1.3em;
		}
		p{
			font-weight: 600;
			font-size: .7em;
			line-height: 1.29;
			text-transform: uppercase;
			color: #000000;
		}
		span{
			font-weight: 400;
			font-size: .7em;
			display: block;
			line-height: 1.29;
			color: #000000;
		}
	}
	.rating{
		max-width: 48em;
		margin: 0 auto;
		padding-top: 0;
		padding-bottom: 2.15em;
		@media(max-width: 992px){
			padding-bottom: 0;
			padding-top: 1em;
		}
		.rating-title{
			margin-bottom: 3.65em;
			@media(max-width: 992px){
				margin-bottom: 1em;
			}
			h4{
				text-align: center;
			}
		}
		.rating-item-wr{
			display: flex;
			justify-content: space-between;
			@media(max-width: 992px){
				flex-direction: column;
				align-items:center;
				justify-content: center;

			}
		}
		.rating-item{
			position: relative;
			@media(max-width: 992px){
				margin-bottom: 1.5em;
				text-align: center;
			}
			@media (min-width: 993px) {

				&:first-child{
					padding-right: 4.2em;

				}
				&:nth-child(2){
					padding-right: 4.2em;
					padding-left: 4.2em;
					&::before, &::after{
						content: "";
						position: absolute;
						top: 0;
						bottom: 1em;
					// height: 100%;
					width: 1px;
					background-color: #ECECEC;
					
				}
				&::before{
					left: 0;
				}
				&::after{
					right: 0;
				}

			}
			&:last-child{
				padding-left: 4.2em;
			}
		}
	}
	.logo-rating{
		img{

		}
	}
	.rating-text{

	}
	.rating-title-item{
		text-align: center;
		line-height: 1.1;
		span{
			font-size: .6em;
			line-height: normal;
			text-transform: uppercase;
			font-variant: small-caps;
			font-weight: 500;
			color: #C4C4C4;
		}
	}
	.rating-value{
		font-weight: 500;
		font-size: 1.8em;
		text-transform: uppercase;
		color: #C4C4C4;
		text-align: center;
		line-height: 1.2em;
	}
	.current-rating{

		color: #237BEF;
	}
	.max-rating{
	}
}
}

.standart-pg{
	padding-top: 1.7em;
	padding-bottom: 2.35em;
}
.allocation{
	padding-top: 2.4em;
	padding-bottom: 1.2em;
	.text-info-block{
		margin-bottom: 0;
		h4{
			margin-bottom: .5em;
		}
	}
}
.allocation-graph{
	text-align: center;
	img{
		max-width: 100%;

		position: relative;
	}
}
.schedule{
	padding-bottom: 20px;
	
}
.schedule-graph{
	img{
		max-width: 100%;
		width: 100%;
	}
}