.ieo_how_it_work{
	@media (max-width: 992px) {
		font-size: 1.2em;
	}
	.ieo_how_it_work-title{
		margin-bottom: 1.3em;
		h3{
			font-size: 1.2em;
			@media (max-width: 992px) {
				text-align: center;
			}
		}
	}
	.ieo_how_it_work-wr{
		    padding: 2.35em 45px 4em 54px;
		max-width: 1464px;
		margin: 0 auto;
		@media(max-width: 1200px){
			padding: 2.55em 15px 5.2em;
		}
	}
	.ieo_work-item-wr{
		display: flex;
		justify-content: space-between;
		@media (max-width: 992px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

	}
	.ieo_how_it_work-item{

		&:not(:last-child){
			width: 20%;
			@media (max-width: 992px) {
				width: auto;
				margin-bottom: 2em;
			}
		}
	}
	.ieo_how_it_work-item-inner{
		max-width: 10.1em;
		position: relative;
		@media (max-width: 992px) {
			max-width: unset;
			padding: 0 1.7em;
		}
		.pics-container{
			height: 4em;
			display: flex;
			align-items: flex-end;
			margin-bottom: 1.5em;
			@media (max-width: 992px) {
				height: auto;
				margin-bottom: 1em;
				justify-content: center;
				
			}
			img{

			}
		}
		.text-container{
			@media (max-width: 992px) {
				text-align: center;
			}
			h5{
				font-size: .95em;
				text-transform: uppercase;
				color: #FFFFFF;
				font-weight: 500;
				    margin-bottom: .6em;
    line-height: 1.27;
			}
			p{
				font-size: .8em;
				color: #5E5F74;
				font-weight: 500;
				    line-height: 1.22;

			}
		}
	}
	.shape{
		position: absolute;
		right: 0;
		top: 2em;
		@media (max-width: 992px) {
			display: none;
		}
	}
}