.page-wrap{
	&.ieo-page-header{
		.ieo-header{
			transform: translateY(0);
		}
	}
}

.ieo-header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	background-color: #191a39;
	transition: .3s;
	transform: translateY(-105%);
	@media (max-width: 1199px) {
		display: none;
	}
	.ieo-header-inner{
		display: flex;
		align-items: center;
		max-width: 1464px;
		height: 100%;
		margin: 0 auto;
		padding: 5px 34px;
	}
	.ieo-header-item{
		display: flex;
		align-items: center;
		span{
			display: block;
		}
		&:not(:last-child){
			&:after{
				content: "";
				height: 27px;
				width: 1px;
				background-color: rgba(255, 255, 255, 0.3);
				margin: 0 .9em;
			}
		}

		.logo-wr{
			margin-left: 16px;
			svg{
				display: block;

			}
		}

		.current-ieo-text{

			p{
				line-height: 1;
				font-weight: 500;
				font-size: .9em;
				color: #5E5F74;

			}
		}
		.sell-progress{
			margin-right: 12px;
			position: relative;

			svg{
				display: block;
				path{

				}
			}
			.progress-bar{
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				transform: rotate(-90deg);
				path{
					stroke-dasharray: 127;
					stroke-dashoffset: 127;
				}
			}
			span{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 10px;
				color: #FFFFFF;
			}
		}
		.available-value{
			font-weight: 500;
			font-size: 1em;
			line-height: 1;
			display: flex;
			align-item: center;
			color: #FFFFFF;
		}
		.available-value-text{
			margin-right: 4px;
		}
		.available-value-currency{
			font-size: 14px;
			display: flex;
			align-items: center;
			padding-top: 3px;

		}
		.ieo-amount{
			display: flex;
			align-items: center;
		}
		.amount-value{
			font-weight: 500;
			font-size: 14px;
			line-height: 1;

			color: #FFFFFF;
		}
		.ieo-buy-button{
      margin: 0 1.1em;
      .wrapper-ieo-btn {
        position: relative;
      }
		}
		.btn-ieo{
			width: 95px;
			height: 32px;
			display: flex;
			justify-content: center;
			align-items: center;

			span{
				font-size: 14px;
				line-height: .9;

			}
			&[disabled]{
				background: #5E5F74;
				cursor: default;
				border: 1px solid #5E5F74;
				span{
					color: #fff;
				}
			}
		}
		.field-description{
			font-weight: 500;
			font-size: 14px;
			line-height: 1;

			color: #5E5F74;
			margin-right: 4px;
		}
		.ieo-price{
			display: flex;
			align-items: center;
		}
		.price-value{
			font-weight: 500;
			font-size: 14px;
			line-height: 1;

			color: #FFFFFF;
		}
	}
}
