<div class="modal__content qubera-content">
    <h2>{{'Transaction confirmation' | translate}}</h2>
    <div class="inf-code">{{'To number 38 ****** 94 code has been sent enter it to the floor' | translate}}</div>
  
    <form [formGroup]="form">
      <div class="input-block"  [ngClass]="{'wrap-input--error': !currentCode.valid && currentCode.touched}">
        <input class="wrap-input__input" type="text" name="code" formControlName="code" required>
        <label class="wrap-input__label" for="code">{{'Code' | translate}}</label>
        <ng-container *ngIf="!currentCode.valid && !currentCode.untouched">
          <div class="input-hint-wrapper">
             <span
               class="wrap-input__message"
               *ngIf="!currentCode.valid">
                {{'Code field is required.' | translate}}
             </span>
          </div>
        </ng-container>
      </div>
    </form>
    <button
      class="btn btn--center"
      [ngClass]="{'btn--empty-blue': !form.valid}"
      [disabled]="form.invalid"
      (click)="enterCode(form.value)"
    >
      {{'Confirm' | translate}}
    </button>
  
    <div class="change-number">
      <a>Change phone number</a>
    </div>
  </div>
