<div class="how-much">
  <div class="hm-wr">
    <div class="hm-title">
      <h3>How much I will get?</h3>
    </div>
    <div class="hm-item-wr">
      <div class="hm-item">
        <div class="percent-circle">
          <span>30%</span>
        </div>
        <div class="hm-item-title">
          <p>1-st level from your <br>
            personal referal link</p>
        </div>
        <div class="hm-item-description">
          <p>You will get 30% from fees <br>
            of your referals</p>
        </div>
      </div>
      <div class="hm-item">
        <div class="percent-circle">
          <span>20%</span>
        </div>
        <div class="hm-item-title">
          <p>2nd level from <br>
            referals of your referals</p>
        </div>
        <div class="hm-item-description">
          <p>You will get 20% from fees <br>
            of your referals</p>
        </div>
      </div>
      <div class="hm-item">
        <div class="percent-circle">
          <span>10%</span>
        </div>
        <div class="hm-item-title">
          <p>3rd level of your referal <br>
            structure deepness</p>
        </div>
        <div class="hm-item-description">
          <p>You will get 10% from fees <br>
            of your referals</p>
        </div>
      </div>

    </div>
  </div>
</div>
