<div class="balance__content-mob">
  <div class="balance__header-mob">
    <div class="page-title">
      <h1 class="page-title__text">
        Balances
      </h1>
    </div>
    <div class="balance__header-btn-wrap">
      <button class="btn btn--active balance__title-btn"
              (click)="openRefillBalancePopup.emit(true)">
        Refill balance
      </button>
      <button class="btn btn--empty-blue balance__title-btn"
              (click)="openSendMoneyPopup.emit(true)">
        Send money
      </button>
    </div>
  </div>
  <!--filters start-->
  <form action="">
    <div class="balance__filters">
      <div class="wrap-input wrap-input--with-icon balance__search-mob">
        <ng-select 
          class="custom"
          [items]="currTab === Tab.CRYPTO ? cryptoCurrenciesForChoose : fiatCurrenciesForChoose"
          bindLabel="name"
          placeholder="Search"
          bindValue="name"
          name="currency"
          [(ngModel)]="currencyForChoose"
          (ngModelChange)="filterByCurrencyForMobile.emit({currTab: this.currTab, currency: this.currencyForChoose})"
        ></ng-select>
        <div class="wrap-input__line"></div>
      </div>
      <span>Price in</span>
      <div class="dropdown" #dropdown (click)="onToggleDropdown()">
        <div class="dropdown__btn">{{priceIn}}</div>
        <ul class="dropdown__list" (click)="onSelectCurrency($event)">
          <li class="dropdown__item" *ngFor="let item of currenciesArr">{{item}}</li>
        </ul>
      </div>
      <label class="toggler">
        <input type="checkbox" name="togglerZero" [(ngModel)]="hideAllZero" (change)="onToggleAllZeroTrigger()">
        <span class="toggler__indicate"></span>
      </label>
      <span>Show zero</span>
    </div>
  </form>
  <!--filters end-->

  <div
    #scrollContainer
    [ngStyle]="tableScrollStyles"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="false"
    [horizontal]="false"
    (scrolled)="onLoadMoreTrigger()"
  >
    <!--table-mob start-->
      <table class="table table--mob">
        <thead class="table__head">
          <tr class="table__head-row">
            <th class="table__cell-head table__cell-head--tal">Currency</th>
            <th class="table__cell-head table__cell-head--tal">Available balance</th>
            <th class="table__cell-head table__cell-head--tar">Price</th>
          </tr>
        </thead>
        <tbody 
          class="table__body table__body--none-shadow" 
        >
          <ng-container *ngFor="let item of balances">
            <tr class="table__row--mob" (click)="onShowMobDetails(item)">
              <td class="table__cell table__cell--tal">
                <div class="balance__currency">
                  <div class="balance__currency-icon">
                    <img src="../../../assets/img/btc-icon.svg">
                  </div>
                  <div>
                    <span>{{item.currencyName}}</span>
                    <span class="balance__currency-name">{{item.currencyDescription}}</span>
                  </div>
                </div>
              </td>
              <td class="table__cell table__cell--tal">
                <span>{{item.activeBalance}}</span>
              </td>
              <td class="table__cell table__cell--tar">
                <div *ngIf="priceIn === currencies.BTC">BTC {{item.btcAmount}}</div>
                <div *ngIf="priceIn === currencies.USD">$ {{item.usdAmount}}</div>
                <!-- <span class="txt-small txt-red">–0.24%</span> -->
              </td>
              <td class="table__cell table__cell--arr-mob">
                <svg width="12" height="11" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <div class="table__row-mob-line"></div>
              </td>
            </tr>
          </ng-container>
          <tr class="table__row--mob" *ngIf="!balances.length">
              <td class="table__cell table__cell--tac" colspan="4">
                No matching records found
              </td>
            </tr>
        </tbody>
    </table>
    <!-- table-mob end -->
  </div>
  <!--<div class="balance__request-mob-link">-->
  <!--<span>5</span>Pending requests-->
  <!--<svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">-->
  <!--<path d="M5.24264 0.757359L9.48528 5L5.24264 9.24264" stroke-linecap="round" stroke-linejoin="round"/>-->
  <!--</svg>-->
  <!--</div>-->
  <div class="tabs balance__tabs-mob">
    <button 
      class="tabs__item" 
      [ngClass]="{'tabs__item--active': currTab === Tab.CRYPTO}"
      (click)="onSelectTab.emit(Tab.CRYPTO)"
    >
      Crypto
    </button>
    <button 
      class="tabs__item" 
      [ngClass]="{'tabs__item--active': currTab === Tab.FIAT}"
      (click)="onSelectTab.emit(Tab.FIAT)"
    >
      Fiat
    </button>
    <button 
      class="tabs__item" 
      [ngClass]="{'tabs__item--active': currTab === Tab.PR}"
      (click)="onGoToPendingReq()"
    >
      Pending<span class="indicate">{{countOfPendingRequests}}</span>
    </button>
  </div>
</div>
