:host{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999;
}

.market-search__content{
  height: 200px;
}

@media(max-width: 1200px){
  .market-search__top{
    margin-top: 49px;
    padding-right: 12px;
  }
  .market-search__header {
    padding-right: 12px;
  }
  .table-wp {
    padding-right: 12px;
  }
}

.market-search{
  height: 100%;
  display: flex;
  padding: 0 0 0 12px;
  flex-direction: column;
  background-color: #191A39;
}

.widget__table .table__cell {
  padding: 2px 1px;
}
.table__row-star svg{
  fill: #4A5D88;
}

.balance-search{
  .market-search__top{
    margin-top: 14px;
  }
  .table__cell-head{
    padding: 8px 0;
  }
}
