<div
  class="dynamic-input"
  [class.dynamic-input--open]="showDropdown"
>
  <div class="dynamic-input__wrap">
    <input
      #input
      id="DIInput analytics-dashboard-search-currency-pairs"
      class="dynamic-input__input"
      name="item"
      [ngModel]="value"
      (input)="onInput($event)"
      (focus)="openDropdown()"
      (keydown)="preventEventInput($event)"
      (keyup)="preventEventInput($event)"
      (click)="onClick($event)"
      type="text"
      autocomplete="off"
      required
    >
    <div class="dynamic-input__triangle"></div>
    <span class="dynamic-input__label">{{'Search' | translate}}</span>
  </div>

  <!--<div class="wrap-input__icon" *ngIf="icon" [innerHTML]="icon"></div>-->
  <div
    class="dynamic-input__list dropdown search"
    [class.dropdown--open]="showDropdown"
  >
    <ul
      class="dropdown__list"
      [ngClass]="{'select__list--open': showDropdown && filteredOptions.length}"
      #list
    >
      <perfect-scrollbar style="max-height: 285px;">
        <li
          *ngFor="let item of filteredOptions; let i = index; trackBy: trackByFn"
          (click)="onSelectItem(item)"
          class="dropdown__item"
          [attr.data-key]="i"
          [class.active]="i == arrowKeyLocation"
          (mouseenter)="onHover($event)"
        >
          {{item.text}}
        </li>
      </perfect-scrollbar>
    </ul>
  </div>
  <!--<div class="wrap-input__line"></div>-->
</div>
