// app-embedded-orders-mobile{

	.tabs__item{
		position: relative;

		&::after{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			height: 2px;
			bottom: 0;
			background-color: transparent;
			display: block;

		}
		&--active{
			&::after{

			background-color: #237BEF;
			display: block!important;
		}
		}
		
	}
// }

.dark-theme .transaction__filters .pair-popup__input .wrap-input__input + .wrap-input__label, .dark-theme .orders__filters .pair-popup__input .wrap-input__input + .wrap-input__label{
      top: -5px;
    padding: 0 2px;
    font-size: 10px;
    line-height: 12px;
    left: 12px;
    @media(min-width: 1200px){
    	    background-color: #191A39;
    }
}

.open-orders-dash{

	.table__row{
		padding: 6px 0;
		
	}
	.table__cell-head{
		padding: 14px 6px;
	}
	.table__cell{
		white-space: normal;
	}
.tr, .table__row{
	display: flex;
    max-width: calc(100% - 38px);
    width: 100%;
	margin: 0 auto;
	align-items: center;
	font-size: 12px;
	.table__cell1{
		width: 8.5%;
	}
	.table__cell2{
		width: 10.5%;
	}
	.table__cell3{
		width: 10.5%;
	}
	.table__cell4{
		width: 15%;
	}
	.table__cell5{
		width: 10.5%;
	}
	.table__cell6{
		width: 14.5%;
	}
	.table__cell7{
		width: 9%;
	}
	.table__cell8{
		width: 15%;
	}
	.table__cell9{
		
	}
	.table__cell10{

	}
	.table__cell{
		padding: 2px 4px 2px 6px;
	}
	
}
}