// app-embedded-orders-mobile{

	.tabs__item{
		position: relative;

		&::after{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			height: 2px;
			bottom: 0;
			background-color: transparent;
			display: block;

		}
		&--active{
			&::after{

			background-color: #237BEF;
			display: block!important;
		}
		}
		
	}
// }

.dark-theme .transaction__filters .pair-popup__input .wrap-input__input + .wrap-input__label, .dark-theme .orders__filters .pair-popup__input .wrap-input__input + .wrap-input__label,{
      top: -5px;
    padding: 0 2px;
    font-size: 10px;
    line-height: 12px;
    left: 12px;
    @media(min-width: 1200px){
    	    background-color: #191A39;
    }
}