<div class="container">
  <!--balance-mob start-->
  <div class="balance balance-ieo balance--mob balance-detail">
    <!--open mob-balance start-->
    <div class="open-mob-balance">
      <div
        class="open-mob-balance__header"
        (click)="onGoBackToMain()"
      >
        <svg
          width="9"
          height="7"
          viewBox="0 0 9 7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.82596 0.119541C3.60017 -0.0567689 3.25769 -0.0355965 3.06102 0.166823L0.137687 3.17624L0.133319 3.18071C-0.0387293 3.35787 -0.0421708 3.61517 0.110923 3.7948C0.119367 3.80467 0.128289 3.81436 0.137687 3.82376L3.06102 6.83318C3.25769 7.0356 3.60017 7.05677 3.82596 6.88046C4.05175 6.70415 4.07536 6.3971 3.87872 6.19459L1.73329 3.98602H8.45783C8.75727 3.98602 9 3.76841 9 3.49991C9 3.23141 8.75727 3.0138 8.45783 3.0138H1.73348L3.87872 0.805412C4.07536 0.602898 4.05175 0.295851 3.82596 0.119541Z"
          />
        </svg>
        {{'to: All Balances' | translate}}
      </div>
      <ng-container *ngIf="IEOData">
        <div class="open-mob-balance__content">
          <div>
            <table class="table table--mob">
              <thead class="table__head">
                <tr class="table__head-row">
                  <th class="table__cell-head table__cell-head--tal">{{'Currency' | translate}}</th>
                  <th class="table__cell-head table__cell-head--tal">{{'Available balance' | translate}}</th>
                  <th class="table__cell-head table__cell-head--tar">{{'Price' | translate}}</th>
                </tr>
              </thead>
              <tbody class="table__body table__body--none-shadow">

                <tr class="table__row--mob">
                  <td class="table__cell table__cell--tal">
                    <div class="balance__currency">
                      <div class="balance__currency-icon">
                        <img src="assets/img/currency-icons/citrus.svg">
                      </div>
                      <div>
                        <span>{{IEOData.currencyDescription}}</span>
                      </div>
                    </div>
                  </td>
                  <td class="table__cell table__cell--tal">
                    <span>{{IEOData.availableAmount | currencyFormat}}</span>
                  </td>
                  <td class="table__cell table__cell--tar">
                    <div>BTC {{IEOData.rate | currencyFormat}}</div>
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="open-mob-balance__row">
              <div class="open-mob-balance__title">{{'Status' | translate}}</div>
              <div class="open-mob-balance__value txt-green">{{IEOData.status | showStageStatus}}</div>
            </div>
            <div class="open-mob-balance__row">
              <div class="open-mob-balance__title">{{'Price' | translate}}</div>
              <div class="open-mob-balance__value">
                1 {{IEOData.currencyName}} = {{IEOData.rate | currencyFormat}} BTC
              </div>
            </div>
            <div class="open-mob-balance__row">
              <div class="open-mob-balance__title">{{'Аvailable' | translate}}</div>
              <div class="open-mob-balance__value">
                {{IEOData.availableAmount | currencyFormat}} {{IEOData.currencyName}}
              </div>
            </div>
            <div class="open-mob-balance__row">
              <div class="open-mob-balance__title">{{'Start Time' | translate}}</div>
              <div class="open-mob-balance__value">{{IEOData.startDate | dateFromISO8601 | amFromUtc | amLocal | amDateFormat:"YYYY-MM-DD HH:mm:ss"}}</div>
            </div>
            <div class="open-mob-balance__row">
              <div class="open-mob-balance__title">{{'Personal Amount' | translate}}</div>
              <div class="open-mob-balance__value">
                {{IEOData.personalAmount | currencyFormat}} {{IEOData.currencyName}}
              </div>
            </div>
            <div class="open-mob-balance__row">
              <div class="open-mob-balance__title">{{'Amount' | translate}}</div>
              <div class="open-mob-balance__value">
                {{IEOData.amount | currencyFormat}} {{IEOData.currencyName}}
              </div>
            </div>
            <div class="ieo-b-d-button-wr">
              <button
                class="btn btn--center btn-green"
                (click)="buyIeo(IEOData)"
                *ngIf="stage.RUNNING === IEOData.status && IEOData.readyToIeo"
              >
                {{'Buy' | translate}}
              </button>
              <button
                class="btn btn--center"
                (click)="goToIeo(IEOData.id)"
                *ngIf="stage.PENDING === IEOData.status || (stage.RUNNING === IEOData.status && !IEOData.readyToIeo)"
              >
                {{'Participate' | translate}}
              </button>
              <button
                class="btn btn--center"
                (click)="goToIeoNews(IEOData.currencyName)"
                *ngIf="stage.SUCCEEDED === IEOData.status || stage.FAILED === IEOData.status"
              >
                {{'More' | translate}}
              </button>
              <button
                class="btn btn--center"
                (click)="goToIeo(IEOData.id)"
                *ngIf="stage.TERMINATED === IEOData.status"
              >
                {{'More' | translate}}
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<app-popup-buy
  [IEOData]="IEOData"
  [loading]="loadingBuy"
  *ngIf="showBuyIEO"
  (close)="closeBuyIEO()"
  (confirm)="confirmBuyIEO($event)"
></app-popup-buy>
<app-popup-success
  *ngIf="showSuccessIEO"
  [IEOName]="IEOData.currencyDescription"
  (close)="closeSuccessIEO()"
></app-popup-success>
