<div class="overlay ieo-popup-buy">
  <app-loader *ngIf="loading"></app-loader>
  <div
    class="popup"
    *ngIf="IEOData && !loading"
  >
    <form
      [formGroup]="form"
      (submit)="confirmForm($event)"
    >
      <div
        class="popup__close"
        (click)="closeMe()"
      ></div>
      <div class="ieo-pair">
        <span>{{IEOData.currencyName}}</span>/<span>BTC</span>
      </div>
      <h6 class="popup__title tnx-head">
        1 {{IEOData.currencyName}} = {{IEOData.rate | currencyFormat}} BTC
      </h6>
      <div class="balance-txt">
        <span>
          {{'Available to purchase:' | translate}} {{IEOData.availableAmount | currencyFormat}} {{IEOData.currencyName}}
        </span>
      </div>
      <div class="input-part">
        <div class="avaliable">{{'Balance:' | translate}}
          <a
            class="link"
            style="pointer-events: auto;"
          >
            {{userBalanceBTC | currencyFormat}} BTC
          </a>
        </div>
        <div
          class="wrap-input"
          [ngClass]="{'wrap-input--error': !form.valid && (amountInput.touched || isSubmited)}"
        >
          <input
            class="wrap-input__input"
            formControlName="amount"
            name="amount"
            autocomplete="off"
            appOnlyNumbers
            required
            #input
            (focus)="onFocus($event)"
            (input)="onInput($event)"
            (blur)="onBlur($event)"
          >

          <label
            class="wrap-input__label"
            for=""
          >
            {{'Quantity' | translate}}
          </label>

          <label
            class="wrap-input__currency"
            for=""
          >
            {{IEOData.currencyName}}
          </label>
          <div class="wrap-input__line"></div>


          <!-- Input error section starts -->
          <ng-container *ngIf="amountInput.errors && (amountInput.touched || isSubmited)">
            <div class="input-hint-wrapper">
              <span
                class="wrap-input__message wrap-input__message--show"
                *ngIf="(amountInput.errors['minThen'] || amountInput.errors['required'])"
              >
                {{'Minimum amount' | translate}} {{minSum | currencyFormat}} {{IEOData.currencyName}}
              </span>
              <span
                class="wrap-input__message wrap-input__message--show"
                *ngIf="amountInput.errors['maxThen']"
              >
                {{'Maximum amount you can buy' | translate}} {{maxSumShow | currencyFormat}} {{IEOData.currencyName}}
              </span>
            </div>
          </ng-container>
          <!-- Input error section ends -->

        </div>
      </div>
      <div class="max-value">
        <span class="temp-style">{{'Max Available To Buy:' | translate}}</span>
        <a
          href="#"
          (click)="insertMax($event)"
        >
          {{maxSumShow | currencyFormat}}
        </a>
        <span class="temp-style">{{IEOData.currencyName}}</span>
      </div>
      <div class="pay">
        <p>{{'Pay:' | translate}} {{pay | currencyFormat}} BTC</p>
      </div>
      <button
        type="submit"
        class="btn btn--active btn--center btn-ieo"
        [disabled]="form.invalid || loading"
      >{{'Confirm' | translate}}</button>
    </form>
  </div>
</div>
