// TEMP STYLE
.input-hint-wrapper {
  opacity: 1;
  .wrap-input__message{
    color: #EB5757;
  }
}

// .temp-style {
//   color: black;
// }
.ieo-popup-buy .wrap-input__label{
  @media(max-width: 1200px){
    background-color: #191A39!important;
  }
}