<div class="overlay ieo-popup-buy">
  <app-loader *ngIf="loading"></app-loader>
	<div class="popup" *ngIf="IEOData && !loading">
    <form [formGroup]="form">
      <div class="popup__close" (click)="closeMe()"></div>
      <div class="ieo-pair">
        <span>{{IEOData.currencyName}}</span>/<span>BTC</span>
      </div>
      <h6 class="popup__title tnx-head">1 {{IEOData.currencyName}} = {{IEOData.rate}} BTC</h6>
      <div class="balance-txt">
        <span>Available to purchase: {{(IEOData.availableAmount || 0) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} {{IEOData.currencyName}}</span>
      </div>
      <div class="input-part">
        <div class="avaliable">Balance:
          <a class="link" style="pointer-events: auto;">{{(userBalanceBTC || 0) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} BTC</a>
        </div>
        <div class="wrap-input" [ngClass]="{'wrap-input--error': !form.valid && form.dirty}">
          <input class="wrap-input__input"
            formControlName="amount"
            name="amount"
            autocomplete="off"
            appOnlyNumbers
            required
            #input
            (focus)="onFocus($event)"
            (input)="onInput($event)"
            (blur)="onBlur($event)"
          >
          <label class="wrap-input__label" for="">Quantity</label>
          <label class="wrap-input__currency" for="" >{{IEOData.currencyName}}</label>
          <div class="wrap-input__line"></div>


          <!-- Input error section starts -->
          <div
            class="input-hint-wrapper"
            *ngIf="amountInput.errors &&
                  (amountInput.errors['minThen'] || amountInput.errors['required']) &&
                  amountInput.dirty"
          >
            <span class="wrap-input__message">
              Minimum amount {{+(minSum || 0) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} {{IEOData.currencyName}}
            </span>
          </div>
          <div
            class="input-hint-wrapper"
            *ngIf="amountInput.errors && amountInput.errors['maxThen'] && amountInput.dirty"
          >
            <span class="wrap-input__message">
              Maximun amount {{+(maxSumShow || 0)}} {{IEOData.currencyName}}
            </span>
          </div>
          <!-- Input error section ends -->

        </div>
      </div>
      <div class="max-value">
        <span class="temp-style">Max Available To Buy:</span>
        <a href="#" (click)="insertMax($event)"> {{(maxSumShow || 0)}} </a>
        <span class="temp-style">{{IEOData.currencyName}}</span>
      </div>
      <div class="pay">
        <p>Pay: {{((pay || 0) * IEOData.rate ) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} BTC</p>
      </div>
      <button
        class="btn btn--active btn--center btn-ieo"
        [disabled]="!form.valid"
        (click)="confirmForm()"
      >Confirm</button>
    </form>
	</div>
</div>
