<div class="overlay ieo-popup-buy">
  <app-loader *ngIf="loading"></app-loader>
	<div class="popup" *ngIf="IEOData && !loading">
		<div class="popup__close" (click)="closeMe()"></div>
		<div class="ieo-pair">
			<span>{{IEOData.currencyName}}</span>/<span>BTC</span>
		</div>
		<h6 class="popup__title tnx-head">1 {{IEOData.currencyName}} = {{IEOData.rate}} BTC</h6>
		<div class="balance-txt">
			<span>Available to purchase: {{IEOData.availableAmount}} {{IEOData.currencyName}}</span>
		</div>
		<div class="input-part">
      <div class="avaliable">Balance:
        <a class="link" style="pointer-events: auto;">{{userBalanceBTC}} BTC</a>
      </div>
      <div class="wrap-input">
        <form [formGroup]="form">
          <app-price-input
            [placeholder]="'Quvantity'"
            formControlName="amount"
            name="amount"
            (customInput)="onInput($event)"
          >
          <label _ngcontent-c40="" class="wrap-input__currency" for="">BTC</label>
          </app-price-input>
    
          <!-- Input error section starts -->
          <div
            class="input-hint-wrapper"
            *ngIf="form.controls['amount'].errors &&
                   (form.controls['amount'].errors.minThen || form.controls['amount'].errors.required) &&
                   form.controls['amount'].touched"
          >
            <span class="wrap-input__message">
              Minimum amount {{+(minSum || 0) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} {{IEOData.currencyName}}
            </span>
          </div>
          <div
            class="input-hint-wrapper"
            *ngIf="form.controls['amount'].errors &&
                   form.controls['amount'].errors.maxThen &&
                   form.controls['amount'].touched"
          >
            <span class="wrap-input__message">
              Maximun amount {{+(maxSum || 0) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} {{IEOData.currencyName}}
            </span>
          </div>
          <!-- Input error section ends -->
        </form>
      </div>
		</div>
		<div class="max-value">
      <span class="temp-style">Max Available To Buy:</span>
      <a href="#" (click)="insertMax($event)"> {{(maxSum || 0) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} </a>
      <span class="temp-style">{{IEOData.currencyName}}</span>
		</div>
		<div class="pay">
			<p>Pay: {{((form.get('amount').value || 0) * IEOData.rate ) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} BTC</p>
		</div>
    <button
      class="btn btn--active btn--center btn-ieo"
      [disabled]="form.invalid"
      (click)="confirmForm()"
    >Confirm</button>
	</div>
</div>
