:host {
  width: 100%;
}
app-cheating-input{
  width: 100%;
}
.btn-margin {
  margin-top: 15px;
}


.widget__content{
  opacity: 0;
  transform: translateY(15px);
  transition: .5s ease-out;
  &.active{
    opacity: 1;
  transform: translateY(0);
  }
}