
<div class="dashboard-tools" style="min-width: 103px" (mouseenter)="showOverlay()" (mouseleave)="hideOverlay()" *ngIf="visibleToolsItems.length">

  <div class="dashboard-tools__header">
    {{"Tools" | translate}}
  </div>

  <div class="dashboard-tools__item" *ngFor="let item of visibleToolsItems"
  (click)="addToDashboard(item.type)">
    <div class="dashboard-tools__item-icon">
      <img class="" src="{{item.imgUrl}}">
    </div>
    <span>{{item.name | translate}}</span>
  </div>

  <div class="info-tools">
    <img src="assets/img/arr-toggle-right-white.svg" alt="">
    <div class="tools-label" >{{visibleToolsItems.length}} Tools</div>
  </div>
</div>

<div class="overlay overlay-hide" #overlay [ngClass]="{'overlay-show': overlayShow}" ></div>
