.dashboard-tools{
  z-index: 1110;
}

.overlay{
  z-index: 1100;
  visibility: hidden;
  transition: opacity .4s ease;
}

.overlay-hide{
  visibility: hidden;
  opacity: 0;
}

.overlay-show{
  visibility: visible;
  opacity: 1;
}

.info-tools {
  padding: 4px;
  position: absolute;
  background-color: #237BEF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: -20px;
  top: 0px;
  //width: 18px;
  font-weight: 500;
  svg{
    width: 9px;
    height: 9px;
    margin-left: 1px;
    margin-bottom: 2px;
  }
  .tools-label{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-orientation: sideways;
    font-size: 12px;
    //padding: 3px 2px 0px 3px;
  }
}

//.w{
//  position: relative;
//  .tools-info {
//    z-index: 999999999;
//    position: absolute;
//    top: 100px;
//    right: 0;
//    width: 20px;
//    height: 40px;
//    background-color: #237BEF !important;
//    img{
//      height: 20px;
//      width: 20px;
//    }
//  }
//}

