
<div class="overlay">
  <div class="popup popup-login">
    <h6 class="popup__title">{{'Password recovery' | translate}}</h6>
    <h4 class="popup__subtitle">{{message}}</h4>
    <form class="popup__form" [formGroup]="passwordForm">

      <div class="wrap-input popup__wrap-input">
        <input
          class="wrap-input__input"
          [type]="getInputType()"
          formControlName="password"
          [ngClass]="{'input--error': !getFirstPassword.valid && getFirstPassword.touched}"
        >
        <label class="wrap-input__label" for="">{{'Password' | translate}}</label>
        <div class="wrap-input__line"></div>
        <span
          class="wrap-input__show-password"
          (click)="togglePasswordVisibility()"
          [ngClass]="{'wrap-input__show-password--active': isPasswordVisible}"
        >
          </span>
        <!--Input error section starts-->
        <ng-container *ngIf="getFirstPassword.touched && getFirstPassword.errors != null">
          <div class="input-hint-wrapper">
          <span
            class="wrap-input__message wrap-input__message--error"
            *ngIf="getFirstPassword.errors['required']"
          >
            {{'Password field is required.' | translate}}
          </span>
          <span
            class="wrap-input__message wrap-input__message--error"
            *ngIf="getFirstPassword.errors['minlength']"
          >
            {{'Password must contain at least 8 characters.' | translate}}
          </span>
          <span
            class="wrap-input__message wrap-input__message--error"
            *ngIf="getFirstPassword.errors['maxlength']"
          >
            {{'Password cannot be more than 40 characters long.' | translate}}
          </span>
          <span
            class="wrap-input__message wrap-input__message--error"
            *ngIf="getFirstPassword.errors['passwordValidation'] &&
                   !(getFirstPassword.errors['minlength'] ||
                     getFirstPassword.errors['required'] ||
                     getFirstPassword.errors['maxlength'])"
          >
            {{('Password cannot be less than 8 and more than 40 characters long and should contain of letters (a-z),' +
               ' numbers (0-9) and/or any combination of @*%!#^!&$<>.()-=+\' characters.') | translate}}
          </span>
        </div>
        </ng-container>
        <!--Input error section ends-->
      </div>


      <div class="wrap-input popup__wrap-input">
        <input
          class="wrap-input__input"
          [type]="getInputType()"
          formControlName="confirmPassword"
          [ngClass]="{'input--error': !getConfirmPassword.valid && getConfirmPassword.touched}"
        >
        <label class="wrap-input__label" for="">{{'Repeat password' | translate}}</label>
        <div class="wrap-input__line"></div>
        <span
          class="wrap-input__show-password"
          (click)="togglePasswordVisibility()"
          [ngClass]="{'wrap-input__show-password--active': isPasswordVisible}"
        >
          </span>
        <!--Input error section starts-->

        <ng-container *ngIf="getConfirmPassword.touched && getConfirmPassword.errors != null">
          <div class="input-hint-wrapper">
          <span
            class="wrap-input__message wrap-input__message--error"
            *ngIf="getConfirmPassword.errors['required']"
          >
            {{'Password field is required.' | translate}}
          </span>
          <span
            class="wrap-input__message wrap-input__message--error"
            *ngIf="getConfirmPassword.errors['minlength']"
          >
            {{'Password must contain at least 8 characters.' | translate}}
          </span>
          <span
            class="wrap-input__message wrap-input__message--error"
            *ngIf="getConfirmPassword.errors['maxlength']"
          >
            {{'Password cannot be more than 40 characters long.' | translate}}
          </span>
          <span
            class="wrap-input__message wrap-input__message--error"
            *ngIf="getConfirmPassword.errors['passwordValidation'] &&
                   !(getConfirmPassword.errors['minlength'] ||
                     getConfirmPassword.errors['required'] ||
                     getConfirmPassword.errors['maxlength'])"
          >
            {{('Password cannot be less than 8 and more than 40 characters long and should contain of letters (a-z),' +
                ' numbers (0-9) and/or any combination of @*%!#^!&$<>.()-=+\' characters.') | translate}}
          </span>
          <span
            class="wrap-input__message wrap-input__message--error"
            *ngIf="getConfirmPassword.errors['passwordsNotMatch']"
          >
            {{'Passwords you provided do not match' | translate}}
          </span>
        </div>
        </ng-container>
        <!--Input error section ends-->
      </div>
      <button class="btn popup__btn" (click)="createUser()"
              [ngClass]="{
                'bg-none': !passwordForm.valid,
                'popup__btn--active': passwordForm.valid
              }">
        {{'Update password'  | translate}}
      </button>
    </form>
  </div>
</div>
