<div class="info-graph animate-item">
  <div class="markets-block-link">
    <div class="link-item animate-elem animate-item-1">
      <div class="icon-wr">
        <img
          src="assets/img/info-gr1.svg"
          alt=""
        >
      </div>
      <div class="txt-wr">
        <span>
          {{'Processing speed up to 10,000' | translate}} <br>
          {{'transactions per second and 1,000,000' | translate}}<br>
          {{'TCP connections' | translate}}.
        </span>
      </div>
    </div>
    <div class="link-item animate-elem animate-item-2">
      <div class="icon-wr">
        <img
          src="assets/img/info-gr2.svg"
          alt=""
        >
      </div>
      <div class="txt-wr">
        <span>
          {{'The web application firewall' | translate}}<br>
          {{'detects and blocks' | translate}}<br>
          {{'hacker attacks' | translate}}.
        </span>
      </div>
    </div>
    <div class="link-item animate-elem animate-item-3">
      <div class="icon-wr">
        <img
          src="assets/img/info-gr3.svg"
          alt=""
        >
      </div>
      <div class="txt-wr">
        <span>
          {{'Reliable security: more' | translate}}<br>
          {{'than 95% of currencies are stored' | translate}}<br>
          {{'in cold wallets' | translate}}
        </span>
      </div>
    </div>
    <div class="link-item animate-elem animate-item-4">
      <div class="icon-wr">
        <img
          src="assets/img/info-gr4.svg"
          alt=""
        >
      </div>
      <div class="txt-wr">
        <span>
          {{'User-friendly interface' | translate}}<br>
          {{'with the addition of' | translate}}<br>
          {{'conventional tools' | translate}}
        </span>
      </div>
    </div>
  </div>
</div>
