<div class="overlay ieo-popup-buy" *ngIf="show">
	<div class="popup" *ngIf="IEOData">
		<div class="popup__close" (click)="closeMe()"></div>
		<div class="ieo-pair">
			<span>{{IEOData.currencyName}}</span>/<span>BNB</span>
		</div>
		<h6 class="popup__title tnx-head">1 {{IEOData.currencyName}} = {{IEOData.rate}} BTC</h6>
		<div class="balance-txt">
			<span>Balance: {{userBalanceBTC}} BTC</span>
		</div>
		<div class="input-part">
      <div class="avaliable">Available:
        <a class="link" style="pointer-events: auto;">{{IEOData.availableAmount}} {{IEOData.currencyName}}</a>
      </div>
      <div class="wrap-input">
        <form [formGroup]="form">
          <app-price-input
            [placeholder]="'Quvantity'"
            formControlName="amount"
            name="amount"
            (customInput)="onInput($event)"
          >
          </app-price-input>

          <!-- Input error section starts -->
          <div
            class="input-hint-wrapper"
            *ngIf="form.invalid && form.controls['amount'].touched"
          >
            <span class="wrap-input__message">
              Minimum amount {{+(minSum || 0) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} {{IEOData.currencyName}}
            </span>
          </div>
          <!-- Input error section ends -->
        </form>
      </div>
		</div>
		<div class="max-value">
			<a href="#">Max: {{IEOData.maxAmountPerClaim}}</a>
		</div>
		<div class="pay">
			<p>Pay: {{((form.get('amount').value || 0) * IEOData.rate ) | roundCurrency: 'BTC' | formatCurrency: 'short': 'BTC'}} BTC</p>
		</div>
		<div class="capcha">
			<re-captcha (resolved)="afterResolvedCaptcha($event)" [siteKey]="recaptchaKey"></re-captcha>
		</div>
    <button
      class="btn btn--active btn--center"
      [disabled]="form.invalid || captchaInValid"
      (click)="confirmForm()"
    >Confirm</button>
	</div>
</div>
