<div class="trading-wr--mobile">
  <div class="row row--jcsb row--aic widget__trading-row">
    <div class="dropdown widget__limit-dropdown">
      <div
        class="dropdown__btn"
        *ngFor="let limit of limitsData"
        [ngClass]="{'selectedButton': dropdownLimitValue === limit}"
        (click)="selectedLimit(limit)">
        {{showLimit(limit, true)}}
      </div>
  </div>
    <!-- <div class="row row--jcsb txt-light-grey widget__trading-row-txt">
      <div style="margin-left: auto;">
        {{'Pay no fees:' | translate}}
        <img src="../../assets/img/fire.svg" style="margin: 0 4px;">
        <a href="#">{{'Become VIP' | translate}}</a>
      </div>
    </div> -->
  </div>
  <div class="widget__trading-form--wr">
    <form class="widget__trading-form" action="" [formGroup]="buyForm">
      <div class="widget__trading-title-wr">
        <p class="widget__trading-title">
          {{'Buy' | translate}} {{arrPairName[0]}}
        </p>
        <div class="widget__trading-fee">
          <span>{{'Fee:' | translate}} {{buyOrder.commission | roundCurrency:arrPairName[1] | formatCurrency | exponentToNumber}} {{arrPairName[1]}}</span>
        </div>
      </div>

      <div class="row row--jcsb widget__trading-row  input-row">
        <div class="wrap-input widget__input no-line">
          <app-price-input
            [placeholder]="translateService.instant('Quantity')"
            [currencyLabel]="arrPairName[0]"
            [forTrading]="true"
            (customInput)="quantityInput($event, BUY)"
            name="quantity"
            formControlName="quantity"
          ></app-price-input>
        </div>
      </div>
      <div class="row row--jcsb widget__trading-row  input-row">
        <div class="wrap-input widget__input no-line">
          <app-price-input
            [placeholder]="translateService.instant('Limit Price')"
            [currencyLabel]="arrPairName[1]"
            [forTrading]="true"
            (customInput)="rateInput($event, BUY)"
            name="price"
            formControlName="price"
          ></app-price-input>
        </div>
      </div>
      <div class="row row--jcsb widget__trading-row  input-row" [ngClass]="{'d-none': dropdownLimitValue !== baseType.STOP_LIMIT}">
        <div class="wrap-input widget__input no-line">
          <app-price-input
            [placeholder]="translateService.instant('Stop limit')"
            [forTrading]="true"
            (customInput)="stopInput($event, BUY)"
            name="stop"
            formControlName="stop"
          ></app-price-input>
        </div>
      </div>
      <div class="row row--jcsb widget__trading-row  input-row">
        <div class="wrap-input widget__input no-line">
          <app-price-input
            [placeholder]="translateService.instant('Total')"
            [currencyLabel]="arrPairName[1]"
            [forTrading]="true"
            (customInput)="totalInput($event, BUY)"
            name="total"
            formControlName="total"
          ></app-price-input>
        </div>
      </div>
      <div class="row row--jcsb txt-light-grey widget__trading-row-txt">
        <div class="avaliable avaliable--aifl">
          <span>{{'Available:' | translate}} </span>
          <a style="cursor: pointer" (click)="calculateAmountByTotalWithCommission(BUY)">{{userBalance?.cur2?.balance || 0 | roundCurrency:userBalance?.cur2?.name | formatCurrency}} {{userBalance?.cur2?.name || ''}}</a>
        </div>
      </div>
      <div class="row row__percent">
        <label class="radio">
          <span class="radio__text radio__text--rectangle" (click)="selectedPercent(5, BUY)">
            5%
          </span>
        </label>
        <label class="radio">
          <span class="radio__text radio__text--rectangle" (click)="selectedPercent(25, BUY)">
            25%
          </span>
        </label>
        <label class="radio">
          <span class="radio__text radio__text--rectangle" (click)="selectedPercent(50, BUY)">
            50%
          </span>
        </label>
        <label class="radio">
          <span class="radio__text radio__text--rectangle" (click)="calculateAmountByTotalWithCommission(BUY)">
            100%
          </span>
        </label>
      </div>

    </form>
    <form class="widget__trading-form" action="" [formGroup]="sellForm">
      <div class="widget__trading-title-wr">
        <p class="widget__trading-title">
          {{'Sell' | translate}} {{arrPairName[0]}}
        </p>
        <div class="widget__trading-fee">
          <span>{{'Fee:' | translate}} {{sellOrder.commission | roundCurrency:arrPairName[1] | formatCurrency | exponentToNumber}} {{arrPairName[1]}}</span>
        </div>
      </div>

      <div class="row row--jcsb widget__trading-row input-row">
        <div class="wrap-input widget__input no-line">
          <app-price-input
            [placeholder]="translateService.instant('Quantity')"
            [currencyLabel]="arrPairName[0]"
            [forTrading]="true"
            (customInput)="quantityInput($event, SELL)"
            name="quantity"
            formControlName="quantity"
          ></app-price-input>
        </div>
      </div>
      <div class="row row--jcsb widget__trading-row input-row">
        <div class="wrap-input widget__input no-line">
          <app-price-input
            [placeholder]="translateService.instant('Limit Price')"
            [currencyLabel]="arrPairName[1]"
            [forTrading]="true"
            (customInput)="rateInput($event, SELL)"
            name="price"
            formControlName="price"
          ></app-price-input>
        </div>
      </div>
      <div class="row row--jcsb widget__trading-row  input-row" [ngClass]="{'d-none': dropdownLimitValue !== baseType.STOP_LIMIT}">
        <div class="wrap-input widget__input no-line">
          <app-price-input
            [placeholder]="translateService.instant('Stop limit')"
            [forTrading]="true"
            (customInput)="stopInput($event, SELL)"
            name="stop"
            formControlName="stop"
          ></app-price-input>
        </div>
      </div>
      <div class="row row--jcsb widget__trading-row input-row">
        <div class="wrap-input widget__input no-line">
          <app-price-input
            [placeholder]="translateService.instant('Total')"
            [currencyLabel]="arrPairName[1]"
            [forTrading]="true"
            (customInput)="totalInput($event, SELL)"
            name="total"
            formControlName="total"
          ></app-price-input>
        </div>
      </div>
      <div class="row row--jcsb txt-light-grey widget__trading-row-txt">
        <div class="avaliable avaliable--aifl">
          <span>{{'Available:' | translate}} </span>
          <a style="cursor: pointer" (click)="calculateAmountByTotalWithCommission(SELL)">{{userBalance?.cur1?.balance || 0 | roundCurrency:userBalance?.cur1?.name | formatCurrency}} {{userBalance?.cur1?.name}}</a>
        </div>
      </div>
      <div class="row row__percent">
        <label class="radio">
          <span class="radio__text radio__text--rectangle" (click)="selectedPercent(5, SELL)">
            5%
          </span>
        </label>
        <label class="radio">
          <span class="radio__text radio__text--rectangle" (click)="selectedPercent(25, SELL)">
            25%
          </span>
        </label>
        <label class="radio">
          <span class="radio__text radio__text--rectangle" (click)="selectedPercent(50, SELL)">
            50%
          </span>
        </label>
        <label class="radio">
          <span class="radio__text radio__text--rectangle" (click)="calculateAmountByTotalWithCommission(SELL)">
            100%
          </span>
        </label>
      </div>

    </form>

  </div>

</div>
<div class="trade-buttons-wr">
  <button
    [disabled]="loading"
    class="btn btn--active widget__trading-btn widget__trading-btn--buy"
    (click)="onSubmit(BUY)"
  >
    Buy {{arrPairName[0]}}
  </button>
  <button
    [disabled]="loading"
    class="btn btn--active widget__trading-btn widget__trading-btn--sell"
    (click)="onSubmit(SELL)"
  >
    Sell {{arrPairName[0]}}
  </button>
</div>

<!-- trading mobile end -->
