<div class="refil-s1 side-popups">
  <h2 class="title modal__title">
    {{'Refill balance' | translate}}
  </h2>
  <h3 class="subtitle modal__subtitle">
    <p>
      {{'How would you like to refill the balance?' | translate}}
    </p>
  </h3>
  <button class="btn btn--center btn--empty-blue"
  (click)="onChooseRefill(CRYPTO_DEPOSIT)">
  {{'Crypto deposit' | translate}}
</button>

<button class="btn btn--center btn--empty-blue"
(click)="onChooseRefill(FIAT_DEPOSIT)">
{{'Fiat deposit' | translate}}
</button>

<button class="btn btn--center btn--empty-blue"
(click)="onChooseRefill(INNER_TRANSFER)">
{{'Get inner transfer' | translate}}
</button>
</div>