<div class="title modal__title">Refill balance</div>
<div class="subtitle modal__subtitle">
  <p>How would you like to refill the balance?</p>
</div>
<button class="btn btn--center btn--empty-blue"
        (click)="onChooseRefill(CRYPTO_DEPOSIT)">
  Crypto deposit
</button>

<button class="btn btn--center btn--empty-blue"
        (click)="onChooseRefill(FIAT_DEPOSIT)">
  Fiat deposit
</button>

<button class="btn btn--center btn--empty-blue"
        (click)="onChooseRefill(INNER_TRANSFER)">
  Get inner transfer
</button>
