<div class="overlay">
  <div class="popup popup-login">
    <div class="popup__close" (click)="closeMe()"></div>
    <h6 class="popup__title">Log in</h6>
    <form class="popup__form" id="login-form" action="#">
      <div class="wrap-input popup__wrap-input">
        <input class="input" id="login-email" type="text" required="">
        <label class="wrap-input__label" for="">Email</label>
        <div class="wrap-input__line"></div><span class="wrap-input__valid">Incorrect email.</span>
      </div>
      <div class="wrap-input popup__wrap-input">
        <input class="input" id="login-password" type="password" required="">
        <label class="wrap-input__label" for="">Password</label>
        <div class="wrap-input__line"></div><span class="wrap-input__show-password"></span><span class="wrap-input__valid">Incorrect password.</span>
      </div>
      <button class="button popup__button" type="button" name="button" disabled="">Authorise me</button>
    </form>
    <div class="popup__links-wrap"><a class="popup__link popup__link--hidden-sm" href="reg-email.html">Go to registration form</a><a class="popup__link" href="fgt.html">Forgot password?</a></div><a class="popup__link-sm" href="#">Registration</a>
  </div>
</div>
