<div class="settings-sidebar">
  <div class="page-title settings-sidebar__title">
    <h1 class="page-title__text">Settings     </h1>
  </div>
  <ul class="settings-menu">
    <li class="settings-menu__item"><a class="settings-menu__link" href="settings-2fa.html">Two-Factor Authentication</a></li>
    <li class="settings-menu__item"><a class="settings-menu__link" href="settings-pass.html">Password</a></li>
    <li class="settings-menu__item"><a class="settings-menu__link" href="settings-time.html">Session Time</a></li>
    <li class="settings-menu__item"><a class="settings-menu__link" href="settings-nickname.html">Add Nickname</a></li>
    <li class="settings-menu__item"><a class="settings-menu__link" href="settings-identity.html">Identity verification</a></li>
    <li class="settings-menu__item"><a class="settings-menu__link" href="settings-email-notif.html">Email Notifications</a></li>
    <li class="settings-menu__item"><a class="settings-menu__link settings-menu__link--active" href="settings-view.html">View</a></li>
  </ul>
</div>
<div class="settings-content settings-content--mob-asc">
  <h3 class="settings-content__title settings-content__title--mob-mb32">View</h3>
  <div class="settings__toggler-row">
    <div class="toggler-button settings__toggler"><span class="toggler-button__indicate"></span></div><span class="settings__toggler-row-text">Enable colors for color-blinds</span>
  </div>
</div>
