<div class="settings__content">
  <h3 class="title settings__content-title">{{'View' | translate}}</h3>
  <div class="settings__toggler-row">
    <label for="" class="toggler settings__toggler">
      <input type="checkbox"
             name=""
             [(ngModel)]="isLowColorModeEnabled"
             [disabled]="loading"
             (click)="toggleLowColorMode()">
      <span class="toggler__indicate"></span>
    </label>
    <span class="settings__toggler-text">{{'Inable colors for color-blinds' | translate}}</span>
  </div>
</div>
