<div class="markets-home animate-item">
  <div class="markets-block-link">
    <div class="link-item animate-item-1 animate-elem">
      <a
        href="https://about.exrates.me/en/analytics"
        class="lnk"
      ></a>
      <div class="icon-wr">
        <img
          src="assets/img/link1.svg"
          alt=""
        >
      </div>
      <div class="txt-wr"><span>{{'Professional' | translate}} <br>{{'market analytics' | translate}}</span></div>
    </div>
    <div class="link-item animate-item-2 animate-elem">
      <a
        href="#"
        routerLink="/ieo"
        class="lnk"
      ></a>
      <div class="icon-wr">
        <img
          src="assets/img/link2.svg"
          alt=""
        >
      </div>
      <div class="txt-wr"><span>{{'X-Platform' | translate}} <br>{{'to launch IEO' | translate}}</span></div>
    </div>
    <div class="link-item animate-item-3 animate-elem">
      <a
        href="https://about.exrates.me/en/support-center"
        class="lnk"
      ></a>
      <div class="icon-wr">
        <img
          src="assets/img/link3.svg"
          alt=""
        >
      </div>
      <div class="txt-wr"><span>{{'24/7 Online Support' | translate}}</span></div>
    </div>
    <div class="link-item animate-item-4 animate-elem">
      <a
        href="https://developer.exrates.me/"
        class="lnk"
        target="_blank"
      ></a>
      <div class="icon-wr">
        <img
          src="assets/img/link4.svg"
          alt=""
        >
      </div>
      <div class="txt-wr">
        <span>
          {{'API Documentation' | translate}}
        </span>
      </div>
    </div>
  </div>
</div>
