<div class="table table--mob">
  <div class="table__head">
    <div class="table__head-row">
      <div class="row-wr">
        <div class="table__cell-head table__cell-head--tal referal-cell">Referrals</div>
        <div class="table__cell-head table__cell-head--tar name-cell">Name</div>
        <div class="table__cell table__cell--arr-mob"></div>
      </div>
    </div>
  </div>
  <div class="table__body table__body--none-shadow">
    <ng-container *ngFor="let link of links">
      <app-structure-table-mobile-item
        [link]="link"
        (changeName)="changeName.emit($event)"
        (clickMainLink)="clickMainLink.emit($event)"
        (clickChild1Link)="clickChild1Link.emit($event)"
        (clickChild2Link)="clickChild2Link.emit($event)"
      >
      </app-structure-table-mobile-item>
    </ng-container>
  </div>
</div>
