<div class="table table--mob">
  <div class="table__head">
    <div class="table__head-row">
      <div class="row-wr">
        <div class="table__cell-head table__cell-head--tal referal-cell">Referrals</div>
        <div class="table__cell-head table__cell-head--tar name-cell">Name</div>
        <div class="table__cell table__cell--arr-mob"></div>
      </div>
    </div>
  </div>
  <div class="table__body table__body--none-shadow">
    <div class="table__row--mob">
      <div class="row-wr">
        <div class="table__cell table__cell--tal referal-cell">
          <div class="people-wr">
            <img
              src="/assets/img/people.svg"
              alt="people icon"
            >
            <span>16</span>
          </div>
        </div>
        <div class="table__cell table__cell--tal name-cell">
          <div class="ref-name-wr hidden">
            <span class="ref-name">My awesome structure</span>
            <div class="edit-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                  stroke="#94C2FF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 11.5L4.5 14"
                  stroke="#94C2FF"
                />
              </svg>
            </div>
          </div>
          <div class="edit-block">
            <div class="input-wr">
              <input
                type="text"
                value="My new structure"
              >
            </div>
            <div class="edit-btn-block">
              <div class="edit-btn done">
                <svg
                  width="15"
                  height="12"
                  viewBox="0 0 15 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 1L4.9 11L1 7"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="edit-btn cancel">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L11 11M11 1L1.00002 11"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
      </div>
      <div class="hidden-info opened">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Link</span>
            </div>
            <div class="right">
              <span>exrates.me/register?ref=54571354462</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned BTC</span>
            </div>
            <div class="right">
              <span>0.00000009 BTC</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USD</span>
            </div>
            <div class="right">
              <span>101.01 USD</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USDT</span>
            </div>
            <div class="right">
              <span>1291.12345678 USDT</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="table__row--mob">
      <div class="row-wr">
        <div class="table__cell table__cell--tal referal-cell">
          <div class="people-wr">
            <img
              src="/assets/img/people.svg"
              alt="people icon"
            >
            <span>16</span>
          </div>
        </div>
        <div class="table__cell table__cell--tal name-cell">
          <div class="ref-name-wr">
            <span class="ref-name">My awesome structure</span>
            <div class="edit-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                  stroke="#94C2FF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 11.5L4.5 14"
                  stroke="#94C2FF"
                />
              </svg>
            </div>
          </div>
          <div class="edit-block hidden">
            <div class="input-wr">
              <input
                type="text"
                value="My new structure"
              >
            </div>
            <div class="edit-btn-block">
              <div class="edit-btn done">
                <svg
                  width="15"
                  height="12"
                  viewBox="0 0 15 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 1L4.9 11L1 7"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="edit-btn cancel">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L11 11M11 1L1.00002 11"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>

      </div>
      <div class="hidden-info">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Link</span>
            </div>
            <div class="right">
              <span>exrates.me/register?ref=54571354462</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned BTC</span>
            </div>
            <div class="right">
              <span>0.00000009 BTC</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USD</span>
            </div>
            <div class="right">
              <span>101.01 USD</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USDT</span>
            </div>
            <div class="right">
              <span>1291.12345678 USDT</span>
            </div>
          </div>
        </div>

      </div>
      <div class="table__row--mob">
        <div class="row-wr">
          <div class="table__cell table__cell--tal referal-cell">
            <div class="people-wr">
              <img
                src="/assets/img/people.svg"
                alt="people icon"
              >
              <span>16</span>
            </div>
          </div>
          <div class="table__cell table__cell--tal name-cell">
            <div class="ref-name-wr">
              <span class="ref-name">my***@***.com</span>
              <div class="edit-icon">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M1.5 11.5L4.5 14"
                    stroke="#94C2FF"
                  />
                </svg>
              </div>
            </div>
            <div class="edit-block hidden">
              <div class="input-wr">
                <input
                  type="text"
                  value="My new structure"
                >
              </div>
              <div class="edit-btn-block">
                <div class="edit-btn done">
                  <svg
                    width="15"
                    height="12"
                    viewBox="0 0 15 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14 1L4.9 11L1 7"
                      stroke="#94C2FF"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div class="edit-btn cancel">
                  <svg
                    width="12"
                    height="12"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 1L11 11M11 1L1.00002 11"
                      stroke="#94C2FF"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="table__cell table__cell--arr-mob">
            <svg
              fill="none"
              height="11"
              viewBox="0 0 17 17"
              width="12"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              ></path>
            </svg>
          </div>
        </div>
        <div class="hidden-info">
          <div class="hidden-info-wr">
            <div class="hidden-info-item">
              <div class="left">
                <span>Link</span>
              </div>
              <div class="right">
                <span>exrates.me/register?ref=54571354462</span>
              </div>
            </div>
            <div class="hidden-info-item">
              <div class="left">
                <span>Earned BTC</span>
              </div>
              <div class="right">
                <span>0.00000009 BTC</span>
              </div>
            </div>
            <div class="hidden-info-item">
              <div class="left">
                <span>Earned USD</span>
              </div>
              <div class="right">
                <span>101.01 USD</span>
              </div>
            </div>
            <div class="hidden-info-item">
              <div class="left">
                <span>Earned USDT</span>
              </div>
              <div class="right">
                <span>1291.12345678 USDT</span>
              </div>
            </div>
          </div>

        </div>
        <div class="table__row--mob">
          <div class="row-wr">

            <div class="table__cell table__cell--tal referal-cell">
              <div class="people-wr">
                <img
                  src="/assets/img/people.svg"
                  alt="people icon"
                >
                <span>16</span>
              </div>
            </div>
            <div class="table__cell table__cell--tal name-cell">
              <div class="ref-name-wr">
                <span class="ref-name">my***@***.com</span>
                <div class="edit-icon">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                      stroke="#94C2FF"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M1.5 11.5L4.5 14"
                      stroke="#94C2FF"
                    />
                  </svg>
                </div>
              </div>
              <div class="edit-block hidden">
                <div class="input-wr">
                  <input
                    type="text"
                    value="My new structure"
                  >
                </div>
                <div class="edit-btn-block">
                  <div class="edit-btn done">
                    <svg
                      width="15"
                      height="12"
                      viewBox="0 0 15 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14 1L4.9 11L1 7"
                        stroke="#94C2FF"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <div class="edit-btn cancel">
                    <svg
                      width="12"
                      height="12"
                      viewBox="0 0 12 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 1L11 11M11 1L1.00002 11"
                        stroke="#94C2FF"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>


            <div class="table__cell table__cell--arr-mob">
              <svg
                fill="none"
                height="11"
                viewBox="0 0 17 17"
                width="12"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                ></path>
              </svg>
            </div>
          </div>
          <div class="hidden-info">
            <div class="hidden-info-wr">
              <div class="hidden-info-item">
                <div class="left">
                  <span>Link</span>
                </div>
                <div class="right">
                  <span>exrates.me/register?ref=54571354462</span>
                </div>
              </div>
              <div class="hidden-info-item">
                <div class="left">
                  <span>Earned BTC</span>
                </div>
                <div class="right">
                  <span>0.00000009 BTC</span>
                </div>
              </div>
              <div class="hidden-info-item">
                <div class="left">
                  <span>Earned USD</span>
                </div>
                <div class="right">
                  <span>101.01 USD</span>
                </div>
              </div>
              <div class="hidden-info-item">
                <div class="left">
                  <span>Earned USDT</span>
                </div>
                <div class="right">
                  <span>1291.12345678 USDT</span>
                </div>
              </div>
            </div>

          </div>
          <div class="table__row--mob">
            <div class="row-wr">

              <div class="table__cell table__cell--tal referal-cell">
                <div class="people-wr">

                </div>
              </div>
              <div class="table__cell table__cell--tal name-cell">
                <div class="ref-name-wr">
                  <span class="ref-name">my***@***.com</span>
                  <div class="edit-icon">
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                        stroke="#94C2FF"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M1.5 11.5L4.5 14"
                        stroke="#94C2FF"
                      />
                    </svg>
                  </div>
                </div>
                <div class="edit-block hidden">
                  <div class="input-wr">
                    <input
                      type="text"
                      value="My new structure"
                    >
                  </div>
                  <div class="edit-btn-block">
                    <div class="edit-btn done">
                      <svg
                        width="15"
                        height="12"
                        viewBox="0 0 15 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14 1L4.9 11L1 7"
                          stroke="#94C2FF"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <div class="edit-btn cancel">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 1L11 11M11 1L1.00002 11"
                          stroke="#94C2FF"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>


              <div class="table__cell table__cell--arr-mob">
                <svg
                  fill="none"
                  height="11"
                  viewBox="0 0 17 17"
                  width="12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="hidden-info">
              <div class="hidden-info-wr">
                <div class="hidden-info-item">
                  <div class="left">
                    <span>Link</span>
                  </div>
                  <div class="right">
                    <span>exrates.me/register?ref=54571354462</span>
                  </div>
                </div>
                <div class="hidden-info-item">
                  <div class="left">
                    <span>Earned BTC</span>
                  </div>
                  <div class="right">
                    <span>0.00000009 BTC</span>
                  </div>
                </div>
                <div class="hidden-info-item">
                  <div class="left">
                    <span>Earned USD</span>
                  </div>
                  <div class="right">
                    <span>101.01 USD</span>
                  </div>
                </div>
                <div class="hidden-info-item">
                  <div class="left">
                    <span>Earned USDT</span>
                  </div>
                  <div class="right">
                    <span>1291.12345678 USDT</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table__row--mob">
      <div class="row-wr">
        <div class="table__cell table__cell--tal referal-cell">
          <div class="people-wr">
            <img
              src="/assets/img/people.svg"
              alt="people icon"
            >
            <span>16</span>
          </div>
        </div>
        <div class="table__cell table__cell--tal name-cell">
          <div class="ref-name-wr">
            <span class="ref-name">My awesome structure</span>
            <div class="edit-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                  stroke="#94C2FF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 11.5L4.5 14"
                  stroke="#94C2FF"
                />
              </svg>
            </div>
          </div>
          <div class="edit-block hidden">
            <div class="input-wr">
              <input
                type="text"
                value="My new structure"
              >
            </div>
            <div class="edit-btn-block">
              <div class="edit-btn done">
                <svg
                  width="15"
                  height="12"
                  viewBox="0 0 15 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 1L4.9 11L1 7"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="edit-btn cancel">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L11 11M11 1L1.00002 11"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>

      </div>
      <div class="hidden-info">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Link</span>
            </div>
            <div class="right">
              <span>exrates.me/register?ref=54571354462</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned BTC</span>
            </div>
            <div class="right">
              <span>0.00000009 BTC</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USD</span>
            </div>
            <div class="right">
              <span>101.01 USD</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USDT</span>
            </div>
            <div class="right">
              <span>1291.12345678 USDT</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="table__row--mob">
      <div class="row-wr">
        <div class="table__cell table__cell--tal referal-cell">
          <div class="people-wr">
            <img
              src="/assets/img/people.svg"
              alt="people icon"
            >
            <span>16</span>
          </div>
        </div>
        <div class="table__cell table__cell--tal name-cell">
          <div class="ref-name-wr">
            <span class="ref-name">My awesome structure</span>
            <div class="edit-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                  stroke="#94C2FF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 11.5L4.5 14"
                  stroke="#94C2FF"
                />
              </svg>
            </div>
          </div>
          <div class="edit-block hidden">
            <div class="input-wr">
              <input
                type="text"
                value="My new structure"
              >
            </div>
            <div class="edit-btn-block">
              <div class="edit-btn done">
                <svg
                  width="15"
                  height="12"
                  viewBox="0 0 15 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 1L4.9 11L1 7"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="edit-btn cancel">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L11 11M11 1L1.00002 11"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
      </div>
      <div class="hidden-info">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Link</span>
            </div>
            <div class="right">
              <span>exrates.me/register?ref=54571354462</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned BTC</span>
            </div>
            <div class="right">
              <span>0.00000009 BTC</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USD</span>
            </div>
            <div class="right">
              <span>101.01 USD</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USDT</span>
            </div>
            <div class="right">
              <span>1291.12345678 USDT</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="table__row--mob">
      <div class="row-wr">
        <div class="table__cell table__cell--tal referal-cell">
          <div class="people-wr">
            <img
              src="/assets/img/people.svg"
              alt="people icon"
            >
            <span>16</span>
          </div>
        </div>
        <div class="table__cell table__cell--tal name-cell">
          <div class="ref-name-wr">
            <span class="ref-name">My awesome structure</span>
            <div class="edit-icon">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.75 1.25023C11.947 1.05324 12.1808 0.896988 12.4382 0.790382C12.6956 0.683776 12.9714 0.628906 13.25 0.628906C13.5286 0.628906 13.8044 0.683776 14.0618 0.790382C14.3192 0.896988 14.553 1.05324 14.75 1.25023C14.947 1.44721 15.1032 1.68106 15.2098 1.93843C15.3165 2.1958 15.3713 2.47165 15.3713 2.75023C15.3713 3.0288 15.3165 3.30465 15.2098 3.56202C15.1032 3.81939 14.947 4.05324 14.75 4.25023L4.625 14.3752L0.5 15.5002L1.625 11.3752L11.75 1.25023Z"
                  stroke="#94C2FF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 11.5L4.5 14"
                  stroke="#94C2FF"
                />
              </svg>
            </div>
          </div>
          <div class="edit-block hidden">
            <div class="input-wr">
              <input
                type="text"
                value="My new structure"
              >
            </div>
            <div class="edit-btn-block">
              <div class="edit-btn done">
                <svg
                  width="15"
                  height="12"
                  viewBox="0 0 15 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 1L4.9 11L1 7"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="edit-btn cancel">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L11 11M11 1L1.00002 11"
                    stroke="#94C2FF"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="table__cell table__cell--arr-mob">
          <svg
            fill="none"
            height="11"
            viewBox="0 0 17 17"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.36396 1.99932L14.7279 8.36328L8.36396 14.7272"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </svg>
        </div>
      </div>
      <div class="hidden-info">
        <div class="hidden-info-wr">
          <div class="hidden-info-item">
            <div class="left">
              <span>Link</span>
            </div>
            <div class="right">
              <span>exrates.me/register?ref=54571354462</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned BTC</span>
            </div>
            <div class="right">
              <span>0.00000009 BTC</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USD</span>
            </div>
            <div class="right">
              <span>101.01 USD</span>
            </div>
          </div>
          <div class="hidden-info-item">
            <div class="left">
              <span>Earned USDT</span>
            </div>
            <div class="right">
              <span>1291.12345678 USDT</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
