<div class="trading-header-wr">
  <div class="currency-pair-info--mob">
    <div class="currency-pair-info__inner">

      <app-dynamic-input-dashboard
        class="curency-input"
        [value]="pairInput"
        [options]="DIOptions"
        (onChange)="onChangeCurrPair($event)"
        (onSelect)="onSelectPair($event.text)"
        (onBlur)="onBlurInput()"
      ></app-dynamic-input-dashboard>
      <div
        class="currency-pair-info__info"
        *ngIf="currentCurrencyInfo"
        [ngClass]="{
          'currency-pair-info__info--up': flagForArrow('up'),
          'currency-pair-info__info--down': flagForArrow('down')
        }"
      >
        <div class="currency-pair-info__change">
          <span>
            {{currentCurrencyInfo.percentChange | positivePipe | currencyFormat: 'USD'}}%
          </span>
          <span style="margin-left: 10px;">
            {{currentCurrencyInfo.changedValue | positivePipe  | currencyFormat }} {{pair.name | splitCurrency : 2}}
          </span>
        </div>
        <div class="currency-pair-info__price">
          {{currentCurrencyInfo.currencyRate | currencyFormat }} {{pair.name | splitCurrency : 2}}
        </div>
      </div>
    </div>
  </div>
</div>
