<div class="trading-header-wr">
  <div class="currency-pair-info--mob">
    <div class="currency-pair-info__inner">

      <app-dynamic-input-dashboard
        class = "curency-input"
        [value]="pairInput"
        [options]="DIOptions"
        (onChange)="onChangeCurrPair($event)"
        (onSelect)="onSelectPair($event.text)"
        (onBlur)="onBlurInput()"
      ></app-dynamic-input-dashboard>
      <div
        class="currency-pair-info__info"
        [ngClass]="{
          'currency-pair-info__info--up': isIncrease,
          'currency-pair-info__info--down': !isIncrease
        }"
      >
        <div class="currency-pair-info__change">
          <span>
            <!-- {{isIncrease ? '+' : '-'}}--> {{currentCurrencyInfo?.percentChange || 0 | number:'1.0-2' | replaceNumber}}%
          </span>
          <span
            style="margin-left: 10px;"
            *ngIf="currentCurrencyInfo?.changedValue < 0.01 && currentCurrencyInfo?.changedValue > 0; else changedValue"
          >
            <!-- {{isIncrease ? '+' : '-'}}--> {{currentCurrencyInfo?.changedValue || 0 | replaceNumber : false }} {{pair.name | splitCurrency : 2}}
          </span>
          <ng-template #changedValue>
            <span style="margin-left: 10px;">
              <!-- {{isIncrease ? '+' : '-'}}--> {{currentCurrencyInfo?.changedValue || 0 | replaceNumber : isFiat(2) }} {{pair.name | splitCurrency : 2}}
            </span>
          </ng-template>
        </div>
        <div
          class="currency-pair-info__price"
          *ngIf="currentCurrencyInfo?.currencyRate < 0.01 && currentCurrencyInfo?.currencyRate > 0; else currencyRate"
        >
          {{currentCurrencyInfo?.currencyRate || 0 | replaceNumber : false }} {{pair.name | splitCurrency : 2}}
        </div>
        <ng-template #currencyRate>
          <div class="currency-pair-info__price">
            {{currentCurrencyInfo?.currencyRate || 0 | replaceNumber : isFiat(2) }} {{pair.name | splitCurrency : 2}}
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
