<div class="overlay">
  <div class="popup popup-login">
    <div class="popup__close" (click)="closeMe()"></div>

    <ng-template [ngTemplateOutlet]="currentTemplate">
    </ng-template>

    <ng-template #logInTemplate>
      <h6 class="popup__title">Log in</h6>
      <!-- <h4 class="popup__subtitle">{{statusMessage}}</h4> -->

      <form class="popup__form" [formGroup]="loginForm">
        <div>
          <div class="wrap-input popup__wrap-input">
            <input class="wrap-input__input" type="text"
                   required
                   formControlName="email"
                   [ngClass]="{'wrap-input__input--error': !loginForm.get('email').valid && loginForm.get('email').touched || statusMessage}"
            >
            <label class="wrap-input__label" for=""
                   [ngClass]="{'wrap-input__label--error': !loginForm.get('email').valid && loginForm.get('email').touched || statusMessage}"
            >Email</label>
            <div class="wrap-input__line"
                 [ngClass]="{'wrap-input__line--error': !loginForm.get('email').valid && loginForm.get('email').touched || statusMessage}"
            ></div>
            <!--Input error section starts-->
            <div *ngIf="loginForm.get('email').touched && loginForm.get('email').errors != null">
              <span class="wrap-input__message wrap-input__message--error" *ngIf="loginForm.get('email').errors['required']">
                This field is required.
              </span>
              <span *ngIf="loginForm.get('email').invalid && !loginForm.get('email').errors['required']"
                    class=" wrap-input__message wrap-input__message--error">
                Please, enter valid email address.
              </span>
            </div>
            <!--Input error section ends-->
          </div>

          <div class="wrap-input popup__wrap-input">
            <input class="wrap-input__input"
                   required
                   [type]="getInputType()"
                   formControlName="password"
                   [ngClass]="{'wrap-input__input--error': !loginForm.get('password').valid && loginForm.get('password').touched || statusMessage}"
            >
            <label class="wrap-input__label" for=""
                   [ngClass]="{'wrap-input__label--error': !loginForm.get('password').valid && loginForm.get('password').touched || statusMessage}"
            >Password</label>
            <div class="wrap-input__line"
                 [ngClass]="{'wrap-input__line--error': !loginForm.get('password').valid && loginForm.get('password').touched || statusMessage}"
            ></div>
            <span
              class="wrap-input__show-password"
              (click)="togglePasswordVisibility()"
              [ngClass]="{'wrap-input__show-password--active': isPasswordVisible}"
            >
          </span>
            <!--Input error section starts-->
            <div *ngIf="loginForm.get('password').touched && loginForm.get('password').errors != null">
            <span class=" wrap-input__message wrap-input__message--error"
                  *ngIf="loginForm.get('password').errors['required']">
              This field is required.
            </span>
            </div>

            <div *ngIf="statusMessage">
              <span class="wrap-input__message wrap-input__message--error">
                {{statusMessage}}
              </span>
            </div>
            <div class="popup__links-wrap  popup__links-wrap--center" *ngIf="showSendAgainBtn">
              <a class="popup__link" (click)="sendAgain()">Send activation email again</a>
            </div>
            <!--Input error section ends-->
          </div>
        </div>
        <button class="btn popup__btn"
                (click)="onSubmit()"
                [disabled]="!loginForm.valid"
                [ngClass]="{'popup__btn--active': loginForm.valid,
              'popup__btn--error': (!loginForm.get('password').valid && loginForm.get('password').touched) || ( !loginForm.get('email').valid && loginForm.get('email').touched)}"
        >
          Authorise me
        </button>
      </form>
      <div class="popup__links-wrap">
        <a class="popup__link popup__link--hidden-mob" (click)="openRegistration()">Go to registration form</a>
        <a class="popup__link" (click)="openRecoveryPasswordPopup()">Forgot password?</a>
      </div>
      <a class="popup__link-mob" (click)="openRegistration()">Registration</a>
    </ng-template>

    <ng-template #captchaTemplate>
      <h6 class="popup__title">Enter the captcha</h6>
      <re-captcha (resolved)="afterResolvedCaptcha($event)" [siteKey]="recaptchaKey"></re-captcha>
      <div class="popup__links-wrap  popup__links-wrap--center">
        <a class="popup__link" (click)="openRegistration()">Go to registration form</a>
      </div>
    </ng-template>

    <!--Pin Code -->
    <ng-template #pinCodeTemplate>
      <h6 class="popup__title">Log in</h6>
      <!--TODO this message is shown when user provided invalid credentials Or backEndDied-->
      <h4 class="popup__subtitle" [innerHTML]="twoFaAuthModeMessage"></h4>

      <form class="popup__form" [formGroup]="pinForm">
        <div>

          <div class="wrap-input popup__wrap-input">
            <input
              class="wrap-input__input"
              type="text"
              formControlName="pin"
              [ngClass]="{'wrap-input__input--error': !pinForm.get('pin').valid && pinForm.get('pin').touched}"
            >
            <label class="wrap-input__label" for=""
                   [ngClass]="{'wrap-input__label--error': !pinForm.get('pin').valid && pinForm.get('pin').touched}"
            >Autehntification code</label>
            <div class="wrap-input__line"
                 [ngClass]="{'wrap-input__line--error': !pinForm.get('pin').valid && pinForm.get('pin').touched}"
            ></div>
            <!--Input error section starts-->
            <div>
            <span *ngIf="(pinForm.get('pin').touched && pinForm.get('pin').errors != null)"
                  class=" wrap-input__message wrap-input__message--error">
              This field is required.
            </span>
            </div>
            <!--Input error section ends-->
          </div>

        </div>
        <button class="btn popup__btn"
                (click)="afterResolvedCaptcha()"
                [disabled]="!pinForm.valid"
                [ngClass]="{'popup__btn--active': pinForm.valid,
                'popup__btn--error': !pinForm.valid && pinForm.get('pin').touched}">Authorise me
        </button>
      </form>
      <div class="popup__links-wrap">
        <a class="popup__link popup__link--hidden-mob" href="reg-email.html" (click)="openRegistration()">Go to registration form</a>
        <a class="popup__link" (click)="openRecoveryPasswordPopup()">Forgot password?</a>
      </div>
    </ng-template>

  </div>
</div>
