<div class="overlay popup-login">
  <div class="popup">
    <div
      class="popup__close"
      (click)="closeMe()"
    ></div>

    <ng-template [ngTemplateOutlet]="currentTemplate">
    </ng-template>

    <ng-template #logInTemplate>
      <div class="logo-login-mob mobile-container">
        <img
          src="../../assets/img/logo-exrates.svg"
          alt="Exrates.me"
        >
      </div>
      <h6 class="popup__title">{{'Log in' | translate}}</h6>
      <h6 class="popup__title-mob mobile-container">{{'Login to continue' | translate}}</h6>
      <form
        class="popup__form"
        [formGroup]="loginForm"
      >
        <div>
          <div class="wrap-input popup__wrap-input">
            <input
              class="wrap-input__input"
              type="text"
              required
              (input)="emailInput()"
              formControlName="email"
              [ngClass]="{
                'wrap-input__input--error': !loginFormEmail.valid && loginFormEmail.touched || statusMessage
              }"
            >
            <label
              class="wrap-input__label"
              for=""
              [ngClass]="{
                'wrap-input__label--error': !loginFormEmail.valid && loginFormEmail.touched || statusMessage
              }"
            >
              {{'Email' | translate}}
            </label>
            <div
              class="wrap-input__line"
              [ngClass]="{
                'wrap-input__line--error': !loginFormEmail.valid && loginFormEmail.touched || statusMessage
              }"
            >
            </div>
            <div *ngIf="(loginFormEmail.touched || !statusMessage) && loginFormEmail.errors">
              <div class="input-hint-wrapper">
                <span
                  class="wrap-input__message wrap-input__message--error"
                  *ngIf="loginFormEmail.errors['required']"
                >
                  {{'This field is required.' | translate}}
                </span>
                <span
                  *ngIf="loginFormEmail.invalid && !loginFormEmail.errors['required']"
                  class=" wrap-input__message wrap-input__message--error"
                >
                  {{'Please, enter valid email address.' | translate}}
                </span>
              </div>
            </div>
          </div>

          <div class="wrap-input popup__wrap-input">
            <input
              class="wrap-input__input"
              required
              [type]="getInputType()"
              formControlName="password"
              [ngClass]="{'wrap-input__input--error':
                (!loginFormPassword.valid && loginFormPassword.touched || statusMessage) && loginFormEmail.valid
              }"
            >
            <label
              class="wrap-input__label"
              for=""
              [ngClass]="{
                'wrap-input__label--error': (!loginFormPassword.valid && loginFormPassword.touched || statusMessage)
                  && loginFormEmail.valid
              }"
            >{{'Password' | translate}}</label>
            <div
              class="wrap-input__line"
              [ngClass]="{
                'wrap-input__line--error': (!loginFormPassword.valid && loginFormPassword.touched || statusMessage)
                  && loginFormEmail.valid
              }"
            ></div>
            <span
              class="wrap-input__show-password"
              (click)="togglePasswordVisibility()"
              [ngClass]="{'wrap-input__show-password--active': isPasswordVisible}"
            >
            </span>
            <div *ngIf="loginFormPassword.touched && loginFormPassword.errors && loginFormEmail.valid">
              <div class="input-hint-wrapper">
                <span
                  class=" wrap-input__message wrap-input__message--error"
                  *ngIf="loginFormPassword.errors['required']"
                >
                  {{'This field is required.' | translate}}
                </span>
                <span
                  class="wrap-input__message wrap-input__message--error"
                  *ngIf="loginFormPassword.errors['passwordValidation']"
                >
                  {{'Current password invalid.' | translate}}
                </span>
              </div>
            </div>

            <div *ngIf="statusMessage && loginFormEmail.valid">
              <span class="wrap-input__message wrap-input__message--error">
                {{statusMessage | translate}}
              </span>
            </div>
            <div
              class="popup__links-wrap  popup__links-wrap--center"
              *ngIf="showSendAgainBtn"
            >
              <a
                class="popup__link"
                (click)="sendAgain()"
              >
                {{'Send activation email again' | translate}}
              </a>
            </div>

          </div>
        </div>
        <button
          id="analytics-login"
          class="btn popup__btn"
          (click)="onSubmit()"
          [disabled]="!loginForm.valid || loading"
          [ngClass]="{'popup__btn--active': loginForm.valid}"
        >
          {{'Log in' | translate}}
        </button>
      </form>
      <div class="popup__links-wrap mobile-container">
        <span class="destop-content">
          {{'No account?' | translate}}
          <a
            class="popup__link popup__link--hidden-mob"
            (click)="openRegistration()"
          >
            {{'Sign up' | translate}}
          </a>
        </span>
        <a
          class="popup__link"
          (click)="openRecoveryPasswordPopup()"
        >
          {{'Forgot password?' | translate}}
        </a>
      </div>
      <div class="popup__link-mob mobile-container">
        <span>{{'Not registered yet?' | translate}} </span>
        <a (click)="openRegistration()">{{'Sign Up' | translate}}</a>
      </div>
    </ng-template>

    <ng-template #captchaTemplate>
      <h6 class="popup__title popup_title--dm">{{'Enter the captcha' | translate}}</h6>
      <re-captcha
        (resolved)="afterResolvedCaptcha($event)"
        [siteKey]="recaptchaKey"
      ></re-captcha>

    </ng-template>

    <ng-template #devCaptchaTemplate>
      <h6 class="popup__title popup_title--dm">{{'Enter the captcha' | translate}}</h6>
      <h4 class="popup__subtitle popup_title--dm">Captcha emulation for developers and QA</h4>
      <button
        class="btn popup__btn popup__btn--active"
        (click)="afterResolvedCaptcha($event)"
      >Resolve</button>
    </ng-template>


    <ng-template #pinCodeTemplate>
      <h6 class="popup__title">{{'Log in' | translate}}</h6>
      <!--TODO this message is shown when user provided invalid credentials Or backEndDied-->
      <h4
        class="popup__subtitle popup_title--dm"
        [innerHTML]="twoFaAuthModeMessage"
        [ngClass]="{'msg-error' : isError}"
      >
      </h4>

      <form
        class="popup__form"
        [formGroup]="pinForm"
      >
        <div>

          <div class="wrap-input popup__wrap-input">
            <input
              #pinInput
              required
              class="wrap-input__input"
              type="text"
              formControlName="pin"
              inputmode="numeric"
              appOnlyNumbers
              [ngClass]="{
                'wrap-input__input--error': (!pinFormCode.valid && pinFormCode.touched)
              }"
            >
            <label
              class="wrap-input__label"
              for=""
              [ngClass]="{'wrap-input__label--error': !pinFormCode.valid && pinFormCode.touched}"
            >{{'Authentication' | translate}}</label>
            <div
              class="wrap-input__line"
              [ngClass]="{'wrap-input__line--error': !pinFormCode.valid && pinFormCode.touched}"
            ></div>

            <div>
              <div
                class="input-hint-wrapper"
                *ngIf="(pinFormCode.touched && pinFormCode.errors && !pinFormCode.errors['pinError'])"
              >
                <span
                  *ngIf="pinFormCode.errors['required']"
                  class=" wrap-input__message wrap-input__message--error"
                >
                  {{'This field is required.' | translate}}
                </span>
              </div>
            </div>

          </div>

        </div>
        <button
          id="analytics-2FA"
          class="btn popup__btn"
          (click)="afterResolvedCaptcha()"
          [disabled]="!pinForm.valid || loading"
          [ngClass]="{'popup__btn--active': pinForm.valid}"
        >{{'Submit' | translate}}
        </button>
      </form>
      <div class="popup__links-wrap  popup__links-wrap--center">
      </div>
    </ng-template>

  </div>
</div>
