<div class="overlay">
  <div class="popup popup-login">
    <div class="popup__close" (click)="closeMe()"></div>
    <h6 class="popup__title">Log in</h6>

    <!--TODO this message is shown when user provided invalid credentials Or backEndDied-->
    <h4 class="popup__subtitle"></h4>

    <form class="popup__form">

      <div >
        <div class="wrap-input popup__wrap-input">
          <input
            class="wrap-input__input"
            type="text"
          >
          <label class="wrap-input__label" for="">Email</label>
          <div class="wrap-input__line"></div>
          <!--Input error section starts-->
          <div>
            <span class="wrap-input__message">
              This field is required.
            </span>
            <span
              class="wrap-input__message">
              Please, enter valid email address.
            </span>
          </div>
          <!--Input error section ends-->
        </div>

        <div class="wrap-input popup__wrap-input">
          <input
            class="wrap-input__input"
          >
          <label class="wrap-input__label" for="">Password</label>
          <div class="wrap-input__line"></div>
          <span
            class="wrap-input__show-password"
          >
          </span>
          <!--Input error section starts-->
          <div>
            <span class="wrap-input__message">
              This field is required.
            </span>
          </div>
          <!--Input error section ends-->
        </div>
      </div>

      <!--&lt;!&ndash;Pin Code &ndash;&gt;-->
      <!--<ng-template #showPinCode>-->
        <!--&lt;!&ndash;TODO this method displays which method is used&ndash;&gt;-->
        <!--<h6 class="popup__title">Log in</h6>-->
        <!--<h4 class="popup__subtitle">{{ twoFaAuthModeMessage }}</h4>-->
        <!--<div class="wrap-input popup__wrap-input">-->
          <!--<input-->
            <!--class="wrap-input__input"-->
            <!--type="text"-->
            <!--formControlName="pin"-->
            <!--[ngClass]="{'input&#45;&#45;error': !form.get('pin').valid}"-->
          <!--&gt;-->
          <!--<label class="wrap-input__label" for="">Pincode</label>-->
          <!--<div class="wrap-input__line"></div>-->
          <!--&lt;!&ndash;Input error section starts&ndash;&gt;-->
          <!--<div >-->
            <!--<span class="wrap-input__message">-->
              <!--This field is required.-->
            <!--</span>-->
          <!--</div>-->
          <!--&lt;!&ndash;Input error section ends&ndash;&gt;-->
        <!--</div>-->
      <!--</ng-template>-->

      <button class="btn popup__btn" >Authorise me</button>
    </form>
    <div class="popup__links-wrap">
      <a class="popup__link popup__link--hidden-mob" href="reg-email.html">Go to registration form</a>
      <a class="popup__link" href="fgt.html">Forgot password?</a>
    </div>
    <a class="popup__link-mob" (click)="openRegistration()">Registration</a>
  </div>
</div>
