<div class="fiat-page">
	<div class="fiat-inner">
		<div class="fiat-fs">
			<div class="fs-image-container">
				<img src="assets/img/fiat-fs-bg.png" alt="">
			</div>
			<div class="fs-wr">
				<div class="title-wr">
					<h2>Open account for $20 and get 0% commission</h2>
				</div>
				<div class="description-wr">
					<p>on outgoing payments in the Singapore Bank</p>
				</div>
				<div class="button-wr">
					<a href="#" class="standart-btn" target="blank"><span>Open an Account now</span></a>
				</div>
			</div>
		</div>
		<div class="fiat-benefits">
			<div class="head-part">
				<h3>Benefits</h3>
			</div>		
			<div class="benefits-items-wr">
				<div class="benefits-item">
					<div class="title-part">
						<h3>Personal Bank Account</h3>
					</div>
					<div class="description-part">
						<p>We provide personal bank account with 3rd party payment option to 231 countries.</p>
					</div>			
				</div>
				<div class="benefits-item">
					<div class="title-part">
						<h3>Fast KYC</h3>
					</div>
					<div class="description-part">
						<p>Automatic KYC process with outstanding support. Fully remote  account opening.</p>
					</div>			
				</div>
				<div class="benefits-item">
					<div class="title-part">
						<h3>Payment solution powered by</h3>
					</div>
					<div class="description-part">
						<p>Singaporian bank with the same license as PayPal & Apple Pay.</p>
					</div>			
				</div>
				<div class="benefits-item pg-small">
					<div class="title-part">
						<h3>Low commissions</h3>
					</div>
					<div class="description-part">
						<p>Free of charge SEPA outgoing payments.</p>
					</div>			
				</div>
				<div class="benefits-item pg-small">
					<div class="title-part">
						<h3>0% Transfer Fee</h3>
					</div>
					<div class="description-part">
						<p>0% transfer fee between personal and trading account on Exrates</p>
					</div>			
				</div>
				<div class="benefits-item-large">
					<div class="title-part">
						<h3>Up to $500,000 monthly</h3>
					</div>
					<div class="description-part">
						<p>For VIP clients we provide special conditions for fiat deposit and withdraw in 35 currencies.</p>
					</div>	
					<div class="button-wr">
						<a href="#" class="standart-btn white-variant" target="blank"><span>Become a VIP</span></a>
					</div>			
				</div>

			</div>
		</div>
		<div class="how-work">
			<div class="head-part">
				<h3>How does ot work?</h3>
			</div>
			<div class="how-work-item-wr">
				<div class="how-work-item">
					<div class="arr">
						<img src="assets/img/arr-fiat.svg" alt="">
					</div>
					<div class="stage-number">
						<span>1</span>
					</div>
					<div class="title-part">
						<h5>Open Exrates account</h5>
					</div>
					<div class="description-part">
						<p>Still don’t have Exrates account?</p>
					</div>
					<div class="link-part">
						<a href="#">Create account now →</a>
					</div>
				</div>
				<div class="how-work-item">
					<div class="arr">
						<img src="assets/img/arr-fiat.svg" alt="">
					</div>
					<div class="stage-number">
						<span>2</span>
					</div>
					<div class="title-part">
						<h5>Provide basic personal <br>information.</h5>
					</div>
				</div>
				<div class="how-work-item">
					<div class="stage-number">
						<span>3</span>
					</div>
					<div class="title-part">
						<h5>Get your personal FUG<br>account!</h5>
					</div>
				</div>

			</div>
		</div>
		<div class="add-info">
			<div class="add-info-wr">
				<div class="left-part">
					<p>This is your personal account which you can use for instant fiat transfers to your Exrates trading account.</p>
				</div>
				<div class="right-part">
					<p>A more detailed description of the conditions is available on our financial partner page - <a href="#">FUG</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>
