<div class="title modal__title">{{'Two-Factor authentication by google authentificator' | translate}}</div>
<div class="subtitle modal__subtitle">
  <p>{{'Сonfirm your details' | translate}}</p>
</div>

<form [formGroup]="form">
  <div class="row row--jcc">
    <div
      class="wrap-input modal__input-2fa"
      [ngClass]="{'wrap-input--error': !form.get('password').valid && form.get('password').touched}" >
      <input
        required
        class="wrap-input__input"
        type="password"
        formControlName="password">
      <label class="wrap-input__label">{{'Password' | translate}}</label>
      <div class="wrap-input__line"></div>
      <div *ngIf="form.get('password').touched && form.get('password').errors != null">
        <span
          *ngIf="form.get('password').errors['required']"
          class="wrap-input__message">
          {{'This field is required.' | translate}}
        </span>
      </div>
    </div>
  </div>
  <div class="row row--jcc">
    <div class="wrap-input modal__input-2fa"
         [ngClass]="{'wrap-input--error': !form.get('pincode').valid && form.get('pincode').touched}" >
      <input
        required
        class="wrap-input__input"
        type="text"
        formControlName="pincode">
      <label class="wrap-input__label">{{'Authenticator code' | translate}}</label>
      <div class="wrap-input__line"></div>
      <div *ngIf="form.get('pincode').touched && form.get('pincode').errors != null">
        <span
          *ngIf="form.get('pincode').errors['required']"
          class="wrap-input__message">
          {{'Authenticator code is required.' | translate}}
        </span>
      </div>
      <!-- <span style="display: inline-block; margin-top: 4px;">{{'Check pin-code in your email' | translate}}</span> -->
    </div>
  </div>

  <button class="btn btn--error btn--center " [disabled]="!form.valid" (click)="disableGoogleAuth()">{{'Disable GA' | translate}}</button>
</form>
